<template>
  <card>
    <h5 slot="header" class="title">상세 정보</h5>
    <div class="row">
      <div class="col-md-2">
        <base-input name="name" label="서비스명" v-model="subscribe.name" placeholder="서비스명" maxlength="20" data-vv-as="서비스명 " v-validate="'required'" type="text" />
        <p v-show="errors.has('name')" class="err-info text-nowrap">
          {{ errors.first("name") }}
        </p>
      </div>
      <div class="col-md-1 pr-md-1">
        <base-input
          name="code"
          label="관리 코드"
          v-model="subscribe.code"
          placeholder="관리 코드"
          maxlength="2"
          data-vv-as="관리 코드 "
          v-validate="'required|alpha_num|length:2'"
          type="text"
          :disabled="!isSupervisor()"
        />
        <p v-show="errors.has('code')" class="err-info text-nowrap">
          {{ errors.first("code") }}
        </p>
      </div>
      <div class="col-md-7 pr-md-1">
        <base-input name="discription" label="설명" v-model="subscribe.discription" placeholder="설명" maxlength="100" data-vv-as="설명 " v-validate="'required'" type="text" />
        <p v-show="errors.has('discription')" class="err-info text-nowrap">
          {{ errors.first("discription") }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 pr-md-1">
        <v-select
          name="pay_yn"
          outline
          v-model="subscribe.pay_yn"
          :items="payYn"
          label="유료 여부"
          placeholder="유/무료 선택"
          item-value="value"
          item-text="text"
          multi-line
          full-width
          color="#e14eca"
          v-validate="'required'"
          data-vv-as="유/무료 "
        />
        <p v-show="errors.has('pay_yn')" class="err-info text-nowrap">
          {{ errors.first("pay_yn") }}
        </p>
      </div>
      <div class="col-md-2">
        <v-select
          name="pay_type"
          outline
          v-model="subscribe.pay_type"
          :items="payTypes"
          label="결제유형"
          placeholder="결제유형 선택"
          item-value="value"
          item-text="text"
          multi-line
          full-width
          color="#e14eca"
          v-validate="'required'"
          data-vv-as="결제유형 "
        />
        <p v-show="errors.has('pay_type')" class="err-info text-nowrap">
          {{ errors.first("pay_type") }}
        </p>
      </div>
      <div class="col-md-2">
        <base-input name="default_fee" label="기본요금" v-model="subscribe.default_fee" placeholder="기본요금" maxlength="10" data-vv-as="기본요금 " money />
        <p v-show="errors.has('default_fee')" class="err-info text-nowrap">
          {{ errors.first("default_fee") }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 pr-md-1">
        <v-select
          name="license_yn"
          outline
          v-model="subscribe.license_yn"
          :items="useYn"
          label="라이선스 사용 여부"
          placeholder="라이선스 사용 선택"
          item-value="value"
          item-text="text"
          multi-line
          full-width
          color="#e14eca"
          v-validate="'required'"
          data-vv-as="라이선스 "
        />
        <p v-show="errors.has('license_yn')" class="err-info text-nowrap">
          {{ errors.first("license_yn") }}
        </p>
      </div>
      <div class="col-md-2" v-if="subscribe.license_yn === 'Y'">
        <base-input name="default_license" label="기본 라이선스" v-model="subscribe.default_license" type="number" money />
      </div>
      <div class="col-md-2">
        <v-select
          name="use_yn"
          outline
          v-model="subscribe.use_yn"
          :items="useYn"
          :class="{
            notuse: subscribe.use_yn === 'N',
          }"
          label="사용 여부"
          placeholder="사용 여부 선택"
          item-value="value"
          item-text="text"
          color="#e14eca"
        />
        <p v-show="errors.has('use_yn')" class="err-info text-nowrap">
          {{ errors.first("use_yn") }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <base-input label="등록일자" :value="moment(subscribe.reg_date).format('YYYY-MM-DD HH:mm')" disabled placeholder="등록일자"> </base-input>
      </div>
      <div class="col-md-2" v-if="subscribe.mod_date">
        <base-input label="수정일자" :value="moment(subscribe.mod_date).format('YYYY-MM-DD HH:mm')" disabled placeholder="수정일자"> </base-input>
      </div>
    </div>

    <base-button slot="footer" type="secondary" fill @click="clickCancle">취소</base-button>

    <base-button slot="footer" type="primary" fill :disabled="errors.any()" @click="clickSave">{{ item.id > 0 ? "저장" : "등록" }}</base-button>
  </card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { ComConfirm, ComAlert } from "@/utils/alert-util";
import { keyToValue, keyCodes } from "@/constants/key-map";

import _ from "lodash";

import { fileDownload } from "@/utils/file-util";

export default {
  components: {},
  props: {
    id: {
      type: Number,
      default: 0,
    },
    item: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  data: () => ({
    picker: new Date().toISOString().substr(0, 10),
    datepicker: false,
    subscribe: {},
    payTypes: [],
    payYn: keyCodes("com", "payYn"),
    useYn: keyCodes("com", "useYn"),
  }),
  created() {
    _.map(keyCodes("subscribe", "pay_type"), (item) => {
      this.payTypes.push(item);
    });

    console.log("- isSupervisor", this.isSupervisor());
  },
  computed: {},
  watch: {
    item: {
      immediate: true,
      handler(newValue, oldValue) {
        this.subscribe = _.cloneDeep(this.item);

        console.log("- watch item", this.subscribe);
      },
    },
    subscribe: {
      deep: true, // 객에의 속성 내부까지 변경 감시를 하기 위해.
      immediate: true,
      handler(newValue, oldValue) {
        console.log("- watch subscribe", newValue);

        let { default_fee } = newValue;
      },
    },
  },
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapActions("subscribe", ["newItem", "setItem"]),
    ...mapActions("file", { fileAdd: "setItem", fileDel: "delItem" }),

    clickCancle() {
      // sync 로 연결된 상위 컴포넌트 데이터 변경 시 명시적으로 emit.
      this.$emit("update:id", -1);
    },
    clickSave() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          if (!this.id) {
            // 신규 등록
            console.log("- newItem", this.subscribe);
            ComConfirm({ type: "등록" }, (resMsg) => {
              this.newItem({ ...this.subscribe }).then((res) => {
                resMsg(res);
                if (res) this.clickCancle();
              });
            });
          } else {
            // 수정 저장
            console.log("- setItem", this.subscribe);
            ComConfirm({ type: "저장" }, (resMsg) => {
              this.setItem({ ...this.subscribe }).then((res) => {
                resMsg(res);
                if (res) this.clickCancle();
              });
            });
          }
        }
      });
    },
  },
  beforeDestroy() {
    console.log("- beforeDestroy");
  },
};
</script>
<style scoped lang="scss">
label {
  font-weight: 600;
}
.btn {
  margin-right: 20px;
}
.col-md-1 {
  min-width: 110px;
}
.money {
  .form-control {
    text-align: right;
  }
}
.notuse {
  border: 1px solid;
  border-color: #f44336 !important;
}
</style>
