<template>
  <card>
    <h5 slot="header" class="title">{{ !place.id ? "업소 등록" : "상세 정보" }}</h5>
    <div class="row">
      <div class="col-md-3">
        <v-select
          v-if="!place.id"
          outline
          :items="companys()"
          label="회사명 선택"
          item-value="id"
          item-text="name"
          multi-line
          full-width
          color="#e14eca"
          append-icon="keyboard_arrow_down"
          @change="(value) => (place.company_id = value)"
        />
        <base-input v-else name="company_name" label="회사명" placeholder="회사명" v-model="place.company_name" v-validate="'required|min:1'" :disabled="place.id" data-vv-as="회사명 "> </base-input>
        <p v-show="errors.has('company_id')" class="err-info">
          {{ errors.first("company_id") }}
        </p>
      </div>
      <div class="col-md-3">
        <base-input name="name" label="업소명" placeholder="업소명" v-model="place.name" v-validate="'required|min:1'" data-vv-as="업소명 " :disabled="!isAdmin()"> </base-input>
        <p v-show="errors.has('name')" class="err-info">
          {{ errors.first("name") }}
        </p>
      </div>
      <div class="col-md-2">
        <v-select
          name="type"
          label="타입 선택"
          outline
          v-model="place.type"
          :items="types"
          placeholder="선택 해주세요"
          item-value="value"
          item-text="text"
          multi-line
          full-width
          color="#e14eca"
          append-icon="keyboard_arrow_down"
          data-vv-as="타입 "
        />
        <p v-show="errors.has('type')" class="err-info">
          {{ errors.first("type") }}
        </p>
      </div>
      <div class="col-md-3">
        <base-input name="business_num" label="사업자번호" placeholder="사업자번호" v-model="place.business_num" data-vv-as="사업자번호 "> </base-input>
        <p v-show="errors.has('business_num')" class="err-info">
          {{ errors.first("business_num") }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <base-input name="post" label="우편번호" v-model="place.post" placeholder="우편번호" disabled> </base-input>
      </div>
      <div class="col-md-4">
        <base-input name="addr" label="주소 (도로명 입력 후 [주소정제] 클릭. ex: 광장로 24번길)" v-model="place.addr" placeholder="주소" v-validate="'required|min:5'" data-vv-as="주소 "> </base-input>
        <p v-show="errors.has('addr')" class="err-info">
          {{ errors.first("addr") }}
        </p>
      </div>
      <div class="col-md-4">
        <base-input name="addr_detl" label="상세 주소 (동/호수 입력)" v-model="place.addr_detl" placeholder="상세 주소" v-validate="'required|min:5'" data-vv-as="상세 주소 "> </base-input>
        <p v-show="errors.has('addr_detl')" class="err-info">
          {{ errors.first("addr_detl") }}
        </p>
      </div>
      <div class="col-md-1">
        <p></p>
        <base-button slot="footer" type="info" fill @click="parseAddr(null)">주소 정제</base-button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <base-input name="sido" label="시도" v-model="place.sido" placeholder="시도" disabled> </base-input>
      </div>
      <div class="col-md-1">
        <base-input name="gugun" label="구군" v-model="place.gugun" placeholder="구군" disabled> </base-input>
      </div>
      <div class="col-md-2">
        <base-input name="latitude" label="위도" v-model="place.latitude" placeholder="위도" data-vv-as="위도 " disabled> </base-input>
      </div>
      <div class="col-md-2">
        <base-input name="longitude" label="경도" v-model="place.longitude" placeholder="경도" data-vv-as="경도 " disabled> </base-input>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <base-input name="tel" label="전화번호" v-model="place.tel" placeholder="전화번호" v-validate="{ required: true, regex: /^\d{2,3}-?\d{3,4}-?\d{4}$/ }" maxlength="13" data-vv-as="전화번호 ">
        </base-input>
        <p v-show="errors.has('tel')" class="err-info">
          {{ errors.first("tel") }}
        </p>
      </div>
      <div class="col-md-2">
        <base-input
          name="유효기간"
          label="유효기간 만료 일자"
          v-model="place.expire_date"
          v-validate="'required'"
          placeholder="유효기간"
          data-vv-as="유효기간 "
          date="YYYY-MM-DD"
          @click="datepicker = !datepicker"
          :disabled="!isAdmin()"
        >
          <!-- <base-input name="유효기간" label="유효기간 만료 일자" v-model="place.expire_date" v-validate="'required'" placeholder="유효기간" data-vv-as="유효기간 " date="YYYY-MM-DD" disabled> -->
        </base-input>
        <v-date-picker
          locale="ko-kr"
          v-model="place.expire_date"
          v-show="datepicker"
          :min="moment().add(-1, 'day').format('YYYY-MM-DD')"
          color="green lighten-1"
          scrollable
          @change="
            (date) => {
              place.expire_date = moment(date).hour(expire_date_hh).format('YYYY-MM-DD HH:00');
              datepicker = false;
            }
          "
          v-click-outside="onClickOutside"
        ></v-date-picker>
      </div>
      <div class="col-md-2">
        <v-select v-model="expire_date_hh" outline multi-line :items="times" :disabled="!isAdmin()" label="유효기간 만료 시간" full-width color="#e14eca" append-icon="keyboard_arrow_down" />
      </div>
    </div>
    <div class="row" v-if="isAdmin()">
      <div class="col-md-1" v-if="id === 0">
        <base-input name="층수" label="층수" v-model="place.floor" v-validate="'required|min:1'" placeholder="층수" data-vv-as="층수 "> </base-input>
      </div>
      <div class="col-md-1" v-if="id === 0">
        <base-input name="층별 객실수" label="층별 객실수" v-model="place.rooms" v-validate="'required|min:1'" placeholder="객실수" data-vv-as="층별 객실수 "> </base-input>
      </div>
      <div class="col-md-1" v-if="id > 0">
        <base-input name="객실수" label="객실수" v-model="place.room_cnt" v-validate="'required|min:1'" placeholder="객실수" data-vv-as="객실수 " readonly> </base-input>
      </div>
      <div v-if="id === 0" class="col-md-2">
        <base-input name="id" label="업주 아이디" placeholder="아이디" v-model="place.user_id" v-validate="'required|min:3|max:15'" maxlength="15" data-vv-as="업주 아이디 "> </base-input>
        <p v-show="errors.has('user_id')" class="err-info">
          {{ errors.first("user_id") }}
        </p>
      </div>
      <div v-if="id === 0" class="col-md-2">
        <base-input name="pwd" type="password" label="업주 비밀번호" placeholder="비밀번호" v-model="place.user_pwd" v-validate="'required|min:6|max:15'" maxlength="20" data-vv-as="업주 비밀번호 ">
        </base-input>
        <p v-show="errors.has('user_pwd')" class="err-info">
          {{ errors.first("user_pwd") }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <base-input label="등록일자" :value="moment(place.reg_date).format('YYYY-MM-DD HH:mm')" disabled placeholder="등록일자"> </base-input>
      </div>
      <div class="col-md-2" v-if="place.mod_date">
        <base-input label="수정일자" :value="moment(place.mod_date).format('YYYY-MM-DD HH:mm')" disabled placeholder="수정일자"> </base-input>
      </div>
    </div>

    <base-button slot="footer" type="secondary" fill @click="clickCancle">취소</base-button>

    <base-button slot="footer" type="primary" fill :disabled="errors.any()" @click="clickSave">{{ id > 0 ? "저장" : "등록" }}</base-button>
  </card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { ComAlert, ComConfirm } from "@/utils/alert-util";
import { keyToValue, keyCodes } from "@/constants/key-map";

import GoogleHelper from "@/helper/google-helper";

import moment from "moment";
import _ from "lodash";

export default {
  data: () => ({
    googleHelper: new GoogleHelper(),
    place: {},
    times: [],
    preferences: {},
    picker: new Date().toISOString().substr(0, 10),
    datepicker: false,
    room_cnt: 0,
    expire_date_hh: 0,
    types: [{}],
  }),
  props: {
    id: {
      type: Number,
      default: 0,
    },
    item: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  created() {
    _.map(keyCodes("place", "type"), (item) => {
      this.types.push(item);
    });

    // 유효기간
    if (!this.item.expire_date) {
      this.item.expire_date = moment().add(1, "year").format("YYYY-MM-DD HH:00");
    } else {
      this.item.expire_date = moment(this.item.expire_date).format("YYYY-MM-DD HH:00");
    }

    // this.item.expire_date = moment("2022-04-10 06:00").format("YYYY-MM-DD HH:00");

    this.expire_date_hh = moment(this.item.expire_date).hour();

    this.place = _.cloneDeep(this.item);

    // 환경 설정 조회.
    this.getPrefrences(this.id);
  },
  mounted() {
    for (let i = 0; i < 24; i++) {
      this.times.push(i);
    }
  },
  computed: {
    watchPreferences() {
      return this.preferencesItem();
    },
  },
  watch: {
    item(newValue, oldValue) {
      console.log("- watch Item", newValue);

      if (!newValue.expire_date) newValue.expire_date = moment().add(1, "year").format("YYYY-MM-DD HH:00");
      else newValue.expire_date = moment(newValue.expire_date).format("YYYY-MM-DD HH:00");

      this.expire_date_hh = moment(newValue.expire_date).hour();

      this.place = _.cloneDeep(newValue);
    },
    expire_date_hh(newValue, oldValue) {
      console.log("- watch expire_date_hh", newValue);
      this.place.expire_date = moment(this.place.expire_date).hour(newValue).format("YYYY-MM-DD HH:00");
      console.log("- expire_date", this.place.expire_date);
    },
    watchPreferences(newValue, oldValue) {
      console.log("- watch preferences", newValue);
      this.preferences = _.cloneDeep(newValue);
    },
  },
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapGetters("preferences", { preferencesItem: "item" }),
    ...mapGetters("company", { companys: "list" }),

    ...mapActions("place", ["newItem", "setItem"]),
    ...mapActions("preferences", {
      getPrefrences: "getItem",
      setPrefrences: "setItem",
    }),

    onClickOutside(event) {
      console.log(this.$options.name, "- onClickOutside", event.target.tagName);

      if (event.target.tagName === "DIV") {
        this.datepicker = false;
      }
    },

    parseAddr(callback) {
      let addr = this.place.addr + " " + this.place.addr_detl;

      console.log("- parseAddr", addr);

      // 주소를 위/경도로 변환.
      this.googleHelper.addrToGps(addr).then((res) => {
        console.log("- addrToGps", res);

        if (res) {
          const { address_components, formatted_address = "", geometry } = res;

          let address = formatted_address ? formatted_address.split(" ").slice(1) : []; // 대한민국 제거.

          console.log("- address", address);
          console.log("- location", geometry.location);

          this.place.addr = address.join(" ");

          this.place.post = _.last(address_components).long_name;

          this.place.sido = address[0].replace("특별시", "").replace("광역시", "");
          this.place.gugun = address[1];

          this.place.latitude = geometry.location.lat;
          this.place.longitude = geometry.location.lng;

          if (callback) {
            callback(res);
          } else {
            ComAlert(
              {
                icon: "success",
                title: "주소 정제가 정상적으로 완료 되었습니다.",
              },
              () => {}
            );
          }
        } else {
          ComAlert(
            {
              icon: "error",
              title: "주소를 위/경도로 변환 할 수 없습니다",
              text: "주소가 올바르지 않습니다.",
            },
            () => {}
          );
        }
      });
    },
    clickCancle() {
      // sync 로 연결된 상위 컴포넌트 데이터 변경 시 명시적으로 emit.
      this.$emit("update:id", -1);
    },
    clickSave() {
      console.log("- clickSave");

      this.$validator.validateAll().then((result) => {
        if (result) {
          this.place.expire_date = moment(this.place.expire_date).format("YYYY-MM-DD HH:00");
          let addr = this.place.addr + " " + this.place.addr_detl;

          // 마지막 이벤트 시간은 저장 하지 않는다.
          delete this.place.last_event_date;

          // 주소를 위/경도로 변환.
          this.parseAddr((res) => {
            if (res) {
              if (this.id === 0) {
                // 신규 등록
                console.log("- newItem", this.place);

                ComConfirm({ type: "등록" }, (resMsg) => {
                  this.newItem({ ...this.place }).then((res) => {
                    resMsg(res);
                    if (res) this.clickCancle();
                  });
                });
              } else {
                // 수정 저장
                console.log("- setItem", this.place);

                // 권한 (0: 슈퍼관리자(ICT), 1: 업주(책임자), 2: 매니저(관리자), 3: 카운터(사용자), 9:뷰어)
                // if (!this.isAdmin()) {
                //   ComAlert(
                //     {
                //       type: "알림",
                //       title: "수정 권한이 없습니다.",
                //       text: "관리자에게 문의 하세요.",
                //     },
                //     () => {}
                //   );
                // } else {
                ComConfirm({ type: "저장" }, (resMsg) => {
                  this.setItem({ ...this.place }).then((res) => {
                    resMsg(res);
                    if (res) {
                      // 유효 기간 변경 시
                      if (this.place.expire_date !== this.item.expire_date) {
                        let { id } = this.preferences;
                        let preferences = { id, page_reload: 1 }; // 화면 강제 리로드 기능 0:없음, 1:리로드 (업데이트가 있을때 사용)

                        this.setPrefrences({
                          ...preferences,
                        }).then((res) => {});
                      }

                      this.clickCancle();
                    }
                  });
                });
                // }
              }
            }
          });
        } else {
          console.error("- validator result", result);
        }
      });
    },
  },
};
</script>
<style scoped lang="scss">
.v-picker {
  z-index: 10;
}
label {
  font-weight: 600;
}
.btn {
  margin-right: 20px;
}
.col-md-1 {
  min-width: 110px;
  padding: 0 13px;
}
</style>
