<template>
  <card>
    <h5 slot="header" class="title">[{{ place.name }}] 설정 정보</h5>
    <div class="row">
      <div class="col-md-2">
        <v-select
          name="svc_mode"
          v-model="preferences.svc_mode"
          outline
          :items="svcModes"
          label="서비스 모드 선택"
          item-value="value"
          item-text="text"
          multi-line
          full-width
          color="#e14eca"
          append-icon="keyboard_arrow_down"
        />
        <p v-show="errors.has('svc_mode')" class="err-info">
          {{ errors.first("svc_mode") }}
        </p>
      </div>
      <div class="col-md-2">
        <base-input name="eagle_url" label="이글 접속 고정 URL" type="text" v-model="preferences.eagle_url" placeholder="이글 접속 URL" v-validate="" data-vv-as="이글 접속 URL " />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <base-input name="pms" label="PMS 업체명" type="text" v-model="preferences.pms" placeholder="PMS 연동 업체명" data-vv-as="PMS 업체명 " />
      </div>
      <div class="col-md-4" v-if="preferences.pms">
        <base-input name="pms_api_key" label="[API 연동] PMS 인증 KEY" type="text" v-model="preferences.pms_api_key" placeholder="PMS 업체 접속 KEY" data-vv-as="PMS 업체 접속 KEY " />
      </div>
      <div class="col-md-2" v-if="preferences.pms">
        <base-input
          name="pms_company_id"
          label="[API 연동] PMS 등록 업소 아이디"
          type="text"
          v-model="preferences.pms_company_id"
          placeholder="PMS 연동 시 업소 아이디"
          data-vv-as="PMS 연동 시 업소 아이디 "
        />
      </div>
      <div class="col-md-2" v-if="preferences.pms">
        <base-input
          name="pms_socket_access_key"
          label="[소켓 연동] PMS 인증 KEY"
          type="text"
          v-model="preferences.pms_socket_access_key"
          placeholder="PMS 업체 접속 KEY"
          data-vv-as="PMS 업체 접속 KEY "
        />
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-2">
        <base-input
          name="pms_api_key"
          label="[야놀자]에 등록된 업소명"
          type="text"
          v-model="preferences.ota_place_name_1"
          placeholder="OTA 업체에 등록된 업소명 입력"
          v-validate=""
          data-vv-as="OTA 업체에 등록된 업소명 "
        />
      </div>
      <div class="col-md-2">
        <base-input
          name="pms_api_key"
          label="[여기어때]에 등록된 업소명"
          type="text"
          v-model="preferences.ota_place_name_2"
          placeholder="OTA 업체에 등록된 업소명 입력"
          v-validate=""
          data-vv-as="OTA 업체에 등록된 업소명 "
        />
      </div>
      <div class="col-md-2">
        <base-input
          name="pms_api_key"
          label="[네이버]에 등록된 업소명"
          type="text"
          v-model="preferences.ota_place_name_3"
          placeholder="OTA 업체에 등록된 업소명 입력"
          v-validate=""
          data-vv-as="OTA 업체에 등록된 업소명 "
        />
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-3">
        <base-input
          name="expire_pre_alert_day"
          label="유효기간 만료전 알림 (일 전)"
          type="number"
          v-model="preferences.expire_pre_alert_day"
          placeholder="유효기간 만료전 알림"
          v-validate="'required|min:1|max:99'"
          data-vv-as="유효기간 만료전 알림 "
        >
        </base-input>
        <p v-show="errors.has('expire_pre_alert_day')" class="err-info">
          {{ errors.first("expire_pre_alert_day") }}
        </p>
      </div>
      <div class="col-md-3">
        <base-input
          name="expire_check_interval"
          label="유효기간 만료 확인 간격 (분)"
          type="number"
          v-model="preferences.expire_check_interval"
          placeholder="유효기간 만료 확인 간격"
          v-validate="'required|min:1|max:999'"
          data-vv-as="유효기간 만료 확인 간격 "
        >
        </base-input>
        <p v-show="errors.has('expire_check_interval')" class="err-info">
          {{ errors.first("expire_check_interval") }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <base-input label="등록일자" :value="moment(preferences.reg_date).format('YYYY-MM-DD HH:mm')" disabled placeholder="등록일자"> </base-input>
      </div>
      <div class="col-md-2" v-if="preferences.mod_date">
        <base-input label="수정일자" :value="moment(preferences.mod_date).format('YYYY-MM-DD HH:mm')" disabled placeholder="수정일자"> </base-input>
      </div>
    </div>

    <base-button slot="footer" type="secondary" fill @click="clickCancle">취소</base-button>

    <base-button slot="footer" type="primary" fill :disabled="errors.any()" @click="clickSave">{{ placeId > 0 ? "저장" : "등록" }}</base-button>
  </card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { ComConfirm } from "@/utils/alert-util";
import { keyToValue, keyCodes } from "@/constants/key-map";

// import moment from "moment";
import _ from "lodash";

export default {
  name: "SetForm",
  data: () => ({
    preferences: {},
    svcModes: keyCodes("com", "svcModes"),
  }),
  props: {
    place: {
      type: Object,
      default: () => {
        return {};
      },
    },
    placeId: {
      type: Number,
      default: 0,
    },
  },
  created() {
    console.log(this.$options.name, "created", this.placeId);
    // 환경 설정 조회.
    this.getItem(this.placeId);
  },
  mounted() {
    console.log(this.$options.name, "mounted", this.placeId);
  },
  computed: {
    watchItem() {
      return this.item();
    },
  },
  watch: {
    placeId(newValue, oldValue) {
      // 환경 설정 조회.
      this.getItem(newValue);
      console.log("- watch placeId", newValue);
    },
    watchItem(newValue, oldValue) {
      console.log("- watch Item", newValue);
      this.preferences = _.cloneDeep(newValue);
    },
  },
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapActions("preferences", ["getItem", "setItem"]),
    ...mapGetters("preferences", ["item"]),

    clickCancle() {
      // sync 로 연결된 상위 컴포넌트 데이터 변경 시 명시적으로 emit.
      this.$emit("update:placeId", -1);
    },
    clickSave() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.preferences.page_reload = 1; // 화면 강제 리로드 기능 0:없음, 1:리로드 (업데이트가 있을때 사용)

          console.log("- setItem", this.preferences);

          ComConfirm({ type: "저장" }, (resMsg) => {
            _.map(this.preferences, (v, k) => {
              // null 삭제
              if (v === null) delete this.preferences[k];
              else if (typeof v === "object") this.preferences[k] = JSON.stringify(v); // 객체는 저장 시 string 형식으로 변환.
            });

            this.setItem({ ...this.preferences }).then((res) => {
              resMsg(res);
              if (res) this.clickCancle();
            });
          });
        }
      });
    },
  },
};
</script>
<style scoped lang="scss">
  .v-picker {
    z-index: 10;
  }
  label {
    font-weight: 600;
  }
  .btn {
    margin-right: 20px;
  }
  .col-md-1 {
    min-width: 110px;
  }
</style>
