<template>
  <card>
    <h5 slot="header" class="title">[{{ place.name }}] 구독 정보</h5>
    <div class="row">
      <div class="col-12">
        <card>
          <div class="table-responsive">
            <base-table :data="table.data" :resize.sync="changeSize" :columns="table.columns" :order.sync="clickOrder" :option.sync="table.option" thead-classes="text-primary"> </base-table>
            <div class="pageArea">
              <paginate
                v-show="page.count"
                :page-count="page.count"
                :page-range="3"
                :margin-pages="2"
                :click-handler="clickPage"
                :prev-text="'이전'"
                :next-text="'다음'"
                :container-class="'pagination'"
                :page-class="'page-item'"
              >
              </paginate>
              <base-button type="secondary" size="sm" @click="clickReg">구독 추가</base-button>
            </div>
          </div>
        </card>
      </div>
    </div>

    <!-- Edit -->
    <card class="card-plain" v-if="edit">
      <subscribe-form :id="id" :edit.sync="edit" :item="item" :place="place" :subscribesAll="subscribesAll" :subscribes="subscribes"> </subscribe-form>
    </card>

    <base-button slot="footer" type="secondary" fill @click="clickList">목록</base-button>
  </card>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from "vuex";

import SubscribeForm from "./SubscribeForm";

import { BaseTable } from "@/components";
import { getSessionStroge } from "@/constants/constants";
import { ComAlert, ComConfirm } from "@/utils/alert-util";
import { keyToValue, keyCodes } from "@/constants/key-map";
import format from "@/utils/format-util";

import moment from "moment";
import _ from "lodash";

export default {
  components: {
    BaseTable,
    SubscribeForm,
  },
  props: {
    place: {
      type: Object,
      default: () => {
        return {};
      },
    },
    placeId: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      status: null,
      table: {
        columns: ["name", "code", "pay_yn", "pay_type", "valid_yn", "begin_date", "end_date", "trial_end_date", "discount", "apply_state", "reg_date", "del"],
        data: [],
        option: {
          items: keyCodes("place_subscribe", "applyState"),
          model: null,
          item_value: "value",
          item_text: "text",
          chenge: (value) => {
            console.log("- option change", value);
            this.status = value;
            this.clickPage(1);
          },
        },
      },
      page: {
        no: 1,
        order: "reg_date",
        desc: "desc",
        size: getSessionStroge("rowSize"), // 1 페이지 row count
        count: 1, // 총 페이지 수
      },
      edit: false,
      id: -1,
      item: {}, // 선택 목록의 아이템
      subscribesAll: [], // 구독 서비스 목록.
      subscribes: [], // 구독 가능한 서비스 목록.
    };
  },
  created() {
    this.table.option.model = this.status;

    // 구독 목록 조회.
    this.$store.dispatch(`subscribe/getList`, { page: 0 }).then((res) => {
      this.subscribesAll = res;

      // 첫 페이지 조회.
      this.clickPage(1);
    });
  },
  computed: {
    watchList() {
      return this.list();
    },
  },
  watch: {
    placeId(newValue, oldValue) {
      this.clickPage();
    },
    watchList(newValue, oldValue) {
      this.subscribes = _.cloneDeep(this.subscribesAll);

      // 테이블 데이터 구조 변경.
      this.table.data = _.map(newValue, (item) => {
        let data = {};

        _.map(item, (v, k) => {
          data[k] = {
            data: k.indexOf("_date") > -1 ? (v ? moment(v).format("YYYY-MM-DD" + (k === "reg_date" || k === "mod_date" ? " HH:mm" : "")) : "") : v,
            click: k === "name" ? this.clickEdit : null,
          };

          if (k === "subscribe_id") {
            let subscribe = _.find(this.subscribesAll, { id: v });

            data["name"] = {
              data: subscribe.name,
              click: this.clickEdit,
            };

            // 등록 가능한 구독 목록에서 제외.
            _.remove(this.subscribes, (item) => item.id === v);
          }
          if (k === "pay_yn") {
            data["pay_yn"] = {
              data: keyToValue("com", "payYn", v),
            };
          }
          if (k === "valid_yn") {
            data["valid_yn"] = {
              data: keyToValue("com", "validYn", v),
            };
          }
          if (k === "pay_type") {
            data["pay_type"] = {
              data: keyToValue("subscribe", "pay_type", v),
            };
          }
          if (k === "discount") {
            data["discount"] = {
              data: format.toMoney(v),
              money: true,
            };
          }
          if (k === "is_apply") {
            data["apply_state"] = {
              data: keyToValue("place_subscribe", "applyState", v),
            };
          }

          // primary | info | success | warning | danger
          data["del"] = { data: "삭제 ", click: this.clickDel, type: "danger" };
        });
        return data;
      });
      this.page.count = parseInt((this.count() - 1) / this.page.size) + 1;
    },
    edit(newValue, oleValue) {
      if (oleValue && !newValue) {
        this.clickPage();
      }
    },
  },
  mounted() {},
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapActions("placeSubscribe", ["getList", "delItem"]),
    ...mapGetters("placeSubscribe", ["count", "list"]),
    ...mapMutations("placeSubscribe", { setList: "list" }),

    clickReg() {
      if (!this.subscribes.length) {
        ComAlert(
          {
            type: "구독 알림",
            title: this.place.name,
            text: "<font color='red'>이미 모든 서비스를 구독 중 입니다.</font>",
          },
          () => {}
        );

        return;
      }
      this.edit = true;
      this.id = 0;
      this.item = { place_id: this.placeId };
    },

    clickEdit(id) {
      this.edit = true;
      this.id = id || 0;
      this.item = _.cloneDeep(_.find(this.list(), { id: id }));

      let subscribe = _.find(this.subscribes, { id }) || {};
      this.item["subscribe"] = subscribe;
    },

    clickDel(id) {
      this.edit = false;

      // 권한 (0: 슈퍼관리자(ICT), 1: 업주(책임자), 2: 매니저(관리자), 3: 카운터(사용자), 9:뷰어)
      if (!this.isAdmin()) {
        ComAlert(
          {
            type: "삭제 알림",
            title: "삭제 권한이 없습니다.",
            text: "관리자에게 문의 하세요.",
          },
          () => {}
        );
      } else {
        ComConfirm({ type: "삭제" }, (resMsg) => {
          this.delItem(id).then((res) => {
            resMsg(res);
            this.id = -1;
            this.clickPage();
          });
        });
      }
    },

    clickPage(no) {
      if (no) this.page.no = no;

      console.log("- clickPage", no);

      let filter = "a.place_id=" + this.placeId;
      if (this.status != null) filter += ` and is_apply='${this.status}'`;

      // 목록 조회.
      this.getList({ filter, page: this.page });

      this.edit = false;
    },

    changeSize(size) {
      this.page.size = size;
      this.clickPage();
    },

    clickOrder(order, desc) {
      this.page.order = order;
      this.page.desc = desc;
    },

    clickList() {
      // sync 로 연결된 상위 컴포넌트 데이터 변경 시 명시적으로 emit.
      this.$emit("update:placeId", -1);
    },
  },
};
</script>
<style scoped lang="scss">
.v-picker {
  z-index: 10;
}
label {
  font-weight: 600;
}
.btn {
  margin-right: 20px;
}
.col-md-1 {
  min-width: 110px;
}
</style>
