<template>
  <card>
    <h5 slot="header" class="title">구독 {{ id ? "상세" : "등록" }}</h5>
    <div class="row">
      <div class="col-md-3 pr-md-1">
        <v-select
          v-if="!id"
          outline
          name="subscribe_id"
          v-model="placeSubscribe.subscribe_id"
          :items="subscribes"
          label="구독 서비스"
          placeholder="구독 서비스 선택"
          item-value="id"
          item-text="name"
          multi-line
          full-width
          color="#e14eca"
          append-icon="keyboard_arrow_down"
          v-validate="'required'"
          data-vv-as="구독 서비스 "
        />
        <base-input v-else name="구독 서비스" label="구독 서비스" v-model="placeSubscribe.name" readonly />
        <p v-show="errors.has('subscribe_id')" class="err-info">
          {{ errors.first("subscribe_id") }}
        </p>
      </div>
      <div class="col-md-2">
        <base-input name="구독 코드" label="구독 코드" v-model="placeSubscribe.code" readonly />
      </div>
      <div class="col-md-2">
        <v-select
          name="is_apply"
          outline
          v-model="placeSubscribe.is_apply"
          :class="{
            change: Number(placeSubscribe.is_apply) !== 2,
          }"
          :items="applyState"
          label="구독 신청 상태"
          item-value="value"
          item-text="text"
          color="#e14eca"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <base-input name="유료 여부" label="유료 여부" v-model="placeSubscribe.pay_yn_char" readonly />
      </div>
      <div class="col-md-2">
        <base-input name="default_fee" label="기본 요금" v-model="placeSubscribe.default_fee" money readonly />
      </div>
      <div class="col-md-2">
        <base-input name="결제유형" label="결제유형" v-model="placeSubscribe.pay_type_char" readonly />
      </div>
    </div>
    <div class="row" v-if="placeSubscribe.is_apply !== 2">
      <div class="col-md-2">
        <base-input
          name="apply_begin_date"
          label="구독 신청 시작일"
          v-model="placeSubscribe.apply_begin_date"
          :class="{
            change: placeSubscribe.apply_begin_date !== placeSubscribe.begin_date,
          }"
          placeholder="구독 신청 시작일"
          data-vv-as="구독 신청 시작일 "
          readonly
        />
      </div>
      <div class="col-md-2">
        <base-input
          name="apply_end_date"
          label="구독 신청 종료일"
          v-model="placeSubscribe.apply_end_date"
          :class="{
            change: placeSubscribe.apply_end_date !== placeSubscribe.end_date,
          }"
          placeholder="구독 신청 종료일"
          data-vv-as="구독 신청 종료일 "
          readonly
        />
      </div>
      <div class="col-md-2" v-if="placeSubscribe.license_yn === 'Y'">
        <base-input
          name="apply_license_copy"
          label="추가 신청 라이선스 Copy"
          v-model="placeSubscribe.apply_license_copy"
          :class="{
            change: placeSubscribe.apply_license_copy !== placeSubscribe.license_copy,
          }"
          type="number"
          readonly
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <base-input
          name="begin_date"
          label="구독 서비스 시작일"
          v-model="placeSubscribe.begin_date"
          v-validate="'required'"
          placeholder="구독 서비스 시작일"
          data-vv-as="구독 서비스 시작일 "
          @click="
            datepicker1 = !datepicker1;
            datepicker2 = datepicker3 = false;
          "
        >
        </base-input>
        <p v-show="errors.has('begin_date')" class="err-info">
          {{ errors.first("begin_date") }}
        </p>
        <v-date-picker
          ref="datepicker"
          name="datepicker"
          locale="ko-kr"
          v-model="placeSubscribe.begin_date"
          v-show="datepicker1"
          :max="
            moment(placeSubscribe.end_date)
              .add(-1, 'day')
              .format('YYYY-MM-DD')
          "
          color="green lighten-1"
          scrollable
          @change="
            (date) => {
              item.begin_date = moment(date).format('YYYY-MM-DD');
              datepicker1 = false;
            }
          "
          v-click-outside="onClickOutside"
        ></v-date-picker>
      </div>
      <div class="col-md-2">
        <base-input
          name="end_date"
          label="구독 서비스 만료일"
          v-model="placeSubscribe.end_date"
          :class="{
            invalid: Number(placeSubscribe.valid_yn) === 1 && moment(placeSubscribe.end_date).isBefore(moment()),
          }"
          v-validate="'required'"
          placeholder="구독 서비스 만료일"
          data-vv-as="구독 서비스 만료일 "
          @click="
            datepicker2 = !datepicker2;
            datepicker1 = datepicker3 = false;
          "
          v-click-outside="onClickOutside"
        >
        </base-input>
        <p v-show="errors.has('end_date')" class="err-info">
          {{ errors.first("end_date") }}
        </p>
        <v-date-picker
          locale="ko-kr"
          v-model="placeSubscribe.end_date"
          v-show="datepicker2"
          :min="
            moment(placeSubscribe.begin_date)
              .add(1, 'day')
              .format('YYYY-MM-DD')
          "
          color="green lighten-1"
          scrollable
          @change="
            (date) => {
              item.end_date = moment(date).format('YYYY-MM-DD');
              datepicker2 = false;
            }
          "
          v-click-outside="onClickOutside"
        ></v-date-picker>
      </div>
      <div class="col-md-2">
        <base-input
          name="trial_end_date"
          label="평가판 종료일"
          v-model="placeSubscribe.trial_end_date"
          :class="{
            invalid: Number(placeSubscribe.valid_yn) === 0 && moment(placeSubscribe.trial_end_date).isBefore(moment()),
          }"
          v-validate="'required'"
          placeholder="평가판 종료일"
          data-vv-as="평가판 종료일 "
          @click="
            datepicker3 = !datepicker3;
            datepicker1 = datepicker2 = false;
          "
        >
        </base-input>
        <p v-show="errors.has('trial_end_date')" class="err-info">
          {{ errors.first("trial_end_date") }}
        </p>
        <v-date-picker
          locale="ko-kr"
          v-model="placeSubscribe.trial_end_date"
          v-show="datepicker3"
          :min="moment(placeSubscribe.begin_date).format('YYYY-MM-DD')"
          :max="moment(placeSubscribe.end_date).format('YYYY-MM-DD')"
          color="green lighten-1"
          scrollable
          @change="
            (date) => {
              item.trial_end_date = moment(date).format('YYYY-MM-DD');
              datepicker3 = false;
            }
          "
          v-click-outside="onClickOutside"
        ></v-date-picker>
      </div>
      <div class="col-md-2" v-if="placeSubscribe.license_yn === 'Y'">
        <base-input name="default_license" label="기본 라이선스" v-model="placeSubscribe.default_license" type="number" readonly />
      </div>
      <div class="col-md-2" v-if="placeSubscribe.license_yn === 'Y'">
        <base-input name="license_copy" label="추가 라이선스 Copy" v-model="placeSubscribe.license_copy" type="number" :min="0" @click="datepicker1 = datepicker2 = datepicker3 = false" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <base-input name="discount" label="할인 요금" v-model="placeSubscribe.discount" placeholder="할인 요금" data-vv-as="할인 요금 " money :min="0" :max="placeSubscribe.default_fee"> </base-input>
      </div>
      <div class="col-md-2">
        <v-select
          name="valid_yn"
          outline
          v-model="placeSubscribe.valid_yn"
          :items="validYn"
          :class="{
            invalid: Number(placeSubscribe.valid_yn) === 0,
          }"
          label="서비스상태"
          placeholder="서비스상태 선택"
          item-value="value"
          item-text="text"
          color="#e14eca"
        />
      </div>
      <div class="col-md-3">
        <span>(중지 시 평가판 종료일까지 이용가능)</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <base-input label="등록일자" :value="moment(placeSubscribe.reg_date).format('YYYY-MM-DD HH:mm')" disabled placeholder="등록일자"> </base-input>
      </div>
      <div class="col-md-2" v-if="placeSubscribe.mod_date">
        <base-input label="수정일자" :value="moment(placeSubscribe.mod_date).format('YYYY-MM-DD HH:mm')" disabled placeholder="수정일자"> </base-input>
      </div>
    </div>

    <base-button slot="footer" type="secondary" fill @click="clickCancle">취소</base-button>

    <base-button slot="footer" type="primary" fill :disabled="errors.any()" @click="clickSave">{{ id > 0 ? "저장" : "등록" }}</base-button>
  </card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { ComAlert, ComConfirm } from "@/utils/alert-util";
import { keyToValue, keyCodes } from "@/constants/key-map";

import moment from "moment";
import _ from "lodash";

export default {
  name: "SubscribeForm",
  data: () => ({
    placeSubscribe: {},
    validYn: keyCodes("place_subscribe", "validYn"),
    applyState: keyCodes("place_subscribe", "applyState"),
    picker: moment().format("YYYY-MM-DD"),
    datepicker1: false,
    datepicker2: false,
    datepicker3: false,
  }),
  props: {
    id: {
      type: Number,
      default: 0,
    },
    item: {
      type: Object,
      default: () => {
        return {};
      },
    },
    place: {
      type: Object,
      default: () => {
        return {};
      },
    },
    subscribesAll: {
      type: Array,
      default: () => {
        return [];
      },
    },
    subscribes: {
      type: Array,
      default: () => {
        return [];
      },
    },
  },
  created() {},
  computed: {
    changeSubscribe() {
      return this.placeSubscribe.subscribe_id;
    },
  },
  watch: {
    item: {
      immediate: true,
      handler(newValue, oldValue) {
        console.log("- watch item", newValue);

        let { id, place_id, subscribe_id, apply_begin_date, apply_end_date, begin_date, end_date, trial_end_date } = newValue;

        newValue.apply_begin_date = moment(apply_begin_date).format("YYYY-MM-DD");
        newValue.apply_end_date = moment(apply_end_date).format("YYYY-MM-DD");

        newValue.begin_date = moment(begin_date || apply_begin_date).format("YYYY-MM-DD");
        newValue.end_date = moment(end_date || apply_end_date).format("YYYY-MM-DD");

        if (!trial_end_date) {
          newValue.trial_end_date = moment(begin_date || apply_end_date)
            .add(1, "month")
            .add(-1, "day")
            .format("YYYY-MM-DD");
        } else {
          newValue.trial_end_date = moment(trial_end_date).format("YYYY-MM-DD");
        }

        if (subscribe_id) {
          let subscribe = _.find(this.subscribesAll, { id: subscribe_id }) || {};

          console.log("- watch subscribe", this.subscribesAll, subscribe);

          newValue["default_fee"] = subscribe.default_fee;
          newValue["name"] = subscribe.name;
          newValue["code"] = subscribe.code;
          newValue["license_yn"] = subscribe.license_yn;
          newValue["default_license"] = subscribe.default_license;

          newValue["pay_yn_char"] = keyToValue("com", "payYn", subscribe.pay_yn);
          newValue["pay_type_char"] = keyToValue("subscribe", "pay_type", subscribe.pay_type);
        } else {
          newValue["valid_yn"] = 0; // 구독 유효 여부(0: N, 1:Y)
        }

        this.placeSubscribe = _.cloneDeep(newValue);
      },
    },

    // 구독 추가 시 구독 서비스 변경 이벤트 핸들러.
    changeSubscribe(newValue, oldValue) {
      console.log("- watch changeSubscribe", newValue, oldValue);

      // 구독 서비스 변경.
      if (newValue) {
        let subscribe = _.find(this.subscribesAll, { id: newValue }) || {};

        this.placeSubscribe["default_fee"] = subscribe.default_fee;
        this.placeSubscribe["name"] = subscribe.name;
        this.placeSubscribe["code"] = subscribe.code;
        this.placeSubscribe["license_yn"] = subscribe.license_yn;
        this.placeSubscribe["default_license"] = subscribe.default_license;

        this.placeSubscribe["pay_yn_char"] = keyToValue("com", "payYn", subscribe.pay_yn);
        this.placeSubscribe["pay_type_char"] = keyToValue("subscribe", "pay_type", subscribe.pay_type);
      }
    },
  },
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapActions("placeSubscribe", ["newItem", "setItem"]),

    onClickOutside(event) {
      console.log(this.$options.name, "- onClickOutside", event.target.tagName);

      if (event.target.tagName === "DIV") {
        this.datepicker1 = false;
        this.datepicker2 = false;
        this.datepicker3 = false;
      }
    },

    clickCancle() {
      // sync 로 연결된 상위 컴포넌트 데이터 변경 시 명시적으로 emit.
      this.$emit("update:edit", false);
    },

    clickSave() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          if (this.id === 0) {
            // 신규 등록
            console.log("- newItem", this.placeSubscribe);

            this.placeSubscribe.reg_date = moment().format("YYYY-MM-DD HH:mm");

            ComConfirm(
              {
                type: "등록",
                title: this.place.name,
                text: "[<font color='green'><b>" + this.placeSubscribe.name + "</b></font>] 구독을 등록 하시겠습니까?",
              },
              (resMsg) => {
                this.newItem({ ...this.placeSubscribe }).then((res) => {
                  resMsg(res);
                  if (res) this.clickCancle();
                });
              }
            );
          } else {
            // 수정 저장
            console.log("- setItem", this.placeSubscribe);

            // 권한 (0: 슈퍼관리자(ICT), 1: 업주(책임자), 2: 매니저(관리자), 3: 카운터(사용자), 9:뷰어)
            if (!this.isAdmin()) {
              ComAlert(
                {
                  type: "알림",
                  title: "수정 권한이 없습니다.",
                  text: "관리자에게 문의 하세요.",
                },
                () => {}
              );
            } else {
              this.placeSubscribe.mod_date = moment().format("YYYY-MM-DD HH:mm");

              ComConfirm(
                {
                  type: "저장",
                  title: this.place.name,
                  text: "[<font color='red'><b>" + this.placeSubscribe.name + "</b></font>] 구독을 수정 하시겠습니까?",
                },
                (resMsg) => {
                  this.setItem({ ...this.placeSubscribe }).then((res) => {
                    resMsg(res);
                    if (res) this.clickCancle();
                  });
                }
              );
            }
          }
        } else {
          console.error("- validator errors", this.errors.items && this.errors.items[0].msg);
        }
      });
    },
  },
};
</script>
<style scoped lang="scss">
.v-picker {
  z-index: 10;
}
label {
  font-weight: 600;
}
.btn {
  margin-right: 20px;
}
.col-md-1 {
  min-width: 110px;
}
.change {
  border: 1px solid;
  border-color: #3df755 !important;
}
.invalid {
  border: 1px solid;
  border-color: #f44336 !important;
}
</style>
