<template>
  <v-layout row>
    <v-flex class="controll-area">
      <div class="on-title" :class="{ active: menuToggle }">
        <div v-if="!menuToggle" class="closed">
          <!-- <v-btn icon @click="menuToggle ? null : (menuToggle = true)" class="menu">
            <v-icon>more_vert</v-icon>
          </v-btn> -->
          <strong>{{ title }}</strong>
          <!-- TODO 기능 미구현! -->
          <!-- <v-switch class="fix" v-model="switchControl"></v-switch> -->
          <v-btn icon class="close" @click="onClose">
            <v-icon>close</v-icon>
          </v-btn>
        </div>
        <div v-else class="opened">
          <v-btn icon @click="menuToggle ? (menuToggle = false) : null">
            <v-icon>close</v-icon>
          </v-btn>
          <v-btn icon>
            <v-icon>not_interested</v-icon>
          </v-btn>
          <!-- <v-btn icon>
            <v-icon>power_settings_new</v-icon>
          </v-btn>
          <v-btn icon>
            <v-icon>volume_off</v-icon>
          </v-btn> -->
          <v-btn icon>
            <v-icon v-model="switchSimulator" @click="switchSimulator = !switchSimulator">keyboard</v-icon>
          </v-btn>
        </div>
      </div>
      <div class="controll-top">
        <div v-show="isPopup" class="pop-alert">
          <dl>
            <dt>
              이벤트
              <v-btn flat @click="isPopup = false">
                <v-icon>close</v-icon>
              </v-btn>
            </dt>
            <dd>
              <v-icon>priority_high</v-icon>
              에러코드 : 1818
              <strong>지폐걸림</strong>
              <v-btn @click="isPopup = false">
                닫기
              </v-btn>
            </dd>
          </dl>
        </div>

        <!-- 카드 데크 -->
        <div class="view-left">
          <ul>
            <li v-for="(keyBox, index) in keyBoxsL1" :key="index" :class="keyBox.status">
              <span v-show="keyBox.status === 'no-room'">X</span>
              <v-hover v-show="keyBox.status">
                <div slot-scope="{ hover }">
                  <v-expand-transition>
                    <span v-if="hover && keyBox.status === 'key-off'">{{ keyBox.name }} [{{ keyBox.kbx_dsp_error ? keyBox.kbx_dsp_error : "통신오류" }}]</span>
                    <span v-else-if="hover && keyBox.status === 'key-on'">{{ keyBox.name }}</span>
                    <span v-else-if="hover && keyBox.status === 'no-room'">NO ROOM</span>
                  </v-expand-transition>
                </div>
              </v-hover>
            </li>
          </ul>
          <ul>
            <li v-for="(keyBox, index) in keyBoxsL2" :key="index" :class="keyBox.status">
              <span v-show="keyBox.status === 'no-room'">X</span>
              <v-hover v-show="keyBox.status">
                <div slot-scope="{ hover }">
                  <v-expand-transition>
                    <span v-if="hover && keyBox.status === 'key-off'">{{ keyBox.name }} [{{ keyBox.kbx_dsp_error ? keyBox.kbx_dsp_error : "통신오류" }}]</span>
                    <span v-else-if="hover && keyBox.status === 'key-on'">{{ keyBox.name }}</span>
                    <span v-else-if="hover && keyBox.status === 'no-room'">NO ROOM</span>
                  </v-expand-transition>
                </div>
              </v-hover>
            </li>
          </ul>
        </div>

        <!-- 화면 스텝 시작 - step1 ~ 6 해당 스텝 설정, 스텝에 따른 screen1 ~ 7 설정 -->
        <div class="view-center">
          <div :class="{ step, use: iscState.step > 1 }">
            <div class="btn-group this.screen-xs-center">
              <v-btn :class="{ on: iscState.step === 1 }" @click="onClickStep(1)">
                {{ iscState.state === 0 ? (iscState.step === 1 ? "판매대기" : "판매 중") : "판매중지" }}
              </v-btn>
              <v-icon>chevron_right</v-icon>
              <template v-if="iscState.reserv_num || iscState.step === 3">
                <v-btn :class="{ on: iscState.step === 3 }" @click="onClickStep(3)">
                  예약확인
                </v-btn>
                <v-icon>chevron_right</v-icon>
              </template>
              <template v-if="iscState.minor_mode">
                <v-btn :class="{ on: iscState.step === 2 }" @click="onClickStep(2)">
                  성인인증
                </v-btn>
                <v-icon>chevron_right</v-icon>
              </template>
              <v-btn :class="{ on: iscState.step === 4 }" @click="onClickStep(4)">
                객실선택
              </v-btn>
              <v-icon>chevron_right</v-icon>
              <v-btn :class="{ on: iscState.step === 5 }" @click="onClickStep(5)">
                객실확인
              </v-btn>
              <v-icon>chevron_right</v-icon>
              <v-btn :class="{ on: iscState.step === 6 }" @click="onClickStep(6)">
                결제
              </v-btn>
              <v-icon>chevron_right</v-icon>
              <v-btn :class="{ on: iscState.step === 7 }" @click="onClickStep(7)">
                결제확인
              </v-btn>
              <v-icon>chevron_right</v-icon>
              <v-btn :class="{ on: iscState.step === 8 }" @click="onClickStep(8)">
                영수증
              </v-btn>
            </div>
            <div class="time-check">
              <v-icon>timer</v-icon>
              {{ (iscState.start_time ? moment(iscState.start_time).format("HH:mm") : "00:00") + " ~ " + (this.iscState.end_time ? moment(iscState.end_time).format("HH:mm") : "00:00") }} ({{
                useTime
              }})<br />
              <v-icon>language</v-icon> {{ keyToValue("isc_state", "language", iscState.language) }}
            </div>

            <!-- 자판기 상태 표시 -->
            <div v-if="iscState.step === 1" class="isc-state">
              <div v-if="iscState.state > 1">
                <v-icon>mobile_friendly</v-icon>
                <strong class="state">{{ keyToValue("isc_state", "state", iscState.state) }}</strong>
              </div>
              <div v-if="iscState.voice_call === 1 || iscState.voice_call === 2">
                <v-icon>ring_volume</v-icon>
                <strong class="state">{{ keyToValue("isc_state", "voice_call", iscState.voice_call) }}</strong>
              </div>
              <div v-if="iscState.door === 1">
                <v-icon>lock_open</v-icon>
                <strong class="state">{{ keyToValue("isc_state", "door", iscState.door) }}</strong>
              </div>
              <div v-if="iscState.setting === 1">
                <v-icon>settings</v-icon>
                <strong class="state">{{ keyToValue("isc_state", "setting", iscState.setting) }}</strong>
              </div>
            </div>

            <div class="step-info">
              <!-- 판매 대기 스텝 -->
              <template v-if="iscState.step === 1">
                <div v-if="iscState.state === 1" class="stop">
                  <v-icon class="big">not_interested</v-icon>
                  <strong class="state">판매 중지</strong>
                </div>
                <template v-else>
                  <div v-if="iscState.motion === 0" class="ready">
                    <v-icon class="big">wifi</v-icon>
                    <strong class="state">판매 대기</strong>
                  </div>
                  <div v-else class="motion">
                    <v-icon class="big">settings_input_antenna</v-icon>
                    <strong class="state">고객접근 중</strong>
                  </div>
                </template>
              </template>

              <!-- 예약 확인 스텝 -->
              <template v-else-if="iscState.step === 3">
                <div v-if="!iscState.reserv_num" class="ready">
                  <v-icon class="big">keyboard</v-icon>
                  <strong class="state">예약번호 입력 대기</strong>
                </div>
                <div v-else-if="iscState.reserv_error_code === 0" class="done">
                  <strong class="state">예약번호 확인 완료</strong>
                  <p class="title">{{ roomReserv().reserv_num }}</p>
                  <p>{{ roomReserv().name }} [{{ keyToValue("room_reserv", "state", roomReserv().state) }}]</p>
                  <p class="content">[{{ keyToValue("room_reserv", "stay_type", roomReserv().stay_type) }}] {{ roomReserv().room_type_name }}</p>
                  <p class="content">{{ moment(roomReserv().check_in_exp).format("MM/DD HH:mm") }} ~ {{ moment(roomReserv().check_out_exp).format("MM/DD HH:mm") }}</p>
                </div>
                <div v-else-if="iscState.reserv_error_code" class="error">
                  <v-icon class="big">error_outline</v-icon>
                  <strong class="state">예약번호 검증 오류</strong>
                  <p class="content">[{{ iscState.reserv_error_code }}] {{ iscState.reserv_error_msg }}</p>
                </div>
                <div v-else class="typing">
                  <v-icon>touch_app</v-icon>
                  <strong class="state">예약번호 입력 중</strong>
                  <p>{{ iscState.reserv_num }}</p>
                </div>
              </template>

              <!-- 성인인증 스텝 -->
              <template v-else-if="iscState.step === 2">
                <div v-if="iscState.minor_state === 0" class="ready">
                  <v-icon class="big">fingerprint</v-icon>
                  <strong class="state">성인인증 대기</strong>
                </div>
                <div v-if="iscState.minor_state === 1" class="process">
                  <v-icon>autorenew</v-icon>
                  <strong class="state">성인인증 처리 중</strong>
                  <p>{{ iscState.minor_auth_type ? "수동 인증" : "셀프 인증" }}</p>
                </div>
                <div v-if="iscState.minor_state === 2" class="done">
                  <v-icon>check_circle_outline</v-icon>
                  <strong class="state">성인인증 완료</strong>
                  <p>{{ iscState.minor_auth_type ? "수동 인증" : "셀프 인증" }}</p>
                </div>
                <div v-if="iscState.minor_state === 3" class="error">
                  <v-icon class="big">error_outline</v-icon>
                  <strong class="state">성인인증 실패</strong>
                  <p>자판기 사용이 차단 되었습니다</p>
                </div>
              </template>

              <!-- 객실선택 스텝 -->
              <template v-else-if="iscState.step === 4">
                <div class="ready">
                  <v-icon class="big">touch_app</v-icon>
                  <strong class="state">객실선택 중</strong>
                </div>
              </template>

              <!-- 객실확인 스텝 -->
              <template v-else-if="iscState.step === 5">
                <div class="ready">
                  <strong class="state">객실 확인</strong>
                  <p class="title">[{{ room().type_name }}] {{ room().name }}</p>
                  <p class="content">[{{ keyToValue("room_sale", "stay_type", iscState.stay_type) }}]</p>
                  <p>결제금액 {{ format.toMoney(iscState.pay_amt) }}원</p>
                </div>
              </template>

              <!-- 결제 스텝 -->
              <template v-else-if="iscState.step === 6">
                <div v-if="!iscState.pay_type">
                  <v-icon v-if="!iscState.act_signal" class="multi big" @click="onClickStep(6, 2)">attach_money</v-icon>
                  <v-icon v-if="!iscState.crd_signal" class="multi big" @click="onClickStep(6, 20)">credit_card</v-icon>
                  <p v-if="iscState.act_signal && iscState.crd_signal">현금/카드 통신 단절</p>
                  <p v-else-if="iscState.act_signal">카드 결제 전용</p>
                  <p v-else-if="iscState.crd_signal">현금 결제 전용</p>
                </div>

                <template v-else-if="iscState.pay_type === 1">
                  <template v-if="!iscState.act_error_code">
                    <div v-if="iscState.act_input_fee === 0" class="ready">
                      <strong class="state">현금 결제 대기</strong>
                      <div class="cash-pay">
                        결제 금액 <strong>{{ format.toMoney(iscState.pay_amt) }}</strong> 원
                      </div>
                      <div class="cash-input"><span>현금 투입 대기 중</span></div>
                    </div>
                    <div v-else-if="iscState.act_input_fee < iscState.pay_amt" class="process">
                      <strong class="state">현금 결제 중</strong>
                      <div class="cash-pay">
                        결제 금액 <strong>{{ format.toMoney(iscState.pay_amt) }}</strong> 원
                      </div>
                      <p>
                        투입 금액 <strong>{{ format.toMoney(iscState.act_input_unit) }}</strong> 원
                      </p>
                      <div class="cash-input">총 투입 금액 {{ format.toMoney(iscState.act_input_fee) }} 원</div>
                    </div>
                    <template v-else>
                      <!-- 지폐 방출 스텝 -->
                      <div v-if="iscState.dspl_error_code" class="error">
                        <v-icon class="big">error_outline</v-icon>
                        <strong class="state">(좌) 지폐 방출 오류</strong>
                        <p class="content">[{{ iscState.dspl_error_code }}] {{ iscState.dspl_error_msg }}</p>
                      </div>
                      <div v-else-if="iscState.dspr_error_code" class="error">
                        <v-icon class="big">error_outline</v-icon>
                        <strong class="state">(우) 지폐 방출 오류</strong>
                        <p class="content">[{{ iscState.dspr_error_code }}] {{ iscState.dspr_error_msg }}</p>
                      </div>
                      <template v-else>
                        <div v-if="iscState.dspl_state === 1" class="process">
                          <strong class="state">(좌) 지폐 방출 중</strong>
                          <div class="cash-pay">
                            방출 장수 <strong>{{ iscState.dspl_change_res_cnt }} / {{ iscState.dspl_change_req_cnt }}</strong>
                          </div>
                          <div class="cash-pay">
                            방출 금액 <strong>{{ format.toMoney(iscState.dspl_change_req_cnt * iscState.dspl_change_unit) }} </strong> 원
                          </div>
                        </div>
                        <div v-else-if="iscState.dspl_state === 2" class="done">
                          <strong class="state">(좌) 지폐 방출 완료</strong>
                          <div class="cash-pay">
                            방출 금액 <strong>{{ format.toMoney(iscState.dspl_change_req_cnt * iscState.dspl_change_unit) }} </strong> 원
                          </div>
                          <div class="cash-pay">
                            잔여 지폐 <strong>{{ format.toMoney(iscState.dspl_save_money) }}</strong> 원
                          </div>
                        </div>
                        <div v-else-if="iscState.dspr_state === 1" class="process">
                          <strong class="state">(우) 지폐 방출 중</strong>
                          <div class="cash-pay">
                            방출 장수 <strong>{{ iscState.dspr_change_res_cnt }} / {{ iscState.dspr_change_req_cnt }}</strong>
                          </div>
                          <div class="cash-pay">
                            방출 금액 <strong>{{ format.toMoney(iscState.dspr_change_req_cnt * iscState.dspr_change_unit) }} </strong> 원
                          </div>
                        </div>
                        <div v-else-if="iscState.dspr_state === 2" class="done">
                          <strong class="state">(우) 지폐 방출 완료</strong>
                          <div class="cash-pay">
                            방출 금액 <strong>{{ format.toMoney(iscState.dspr_change_req_cnt * iscState.dspr_change_unit) }} </strong> 원
                          </div>
                          <div class="cash-pay">
                            잔여 지폐 <strong>{{ format.toMoney(iscState.dspr_save_money) }}</strong> 원
                          </div>
                        </div>
                        <div v-else class="done">
                          <strong class="state">현금 결제 완료</strong>
                          <div class="cash-pay">
                            결제 금액 <strong>{{ format.toMoney(iscState.pay_amt) }}</strong> 원
                          </div>
                          <p>총 투입 금액 {{ format.toMoney(iscState.act_input_fee) }} 원</p>
                          <template v-if="iscState.act_input_fee - iscState.pay_amt > 0">
                            <div v-if="iscState.dspl_not_change || iscState.dspr_not_change" class="change">
                              거스름 돈 <strong>{{ format.toMoney(iscState.act_input_fee - iscState.pay_amt) }}</strong> 원
                            </div>
                            <p v-else>총 방출 금액 {{ format.toMoney(iscState.act_input_fee - iscState.pay_amt) }} 원</p>
                          </template>
                        </div>
                      </template>
                    </template>
                  </template>
                  <div v-else class="error">
                    <v-icon class="big">error_outline</v-icon>
                    <strong class="state">현금 결제 오류</strong>
                    <p class="content">[{{ iscState.act_error_code }}] {{ iscState.act_error_msg }}</p>
                  </div>
                </template>

                <template v-else-if="iscState.pay_type === 2">
                  <template v-if="!iscState.crd_error_code">
                    <div v-if="iscState.crd_state < 2" class="ready">
                      <strong class="state">카드 결제 대기 중</strong>
                      <div class="card-pay">
                        결제 금액 <strong>{{ format.toMoney(iscState.pay_amt) }}</strong> 원
                      </div>
                      <div class="card-input"><span>카드 투입 대기 중</span></div>
                    </div>
                    <div v-else-if="iscState.crd_state === 2" class="process">
                      <v-icon>multiple_stop</v-icon>
                      <strong class="state">카드 결제 중</strong>
                      <p class="title">{{ keyToValue("isc_state", "crd_type", iscState.crd_type) }}</p>
                      <p>완료 될 때까지 카드를 빼지마세요</p>
                    </div>
                    <div v-else-if="iscState.crd_state === 3" class="out">
                      <v-icon class="big">get_app</v-icon>
                      <strong v-if="iscState.crd_error_code === null" class="state">카드 배출 중</strong>
                      <strong v-else class="state">카드 배출 완료</strong>
                    </div>
                    <div v-else-if="iscState.crd_state === 4" class="done">
                      <strong class="state">카드 결제 완료</strong>
                      <p>[{{ keyToValue("isc_state", "crd_type", iscState.crd_type) }}] {{ iscState.crd_card_no }}</p>
                      <p class="title">승인 {{ iscState.crd_approval_no }}</p>
                      <p class="content">결제금액 {{ format.toMoney(iscState.pay_amt) }}</p>
                    </div>
                  </template>
                  <div v-else class="error">
                    <v-icon class="big">error_outline</v-icon>
                    <strong class="state">카드 결제 오류</strong>
                    <p class="content">[{{ iscState.crd_error_code }}] {{ iscState.crd_error_msg }}</p>
                  </div>
                </template>
              </template>

              <!-- 결제확인 및 카드키 토출 스텝 -->
              <template v-else-if="iscState.step === 7">
                <div :class="{ ready: iscState.key_state === 0, process: iscState.key_state === 1, done: iscState.key_state === 2, error: iscState.key_state === 3 }">
                  <strong class="state">{{ iscState.key_did }}번 {{ keyToValue("isc_state", "key_state", iscState.key_state) }}</strong>
                  <p class="title">[{{ room().type_name }}] {{ room().name }}</p>
                  <p class="content">[{{ keyToValue("room_sale", "stay_type", iscState.stay_type) }}] {{ format.toMoney(iscState.pay_amt) }}원</p>
                </div>
              </template>

              <!-- 영수증 출력 스텝 -->
              <template v-else-if="iscState.step === 8" id="complete">
                <template v-if="!iscState.prt_error_code">
                  <div v-if="iscState.prt_state === 0">
                    <v-icon>receipt</v-icon>
                    <strong>영수증 출력 대기</strong>
                  </div>
                  <div v-else>
                    <v-icon>print</v-icon>
                    <strong v-if="iscState.prt_error_code === null">영수증 출력 중</strong>
                    <strong v-else>영수증 출력 완료</strong>
                  </div>
                </template>
                <div v-else class="error">
                  <v-icon class="big">error_outline</v-icon>
                  <strong class="state">영수증 출력 오류</strong>
                  <p class="content">[{{ iscState.prt_error_code }}] {{ iscState.prt_error_msg }}</p>
                </div>
              </template>
            </div>
          </div>
        </div>
        <!-- 화면 스텝 끝 -->

        <!-- 카드 데크 -->
        <div class="view-right">
          <ul>
            <li v-for="(keyBox, index) in keyBoxsR1" :key="index" :class="keyBox.status">
              <span v-show="keyBox.status === 'no-room'">X</span>
              <v-hover v-show="keyBox.status">
                <div slot-scope="{ hover }">
                  <v-expand-transition>
                    <span v-if="hover && keyBox.status === 'key-off'">{{ keyBox.name }} [{{ keyBox.kbx_dsp_error ? keyBox.kbx_dsp_error : "통신오류" }}]</span>
                    <span v-else-if="hover && keyBox.status === 'key-on'">{{ keyBox.name }}</span>
                    <span v-else-if="hover && keyBox.status === 'no-room'">NO ROOM</span>
                  </v-expand-transition>
                </div>
              </v-hover>
            </li>
          </ul>
          <ul>
            <li v-for="(keyBox, index) in keyBoxsR2" :key="index" :class="keyBox.status">
              <span v-show="keyBox.status === 'no-room'">X</span>
              <v-hover v-show="keyBox.status">
                <div slot-scope="{ hover }">
                  <v-expand-transition>
                    <span v-if="hover && keyBox.status === 'key-off'">{{ keyBox.name }} [{{ keyBox.kbx_dsp_error ? keyBox.kbx_dsp_error : "통신오류" }}]</span>
                    <span v-else-if="hover && keyBox.status === 'key-on'">{{ keyBox.name }}</span>
                    <span v-else-if="hover && keyBox.status === 'no-room'">NO ROOM</span>
                  </v-expand-transition>
                </div>
              </v-hover>
            </li>
          </ul>
        </div>
      </div>

      <div class="controll-middle">
        <div class="system-area">
          <dl class="credit">
            <dt>
              카드 IN
              <v-radio-group v-model="iscState.crd_signal" row>
                <v-radio v-for="(item, inx) in keyCodes('isc_state', 'crd_signal')" :key="inx" :label="item.short" :value="item.value"></v-radio>
              </v-radio-group>
            </dt>
            <dd :class="{ 'system-on': isNowCardIn || isNowCardOut }">
              <img src="@/assets/image/img_credit.png" alt="CREDIT CARD" />
            </dd>
            <div v-if="isNowCardIn || isNowCardOut" class="img-card" :class="{ in: isNowCardIn, out: isNowCardOut }">
              <img src="@/assets/image/img_card_big.png" alt="CARD" />
            </div>
          </dl>
          <dl class="receipt">
            <dt>영수증 출력</dt>
            <dd :class="{ 'system-on': isNowPrtOut }"></dd>
            <div v-if="iscState.step === 8 && iscState.prt_state === 1" class="img-paper">
              <img src="@/assets/image/img_paper.png" alt="PAPER" />
            </div>
          </dl>
          <v-divider></v-divider>
          <dl class="cash">
            <dt>
              현금 IN
              <v-radio-group v-model="iscState.act_signal" row>
                <v-radio v-for="(item, inx) in keyCodes('isc_state', 'act_signal')" :key="inx" :label="item.short" :value="item.value"></v-radio>
              </v-radio-group>
            </dt>
            <dd :class="{ 'system-on': isNowCashIn }">
              <img src="@/assets/image/img_credit.png" alt="CASH" />
            </dd>
            <div v-if="iscState.step === 6 && iscState.act_input_unit" class="img-cash" :class="{ in: isNowCashIn, off: !isNowCashIn }">
              <img :src="require(`@/assets/image/img_cash_${iscState.act_input_unit}.png`)" alt="CASH" />
            </div>
          </dl>
          <dl class="id-box">
            <dt>신분증 투입</dt>
            <dd :class="{ 'system-on': iscState.step === 2 && iscState.minor_state }"></dd>
          </dl>
          <dl class="change-out">
            <dt>
              거스름돈 (좌)
              <div :class="{ on: iscState.step === 6 && iscState.dspl_state > 0 }">
                <strong>{{ format.toMoney(iscState.dspl_change_unit) }}</strong>
                <v-btn>지폐방출</v-btn>
              </div>
              <v-spacer></v-spacer>
              <div :class="{ on: iscState.step === 6 && iscState.dspr_state > 0 }">
                (우)
                <strong>{{ format.toMoney(iscState.dspr_change_unit) }}</strong>
                <v-btn>지폐방출</v-btn>
              </div>
            </dt>
            <dd :class="{ 'system-on': iscState.step === 6 && (iscState.dspl_state > 0 || iscState.dspr_state > 0) }">
              <template v-if="iscState.step === 6">
                <span v-show="iscState.dspl_change_res_cnt">{{ format.toMoney(iscState.dspl_change_unit) + "원권 " + iscState.dspl_change_res_cnt + "매" }} </span>
                <span v-show="iscState.dspr_change_res_cnt">{{ format.toMoney(iscState.dspr_change_unit) + "원권 " + iscState.dspr_change_res_cnt + "매" }} </span>
                <div class="img-cash-out">
                  <img
                    v-if="isNowChangeOut"
                    :src="require(`@/assets/image/img_cash_out_${isNowChangeAmt}.png`)"
                    alt="CASH"
                    :class="['cash-out' + (isNowChangeStack.length + 1)]"
                    :style="{ bottom: isNowChangeRes * 2 + 'px' }"
                  />
                  <img v-for="(v, i) in isNowChangeStack" :key="i" :src="require(`@/assets/image/img_cash_out_${v.unit}.png`)" alt="CASH" :style="{ bottom: i * 2 + 'px' }" />
                </div>
              </template>
            </dd>
          </dl>
        </div>
      </div>
      <div class="controll-bottom">
        <div class="btn-group this.screen-xs-center">
          <v-btn :class="{ off: iscState.state !== 1, red: iscState.state === 1 }" @click="toggleBtn('state', !iscState.state ? 1 : 0)">
            사용 중지
            <span v-if="iscState.state === 1">OFF</span>
            <span v-else>ON</span>
          </v-btn>
          <v-btn :class="{ off: !iscState.minor_mode }" @click="toggleBtn('minor_mode', !iscState.minor_mode ? 1 : 0)">
            성인 인증
            <span v-if="!iscState.minor_mode">OFF</span>
            <span v-else>ON</span>
          </v-btn>
          <v-btn :class="{ off: iscState.act_state }" @click="toggleBtn('act_state', !iscState.act_state ? 1 : 0)">
            카드 전용
            <span v-if="iscState.act_state">OFF</span>
            <span v-else>ON</span>
          </v-btn>
          <v-btn :class="{ off: iscState.state !== 2 }" @click="toggleBtn('state', iscState.state !== 2 ? 2 : iscStateOrg.state)">
            예약 전용
            <span v-if="iscState.state !== 2">OFF</span>
            <span v-else>ON</span>
          </v-btn>
          <v-btn v-if="iscState.minor_auth_type" :class="{ off: iscState.minor_state !== 2 }" @click="toggleBtn('minor_state', iscState.minor_state === 2 ? 0 : 2)">
            수동 인증
            <span v-if="iscState.minor_state !== 2">NO</span>
            <span v-else>YES</span>
          </v-btn>
          <v-btn v-else :class="{ off: true }"> 자판기<br />설정 </v-btn>
          <!-- <v-btn :class="{ off: !isCall }" @click="isCall = !isCall"> 음성통화<br />요청 </v-btn> -->
        </div>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from "vuex";

import { keyToValue, iscDisplayStateLog } from "@/constants/key-map";
import date from "@/utils/date-util";
import _ from "lodash";
import moment from "moment";
import Swal from "sweetalert2";

export default {
  name: "Controller",
  components: {},
  props: {
    showSimulator: {
      type: Boolean,
      default: null,
    },
    device: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      menuToggle: false,
      iscStateOrg: {},
      iscState: {},
      iscKeyBoxs: [],
      timer: null,
      useTime: "00:00:00",
      switchSimulator: false,
      switchControl: true, // TODO 기능 미구현!
      keyBoxsL1: [],
      keyBoxsL2: [],
      keyBoxsR1: [],
      keyBoxsR2: [],
      step: 1, // step1 ~ 6
      screen: 1, // 스텝마다 단계 화면 설정 여부
      creditSwitch: 0, // 0: 대기상태  1: 결제중   2: 결제 완료 3: 결제 실패  4: 카드제거 5: 사용중지
      cashSwitch: 0, // 0: 입수 금지상태 // 1: 입수 대기상태
      idBoxOn: false,
      isPopup: false,
      isNowCashIn: false, // 현금 투입
      isNowCardIn: false, // 카드 투입
      isNowCardOut: false, // 카드 방출
      isNowChangeOut: false, // 지폐 방출
      isNowChangeAmt: 0, // 지폐 방출 권종
      isNowChangeReq: 0, // 지폐 방출 요청
      isNowChangeRes: 0, // 지폐 방출 갯수
      isNowChangeStack: [], // 지폐 방출 애니메이션 완료
      isNowPrtOut: false, // 영수증 출력
      useYn: [
        { text: "사용", value: 0 },
        { text: "중지", value: 1 },
      ],
      testStep: 0,
    };
  },
  created() {
    console.log(this.$options.name, "created");

    // 테스트용 시뮬레이터.
    this.EventBus.$emit("openSimulator", { show: false });

    // key box 초기화.
    for (let i = 1; i <= 38; i++) {
      this.keyBoxsL1.push({ gid: 1, did: i, status: "", name: "", signal: 0 });
      this.keyBoxsL2.push({
        gid: 1,
        did: i + 38,
        status: "",
        name: "",
        signal: 0,
      });
      this.keyBoxsR1.push({
        gid: 2,
        did: i,
        status: "",
        name: "",
        signal: 0,
      });
      this.keyBoxsR2.push({
        gid: 2,
        did: i + 38,
        status: "",
        name: "",
        signal: 0,
      });
    }
  },
  mounted() {
    console.log(this.$options.name, "mounted");

    clearInterval(this.timer);

    this.timer = setInterval(() => {
      if (this.iscState.start_time) {
        let diff = date.diff(moment(this.iscState.start_time), this.iscState.end_time ? moment(this.iscState.end_time) : new Date());
        this.useTime = Number(diff.mm) + ":" + diff.ss;

        if (this.iscState.end_time) clearInterval(this.timer);
      }
      // console.log(this.$options.name, "useTime", moment(this.iscState.start_time).format('HH:mm:ss'), this.useTime);
    }, 1000);

    const { serialno, place_id } = this.device;

    let filter = `a.serialno=${serialno}`;

    // 키박스 현재 상태 조회.
    this.initIscKeyBoxList({ filter });

    if (process.env.VUE_APP_MODE === "LOCAL") {
      // this.onClickStep(1, 0);
      this.getRooms({ place_id });
    }
  },
  computed: {
    title() {
      return this.device.place_name + " " + this.device.name;
    },
    watchIscStates() {
      return _.cloneDeep(this.iscStateList()); // watch new ord 값 비교를 위해
    },
    watchKeyBoxs() {
      return _.cloneDeep(this.iscKeyBoxList()); // watch new ord 값 비교를 위해
    },
    cardState() {
      return this.iscState.crd_state < 6 ? 0 : 6;
    },
    cashState() {
      return this.iscState.act_state ? 0 : 1;
    },
  },
  watch: {
    switchSimulator(newValue, oldValue) {
      console.log(this.$options.name, "switchSimulator", newValue);

      // 테스트용 시뮬레이터.
      this.EventBus.$emit("openSimulator", {
        device: this.device,
        iscState: this.iscState,
      });
    },
    watchIscStates: {
      deep: true,
      immediate: true,
      handler(newValue, oldValue) {
        console.log(this.$options.name, "watchIscStates");

        let iscState = _.find(newValue, { serialno: this.device.serialno }) || {};
        let iscStateBefore = _.find(oldValue, { serialno: this.device.serialno }) || {};

        console.log(this.$options.name, { iscState, iscStateBefore });

        // 예약번호 입력 완료 시 예약정보 조회.
        if (iscState.reserv_num !== this.iscState.reserv_num && iscState.reserv_error_code === 0) {
          this.getRoomReserv(iscState.reserv_num);
        }

        // 객실 선택 완료 시 객실정보 조회.
        if (iscState.room_id && iscState.room_id !== this.iscState.room_id) {
          this.getRoom(iscState.room_id);
        }

        // 거스름돈
        let change_amt = iscState.act_input_fee - iscState.pay_amt;

        // 현금 투입 여부
        if (iscState.step === 6) {
          if (iscState.pay_type === 1) {
            this.isNowCardIn = false;
            this.isNowCardOut = false;

            if (iscState.act_input_fee !== iscStateBefore.act_input_fee) {
              this.isNowCashIn = false; // // 애니메이션 동작 시키기 위해 false 로 전환.

              // 애니메이션 동작 시키기 위한 딜레이.
              setTimeout(() => {
                this.isNowCashIn = true;
              }, 100);
            }
          } else if (iscState.pay_type === 2) {
            this.isNowCashIn = false;

            // 카드 투입 여부
            if (iscState.crd_state < 2) {
              this.isNowCardIn = false;
              this.isNowCardOut = false;
            } else if (iscState.crd_state === 2) {
              setTimeout(() => {
                this.isNowCardIn = true;
              }, 100);
              this.isNowCardOut = false;
            } else if (iscState.crd_state === 3) {
              this.isNowCardIn = false;
              setTimeout(() => {
                this.isNowCardOut = true;
              }, 100);
            }
          }

          // 지폐 방출.
          if (iscState.dspl_state || iscState.dspr_state) {
            this.isNowCashIn = false;
            this.isNowCardIn = false;
            this.isNowCardOut = false;

            console.log("- dspl_state", iscState.dspl_state, iscState.dspl_change_req_cnt, iscState.dspl_change_res_cnt);

            // 좌측 지폐 방출 여부
            if (iscState.dspl_state > 0 && iscState.dspl_change_res_cnt !== this.iscState.dspl_change_res_cnt) {
              this.isNowChangeAmt = iscState.dspl_change_unit;
              this.isNowChangeReq = iscState.dspl_change_req_cnt;
              this.isNowChangeRes = iscState.dspl_change_res_cnt;
              this.isNowChangeOut = false;

              setTimeout(() => {
                this.isNowChangeOut = true;
              }, 100);

              setTimeout(() => {
                this.isNowChangeOut = false;
                this.isNowChangeStack.push({ unit: iscState.dspl_change_unit });
              }, 1000);
            }

            // 우측 지폐 방출 여부
            if (iscState.dspr_state > 0 && iscState.dspr_change_res_cnt !== this.iscState.dspr_change_res_cnt) {
              console.log("- dspr_state", iscState.dspr_state, iscState.dspr_change_req_cnt, iscState.dspr_change_res_cnt);

              this.isNowChangeAmt = iscState.dspr_change_unit;
              this.isNowChangeReq = iscState.dspr_change_req_cnt;
              this.isNowChangeRes = iscState.dspr_change_res_cnt;
              this.isNowChangeOut = false;

              setTimeout(() => {
                this.isNowChangeOut = true;
              }, 100);

              setTimeout(() => {
                this.isNowChangeOut = false;
                this.isNowChangeStack.push({ unit: iscState.dspr_change_unit });
              }, 1000);
            }
          } else {
            this.isNowChangeOut = false;
            this.isNowChangeStack = [];
          }
        } else {
          this.isNowCashIn = false;
          this.isNowCardIn = false;
          this.isNowCardOut = false;

          this.isNowChangeOut = false;
          this.isNowChangeStack = [];
        }

        if (iscState.step === 8) {
          // 영수증 출력 여부
          if (iscState.prt_state && iscState.prt_state !== iscStateBefore.prt_state) {
            this.isNowPrtOut = false;

            setTimeout(() => {
              this.isNowPrtOut = true;
            }, 100);
          }
        } else {
          this.isNowPrtOut = false;
        }

        this.iscState = _.cloneDeep(iscState);
        this.iscStateOrg = _.cloneDeep(iscState);
      },
    },
    watchKeyBoxs(newValue, oldValue) {
      console.log(this.$options.name, "watchKeyBoxs", newValue.length);

      let keyBoxs = _.filter(newValue, { serialno: this.device.serialno }) || [];

      console.log(this.$options.name, "keyBoxs", this.device.serialno, keyBoxs.length);

      _.map(keyBoxs, (keyBox) => {
        let { id, name, serialno, gid, did, sensor, signal, kbx_dsp_error } = keyBox;

        let status = sensor // sensor 키박스의 키감지센서 (0: 없음, 1:있음)
          ? signal || kbx_dsp_error //  signal 키박스의 통신 상태 (0: 정상, 1:오류)
            ? "key-off"
            : name
            ? "key-on"
            : "no-room"
          : "";

        // if (status) console.log("- keyBox", { id, name, serialno, gid, did, sensor, signal, kbx_dsp_error });

        // gid did 에 따른 키 박스 라인. L1,L2 R1,R2
        let keyBoxList = gid === 1 && did <= 48 ? this.keyBoxsL1 : gid === 1 && did > 48 ? this.keyBoxsL2 : gid === 2 && did <= 48 ? this.keyBoxsR1 : this.keyBoxsR2;

        let _keyBox = _.find(keyBoxList, { gid, did });

        keyBox = _.merge(_keyBox, { id, status, name, signal, kbx_dsp_error });
      });

      console.log(this.$options.name, "keyBoxsL1", this.keyBoxsL1);
    },
    device(newValue, oldValue) {
      console.log(this.$options.name, "device", newValue);
    },
  },

  methods: {
    ...mapMutations("device", { selectedDevice: "selList" }),
    ...mapGetters("iscState", { iscStateList: "list" }),
    ...mapGetters("iscKeyBox", { iscKeyBoxList: "list" }),
    ...mapGetters("roomReserv", { roomReserv: "item" }),
    ...mapGetters("room", { room: "item", rooms: "list" }),

    ...mapActions("iscState", { initIscState: "getList", setIscState: "setItem" }),
    ...mapActions("iscKeyBox", { initIscKeyBoxList: "getList" }),
    ...mapActions("roomReserv", { getRoomReserv: "getItemByReservNum" }),
    ...mapActions("room", { getRoom: "getItem", getRooms: "getList" }),

    changeState(iscState, isAlert) {
      if (isAlert) {
        Swal.fire({
          title: `[${this.title}] </br> 자판기 상태를 변경 하시겠습니까?`,
          html: `<font color=red>주의! 업소의 무인 판매기의 상태가 즉시 변경됩니다.</font></br></br>
          <font color=blue>${iscDisplayStateLog(iscState)
            .split(",")
            .join("</br>")}</font>`,
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "예",
          cancelButtonText: "아니오",
        }).then((result) => {
          if (result.value) {
            this.setIscState(iscState);
          } else {
            this.iscState = _.cloneDeep(this.iscStateOrg); // 취소시 원복.
          }
        });
      } else {
        this.setIscState(iscState);
      }
    },

    toggleBtn(name, value) {
      const { serialno } = this.device;

      let iscState = {
        serialno,
        [name]: value,
      };

      console.log("- toggleBtn", { name, value }, iscState);

      this.changeState(iscState, process.env.VUE_APP_MODE !== "LOCAL");
    },

    // 테스트용 스텝 이동.
    onClickStep(step, testStep) {
      // 운영서버는 제외
      if (process.env.VUE_APP_MODE === "PROD") {
        return false;
      }

      const { serialno } = this.device;

      let iscState = {
        serialno,
        step,
      };

      if (testStep === undefined) this.testStep++;
      else this.testStep = testStep;

      console.log("- onClickStep step", step, this.testStep);

      if (iscState.step === 1) {
        // 상태 오류 항목 초기화.
        iscState.act_input_fee = 0;
        iscState.act_error_code = null;
        iscState.crd_error_code = null;
        iscState.dspl_error_code = null;
        iscState.dspl_error_msg = "";
        iscState.dspr_error_code = null;
        iscState.dspr_error_msg = "";
        iscState.key_state = 0;
        iscState.prt_state = 0;

        if (this.testStep > 3) this.testStep = 1;

        if (this.testStep === 1) {
          iscState.motion = 0;

          // 예약 번호 입력 초기화.
          iscState.reserv_num = "";
          iscState.reserv_error_code = null;
          iscState.reserv_error_msg = "";
        } else if (this.testStep === 2) {
          iscState.motion = 1;
        } else if (this.testStep === 3) {
          iscState.step = 3; // 예약 확인 으로 이동.
          this.testStep = 1;
        }
      } else if (iscState.step === 2) {
        //  0: 대기상태.  , 1: 성인인증진행중 , 2: 성인인증완료 , 3: 성인인증 실패
        if (this.testStep === 1) {
          // 성인인증 대기상태
          iscState.minor_state = 0;
        } else if (this.testStep === 2) {
          // 성인인증 진행중
          iscState.minor_state = 1;
        } else if (this.testStep === 3) {
          // 성인인증 실패
          iscState.minor_state = 3;
        } else if (this.testStep === 4) {
          // 성인인증 완료
          iscState.minor_state = 2;
          this.testStep = 0;
        }
      } else if (iscState.step === 3) {
        if (this.testStep === 1) {
          // 예약 번호 입력 대기
          iscState.reserv_num = "";
          iscState.reserv_error_code = null;
          iscState.reserv_error_msg = "";
        } else if (this.testStep === 2) {
          // 예약 번호 입력 중
          iscState.reserv_num = "512";
        } else if (this.testStep === 3) {
          // 예약 번호 입력 오류
          iscState.reserv_error_code = -5;
          iscState.reserv_error_msg = "예약번호가 올바르지 않습니다";
        } else if (this.testStep === 4) {
          // 예약 번호 확인 완료
          iscState.reserv_num = "51273021";
          iscState.reserv_error_code = 0; // 정상
          iscState.reserv_error_msg = "";
          this.testStep = 0;
        }
      } else if (iscState.step === 4) {
        if (this.testStep === 1) {
          // 객실 선택 대기
          let { id } = this.rooms()[0];

          // 객실 선택 완료
          iscState.room_id = id;
          iscState.stay_type = 1;
        } else if (this.testStep === 2) {
          this.testStep = 0;
        }
      } else if (iscState.step === 5) {
        // 객실 선택 확인
        this.testStep = 0;
      } else if (iscState.step === 6) {
        // 결제 단계
        if (this.testStep === 1) {
          // 결제 유형 선택 대기
          iscState.pay_type = null; // 결제방법 1: 현금, 2: 카드 결제

          // 현금 상태
          // iscState.act_state = 1; // 0: 입수 금지상태 1: 입수 대기상태
          iscState.act_signal = 0; // 0: 통신 정상 1: 통신 단절
          iscState.act_input_unit = 0; // 입수된 권종
          iscState.act_input_fee = 0; // 현재 입수된 금액 합계 (결제 완료시 0으로 초기화)
          iscState.act_error_code = null; // 식별기 에러코드   0: 정상
          iscState.act_error_msg = ""; // 사람이 알아볼수잇는 에러코드 설명 (모터에러 , 센서불량 등등)

          // 카드 상태
          iscState.crd_signal = 0; // 0: 통신 정상 1: 통신 단절
          iscState.crd_state = 0; // 0: 대기상태 1: 카드 투입대기중  2: 결제중   3: 카드제거(SamsungPay 생략)  4: 결제 성공 5: 결제실패 6: 사용중지
          iscState.crd_card_no = ""; //	카드번호 (앞 6자리) ex : 1234-56**-****-****
          iscState.crd_approval_no = ""; //	승인번호 8자리
          iscState.crd_type = null; // 인식된 카드 유형 1: IC카드 , 2: 삼성페이 (초기화시점 : 결제완료/실패시)
          iscState.crd_error_code = null; // 결제 실패 에러 코드   0: 결제성공시 (초기화시점 : 결제완료/실패시)
          iscState.crd_error_msg = ""; //	사람이 알아볼수있는 에러코드 설명 (한도초과 , IC리딩실패)등

          // 지페 방출기 좌
          iscState.dspl_signal = 0; // 0: 통신 정상 1: 통신 단절
          iscState.dspl_state = 0; // 0: 대기상태 , 1: 방출동작중
          iscState.dspl_save_money = 50000; //	잔여 지폐 금액
          iscState.dspl_error_code = 0; //	방출기 에러코드   0:정상
          iscState.dspl_error_msg = ""; //	사람이 알아볼수잇는 에러코드 설명 (지폐걸림 , 지폐없음 , 도둑감지 등등)
          iscState.dspl_change_req_cnt = 0; // 방출 요청 장수
          iscState.dspl_change_res_cnt = 0; // 방출 완료 장수

          // 지페 방출기 우
          iscState.dspr_signal = 0; // 0: 통신 정상 1: 통신 단절
          iscState.dspr_state = 0; // 0: 대기상태 , 1: 방출동작중
          iscState.dspr_save_money = 50000; //	잔여 지폐 금액
          iscState.dspr_error_code = 0; //	방출기 에러코드   0:정상
          iscState.dspr_error_msg = ""; //	사람이 알아볼수잇는 에러코드 설명 (지폐걸림 , 지폐없음 , 도둑감지 등등)
          iscState.dspr_change_req_cnt = 0; // 방출 요청 장수
          iscState.dspr_change_res_cnt = 0; // 방출 완료 장수

          // 키 토출 상태
          iscState.key_state = 0; // 0 : 토출 대기, 1 : 키 토출 중, 2: 키 토출 완료, 3: 키 토출 실패
          iscState.key_gid = 0;
          iscState.key_did = 0;

          // 영수증 프린터 상태
          iscState.prt_signal = 0; // 0: 통신 정상 1: 통신 단절
          iscState.prt_state = 0; // 미출력 1: 출력  (초기화시점 : 결제완료시 )
          iscState.prt_error_code = null; // 에러코드   0: 정상
          iscState.prt_error_msg = ""; //	사람이 알아볼수잇는 에러코드 설명 (용지없음 , 용지걸림 등)
        } else if (this.testStep === 2) {
          // 현금 결제 대기
          iscState.pay_type = 1; // 결제방법 1: 현금, 2: 카드 결제
        } else if (this.testStep === 3) {
          // 현금 입력 1
          iscState.act_input_unit = 10000; // 입수된 권종
          iscState.act_input_fee = 10000; // 현재 입수된 금액 합계 (결제 완료시 0으로 초기화)
        } else if (this.testStep === 4) {
          // 현금 입력 2
          iscState.act_input_unit = 0; // 입수된 권종
          iscState.act_input_unit = 10000; // 입수된 권종
          iscState.act_input_fee = 20000; // 현재 입수된 금액 합계 (결제 완료시 0으로 초기화)
        } else if (this.testStep === 5) {
          // 현금 입력 3
          iscState.act_input_unit = 10000; // 입수된 권종
          iscState.act_input_fee = 30000; // 현재 입수된 금액 합계 (결제 완료시 0으로 초기화)
        } else if (this.testStep === 6) {
          // 현금 입력 오류
          iscState.act_error_code = -2; // 식별기 에러코드   0: 정상
          iscState.act_error_msg = "모터 에러"; // 사람이 알아볼수잇는 에러코드 설명 (모터에러 , 센서불량 등등)
        } else if (this.testStep === 7) {
          // 현금 결제 완료
          iscState.act_input_unit = 10000; // 입수된 권종
          iscState.act_input_fee = 40000; // 현재 입수된 금액 합계 (결제 완료시 0으로 초기화)
          iscState.act_error_code = 0; // 식별기 에러코드   0: 정상
          iscState.act_error_msg = ""; // 사람이 알아볼수잇는 에러코드 설명 (모터에러 , 센서불량 등등)

          if (iscState.act_input_fee - iscState.pay_amt === 0) {
            this.testStep = 0;
          } else {
            iscState.dspl_change_req_cnt = 2; // 방출 요청 장수
            iscState.dspr_change_req_cnt = 1;
          }
        } else if (this.testStep === 8) {
          // 좌측 지페 방출
          iscState.dspl_state = 1; //	0: 대기상태 , 1 : 방출동작중 , 2: 방출 완료
        } else if (this.testStep === 9) {
          // 지페 방출 오류
          iscState.dspl_error_code = -1;
          iscState.dspl_error_msg = "지폐 걸림";
        } else if (this.testStep === 10) {
          // 좌측 지페 방출
          iscState.dspl_state = 1;
          iscState.dspl_change_res_cnt = 1;
          iscState.dspl_error_code = 0;
          iscState.dspl_error_msg = "";
        } else if (this.testStep === 11) {
          // 좌측 지페 방출
          iscState.dspl_state = 2;
          iscState.dspl_change_res_cnt = 2;
        } else if (this.testStep === 12) {
          iscState.dspl_state = 0;
          // 우측 지페 방출
          iscState.dspr_state = 2;
          iscState.dspr_change_res_cnt = 1;

          this.testStep = 0;
        } else if (this.testStep === 20) {
          // 카드 투입 대기
          iscState.pay_type = 2; // 결제방법 1: 현금, 2: 카드 결제
          iscState.crd_state = 1; // 0: 대기상태 1: 카드 투입대기중  2: 결제중   3: 카드제거(SamsungPay 생략)  4: 결제 성공 5: 결제실패 6: 사용중지
        } else if (this.testStep === 21) {
          // 카드 결제 중
          iscState.crd_state = 2; // 0: 대기상태 1: 카드 투입대기중  2: 결제중   3: 카드제거(SamsungPay 생략)  4: 결제 성공 5: 결제실패 6: 사용중지
          iscState.crd_type = 1; // 인식된 카드 유형 1: IC카드 , 2: 삼성페이 (초기화시점 : 결제완료/실패시)
          iscState.crd_card_no = "111111-22222-3333"; //	카드번호 (앞 6자리) ex : 1234-56**-****-****
        } else if (this.testStep === 22) {
          // 카드 결제 실패
          iscState.crd_state = 5; // 0: 대기상태 1: 카드 투입대기중  2: 결제중   3: 카드제거(SamsungPay 생략)  4: 결제 성공 5: 결제실패 6: 사용중지
          iscState.crd_approval_no = ""; //	승인번호 8자리
          iscState.crd_type = 1; // 인식된 카드 유형 1: IC카드 , 2: 삼성페이 (초기화시점 : 결제완료/실패시)
          iscState.crd_error_code = -4; // 결제 실패 에러 코드   0: 결제성공시 (초기화시점 : 결제완료/실패시)
          iscState.crd_error_msg = "카드 잔액 부족"; //	사람이 알아볼수있는 에러코드 설명 (한도초과 , IC리딩실패)등
        } else if (this.testStep === 23) {
          // 카드 결제 성공
          iscState.crd_state = 4; // 0: 대기상태 1: 카드 투입대기중  2: 결제중   3: 카드제거(SamsungPay 생략)  4: 결제 성공 5: 결제실패 6: 사용중지
          iscState.crd_approval_no = "123456789"; //	승인번호 8자리
          iscState.crd_error_code = 0; // 결제 실패 에러 코드   0: 결제성공시 (초기화시점 : 결제완료/실패시)
          iscState.crd_error_msg = ""; //	사람이 알아볼수있는 에러코드 설명 (한도초과 , IC리딩실패)등
        } else if (this.testStep === 24) {
          // 카드 제거
          iscState.crd_state = 3; // 0: 대기상태 1: 카드 투입대기중  2: 결제중   3: 카드제거(SamsungPay 생략)  4: 결제 성공 5: 결제실패 6: 사용중지

          this.testStep = 0;
        }
      } else if (iscState.step === 7) {
        // 결제확인 및 카드키 배출.

        // 결제 완료 시 초기화 항목
        iscState.act_input_fee = 0;
        iscState.act_error_code = null;
        iscState.crd_error_code = null;
        iscState.prt_state = 0;

        if (this.testStep === 1) {
          // 카드키 토출 중
          iscState.key_state = 1;
          iscState.key_gid = 1;
          iscState.key_did = 19;
        } else if (this.testStep === 2) {
          // 카드키 토출 실패
          iscState.key_state = 3;
        } else if (this.testStep === 3) {
          // 카드키 토출 완료
          iscState.key_state = 2;

          this.testStep = 0;
        }
      } else if (iscState.step === 8) {
        iscState.key_state = 0;

        // 영수증 출력.
        if (this.testStep === 1) {
          // 영수증 출력 대기
          iscState.prt_state = 0;
          iscState.prt_error_code = null;
          iscState.prt_error_msg = "";
        } else if (this.testStep === 2) {
          // 영수증 출력 오류
          iscState.prt_error_code = -1;
          iscState.prt_error_msg = "용지 없음";
        } else if (this.testStep === 3) {
          // 영수증 출력 중
          iscState.prt_state = 1;
          iscState.prt_error_code = null;
          iscState.prt_error_msg = "";
        } else if (this.testStep === 4) {
          // 영수증 출력 완료
          iscState.prt_state = 1;
          iscState.prt_error_code = 0;
          iscState.prt_error_msg = "";

          this.testStep = 0;
        }
      }

      console.log("- testStep", this.testStep);

      this.changeState(iscState);
    },

    onClose() {
      const { serialno } = this.device;
      console.log(this.$options.name, "onClose", serialno);

      this.selectedDevice({ serialno, isAdd: false });
    },
  },
  beforeDestroy() {
    // 테스트용 시뮬레이터.
    this.EventBus.$emit("openSimulator", { show: false });
  },
  destroyed() {},
};
</script>

<style></style>
