<template>
  <vuescroll :ops="ops">
    <div class="center-box">
      <v-layout row>
        <v-flex class="isc-box">
          <ul :class="iscListLenStyle">
            <li v-for="({ item, dev, iscState }, index) in iscList" :key="index">
              <dl class="isc-view">
                <dt :class="{ on: iscState.state !== 1 && !item.sale_stop && item.isActive }">
                  <div v-if="!item.menuToggle" class="closed">
                    <!-- <v-btn icon @click="item.menuToggle = !item.menuToggle">
                      <v-icon>more_vert</v-icon>
                    </v-btn> -->
                    <strong @click="onDeviceSelected(dev)">
                      {{ dev.place_name }} <br />
                      {{ dev.name }} [{{ dev.serialno }}]
                    </strong>
                    <span :class="{ active: iscState.step > 0, error: item.isErrorCode }"></span>
                  </div>
                  <div v-else class="opened">
                    <v-btn icon @click="item.menuToggle = !item.menuToggle">
                      <v-icon>close</v-icon>
                    </v-btn>
                    <v-btn icon>
                      <v-icon>not_interested</v-icon>
                    </v-btn>
                    <!-- <v-btn icon>
                      <v-icon>power_settings_new</v-icon>
                    </v-btn>
                    <v-btn icon>
                      <v-icon>volume_off</v-icon>
                    </v-btn> -->
                    <v-btn icon>
                      <v-icon v-if="isDebug" @click="switchSimulator(item)">keyboard</v-icon>
                    </v-btn>
                  </div>
                </dt>
                <dd class="isc-system">
                  <div class="system-top">
                    <div
                      class="view-left"
                      :class="{
                        select: dev.key_box_left,
                        process: iscState.key_state === 1 && iscState.key_gid === 1,
                        done: iscState.key_state === 2 && iscState.key_gid === 1,
                        error: iscState.key_state === 3 && iscState.key_gid === 1,
                      }"
                    >
                      <span v-if="iscState.key_state && iscState.key_gid === 1">{{ iscState.key_did }}번 {{ keyToValue("isc_state", "key_state", iscState.key_state) }}</span>
                      <span v-else-if="dev.key_box_left">L KEY DECKS</span>
                    </div>
                    <div class="view-center" :class="{ select: iscState.step > 0, error: item.isErrorCode }">
                      <!-- 자판기 상태 표시 -->
                      <div class="isc-state">
                        <div v-if="iscState.state > 0">
                          <v-icon>mobile_friendly</v-icon>
                          <strong class="state">{{ keyToValue("isc_state", "state", iscState.state) }}</strong>
                        </div>
                        <div v-if="iscState.door === 1">
                          <v-icon>lock_open</v-icon>
                          <strong class="state">{{ keyToValue("isc_state", "door", iscState.door) }}</strong>
                        </div>
                        <div v-if="iscState.setting === 1">
                          <v-icon>settings</v-icon>
                          <strong class="state">{{ keyToValue("isc_state", "setting", iscState.setting) }}</strong>
                        </div>
                      </div>

                      <div class="step">
                        <v-radio-group v-model="iscState.step" row>
                          <v-radio v-for="(item, inx) in keyCodes('isc_state', 'step')" :key="inx" :label="item.text" :value="item.value" @change="toggleBtn('step', item.value)"></v-radio>
                        </v-radio-group>
                      </div>
                    </div>
                    <div
                      class="view-right"
                      :class="{
                        select: dev.key_box_right,
                        process: iscState.key_state === 1 && iscState.key_gid === 2,
                        done: iscState.key_state === 2 && iscState.key_gid === 2,
                        error: iscState.key_state === 3 && iscState.key_gid === 2,
                      }"
                    >
                      <span v-if="iscState.key_state && iscState.key_gid === 2">{{ iscState.key_did }}번 {{ keyToValue("isc_state", "key_state", iscState.key_state) }}</span>
                      <span v-else-if="dev.key_box_right">R KEY DECKS</span>
                    </div>
                  </div>

                  <div class="system-bottom">
                    <v-btn class="credit" :class="{ select: iscState.isNowCardIn || iscState.isNowCardOut }"
                      ><span>카드 {{ iscState.isNowCardIn ? "IN" : "OUT" }}</span>
                      <v-icon>priority_high</v-icon>
                    </v-btn>
                    <v-btn class="receipt" :class="{ select: iscState.isNowPrtOut }"
                      ><span>영수증 OUT</span>
                      <v-icon>priority_high</v-icon>
                    </v-btn>
                    <v-btn class="cash" :class="{ select: iscState.isNowCashIn }"
                      ><span>현금 IN</span>
                      <v-icon>priority_high</v-icon>
                    </v-btn>
                    <v-btn class="id-box" :class="{ select: iscState.step === 2 && iscState.minor_state }"
                      ><span>신분증 IN</span>
                      <v-icon>priority_high</v-icon>
                    </v-btn>
                    <v-btn class="change-l" :class="{ select: iscState.step === 6 && iscState.dspl_state > 0 }">
                      <span v-if="!iscState.dspl_change_res_cnt">{{ format.toMoney(iscState.dspl_change_unit) }} OUT </span>
                      <span v-else>{{ iscState.dspl_change_res_cnt + "매" }} OUT </span>
                      <v-icon>priority_high</v-icon>
                    </v-btn>
                    <v-btn class="change-r" :class="{ select: iscState.step === 6 && iscState.dspr_state > 0 }">
                      <span v-if="!iscState.dspr_change_res_cnt">{{ format.toMoney(iscState.dspr_change_unit) }} OUT </span>
                      <span v-else>{{ iscState.dspr_change_res_cnt + "매" }} OUT </span>
                      <v-icon>priority_high</v-icon>
                    </v-btn>
                  </div>

                  <div class="step-info" :class="{ on: iscState.step > 1 }">
                    <div v-if="item.connect === 0" class="stop">
                      <v-icon class="big">wifi_off</v-icon>
                      <strong class="state">통신 단절</strong>
                    </div>
                    <div v-else-if="iscState.state === 1" class="stop">
                      <v-icon class="big">not_interested</v-icon>
                      <strong class="state">판매 중지</strong>
                    </div>

                    <!-- 판매 대기 스텝 -->
                    <template v-if="iscState.state === 0">
                      <template v-if="iscState.step === 1">
                        <div v-if="iscState.motion === 0" class="ready">
                          <v-icon class="big">wifi</v-icon>
                          <strong class="state">판매 대기</strong>
                        </div>
                        <div v-else class="motion">
                          <v-icon class="big">settings_input_antenna</v-icon>
                          <strong class="state">고객접근 중</strong>
                        </div>
                      </template>

                      <!-- 예약 확인 스텝 -->
                      <template v-else-if="iscState.step === 3">
                        <div v-if="!iscState.reserv_num" class="ready">
                          <v-icon class="big">keyboard</v-icon>
                          <strong class="state">예약번호 입력 대기</strong>
                        </div>
                        <div v-else-if="iscState.reserv_error_code === 0" class="done">
                          <strong class="state">예약번호 확인 완료</strong>
                          <p class="title">{{ iscState.reserv_num }}</p>
                          <p>{{ dev.room_reserv.name }} [{{ keyToValue("room_reserv", "state", dev.room_reserv.state) }}]</p>
                          <p class="content">[{{ keyToValue("room_reserv", "stay_type", dev.room_reserv.stay_type) }}] {{ dev.room_reserv.room_type_name }}</p>
                          <p class="content">{{ moment(dev.room_reserv.check_in_exp).format("MM/DD HH:mm") }} ~ {{ moment(dev.room_reserv.check_out_exp).format("MM/DD HH:mm") }}</p>
                        </div>
                        <div v-else-if="iscState.reserv_error_code" class="error">
                          <v-icon class="big">error_outline</v-icon>
                          <strong class="state">예약번호 검증 오류</strong>
                          <p class="content">[{{ iscState.reserv_error_code }}] {{ iscState.reserv_error_msg }}</p>
                        </div>
                        <div v-else class="typing">
                          <v-icon>touch_app</v-icon>
                          <strong class="state">예약번호 입력 중</strong>
                          <p>{{ iscState.reserv_num }}</p>
                        </div>
                      </template>

                      <!-- 성인인증 스텝 -->
                      <template v-else-if="iscState.step === 2">
                        <div v-if="iscState.minor_state === 0" class="ready">
                          <v-icon class="big">fingerprint</v-icon>
                          <strong class="state">성인인증 대기</strong>
                        </div>
                        <div v-if="iscState.minor_state === 1" class="process">
                          <v-icon>autorenew</v-icon>
                          <strong class="state">성인인증 처리 중</strong>
                          <p>{{ iscState.minor_auth_type ? "수동 인증" : "셀프 인증" }}</p>
                        </div>
                        <div v-if="iscState.minor_state === 2" class="done">
                          <v-icon>check_circle_outline</v-icon>
                          <strong class="state">성인인증 완료</strong>
                          <p>{{ iscState.minor_auth_type ? "수동 인증" : "셀프 인증" }}</p>
                        </div>
                        <div v-if="iscState.minor_state === 3" class="error">
                          <v-icon class="big">error_outline</v-icon>
                          <strong class="state">성인인증 실패</strong>
                          <p>자판기 사용이 차단 되었습니다</p>
                        </div>
                      </template>

                      <!-- 객실선택 스텝 -->
                      <template v-else-if="iscState.step === 4">
                        <div class="ready">
                          <v-icon class="big">touch_app</v-icon>
                          <strong class="state">객실선택 중</strong>
                        </div>
                      </template>

                      <!-- 객실확인 스텝 -->
                      <template v-else-if="iscState.step === 5">
                        <div class="ready">
                          <strong class="state">객실 확인</strong>
                          <p class="title">[{{ dev.room.type_name }}] {{ dev.room.name }}</p>
                          <p class="content">[{{ keyToValue("room_sale", "stay_type", iscState.stay_type) }}]</p>
                          <p>결제금액 {{ format.toMoney(iscState.pay_amt) }}원</p>
                        </div>
                      </template>

                      <!-- 결제 스텝 -->
                      <template v-else-if="iscState.step === 6">
                        <div v-if="!iscState.pay_type">
                          <v-icon v-if="!iscState.act_signal" class="multi big" @click="onClickStep(6, 2)">attach_money</v-icon>
                          <v-icon v-if="!iscState.crd_signal" class="multi big" @click="onClickStep(6, 20)">credit_card</v-icon>
                          <p v-if="iscState.act_signal && iscState.crd_signal">현금/카드 통신 단절</p>
                          <p v-else-if="iscState.act_signal">카드 결제 전용</p>
                          <p v-else-if="iscState.crd_signal">현금 결제 전용</p>
                        </div>

                        <template v-else-if="iscState.pay_type === 1">
                          <template v-if="!iscState.act_error_code">
                            <div v-if="iscState.act_input_fee === 0" class="ready">
                              <strong class="state">현금 결제 대기</strong>
                              <div class="cash-pay">
                                결제 금액 <strong>{{ format.toMoney(iscState.pay_amt) }}</strong> 원
                              </div>
                              <div class="cash-input"><span>현금 투입 대기 중</span></div>
                            </div>
                            <div v-else-if="iscState.act_input_fee < iscState.pay_amt" class="process">
                              <strong class="state">현금 결제 중</strong>
                              <div class="cash-pay">
                                결제 금액 <strong>{{ format.toMoney(iscState.pay_amt) }}</strong> 원
                              </div>
                              <p>
                                투입 금액 <strong>{{ format.toMoney(iscState.act_input_unit) }}</strong> 원
                              </p>
                              <div class="cash-input">총 투입 금액 {{ format.toMoney(iscState.act_input_fee) }} 원</div>
                            </div>
                            <template v-else>
                              <!-- 지폐 방출 스텝 -->
                              <div v-if="iscState.dspl_error_code" class="out error">
                                <v-icon class="big">error_outline</v-icon>
                                <strong class="state">(좌) 지폐 방출 오류</strong>
                                <p class="content">[{{ iscState.dspl_error_code }}] {{ iscState.dspl_error_msg }}</p>
                              </div>
                              <div v-else-if="iscState.dspr_error_code" class="out error">
                                <v-icon class="big">error_outline</v-icon>
                                <strong class="state">(우) 지폐 방출 오류</strong>
                                <p class="content">[{{ iscState.dspr_error_code }}] {{ iscState.dspr_error_msg }}</p>
                              </div>
                              <template v-else>
                                <div v-if="iscState.dspl_state === 1" class="out process">
                                  <strong class="state">(좌) 지폐 방출 중</strong>
                                  <div class="cash-pay">
                                    방출 장수 <strong>{{ iscState.dspl_change_res_cnt }} / {{ iscState.dspl_change_req_cnt }}</strong>
                                  </div>
                                  <div class="cash-pay">
                                    방출 금액 <strong>{{ format.toMoney(iscState.dspl_change_req_cnt * iscState.dspl_change_unit) }} </strong> 원
                                  </div>
                                </div>
                                <div v-else-if="iscState.dspl_state === 2" class="out done">
                                  <strong class="state">(좌) 지폐 방출 완료</strong>
                                  <div class="cash-pay">
                                    방출 금액 <strong>{{ format.toMoney(iscState.dspl_change_req_cnt * iscState.dspl_change_unit) }} </strong> 원
                                  </div>
                                  <div class="cash-pay">
                                    잔여 지폐 <strong>{{ format.toMoney(iscState.dspl_save_money) }}</strong> 원
                                  </div>
                                </div>
                                <div v-else-if="iscState.dspr_state === 1" class="out process">
                                  <strong class="state">(우) 지폐 방출 중</strong>
                                  <div class="cash-pay">
                                    방출 장수 <strong>{{ iscState.dspr_change_res_cnt }} / {{ iscState.dspr_change_req_cnt }}</strong>
                                  </div>
                                  <div class="cash-pay">
                                    방출 금액 <strong>{{ format.toMoney(iscState.dspr_change_req_cnt * iscState.dspr_change_unit) }} </strong> 원
                                  </div>
                                </div>
                                <div v-else-if="iscState.dspr_state === 2" class="out done">
                                  <strong class="state">(우) 지폐 방출 완료</strong>
                                  <div class="cash-pay">
                                    방출 금액 <strong>{{ format.toMoney(iscState.dspr_change_req_cnt * iscState.dspr_change_unit) }} </strong> 원
                                  </div>
                                  <div class="cash-pay">
                                    잔여 지폐 <strong>{{ format.toMoney(iscState.dspr_save_money) }}</strong> 원
                                  </div>
                                </div>
                                <div v-else class="done">
                                  <strong class="state">현금 결제 완료</strong>
                                  <div class="cash-pay">
                                    결제 금액 <strong>{{ format.toMoney(iscState.pay_amt) }}</strong> 원
                                  </div>
                                  <p>총 투입 금액 {{ format.toMoney(iscState.act_input_fee) }} 원</p>
                                  <template v-if="iscState.act_input_fee - iscState.pay_amt > 0">
                                    <div v-if="iscState.dspl_not_change || iscState.dspr_not_change" class="change">
                                      거스름 돈 <strong>{{ format.toMoney(iscState.act_input_fee - iscState.pay_amt) }}</strong> 원
                                    </div>
                                    <p v-else>총 방출 금액 {{ format.toMoney(iscState.act_input_fee - iscState.pay_amt) }} 원</p>
                                  </template>
                                </div>
                              </template>
                            </template>
                          </template>
                          <div v-else class="error">
                            <v-icon class="big">error_outline</v-icon>
                            <strong class="state">현금 결제 오류</strong>
                            <p class="content">[{{ iscState.act_error_code }}] {{ iscState.act_error_msg }}</p>
                          </div>
                        </template>

                        <template v-else-if="iscState.pay_type === 2">
                          <template v-if="!iscState.crd_error_code">
                            <div v-if="iscState.crd_state < 2" class="ready">
                              <strong class="state">카드 결제 대기 중</strong>
                              <div class="card-pay">
                                결제 금액 <strong>{{ format.toMoney(iscState.pay_amt) }}</strong> 원
                              </div>
                              <div class="card-input"><span>카드 투입 대기 중</span></div>
                            </div>
                            <div v-else-if="iscState.crd_state === 2" class="process">
                              <v-icon>multiple_stop</v-icon>
                              <strong class="state">카드 결제 중</strong>
                              <p class="title">{{ keyToValue("isc_state", "crd_type", iscState.crd_type) }}</p>
                            </div>
                            <div v-else-if="iscState.crd_state === 3" class="out">
                              <v-icon class="big">get_app</v-icon>
                              <strong v-if="iscState.crd_error_code === null" class="state">카드 배출 중</strong>
                              <strong v-else class="state">카드 배출 완료</strong>
                            </div>
                            <div v-else-if="iscState.crd_state === 4" class="done">
                              <strong class="state">카드 결제 완료</strong>
                              <p>[{{ keyToValue("isc_state", "crd_type", iscState.crd_type) }}] {{ iscState.crd_card_no }}</p>
                              <p class="title">승인 {{ iscState.crd_approval_no }}</p>
                              <p class="content">결제금액 {{ format.toMoney(iscState.pay_amt) }}</p>
                            </div>
                          </template>
                          <div v-else class="error">
                            <v-icon class="big">error_outline</v-icon>
                            <strong class="state">카드 결제 오류</strong>
                            <p class="content">[{{ iscState.crd_error_code }}] {{ iscState.crd_error_msg }}</p>
                          </div>
                        </template>
                      </template>

                      <!-- 결제확인 및 카드키 토출 스텝 -->
                      <template v-else-if="iscState.step === 7">
                        <div class="ready">
                          <strong class="state">카드키 토출</strong>
                          <p class="title">[{{ dev.room.type_name }}] {{ dev.room.name }}</p>
                          <p class="content">[{{ keyToValue("room_sale", "stay_type", iscState.stay_type) }}] {{ format.toMoney(iscState.pay_amt) }}원</p>
                        </div>
                      </template>

                      <!-- 영수증 출력 스텝 -->
                      <template v-else-if="iscState.step === 8" id="complete">
                        <template v-if="!iscState.prt_error_code">
                          <div v-if="iscState.prt_state === 0">
                            <v-icon>receipt</v-icon>
                            <strong>영수증 출력 대기</strong>
                          </div>
                          <div v-else>
                            <v-icon>print</v-icon>
                            <strong v-if="iscState.prt_error_code === null">영수증 출력 중</strong>
                            <strong v-else>영수증 출력 완료</strong>
                          </div>
                        </template>
                        <div v-else class="error">
                          <v-icon class="big">error_outline</v-icon>
                          <strong class="state">영수증 출력 오류</strong>
                          <p class="content">[{{ iscState.prt_error_code }}] {{ iscState.prt_error_msg }}</p>
                        </div>
                      </template>
                    </template>
                  </div>
                </dd>
              </dl>
            </li>
          </ul>
        </v-flex>
      </v-layout>
    </div>
  </vuescroll>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from "vuex";
import { iscDisplayState, keyCodes } from "@/constants/key-map";

import vuescroll from "vuescroll";
import _ from "lodash";
import format from "@/utils/format-util";

export default {
  name: "Content",
  components: {
    vuescroll,
  },
  data() {
    return {
      isDebug: process.env.NODE_ENV !== "production",
      devList: [],
      iscList: [],
      ops: {
        vuescroll: {
          wheelScrollDuration: 500,
        },
        scrollPanel: {},
        rail: {
          background: "#3b4358",
          opacity: 1,
          gutterOfEnds: "15px",
          gutterOfSidOne: "10px",
        },
        bar: {
          keepShow: true,
          background: "#0b78e4",
          opacity: 1,
          minSize: 0,
        },
      },
    };
  },
  created() {
    console.log(this.$options.name, "created");
  },
  mounted() {
    console.log(this.$options.name, "mounted");
  },
  computed: {
    watchPlaceSelected() {
      return this.placeSelected();
    },
    watchPlaceSearch() {
      return this.placeSearch();
    },
    watchDevices() {
      return this.devices();
    },
    watchIscStates() {
      return _.cloneDeep(this.iscStateList()); // watch new ord 값 비교를 위해
    },
    watchKeyBoxsUse() {
      return _.cloneDeep(this.iscKeyBoxUseList()); // watch new ord 값 비교를 위해
    },
    iscListLenStyle() {
      return this.iscList.length === 1 ? "type1" : this.iscList.length <= 10 ? "type2" : "type4";
    },
  },
  watch: {
    watchPlaceSelected(newValue, oldValue) {
      this.setDisplay();
    },
    watchPlaceSearch(newValue, oldValue) {
      this.setDisplay();
    },
    watchDevices(newValue, oldValue) {
      console.log(this.$options.name, "watchDevices", newValue);

      this.devList = newValue;

      this.initDatas();
    },
    watchIscStates(newValue, oldValue) {
      console.log(this.$options.name, "watchIscStates", newValue.length, oldValue.length);

      if (newValue.length) {
        let devList = _.map(this.devList, (dev) => {
          let iscState = _.find(newValue, { serialno: dev.serialno }) || {};

          dev.room = dev.room || {};
          dev.room_reserv = dev.room_reserv || {};

          // 이전 isc_state 저장.
          dev.isc_state_before = _.merge({}, dev.isc_state_before || {}, dev.isc_state);
          dev.isc_state = _.merge({}, dev.isc_state || {}, iscState);

          if (iscState) {
            // 예약번호 입력 완료 시 예약정보 조회.
            if (iscState.step === 3 && iscState.reserv_num && iscState.reserv_num !== dev.room_reserv.reserv_num && iscState.reserv_error_code === 0) {
              this.getRoomReserv(iscState.reserv_num).then(({ room_reserv }) => {
                dev.room_reserv = room_reserv.id ? room_reserv : { reserv_num: iscState.reserv_num }; // 없는 예약은 더이상 조회 하지 않는다.
              });
            }

            // 객실선택 입력 완료 시 객실정보 조회.
            if (iscState.step === 4 && iscState.room_id && iscState.room_id !== dev.room.id) {
              this.getRoom(iscState.room_id).then(({ room }) => {
                dev.room = room.id ? room : { id: iscState.room_id }; // 없는 객실은 더이상 조회 하지 않는다.
              });
            }
          }

          return dev;
        });

        this.devList = devList;

        // if (devList.length === 2) {
        //   this.devList = this.devList.concat(devList);
        //   this.devList = this.devList.concat(devList);
        //   this.devList = this.devList.concat(devList);
        //   this.devList = this.devList.concat(devList);
        //   this.devList = this.devList.concat(devList);
        //   this.devList = this.devList.concat(devList);
        // }

        this.setDisplay();
      }
    },
    watchKeyBoxsUse(newValue, oldValue) {
      console.log(this.$options.name, "watchKeyBoxsUse", newValue.length);

      _.each(newValue, (keyBox) => {
        let { serialno, gid } = keyBox;

        let dev = _.find(this.devList, { serialno });

        // console.log(this.$options.name, "key_box", { serialno, gid }, dev);

        if (dev) {
          if (gid === 1) {
            dev.key_box_left = true; // 좌측 키박스 사용 여부.
          } else if (gid === 2) {
            dev.key_box_right = true; // 우측 키박스 사용 여부.
          }
        }
      });

      // console.log(this.$options.name, "devices", this.devices);
    },
  },

  methods: {
    ...mapGetters(["auth"]),
    ...mapGetters("place", {
      count: "count",
      places: "list",
      placeSelected: "selected",
      placeSearch: "placeSearchText",
    }),
    ...mapGetters("device", { devices: "list", device: "item" }),
    ...mapGetters("iscState", { iscStateList: "list", iscState: "item" }),
    ...mapGetters("iscKeyBox", { iscKeyBoxList: "list", iscKeyBoxUseList: "useList" }),
    ...mapGetters("roomReserv", { roomReserv: "item", roomReservs: "list" }),
    ...mapGetters("room", { room: "item", rooms: "list" }),

    ...mapActions("iscState", { initIscState: "getList" }),
    ...mapActions("iscKeyBox", { initIscKeyBoxUseList: "getUseList" }),
    ...mapActions("roomReserv", { getRoomReserv: "getItemByReservNum" }),
    ...mapActions("room", { getRoom: "getItem", getRooms: "getList" }),

    ...mapMutations("device", { selectedDevice: "selList" }),

    // 초기 데이터 셋팅
    initDatas() {
      console.log(this.$options.name, "initDatas");

      // 로그인 사용자의 관리 업소 정보.
      let { id, type, level, place_id } = this.auth();

      // 슈퍼 관리자는 모든 업소 조회.
      let filter = type === 1 && (level === 0 || level === 9) ? "1=1" : `(user_id='${id}' OR b.place_id=${place_id})`;

      setTimeout(() => {
        // 키박스 좌/우 데크 사용 상태 조회.
        this.initIscKeyBoxUseList();

        // 장비 상태 목록 조회.
        this.initIscState({ filter });
      }, 100);
    },

    // 현재 상태 화면 적용.
    setDisplay() {
      let list = this.devList.slice();

      if (this.placeSelected()) list = _.filter(list, { place_id: this.placeSelected() });
      else if (this.placeSearch()) list = format.textFilter(list, this.placeSearch());

      this.iscList = _.map(list, (dev) => {
        let iscState = dev.isc_state;
        let iscStateBefore = dev.isc_state_before;

        // console.log(this.$options.name, "- setDisplay", iscState.step, { iscState, iscStateBefore });

        // 현금 투입 여부
        if (iscState.step === 6) {
          if (iscState.pay_type === 1) {
            iscState.isNowCardIn = false;
            iscState.isNowCardOut = false;

            if (iscState.act_input_fee !== iscStateBefore.act_input_fee) {
              iscState.isNowCashIn = true;
            }
          } else if (iscState.pay_type === 2) {
            iscState.isNowCashIn = false;

            // 카드 투입 여부
            if (iscState.crd_state < 2) {
              iscState.isNowCardIn = false;
              iscState.isNowCardOut = false;
            } else if (iscState.crd_state === 2) {
              iscState.isNowCardIn = true;
              iscState.isNowCardOut = false;
            } else if (iscState.crd_state === 3) {
              iscState.isNowCardIn = false;
              iscState.isNowCardOut = true;
            }
          }

          // 지폐 방출.
          if (iscState.dspl_state || iscState.dspr_state) {
            iscState.isNowCashIn = false;
            iscState.isNowCardIn = false;
            iscState.isNowCardOut = false;
          }
        } else {
          iscState.isNowCashIn = false;
          iscState.isNowCardIn = false;
          iscState.isNowCardOut = false;
        }

        // 카드키 토출
        if (iscState.step === 7) {
          if (iscState.key_state && iscState.key_state !== iscStateBefore.key_state) {
            // let { gid, did } = iscState; // 조회 데이터가 너무 많아서 조회 안함.
            // let keyBox = _.find(this.iscKeyBoxList(), { gid, did });
            iscState.isNowKeyOut = true;
          }
        } else {
          iscState.isNowKeyOut = false;
        }

        // 영수증 출력
        if (iscState.step === 8) {
          if (iscState.prt_state && iscState.prt_state !== iscStateBefore.prt_state) {
            iscState.isNowPrtOut = true;
          }
        } else {
          iscState.isNowPrtOut = false;
        }

        let item = {
          menuToggle: false,
          leftKeyBoxUse: true,
          rightKeyBoxUse: true,

          isErrorCode: iscState.reserv_error_code || iscState.dspl_error_code || iscState.dspr_error_code || iscState.act_error_code || iscState.crd_error_code || iscState.prt_error_code,
          isErrorMsg: iscState.reserv_error_msg || iscState.dspl_error_msg || iscState.dspr_error_msg || iscState.act_error_msg || iscState.crd_error_msg || iscState.prt_error_msg,
        };

        return { iscState, item, dev };
      });
    },

    onDeviceSelected(isc) {
      const { serialno } = isc;
      console.log(this.$options.name, "onDeviceSelected", serialno);

      this.selectedDevice({ serialno, isAdd: true });
    },

    switchSimulator(device) {
      console.log(this.$options.name, "switchSimulator");

      let iscState = _.find(this.iscStateList(), { serialno: device.serialno });

      // 테스트용 시뮬레이터.
      this.EventBus.$emit("openSimulator", {
        device,
        iscState,
        show: true,
      });
    },
  },
  beforeDestroy() {},
  destroyed() {},
};
</script>
<style></style>
