<template>
  <div class="side-device-area">
    <div class="type1">
      <div>모텔명</div>
      <v-divider inset dark></v-divider>
      <div>
        경과시간
        <div class="over-time">01:30</div>
      </div>
      <v-divider inset dark></v-divider>
      <div class="status">고객접근</div>
    </div>

    <div class="type2">
      <div>하하호호모텔</div>
      <v-divider inset dark></v-divider>
      <div>
        경과시간
        <div class="over-time">01:30</div>
      </div>
      <v-divider inset dark></v-divider>
      <div class="status">고객대기</div>
    </div>

    <div class="type3">
      <div>하하호호모텔</div>
      <v-divider inset dark></v-divider>
      <div>
        경과시간
        <div class="over-time">01:30</div>
      </div>
      <v-divider inset dark></v-divider>
      <div class="status">카드결제</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SideBar",
  components: {},
  data() {
    return {};
  },
  computed: {},
  methods: {},
  mounted() {},
  beforeDestroy() {},
  destroyed() {},
};
</script>
<style>
</style>
