<template>
  <v-layout row>
    <v-flex class="controll-area">
      <div class="on-title">
        <div class="closed">
          <v-btn icon class="menu">
            <v-icon>more_vert</v-icon>
          </v-btn>
          <strong>[{{ device.place_name + " " + device.name }}] <font color="yellow">시뮬레이터</font></strong>
          <v-btn icon class="close" @click="onClose">
            <v-icon>close</v-icon>
          </v-btn>
        </div>
      </div>
      <div class="controll-middle simulator">
        <div class="system-area">
          <!-- 탭으로 항목 구분 -->
          <v-tabs dark color="#1f3456" show-arrows>
            <v-tabs-slider color="yellow"></v-tabs-slider>

            <v-tab v-for="i in 7" :key="i" :href="'#tab-' + i">
              {{ tabTitle[i - 1] }}
            </v-tab>

            <v-tabs-items>
              <v-tab-item v-for="i in 7" :key="i" :value="'tab-' + i">
                <ul>
                  <li v-for="(item, index) in tabItems[i - 1].items" :key="index">
                    {{ item.label }} {{ item.key }}

                    <v-radio-group v-if="item.option" v-model="item.value" row>
                      <v-radio v-for="(op, inx) in item.option" v-show="op" :key="inx" :label="op" :value="inx"></v-radio>
                    </v-radio-group>
                    <v-text-field v-else v-model="item.value" solo required></v-text-field>
                  </li>
                </ul>
              </v-tab-item>
            </v-tabs-items>
          </v-tabs>
        </div>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from "vuex";
import _ from "lodash";

export default {
  name: "Simulator",
  components: {},
  props: {
    device: {
      type: Object,
      default: null,
    },
    iscState: { type: Object, default: null },
  },
  data() {
    return {
      tabTitle: ["isc_global", "room", "isc_bill_dispensor", "isc_bill_acceptor", "isc_credit_card_reader", "isc_receipt_printer", "isc_key_box"],
      tabItems: [
        {
          items: [
            {
              key: "state",
              value: "",
              label: "판매상태",
              option: ["판매대기", "판매중지"],
            },
            {
              key: "step",
              value: "",
              label: "스탭",
              option: ["", "판매대기", "성인인증", "예약확인", "객실선택", "객실확인", "결제", "결제확인", "영수증출력"],
            },
            {
              key: "minor_mode",
              value: "",
              label: "성인인증",
              option: ["해제", "설정", "인증확인", " 인증완료", "인증실패"],
            },
            {
              key: "door",
              value: "",
              label: "정신가문",
              option: ["닫힘", "열림"],
            },
            {
              key: "motion",
              value: "",
              label: "모션센서",
              option: ["미감지", "감지"],
            },
            {
              key: "rent_sale_count",
              value: "",
              label: "현재 대실로 판매중인 객실 수",
            },
            {
              key: "stay_sale_count",
              value: "",
              label: "현재 숙박으로 판매중인 객실 수",
            },
            {
              key: "language",
              value: "",
              label: "언어",
              option: ["", "한국어", "영어", "중국어", "일본어"],
            },
            {
              key: "voice_call",
              value: "",
              label: "음성지원",
              option: ["없음", "요청", "지원중", "종료"],
            },
            {
              key: "setting",
              value: "",
              label: "설정",
              option: ["없음", "설정중"],
            },
            { key: "start_time", value: "", label: "고객 조작 시작 시간" },
            { key: "end_time", value: "", label: "고객 조작 종료 시간" },
          ],
        },
        {
          items: [
            { key: "reserv_num", value: "", label: "예약번호" },
            { key: "reserv_error_code", value: "", label: "예약번호 오류코드" },
            {
              key: "reserv_error_msg",
              value: "",
              label: "예약번호 오류 메세지",
            },
            {
              key: "stay_type",
              value: "",
              label: "숙박형태",
              option: ["", "숙박", "대실"],
            },
            { key: "room_id", value: "", label: "객실번호", option: ["", ""] },
            { key: "pay_amt", value: "", label: "결제금액" },
            {
              key: "pay_type",
              value: "",
              label: "결제방법",
              option: ["", "현금", "카드"],
            },
          ],
        },
        {
          items: [
            {
              key: "dsp_id",
              value: "",
              label: "지폐방출기",
              option: ["", "왼쪽", "오른쪽"],
            },
            {
              key: "dsp_signal",
              value: "",
              label: "지폐방출기 통신",
              option: ["정상", "단절"],
            },
            {
              key: "dsp_state",
              value: "",
              label: "지폐방출기 상태",
              option: ["대기상태", "방출동작중"],
            },
            { key: "dsp_save_money", value: "", label: "지폐방출기 잔여지폐" },
            {
              key: "dsp_not_change",
              value: "",
              label: "지폐방출기 미방출금액",
            },
            { key: "dsp_change_unit", value: "", label: "지폐방출기 방출권종" },
            { key: "dsp_error_code", value: "", label: "지폐방출기 오류코드" },
            { key: "dsp_error_msg", value: "", label: "지폐방출기 오류정보" },
          ],
        },
        {
          items: [
            {
              key: "act_signal",
              value: "",
              label: "현금입수기 통신",
              option: ["정상", "단절"],
            },
            {
              key: "act_state",
              value: "",
              label: "현금입수기 상태",
              option: ["입수금지", "대기"],
            },
            { key: "act_input_fee", value: "", label: "현금입수기 입수합계" },
            {
              key: "act_input_unit",
              value: "",
              label: "현금입수기 입수권종",
              option: ["1000", "5000", "10000", "50000"],
            },
            {
              key: "act_error_code",
              value: "",
              label: "현금입수기 오류코드",
            },
            { key: "act_error_msg", value: "", label: "현금입수기 오류정보" },
          ],
        },
        {
          items: [
            {
              key: "crd_signal",
              value: "",
              label: "카드결제기 통신",
              option: ["정상", "단절"],
            },
            {
              key: "crd_state",
              value: "",
              label: "카드결제기 상태",
              option: ["대기상태", "결제중", "결제완료", "결제실패", "카드제거", "사용중지"],
            },
            { key: "crd_card_no", value: "", label: "카드결제기 카드번호" },
            { key: "crd_approval_no", value: "", label: "카드결제기 승인번호" },
            {
              key: "crd_type",
              value: "",
              label: "카드결제기 카드유형",
              option: ["", "IC카드", "삼성페이"],
            },
            { key: "crd_error_code", value: "", label: "카드결제기 오류코드" },
            { key: "crd_error_msg", value: "", label: "카드결제기 오류정보" },
          ],
        },
        {
          items: [
            {
              key: "prt_signal",
              value: "",
              label: "영수증출력기 퉁신",
              option: ["정상", "단절"],
            },
            {
              key: "prt_state",
              value: "",
              label: "영수증출력기 상태",
              option: ["미출력", "출력"],
            },
            {
              key: "prt_error_code",
              value: "",
              label: "영수증출력기 오류코드",
            },
            { key: "prt_error_msg", value: "", label: "영수증출력기 오류정보" },
          ],
        },
        {
          items: [
            { key: "kbx_id", lable: "키박스 번호" },
            { key: "kbx_dsp_error", value: "", label: "키박스 오류정보" },
          ],
        },
      ],
    };
  },
  created() {
    console.log(this.$options.name, "created", this.iscState);

    _.map(this.items, (item) => {
      if (this.iscState[item.key] !== undefined) item.value = this.iscState[item.key];
    });

    // console.log(this.$options.name, "items", this.items);
  },
  mounted() {},
  computed: {
    iscStateList() {
      return this.getIscStateList();
    },
    iscKeyBoxList() {
      return this.getIscKeyBoxList();
    },
  },
  watch: {
    items(newValue, oldValue) {
      console.log(this.$options.name, "items", newValue);
    },
  },

  methods: {
    ...mapGetters("iscState", { getIscStateList: "list" }),
    ...mapActions("iscState", { initIscState: "getList", setIscState: "setItem" }),
    ...mapGetters("iscKeyBox", { getIscKeyBoxList: "list" }),
    ...mapActions("iscKeyBox", { initIscKeyBoxList: "getList" }),

    onClose() {
      this.EventBus.$emit("openSimulator", { device: null });
    },
  },
  beforeDestroy() {},
  destroyed() {},
};
</script>
<style>
</style>
