<template>
  <v-toolbar dark height="76" color="#1d253e">
    <v-toolbar-title>
      <img src="@/assets/image/logo_center.png" alt="iCREW" />
      <span>ISG 무인관제 센터</span>
    </v-toolbar-title>

    <div class="toolbar-middle">
      <div class="col-sm-4 category-wrap">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <v-combobox
            ref="search"
            :items="searchResult"
            item-value="place_id"
            item-text="place_name"
            :value="watchPlaceSearch"
            :search-input.sync="searchInput"
            @change="changeSearch"
            @click:clear="clearSearch"
            v-click-outside="onClickOutside"
            placeholder="업소 검색"
            class="user-places search"
            counter
            flat
            dark
            hide-no-data
            clearable
            hide-details
            solo-inverted
          >
            <template slot="append">
              <v-icon>search</v-icon>
            </template>
          </v-combobox>
        </div>
      </div>

      <span class="icon-news">
        <v-icon>notifications</v-icon>
        <span v-show="notiCnt">{{ notiCnt > 99 ? "+99" : notiCnt }}</span>
      </span>

      <v-list v-click-outside="onClickOutside">
        <v-list-group v-model="active" v-for="(log, index) in logLists" :key="index" @click="notiCnt = 0">
          <template v-slot:activator>
            <div class="v-list-item-content">
              <div class="v-list-item-title" v-text="log.title"></div>
            </div>
          </template>

          <div class="v-list-item" v-for="(subItem, index) in log.items" :key="index">
            <div class="v-list-item-content">
              <div class="v-list-item-title" v-text="subItem.title"></div>
            </div>
          </div>
        </v-list-group>
      </v-list>
    </div>

    <div class="toolbar-right">
      <div class="today">
        {{ today }} <strong>{{ time }}</strong>
      </div>

      <v-switch v-model="switch1"></v-switch>

      <v-btn class="btn-reset" icon @click="getDevices">
        <v-icon>autorenew</v-icon>
      </v-btn>

      <v-btn class="btn-close" @click="onClose()" icon>
        <v-icon>close</v-icon>
      </v-btn>
    </div>
  </v-toolbar>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";

import { keyToValue, iscDisplayStateLog } from "@/constants/key-map";
import date from "@/utils/date-util";
import _ from "lodash";
import moment from "moment";

export default {
  name: "Top",
  components: {},
  props: {
    fromRoute: { type: Object, default: null },
    hideControl: { type: Boolean, default: true },
  },
  data() {
    return {
      placeId: 0,
      loading: false,
      searchResult: [],
      searchInput: "",
      today: moment().format("YYYY년 MM월 DD일 | a"),
      time: moment().format("h:mm"),
      logLists: [
        {
          title: "",
          items: [],
        },
      ],
      notiCnt: 0,
      switch1: true,
      filter: null,
      active: false,
    };
  },
  created() {
    this.getDevices();

    this.switch1 = this.hideControl;
  },
  mounted() {
    console.log(this.$options.name, "mounted");

    // 선택 업소 있다면 설정.
    if (this.watchPlaceSearch) {
      this.searchInput = this.watchPlaceSearch;
    }

    this.interval = setInterval(() => {
      this.today = moment().format("YYYY년 MM월 DD일 | a");
      this.time = moment().format("h:mm");
    }, 1000);

    const { type, level, id, place_id } = this.auth();

    let filter = this.isAdmin() ? `1=1` : `b.place_id=${place_id}`;

    // 로그 조회.
    this.initIscStateLog({ filter, limit: 100 });
  },
  computed: {
    watchDevices() {
      return this.devices();
    },
    watchIscStateLogs() {
      return this.iscStateLogList();
    },
    watchSearchInput() {
      return _.cloneDeep(this.searchInput);
    },
    watchPlaceSelected() {
      return this.placeSelected();
    },
    watchPlaceSearch() {
      return this.placeSearch();
    },
  },
  watch: {
    watchDevices(newValue, oldValue) {
      console.log(this.$options.name, "- watch watchDevices", newValue);

      // 관제 화면에서 페이지 갱신 시 places + userPlaces 조회 딜레이를 줘야한다.
      setTimeout(() => {
        this.searchResult = this.filterPlaceByIsg();
        this.searchInput = this.watchPlaceSearch;
      }, 500);
    },
    watchSearchInput: {
      immediate: true,
      handler(newValue, oldValue) {
        if (newValue) {
          console.log(this.$options.name, "- watch searchInput", newValue);

          this.searchResult = _.filter(this.filterPlaceByIsg(), (place) => {
            const { place_id, place_name = "", sido, gugun } = place;
            return place_name.replace(/\s/gi, "").indexOf(newValue.replace(/\s/gi, "")) > -1;
          });

          this.setPlaceSelected({ text: newValue });
        } else {
          this.searchResult = this.filterPlaceByIsg();
        }
      },
    },
    switch1(newValue) {
      // sync 로 연결된 상위 컴포넌트 데이터 변경 시 명시적으로 emit.
      this.$emit("update:hideControl", newValue);
    },
    watchIscStateLogs(newValue, oldValue) {
      console.log(this.$options.name, "watchIscStateLogs", newValue.length);

      if (newValue && newValue.length) {
        // 아이크루 관리자가 아니라면 업소 사용자별 로그 필터링
        let userLogs = this.isAdmin() ? newValue : _.filter(newValue, (log) => _.find(this.userPlaces(), { place_id: log.place_id })) || [];

        console.log(this.$options.name, "userLogs", userLogs.length);

        if (userLogs.length) {
          let items = [];

          _.each(userLogs, (v, k) => {
            let { serialno, data, reg_date } = v;

            // 로그 정보 파싱.
            let title = "[" + serialno + "] " + iscDisplayStateLog(data, reg_date);

            if (k === 0) this.logLists[0].title = title;
            else items.push({ title });
          });

          if (items.length) {
            // 목록 앞에 삽입.
            this.logLists[0].items = _.concat(items, this.logLists[0].items);

            // 최대 100 개만.
            if (this.logLists[0].items.length > 100) this.logLists[0].items.splice(100);
            if (this.notiCnt < 100) this.notiCnt++;

            // console.log(this.$options.name, "logLists items", this.logLists[0].items.length);
          }
        }
      }
    },
  },
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapGetters("place", {
      places: "list",
      placeSelected: "selected",
      placeSearch: "placeSearchText",
    }),
    ...mapGetters("userPlace", { userPlaces: "list" }),
    ...mapGetters("device", { devices: "list" }),
    ...mapGetters("iscStateLog", { iscStateLogList: "list" }),
    ...mapGetters("iscKeyBox", { iscKeyBoxList: "list" }),

    ...mapActions("device", { initUserDevices: "getList" }),
    ...mapActions("iscStateLog", { initIscStateLog: "getListLimit" }),

    ...mapMutations("place", { setPlaceSearch: "placeSearchText", setPlaceSelected: "selected" }),

    filterPlaceByIsg() {
      // 무인 판매기 사용 중인 업소만 필터링
      let list = this.isAdmin() ? this.places() : this.userPlaces();
      return _.filter(list, (v) => _.find(this.devices(), { place_id: v.place_id }));
    },

    getDevices() {
      // 사용자 관리 장비 조회.
      const { type, level, id, place_id } = this.auth();

      let filter = "a.type='02'";

      if (!this.isAdmin()) {
        let placeIds = _.map(this.userPlaces(), (v) => v.place_id).join(",");

        console.log(this.$options.name, "placeIds", placeIds);

        // 슈퍼 관리자는 모든 업소 조회.
        filter += ` AND a.place_id IN (${placeIds})`;

        // 업소가 없으면 조회 안함.
        if (!placeIds) return;
      }

      // 사용자 관리 장비 조회.
      this.initUserDevices({ filter });
    },

    changeSearch(item) {
      console.log(this.$options.name, "changeSearch", item);
      if (item) this.setPlaceSelected({ id: item.place_id, text: item.place_name });
    },

    clearSearch() {
      this.setPlaceSelected({ id: 0, text: "" });
    },

    onClickOutside() {
      this.active = false;
    },

    onClose() {
      console.log("- onClose", this.fromRoute.path);

      let { path } = this.fromRoute;

      // 이전 메뉴로 이동
      if (path && path !== "/center") this.$router.push({ path });
      else this.$router.go(-1);
    },
  },
  beforeDestroy() {},
  destroyed() {},
};
</script>
<style></style>
