<template>
  <card>
    <h5 slot="header" class="title">상세 정보</h5>
    <div class="row">
      <div class="col-md-2 pr-md-1">
        <base-input name="sender" label="예약 전화번호" type="text" v-model="mmsMo.PHONE" placeholder="예약 전화번호" data-vv-as="예약 전화번호 " readOnly />
      </div>
      <div class="col-md-3 pr-md-1 lb-title">
        <v-label>예약 문자</v-label>
        <v-textarea solo name="message" label="예약 문자" v-model="mmsMo.CONTENT" rows="15" data-vv-as="예약 문자 " readOnly="true" />
      </div>
      <!-- <div class="col-md-1 pr-md-1">
        <base-button type="success" class="parseBtn" @click="clickParse">파싱</base-button>
      </div> -->
    </div>
    <div class="row">
      <div class="col-md-4 pr-md-1">
        <v-select
          outline
          name="place_id"
          v-model="roomReserv.place_id"
          :items="otaSubscribePlace"
          label="업소명"
          item-value="place_id"
          item-text="place_name"
          full-width
          color="#e14eca"
          append-icon="keyboard_arrow_down"
          data-vv-as="업소명 "
          v-validate="'required'"
        />
        <p v-show="errors.has('place_id')" class="err-info">
          {{ errors.first("place_id") }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 pr-md-1">
        <v-select
          outline
          name="stay_type"
          v-model="roomReserv.stay_type"
          :items="keyCodes('room_reserv', 'stay_type')"
          label="숙박 형태"
          item-value="value"
          item-text="text"
          full-width
          color="#e14eca"
          append-icon="keyboard_arrow_down"
          data-vv-as="숙박 형태 "
          v-validate="'required'"
        />
        <p v-show="errors.has('stay_type')" class="err-info">
          {{ errors.first("stay_type") }}
        </p>
      </div>
      <div class="col-md-2 pr-md-1">
        <v-select
          outline
          name="state"
          v-model="roomReserv.state"
          :items="keyCodes('room_reserv', 'state')"
          label="예약 상태"
          item-value="value"
          item-text="text"
          full-width
          color="#e14eca"
          append-icon="keyboard_arrow_down"
          data-vv-as="예약 상태 "
        />
      </div>
      <div class="col-md-2 pr-md-1">
        <v-select
          outline
          name="ota_code"
          v-model="roomReserv.ota_code"
          :items="keyCodes('room_reserv', 'ota_code')"
          label="예약 방법"
          item-value="value"
          item-text="text"
          full-width
          color="#e14eca"
          append-icon="keyboard_arrow_down"
          data-vv-as="예약 방법 "
        />
      </div>
      <div class="col-md-2 pr-md-1">
        <base-input name="reserv_date" label="예약일" type="text" v-model="roomReserv.reserv_date" placeholder="예약일" disabled="true" data-vv-as="예약일 " />
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 pr-md-1">
        <v-select
          outline
          name="room_type_id"
          v-model="roomReserv.room_type_id"
          :items="roomTypes"
          label="객실 타입"
          item-value="id"
          item-text="name"
          full-width
          color="#e14eca"
          append-icon="keyboard_arrow_down"
          data-vv-as="객실 타입 "
        />
        <p v-show="errors.has('room_type_id')" class="err-info">
          {{ errors.first("room_type_id") }}
        </p>
      </div>
      <div class="col-md-1 pr-md-1">
        <base-input name="check_in_exp" class="date" label="입실 예정일" v-model="check_in_exp_date" placeholder="입실 예정일" @click="datepicker1 = !datepicker1" data-vv-as="입실 예정일 " />
        <v-date-picker
          locale="ko-kr"
          v-model="check_in_exp_date"
          v-show="datepicker1"
          :min="
            moment()
              .add(-1, 'week')
              .format('YYYY-MM-DD')
          "
          color="green lighten-1"
          scrollable
          @change="datepicker1 = datepicker2 = false"
          v-click-outside="onClickOutside"
        />
      </div>
      <div class="col-md-2 pr-md-1">
        <v-select
          name="check_in_exp_time"
          class="time"
          outline
          v-model="check_in_exp_time"
          :items="times"
          label="입실 시간"
          placeholder="입실시간"
          full-width
          color="#e14eca"
          data-vv-as="입실시간 "
          @change="datepicker1 = datepicker2 = false"
        />
      </div>
      <div class="col-md-1 pr-md-1">
        <base-input name="check_out_exp" class="date" label="퇴실 예정일" v-model="check_out_exp_date" placeholder="퇴실 예정일" @click="datepicker2 = !datepicker2" data-vv-as="퇴실 예정일 " />
        <v-date-picker
          locale="ko-kr"
          v-model="check_out_exp_date"
          v-show="datepicker2"
          :min="moment(roomReserv.check_in_exp).format('YYYY-MM-DD HH:mm')"
          color="green lighten-1"
          scrollable
          @change="datepicker1 = datepicker2 = false"
          v-click-outside="onClickOutside"
        />
      </div>
      <div class="col-md-1  pr-md-1">
        <v-select
          name="check_out_exp_time"
          class="time"
          outline
          v-model="check_out_exp_time"
          :items="times"
          label="퇴실 시간"
          placeholder="퇴실시간"
          full-width
          color="#e14eca"
          data-vv-as="퇴실시간 "
          @change="datepicker1 = datepicker2 = false"
        />
        <!-- <v-time-picker
          v-model="check_in_exp_time"
          v-show="datepicker1"
        ></v-time-picker> -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 pr-md-1">
        <base-input
          name="hp"
          label="휴대폰 번호"
          placeholder="고객 휴대폰 번호"
          v-model="roomReserv.hp"
          data-vv-as="휴대폰 번호 "
          v-validate="{
            required: true,
            regex: /^\d{3}-?\d{3,5}-?\d{4}$/,
          }"
          maxlength="15"
        />
        <p v-show="errors.has('hp')" class="err-info">
          {{ errors.first("hp") }}
        </p>
      </div>
      <div class="col-md-3 pr-md-1">
        <base-input name="reserv_num" label="예약번호" placeholder="OTA 예약번호" v-model="roomReserv.reserv_num" data-vv-as="예약번호 " v-validate="'required|min:3'" />
        <p v-show="errors.has('reserv_num')" class="err-info">
          {{ errors.first("reserv_num") }}
        </p>
      </div>
      <div class="col-md-2 pr-md-1">
        <base-input name="name" label="고객명" placeholder="고객명" v-model="roomReserv.name" data-vv-as="고객명 " />
      </div>
      <div class="col-md-2 pr-md-1">
        <v-select
          outline
          name="visit_type"
          v-model="roomReserv.visit_type"
          :items="keyCodes('room_reserv', 'visit_type')"
          label="방문 형태"
          item-value="value"
          item-text="text"
          full-width
          color="#e14eca"
          append-icon="keyboard_arrow_down"
          data-vv-as="방문 형태 "
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 pr-md-1">
        <base-input name="room_fee" label="판매가" type="text" placeholder="판매가격" v-model="roomReserv.room_fee" data-vv-as="판매가 " money readOnly />
      </div>
      <div class="col-md-2 pr-md-1">
        <base-input name="reserv_fee" label="예약가" type="text" placeholder="예약가격" v-model="roomReserv.reserv_fee" data-vv-as="예약가 " money readOnly />
      </div>
      <div class="col-md-2 pr-md-1">
        <base-input
          name="prepay_ota_amt"
          label="OTA 결제금액"
          type="text"
          placeholder="OTA 결제금액"
          v-model="roomReserv.prepay_ota_amt"
          data-vv-as="OTA 결제 "
          money
          :min="0"
          v-validate="'required'"
        />
        <p v-show="errors.has('prepay_ota_amt')" class="err-info">
          {{ errors.first("prepay_ota_amt") }}
        </p>
      </div>
      <div class="col-md-2 pr-md-1">
        <base-input name="reserv_num" label="결제 잔금" placeholder="미수금" :value="receptFee" data-vv-as="결제 잔금 " money readOnly />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 pr-md-1 lb-title">
        <v-label>고객 메모</v-label>
        <v-textarea name="memo" solo label="고객 메모" v-model="roomReserv.memo" rows="2" data-vv-as="고객 메모 " />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <base-input name="reg_date" label="등록일자" :value="moment(mmsMo.reg_date).format('YYYY-MM-DD HH:mm')" disabled placeholder="등록일자" />
      </div>
      <div class="col-md-2" v-if="mmsMo.mod_date">
        <base-input name="mod_date" label="수정일자" :value="moment(mmsMo.mod_date).format('YYYY-MM-DD HH:mm')" disabled placeholder="수정일자" />
      </div>
    </div>

    <base-button slot="footer" type="secondary" fill @click="clickCancle">취소</base-button>

    <base-button slot="footer" type="primary" fill :disabled="errors.any()" @click="clickSave">{{ id > 0 ? "저장" : "등록" }}</base-button>
  </card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { ComAlert, ComConfirm } from "@/utils/alert-util";
import ota from "@/utils/ota-util";
import format from "@/utils/format-util";
import { keyCodes } from "@/constants/key-map";

import moment from "moment";
import _ from "lodash";

export default {
  name: "MmsMoItem",
  components: {},
  data: () => ({
    modal: false,
    picker: new Date().toISOString().substr(0, 10),
    datepicker1: false,
    datepicker2: false,
    timePicker1: false,
    timePicker2: false,
    check_in_exp_date: moment().format("YYYY-MM-DD"),
    check_in_exp_time: moment().format("HH:mm"),
    check_out_exp_date: moment().format("YYYY-MM-DD"),
    check_out_exp_time: moment().format("HH:mm"),
    times: [],
    otaSubscribePlace: [],
    mmsMo: {},
    roomReserv: {
      id: null,
      place_id: null,
      room_type_id: null,
      room_id: null,
      ota_code: 1,
      stay_type: 1, // 숙박
      state: "A",
      check_in_exp: moment().format("YYYY-MM-DD HH:00"),
      check_out_exp: null,
      reserv_date: moment().format("YYYY-MM-DD HH:mm"),
      hp: "010-",
      room_fee: 0, // 기본 요금
      reserv_fee: 0, // 예약 할인 요금
      prepay_ota_amt: 0,
      prepay_cash_amt: 0,
      prepay_card_amt: 0,
      visit_type: 1,
      memo: "",
    },
    roomTypes: [
      {
        id: null,
        name: "객실 타입을 선택해주세요",
      },
    ],
  }),
  props: {
    id: {
      type: Number,
      default: 0,
    },
    item: {
      type: Object,
      default: () => {
        return {};
      },
    },
    otaSubscribe: {
      type: Array,
      default: () => {
        return [];
      },
    },
  },
  created() {
    console.log(this.$options.name, "created");

    // 시간 설정
    for (let i = 0; i < 24; i++) {
      this.times.push(String(i).padStart(2, "0") + ":00");
      this.times.push(String(i).padStart(2, "0") + ":30");
    }
  },
  mounted() {
    console.log(this.$options.name, "mounted");
  },
  computed: {
    watchMmsMo() {
      return this.mmsMo;
    },
    watchRoomReserv() {
      return this.roomReserv;
    },
    changePlaceId() {
      return this.roomReserv.place_id;
    },
    changeStayType() {
      return this.roomReserv.stay_type;
    },
    changeFee() {
      return this.roomReserv.stay_type + this.roomReserv.room_type_id;
    },
    changeCheckOutExp() {
      return this.roomReserv.check_out_exp;
    },
    changeDate() {
      return this.check_in_exp_date + this.check_in_exp_time + this.check_out_exp_date + this.check_out_exp_time;
    },
    receptFee() {
      return this.roomReserv.reserv_fee - this.roomReserv.prepay_ota_amt;
    },
  },
  watch: {
    item: {
      immediate: true,
      handler(newValue, oldValue) {
        console.log("- watch item", newValue);

        this.otaSubscribePlace = [];

        this.otaSubscribePlace.push({
          place_id: null,
          place_name: "업소를 선택해주세요",
        });

        this.otaSubscribePlace = this.otaSubscribePlace.concat(this.otaSubscribe);

        this.mmsMo = _.cloneDeep(this.item);
      },
    },
    watchMmsMo: {
      immediate: true,
      handler(newValue, oldValue = {}) {
        console.log("- watch mmsMo", newValue);

        let { MO_KEY, CONTENT, STAY_TYPE, PHONE } = newValue;

        this.mmsMo.PHONE = format.toPhone(PHONE);

        // this.mmsMo.message = `야놀자 당일예약\n<대실>\n아이크루 부평\n1231231231232\n\n스위트룸\n80,000원\n\n홍길동 / 0503-5555-1111\n2020-04-25(토) 18:00~\n2020-04-26(일) 11:00 (1박)\n도보방문방문`;

        // TODO 테스트용 저장.
        // this.$store
        //   .dispatch(`mmsMo/setItem`, this.mmsMo)
        //   .then(res => {});

        this.roomReserv.hp = PHONE;

        this.getItemByMmsNoNum(MO_KEY).then(({ success, room_reserv }) => {
          this.roomReserv = _.cloneDeep(room_reserv);
        });
      },
    },
    watchRoomReserv: {
      deep: true,
      immediate: true,
      handler(newValue, oldValue) {
        console.log("- watch roomReserv", newValue);

        let { place_id, check_in_exp, check_out_exp, reserv_date } = newValue;

        this.roomReserv.place_id = place_id;
        this.roomReserv.hp = format.toPhone(this.roomReserv.hp);

        this.roomReserv.reserv_date = moment(reserv_date).format("YYYY-MM-DD HH:mm");

        if (this.roomReserv.prepay_ota_amt > this.roomReserv.reserv_fee) this.roomReserv.prepay_ota_amt = this.roomReserv.reserv_fee;

        this.roomReserv.check_in_exp = moment(check_in_exp).format("YYYY-MM-DD HH:mm");
        this.roomReserv.check_out_exp = moment(check_out_exp).format("YYYY-MM-DD HH:mm");
      },
    },
    changePlaceId: {
      deep: true,
      immediate: true,
      handler(newValue, oldValue) {
        let {
          roomReserv: { place_id, room_type_id },
        } = this;

        console.log("- watch changePlaceId", { place_id, room_type_id });

        // 환경 설정 조회.
        this.getPreferences(place_id);

        this.roomTypes = this.roomTypes.slice(0, 1);

        // 객실 타입 조회.
        this.$store.dispatch(`roomType/getList`, { place_id }).then((res) => {
          if (res) {
            this.roomTypes = this.roomTypes.concat(res);
          }
        });
      },
    },
    changeFee: {
      deep: true,
      immediate: true,
      handler(newValue, oldValue) {
        setTimeout(() => {
          let {
            roomReserv: { stay_type, room_type_id },
            roomTypes,
          } = this;

          console.log("- watch changeFee", { stay_type, room_type_id });

          if (roomTypes.length > 1) {
            let { default_fee_stay = 0, default_fee_rent = 0, reserv_discount_fee_stay = 0, reserv_discount_fee_rent = 0 } = _.find(roomTypes, { id: room_type_id }) || {};

            // 객실 기본 요금
            this.roomReserv.room_fee = stay_type === 2 ? default_fee_rent : default_fee_stay;

            // 객실 예약 요금
            this.roomReserv.reserv_fee = stay_type === 2 ? default_fee_rent - reserv_discount_fee_rent : default_fee_stay - reserv_discount_fee_stay; // 예약 할인 요금

            this.roomReserv.prepay_ota_amt = this.roomReserv.reserv_fee;
          }
        }, 100);
      },
    },
    changeStayType() {
      let {
        roomReserv: { check_in_exp, check_out_exp, stay_type },
      } = this;

      // console.log("- calcCheckOutExp ", { stay_type });

      const { stay_time_type, stay_time_weekend, stay_time, rent_time_am_weekend, rent_time_pm_weekend, rent_time_am, rent_time_pm } = this.preferencesItem();

      const day = moment(check_in_exp).isoWeekday();
      let hour = moment(check_in_exp).hour();

      // 기본 숙박 시간
      let stayTime = day > 5 ? stay_time_weekend : stay_time;

      // 기본 대실 시간
      let rentTime =
        Number(hour) < 12 // 오전
          ? day > 5 // 주말
            ? rent_time_am_weekend
            : rent_time_am
          : day > 5
          ? rent_time_pm_weekend
          : rent_time_pm;

      rentTime = rentTime < 1 ? 1 : rentTime;

      if (stay_type === 1) {
        // 숙박 시간 타입 (0: 이용 시간 기준, 1:퇴실 시간 기준)
        if (stay_time_type === 1) {
          check_out_exp = moment(check_in_exp).hour(stayTime);

          // 퇴실 시간이 입실 시간 이전이라면 1일 추가.
          if (moment(check_in_exp).isSameOrAfter(moment(check_out_exp))) {
            check_out_exp = moment(check_out_exp).add(1, "day");
          }
          // 퇴실 까지 이용 시간이 8 시간 이내라면 1일 추가
          else if (
            moment(check_in_exp).date() === moment(check_out_exp).date() &&
            moment(check_in_exp)
              .add(8, "hour")
              .hour() > moment(check_out_exp).hour()
          ) {
            check_out_exp = moment(check_out_exp).add(1, "day");
          }
        } else {
          check_out_exp = moment(check_in_exp).add(stayTime, "hour");
        }
      } else {
        check_out_exp = moment(check_in_exp).add(rentTime, "hour");
      }

      this.roomReserv.check_in_exp = moment(check_in_exp).format("YYYY-MM-DD HH:mm");
      this.roomReserv.check_out_exp = moment(check_out_exp).format("YYYY-MM-DD HH:mm");
    },
    changeCheckOutExp() {
      let {
        roomReserv: { check_in_exp, check_out_exp, stay_type },
      } = this;

      this.check_in_exp_date = moment(check_in_exp).format("YYYY-MM-DD");
      this.check_in_exp_time = moment(check_in_exp).format("HH:mm");
      this.check_out_exp_date = moment(check_out_exp).format("YYYY-MM-DD");
      this.check_out_exp_time = moment(check_out_exp).format("HH:mm");
    },
    changeDate() {
      let {
        check_in_exp_date,
        check_in_exp_time,
        check_out_exp_date,
        check_out_exp_time,
        roomReserv: { stay_type },
      } = this;

      this.roomReserv.check_in_exp = moment(check_in_exp_date + " " + check_in_exp_time, "YYYY-MM-DD HH:mm");

      this.roomReserv.check_out_exp = moment(check_out_exp_date + " " + check_out_exp_time, "YYYY-MM-DD HH:mm");
    },
  },
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapGetters("preferences", { preferencesItem: "item" }),
    ...mapGetters("roomReserv", { roomReservItem: "item" }),

    ...mapActions("mmsMo", {
      setMmsNoItem: "setItem",
    }),
    ...mapActions("roomReserv", ["getItemByMmsNoNum", "newItem", "setItem"]),
    ...mapActions("preferences", { getPreferences: "getItem" }),

    onClickOutside(event) {
      console.log(this.$options.name, "- onClickOutside", event.target.tagName);

      if (event.target.tagName === "DIV") {
        this.datepicker1 = false;
        this.datepicker2 = false;
      }
    },

    selectCompany(company_id) {
      this.places = [];

      let filter = `company_id=${company_id}`;

      // 업소 목록 조회.
      this.$store.dispatch(`place/getList`, { page: 0, filter }).then((res) => {
        this.places = res;
      });
    },

    clickParse() {
      console.log("- parse message", this.mmsMo.message);

      ota.parse(this.$store, this.otaSubscribePlace, this.mmsMo).then((reserv) => {
        console.log("- parse reserv", reserv);
        this.roomReserv = _.merge({}, this.roomReserv, reserv);
      });
    },
    clickCancle() {
      // sync 로 연결된 상위 컴포넌트 데이터 변경 시 명시적으로 emit.
      this.$emit("update:id", -1);
    },
    clickSave() {
      this.$validator.validateAll().then((result) => {
        console.error("- validate", result);

        if (result) {
          if (!this.roomReserv.id) {
            delete this.roomReserv.id;

            // 신규 등록
            console.log("- newItem", this.roomReserv);
            ComConfirm({ type: "등록" }, (resMsg) => {
              this.newItem({ ...this.roomReserv }).then(({ success, room_reserv }) => {
                resMsg(success);
                if (success) {
                  // 객실 예약 아이디 저장(파싱 성공)
                  this.mmsMo.ETC1 = "S";
                  this.setMmsNoItem(this.mmsMo);

                  this.clickCancle();
                }
              });
            });
          } else {
            // 수정 저장
            console.log("- setItem", this.roomReserv);
            // 권한 (0: 슈퍼관리자(ICT), 1: 업주(책임자), 2: 매니저(관리자), 3: 카운터(사용자), 4:메이드, 5: PMS, 9:뷰어)
            if (!this.isAdmin()) {
              ComAlert(
                {
                  type: "알림",
                  title: "수정 권한이 없습니다.",
                  text: "관리자에게 문의 하세요.",
                },
                () => {}
              );
            } else {
              ComConfirm({ type: "저장" }, (resMsg) => {
                this.setItem({ ...this.roomReserv }).then(({ success, room_reserv }) => {
                  resMsg(success);
                  if (success) {
                    // 객실 예약 아이디 저장(파싱 성공)
                    this.mmsMo.ETC1 = "S";
                    this.setMmsNoItem(this.mmsMo);

                    this.clickCancle();
                  }
                });
              });
            }
          }
        }
      });
    },
  },
};
</script>
<style scoped lang="scss">
.lb-title {
  label {
    margin-bottom: 10px;
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6) !important;
  }
}
.date {
  width: 100px;

  > input {
    padding: 5px !important;
  }
}
.time {
  width: 100px;
}
.parseBtn {
  margin-top: 40px;
}
label {
  font-weight: 600;
}
.btn {
  margin-right: 20px;
}
.col-md-1 {
  min-width: 110px;
}
</style>
