<template>
  <card>
    <h5 slot="header" class="title">상세 정보</h5>
    <div class="row">
      <div class="col-md-3 pr-md-1">
        <base-input name="name" label="회사명" placeholder="회사명" v-model="item.name" v-validate="'required|min:1'" data-vv-as="회사명 " :disabled="!isAdmin()"> </base-input>
        <p v-show="errors.has('name')" class="err-info">
          {{ errors.first("name") }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <base-input name="post" label="우편번호" v-model="item.post" placeholder="우편번호" v-validate="'required|min:5|max:6'" maxlength="6" data-vv-as="우편번호 "> </base-input>
        <p v-show="errors.has('post')" class="err-info text-nowrap">
          {{ errors.first("post") }}
        </p>
      </div>
      <div class="col-md-4">
        <base-input name="addr" label="주소" v-model="item.addr" placeholder="주소" v-validate="'required|min:5'" data-vv-as="주소 "> </base-input>
        <p v-show="errors.has('addr')" class="err-info">
          {{ errors.first("addr") }}
        </p>
      </div>
      <div class="col-md-4">
        <base-input name="addr_detl" label="상세 주소" v-model="item.addr_detl" placeholder="상세 주소" v-validate="'required|min:5'" data-vv-as="상세 주소 "> </base-input>
        <p v-show="errors.has('addr_detl')" class="err-info">
          {{ errors.first("addr_detl") }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <base-input name="tel" label="전화번호" v-model="item.tel" placeholder="전화번호" v-validate="{ required: true, regex: /^\d{2,3}-?\d{3,4}-?\d{4}$/ }" maxlength="13" data-vv-as="전화번호 ">
        </base-input>
        <p v-show="errors.has('tel')" class="err-info">
          {{ errors.first("tel") }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <base-input label="등록일자" :value="moment(item.reg_date).format('YYYY-MM-DD HH:mm')" disabled placeholder="등록일자"> </base-input>
      </div>
      <div class="col-md-2" v-if="item.mod_date">
        <base-input label="수정일자" :value="moment(item.mod_date).format('YYYY-MM-DD HH:mm')" disabled placeholder="수정일자"> </base-input>
      </div>
    </div>

    <base-button slot="footer" type="secondary" fill @click="clickCancle">취소</base-button>

    <base-button slot="footer" type="primary" fill :disabled="errors.any()" @click="clickSave">{{ id > 0 ? "저장" : "등록" }}</base-button>
  </card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { ComAlert, ComConfirm } from "@/utils/alert-util";

export default {
  props: {
    id: {
      type: Number,
      default: 0,
    },
    item: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapActions("company", ["newItem", "setItem"]),

    clickCancle() {
      // sync 로 연결된 상위 컴포넌트 데이터 변경 시 명시적으로 emit.
      this.$emit("update:id", -1);
    },
    clickSave() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          if (this.id === 0) {
            // 신규 등록
            console.log("- newItem", this.item);
            ComConfirm({ type: "등록" }, (resMsg) => {
              this.newItem({ ...this.item }).then((res) => {
                resMsg(res);
                if (res) this.clickCancle();
              });
            });
          } else {
            // 수정 저장
            console.log("- setItem", this.item);

            // 권한 (0: 슈퍼관리자(ICT), 1: 업주(책임자), 2: 매니저(관리자), 3: 카운터(사용자), 4:메이드, 5: PMS, 9:뷰어)
            // if (!this.isAdmin()) {
            //   ComAlert(
            //     {
            //       type: "알림",
            //       title: "수정 권한이 없습니다.",
            //       text: "관리자에게 문의 하세요.",
            //     },
            //     () => {}
            //   );
            // } else {
            ComConfirm({ type: "저장" }, (resMsg) => {
              this.setItem({ ...this.item }).then((res) => {
                resMsg(res);
                if (res) this.clickCancle();
              });
            });
            // }
          }
        }
      });
    },
  },
};
</script>
<style scoped lang="scss">
  label {
    font-weight: 600;
  }
  .btn {
    margin-right: 20px;
  }
  .col-md-1 {
    min-width: 110px;
  }
</style>
