<template>
  <card>
    <h5 slot="header" class="title">상세 정보</h5>
    <div class="row">
      <div class="col-md-3 pr-md-1">
        <v-select
          v-if="!device.id"
          outline
          name="company_id"
          v-model="device.company_id"
          :items="companys"
          label="회사명 선택"
          item-value="id"
          item-text="name"
          v-validate="'required'"
          multi-line
          full-width
          color="#e14eca"
          append-icon="keyboard_arrow_down"
          @change="
            (value) => {
              device.company_id = value;
              selectCompany(value);
            }
          "
          data-vv-as="회사명 "
        />
        <base-input v-else name="company_name" label="회사명" placeholder="회사명" v-model="device.company_name" v-validate="'required|min:1'" :disabled="device.id" data-vv-as="회사명 "> </base-input>
        <p v-show="errors.has('company_id')" class="err-info">
          {{ errors.first("company_id") }}
        </p>
      </div>
      <div class="col-md-3 pr-md-1">
        <v-select
          v-if="!device.id"
          outline
          name="place_id"
          v-model="device.place_id"
          :items="places"
          label="업소명 선택"
          item-value="id"
          item-text="name"
          v-validate="'required'"
          multi-line
          full-width
          color="#e14eca"
          append-icon="keyboard_arrow_down"
          @change="(value) => (device.place_id = value)"
          data-vv-as="업소명 "
        />
        <base-input v-else name="place_name" label="업소명" placeholder="업소명" v-model="device.place_name" v-validate="'required|min:1'" disabled data-vv-as="업소명 "> </base-input>
        <p v-show="errors.has('place_id')" class="err-info">
          {{ errors.first("place_id") }}
        </p>
      </div>
      <div class="col-md-1 pr-md-1">
        <base-input name="serialno" label="일련번호" v-model="device.serialno" placeholder="일련번호" v-validate="'required|digits:8'" data-vv-as="일련번호 "> </base-input>
        <p v-show="errors.has('serialno')" class="err-info text-nowrap">
          {{ errors.first("serialno") }}
        </p>
      </div>
      <div class="col-md-2 pr-md-1">
        <v-select
          name="pms"
          label="PMS 선택"
          outline
          v-model="device.pms"
          :items="pmss"
          placeholder="선택해 주세요"
          item-value="value"
          item-text="text"
          multi-line
          full-width
          color="#e14eca"
          append-icon="keyboard_arrow_down"
          data-vv-as="PMS "
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 pr-md-1">
        <base-input name="maker" label="제조사" placeholder="제조사" v-model="device.maker" v-validate="'required|min:1'" data-vv-as="제조사 "> </base-input>
        <p v-show="errors.has('maker')" class="err-info">
          {{ errors.first("maker") }}
        </p>
      </div>
      <div class="col-md-3 pr-md-1">
        <base-input name="name" label="장비명" placeholder="장비명" v-model="device.name" v-validate="'required|min:1'" data-vv-as="장비명 "> </base-input>
        <p v-show="errors.has('name')" class="err-info">
          {{ errors.first("name") }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <v-select
          name="type"
          label="타입 선택"
          outline
          v-model="device.type"
          :items="types"
          placeholder="선택 해주세요"
          item-value="value"
          item-text="text"
          multi-line
          full-width
          color="#e14eca"
          append-icon="keyboard_arrow_down"
          data-vv-as="타입 "
        />
        <p v-show="errors.has('type')" class="err-info text-nowrap">
          {{ errors.first("type") }}
        </p>
      </div>
      <div class="col-md-2">
        <v-select
          name="model"
          label="모델 선택"
          outline
          v-model="device.model"
          :items="models"
          placeholder="선택 해주세요"
          item-value="value"
          item-text="text"
          multi-line
          full-width
          color="#e14eca"
          append-icon="keyboard_arrow_down"
          data-vv-as="모델 "
        />
        <p v-show="errors.has('model')" class="err-info text-nowrap">
          {{ errors.first("model") }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2" v-if="isAdmin()">
        <v-select
          name="curr_version_id"
          label="현재 버전 선택"
          outline
          v-model="device.curr_version_id"
          :items="versions"
          placeholder="선택 해주세요"
          item-value="id"
          item-text="version"
          multi-line
          full-width
          color="#e14eca"
          append-icon="keyboard_arrow_down"
          data-vv-as="현재 버전 "
          disabled
        />
        <p v-show="errors.has('curr_version_id')" class="err-info">
          {{ errors.first("curr_version_id") }}
        </p>
      </div>
      <div class="col-md-2" v-else>
        <base-input name="curr_version_id" label="현재 버전" placeholder="현재 버전" v-model="device.version" disabled data-vv-as="현재 버전 "> </base-input>
      </div>
      <div class="col-md-2">
        <v-select
          name="next_version_id"
          label="다음 버전 선택"
          outline
          v-model="device.next_version_id"
          :items="versions"
          placeholder="선택 해주세요"
          item-value="id"
          item-text="version"
          multi-line
          full-width
          color="#e14eca"
          append-icon="keyboard_arrow_down"
          data-vv-as="다음 버전 "
        />
        <p v-show="errors.has('next_version_id')" class="err-info">
          {{ errors.first("next_version_id") }}
        </p>
      </div>
      <div class="col-md-2">
        <base-input
          name="next_version_update_date"
          label="다음 버전 업데이트 일시"
          v-model="device.next_version_update_date"
          placeholder="업데이트 일시"
          data-vv-as="업데이트 일시 "
          @click="datepicker2 = !datepicker2"
        >
        </base-input>
        <v-date-picker
          locale="ko-kr"
          v-model="picker"
          v-show="datepicker2"
          :min="moment().format('YYYY-MM-DD')"
          color="green lighten-1"
          popover-align="center"
          scrollable
          @change="
            (date) => {
              device.next_version_update_date = moment(date).format('YYYY-MM-DD');
              datepicker2 = false;
            }
          "
          v-click-outside="onClickOutside"
        ></v-date-picker>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 pr-md-1">
        <base-input name="pwd" label="관리자 비밀번호" placeholder="관리자 비밀번호" v-model="device.pwd" v-validate="'required|min:4'" maxlength="20" data-vv-as="관리자 비밀번호 "> </base-input>
        <p v-show="errors.has('pwd')" class="err-info">
          {{ errors.first("pwd") }}
        </p>
      </div>
      <div class="col-md-2">
        <base-input name="유효기간" label="유효기간" v-model="device.expire_date" v-validate="'required'" placeholder="유효기간" data-vv-as="유효기간 " @click="datepicker1 = !datepicker1">
        </base-input>
        <v-date-picker
          locale="ko-kr"
          v-model="picker"
          v-show="datepicker1"
          :min="moment().format('YYYY-MM-DD')"
          color="green lighten-1"
          scrollable
          @change="
            (date) => {
              device.expire_date = moment(date).format('YYYY-MM-DD');
              datepicker1 = false;
            }
          "
          v-click-outside="onClickOutside"
        ></v-date-picker>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <base-input label="등록일자" :value="moment(device.reg_date).format('YYYY-MM-DD HH:mm')" disabled placeholder="등록일자"> </base-input>
      </div>
      <div class="col-md-2" v-if="device.mod_date">
        <base-input label="수정일자" :value="moment(device.mod_date).format('YYYY-MM-DD HH:mm')" disabled placeholder="수정일자"> </base-input>
      </div>
    </div>

    <base-button slot="footer" type="secondary" fill @click="clickCancle">취소</base-button>

    <base-button slot="footer" type="primary" fill :disabled="errors.any()" @click="clickSave">{{ id > 0 ? "저장" : "등록" }}</base-button>
  </card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { ComAlert, ComConfirm } from "@/utils/alert-util";
import { keyCodes } from "@/constants/key-map";

import moment from "moment";
import _ from "lodash";

export default {
  components: {},
  data: () => ({
    modal: false,
    picker: new Date().toISOString().substr(0, 10),
    datepicker1: false,
    datepicker2: false,
    device: {},
    places: [],
    types: [{ text: "타입 선택", value: "" }],
    models: [{ text: "모델 선택", value: "" }],
    versions: [{ text: "버전 선택", value: "" }],
    pmss: keyCodes("com", "pms"),
  }),
  props: {
    id: {
      type: Number,
      default: 0,
    },
    item: {
      type: Object,
      default: () => {
        return {};
      },
    },
    companys: {
      type: Array,
      default: () => {
        return [];
      },
    },
  },
  created() {
    _.map(keyCodes("device", "type"), (item) => {
      this.types.push(item);
    });
  },
  computed: {},
  watch: {
    item: {
      immediate: true,
      handler(newValue, oldValue) {
        this.device = _.cloneDeep(this.item);

        console.log("- watch item", this.device);
      },
    },
    device: {
      deep: true, // 객에의 속성 내부까지 변경 감시를 하기 위해.
      immediate: true,
      handler(newValue, oldValue) {
        console.log("- watch device", newValue);

        let { type, model, expire_date, next_version_update_date } = newValue;

        if (!expire_date) {
          this.device.expire_date = moment()
            .add(1, "year")
            .format("YYYY-MM-DD HH:00");
        } else {
          this.device.expire_date = moment(expire_date).format("YYYY-MM-DD HH:00");
        }

        if (next_version_update_date) {
          this.device.next_version_update_date = moment(next_version_update_date).format("YYYY-MM-DD HH:00");
        }

        if (type) {
          this.models = this.models.slice(0, 1); // 화면 갱신을 위해 기본값 제외 삭제.

          _.map(keyCodes("model", type), (item) => {
            this.models.push(item);
          });
        }

        if (model) {
          // 버전 목록 조회.
          let filter = `type='${type}' and model='${model}'`;
          this.$store.dispatch(`version/getList`, { page: 0, filter }).then((res) => {
            this.versions = res || [];
          });
        }
      },
    },
  },
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapActions("device", ["newItem", "setItem"]),

    onClickOutside(event) {
      console.log(this.$options.name, "- onClickOutside", event.target.tagName);

      if (event.target.tagName === "DIV") {
        this.datepicker1 = false;
        this.datepicker2 = false;
      }
    },

    selectCompany(company_id) {
      this.places = [];

      let filter = `company_id=${company_id}`;

      // 업소 목록 조회.
      this.$store.dispatch(`place/getList`, { page: 0, filter }).then((res) => {
        this.places = res;
      });
    },
    clickCancle() {
      // sync 로 연결된 상위 컴포넌트 데이터 변경 시 명시적으로 emit.
      this.$emit("update:id", -1);
    },
    clickSave() {
      this.$validator.validateAll().then((result) => {
        console.error("- validate", result);
        if (result) {
          this.device.expire_date = moment(this.device.expire_date).format("YYYY-MM-DD HH:mm");

          if (this.id === 0) {
            // 신규 등록
            console.log("- newItem", this.device);
            ComConfirm({ type: "등록" }, (resMsg) => {
              this.newItem({ ...this.device }).then((res) => {
                resMsg(res);
                if (res) this.clickCancle();
              });
            });
          } else {
            // 수정 저장
            console.log("- setItem", this.device);
            // 권한 (0: 슈퍼관리자(ICT), 1: 업주(책임자), 2: 매니저(관리자), 3: 카운터(사용자), 4:메이드, 5: PMS, 9:뷰어)
            if (!this.isAdmin()) {
              ComAlert(
                {
                  type: "알림",
                  title: "수정 권한이 없습니다.",
                  text: "관리자에게 문의 하세요.",
                },
                () => {}
              );
            } else {
              ComConfirm({ type: "저장" }, (resMsg) => {
                this.setItem({ ...this.device }).then((res) => {
                  resMsg(res);
                  if (res) this.clickCancle();
                });
              });
            }
          }
        }
      });
    },
    closeDatePicker() {
      console.log("- closeDatePicker");
      this.datepicker1 = this.datepicker2 = false;
    },
    closeDropDown() {
      this.isOpen = false;
      this.$emit("change", false);
    },
  },
};
</script>
<style scoped lang="scss">
label {
  font-weight: 600;
}
.btn {
  margin-right: 20px;
}
.col-md-1 {
  min-width: 110px;
}
</style>
