<template>
  <div
    class="form-group"
    :class="{
      'input-group': hasIcon,
      'input-group-focus': focused,
    }"
  >
    <slot name="label">
      <label v-if="label" class="control-label">
        {{ label }}
      </label>
    </slot>
    <slot name="addonLeft">
      <span v-if="addonLeftIcon" class="input-group-prepend">
        <div class="input-group-text">
          <i :class="addonLeftIcon"></i>
        </div>
      </span>
    </slot>
    <slot>
      <input :value="formatValue" v-bind="$attrs" v-on="listeners" class="form-control" :style="style" :readonly="readonly" aria-describedby="addon-right addon-left" />
    </slot>
    <slot name="addonRight">
      <span v-if="addonRightIcon" class="input-group-append">
        <div class="input-group-text">
          <i :class="addonRightIcon"></i>
        </div>
      </span>
    </slot>
    <slot name="helperText"></slot>
  </div>
</template>

<script>
import format from "@/utils/format-util";
import moment from "moment";

export default {
  inheritAttrs: false,
  name: "base-input",
  props: {
    label: {
      type: String,
      description: "Input label",
    },
    money: {
      type: Boolean,
      description: "Input money style",
    },
    date: {
      type: String,
      description: "Input date style",
    },
    min: {
      type: Number,
      description: "Input min",
    },
    max: {
      type: Number,
      description: "Input max",
    },
    readonly: {
      type: Boolean,
      description: "Input readonly style",
    },
    value: {
      type: [String, Number],
      description: "Input value",
    },
    addonRightIcon: {
      type: String,
      description: "Input icon on the right",
    },
    addonLeftIcon: {
      type: String,
      description: "Input icon on the left",
    },
  },
  model: {
    prop: "value",
    event: "input",
  },
  data() {
    return {
      focused: false,
      style: {},
    };
  },
  created() {
    if (this.money) this.style = { textAlign: "right" };
    if (this.readonly) this.style["border"] = "0px";
  },
  computed: {
    formatValue() {
      return this.money ? format.toMoney(this.value, this.min, this.max) : this.date ? moment(this.value).format(this.date || "YYYY-MM-DD HH:mm") : this.value;
    },
    hasIcon() {
      const { addonRight, addonLeft } = this.$slots;
      return addonRight !== undefined || addonLeft !== undefined || this.addonRightIcon !== undefined || this.addonLeftIcon !== undefined;
    },
    listeners() {
      return {
        ...this.$listeners,
        input: this.onInput,
        blur: this.onBlur,
        focus: this.onFocus,
      };
    },
  },
  methods: {
    onInput(evt) {
      let value = this.money ? format.toNumber(evt.target.value) : evt.target.value;

      this.$emit("input", value);
    },
    onFocus() {
      this.focused = true;
    },
    onBlur() {
      this.focused = false;
    },
  },
};
</script>
<style></style>
