<template>
  <card type="chart">
    <template slot="header">
      <div class="row">
        <div class="col-sm-4 title-wrap">
          <h2 class="card-title">업소통계</h2>
          <span class="chart-time">{{ today }}</span>
        </div>
      </div>
    </template>
    <!-- 단일업소 여부: selPlaceId / 리스트 및 내영보기 여부 : toggleView -->
    <v-layout row wrap>
      <!-- place-area01: 전체업소 통계, 업소정보 시작 -->
      <Total v-if="!selPlaceId" @send-toggleView="setToggleView"></Total>
      <PlaceInfo v-else :select="select" :selPlaceId="selPlaceId" @send-toggleView="setToggleView"></PlaceInfo>
      <!-- place-area01: 전체업소 통계, 업소정보 끝 -->

      <!-- place-area02: 이글매니저 사용 현황, 미 사용 업체 리스트 시작 -->
      <IegUseNow v-if="!selPlaceId && !toggleView[1]" @send-toggleView="setToggleView"></IegUseNow>
      <PlaceSubscribe v-else-if="selPlaceId" :ops="ops" :selPlaceId="selPlaceId"></PlaceSubscribe>
      <IegList v-else-if="toggleView[1]" :ops="ops" @send-toggleView="setToggleView"></IegList>
      <!-- place-area02: 이글매니저 사용 현황, 미 사용 업체 리스트 끝 -->

      <!-- place-area03: 자판기 사용 현황, 자판기 사용 내역 시작 -->
      <IsgUseNow v-if="!selPlaceId && !toggleView[2]" @send-toggleView="setToggleView"></IsgUseNow>
      <PlaceIsgNow v-else-if="selPlaceId" :selPlaceId="selPlaceId"></PlaceIsgNow>
      <IsgList v-else-if="toggleView[2]" :ops="ops" @send-toggleView="setToggleView"></IsgList>
      <!-- place-area03: 자판기 사용 현황, 자판기 사용 내역 끝 -->

      <!-- place-area04: 예약 통계 시작 -->
      <Reserv></Reserv>
      <!-- place-area04: 예약 통계 끝 -->
    </v-layout>
  </card>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import { codes, keyCodes } from "@/constants/key-map";

import moment from "moment";
import _ from "lodash";

import Total from "./Place/Total";
import PlaceInfo from "./Place/PlaceInfo";
import IegUseNow from "./Place/IegUseNow";
import PlaceSubscribe from "./Place/PlaceSubscribe";
import IegList from "./Place/IegList";
import IsgUseNow from "./Place/IsgUseNow";
import PlaceIsgNow from "./Place/PlaceIsgNow";
import IsgList from "./Place/IsgList";
import Reserv from "./Place/Reserv";

export default {
  name: "Place",
  components: {
    Total,
    PlaceInfo,
    IegUseNow,
    PlaceSubscribe,
    IegList,
    IsgUseNow,
    PlaceIsgNow,
    IsgList,
    Reserv,
  },
  props: {},
  data: () => ({
    today: moment().format("YYYY.MM.DD (ddd) HH:mm:ss"),
    select: null,

    ops: {
      vuescroll: {
        wheelScrollDuration: 500,
      },
      scrollPanel: {},
      rail: {
        background: "#252a32",
        opacity: 1,
      },
      bar: {
        keepShow: true,
        background: "#0b78e4",
        opacity: 1,
        minSize: 0,
      },
    },
    toggleView: [false, false, false, false],
  }),
  computed: {
    selPlaceId() {
      return this.placeSelected();
    },
  },
  watch: {},
  methods: {
    ...mapGetters("place", { places: "list", placeSelected: "selected", placeSearch: "placeSearchText" }),
    ...mapGetters("userPlace", { userPlaces: "list" }),

    setToggleView(idx) {
      console.log("- setToggleView", idx, this.toggleView);
      this.toggleView[idx] = !this.toggleView[idx];
    },
  },
  created() {
    console.log(this.$options.name);

    this.sidos = _.cloneDeep(codes.com.sidos);
  },
  mounted() {
    this.interval = setInterval(() => {
      this.today = moment().format("YYYY.MM.DD (ddd) HH:mm:ss");
    }, 1000);
  },
  beforeDestroy() {},
};
</script>

<style scoped>
.col-12 {
  min-width: inherit;
}
</style>
