<template>
  <card type="chart">
    <template slot="header">
      <div class="row">
        <div class="col-sm-4 title-wrap">
          <h2 class="card-title">객실이용 현황</h2>
        </div>
      </div>
    </template>

    <v-layout row wrap>
      <!-- room-area01: 객실 판매 현황 시작 -->
      <RoomNow></RoomNow>
      <!-- room-area01: 객실 판매 현황 현황 끝 -->

      <!-- room-area02: 유형별 객실 현황 시작 -->
      <CaseNow></CaseNow>
      <!-- room-area02: 유형별 객실 현황 끝 -->

      <!-- room-area02: 이벤트 현황 시작 -->
      <EventNow></EventNow>
      <!-- room-area02: 이벤트 현황 끝 -->
    </v-layout>
  </card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import moment from "moment";
import _ from "lodash";

import RoomNow from "./Room/RoomNow";
import CaseNow from "./Room/CaseNow";
import EventNow from "./Room/EventNow";

export default {
  name: "Room",
  components: {
    RoomNow,
    CaseNow,
    EventNow,
  },
  props: {},
  data() {
    return {};
  },

  created() {
    console.log(this.$options.name, "created");

    let filter = "1=1";

    if (!this.isAdmin()) {
      let placeIds = _.map(this.userPlaces(), (v) => v.place_id).join(",");

      filter = `b.place_id IN (${placeIds})`;

      // 업소가 없으면 조회 안함.
      if (!placeIds) return;
    }

    this.getRooms({ filter }); // 전체 객실 조회 한다.
  },
  mounted() {},
  computed: {},
  watch: {},
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapGetters("place", {
      count: "count",
      places: "list",
      placeSelected: "selected",
      placeSearch: "placeSearchText",
    }),
    ...mapGetters("userPlace", { userPlaces: "list" }),

    ...mapActions("room", { getRooms: "getList" }),
  },
  beforeDestroy() {},
};
</script>
<style></style>

<style scoped></style>
