<template>
  <card type="chart">
    <template slot="header">
      <div class="row">
        <div class="col-sm-4 title-wrap">
          <h2 class="card-title">매출 통계</h2>
        </div>
      </div>
    </template>

    <v-layout row wrap>
      <!-- sale-area01: 객실 판매 현황 시작 -->
      <Total></Total>
      <!-- sale-area01: 객실 판매 현황 현황 끝 -->

      <!-- sale-area02: 유형별 객실 현황 시작 -->
      <RoomSale></RoomSale>
      <!-- sale-area02: 유형별 객실 현황 끝 -->

      <!-- sale-area02: 이벤트 현황 시작 -->
      <IsgSale></IsgSale>
      <!-- sale-area02: 이벤트 현황 끝 -->
    </v-layout>
  </card>
</template>

<script>
import Total from "./Sale/Total";
import RoomSale from "./Sale/RoomSale";
import IsgSale from "./Sale/IsgSale";

export default {
  components: {
    Total,
    RoomSale,
    IsgSale,
  },
  data() {
    return {};
  },
  computed: {},
  watch: {},
  methods: {},
  mounted() {},
  beforeDestroy() {},
};
</script>
<style></style>

<style scoped></style>
