<template>
  <card type="chart">
    <template slot="header">
      <div class="row">
        <div class="col-sm-4 title-wrap">
          <h2 class="card-title">사용 현황</h2>
        </div>
      </div>
    </template>

    <v-layout row wrap>
      <!-- eagle-area01: 이글매니저 이용 현황 시작 -->
      <IegChart></IegChart>
      <!-- eagle-area01: 이글매니저 이용 현황 끝 -->

      <!-- eagle-area02: 자판기 이용 현황 시작 -->
      <IsgChart></IsgChart>
      <!-- eagle-area02: 자판기 이용 현황 끝 -->
    </v-layout>
  </card>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import { codes, keyCodes } from "@/constants/key-map";

import moment from "moment";
import _ from "lodash";

import IegChart from "./Status/IegChart";
import IsgChart from "./Status/IsgChart";

export default {
  name: "Status",
  components: {
    IegChart,
    IsgChart,
  },
  props: {},
  data: () => ({}),
  created() {
    console.log(this.$options.name);
  },
  mounted() {},
  computed: {},
  watch: {},
  methods: {
    ...mapGetters(["auth", "isAuth", "isAdmin", "isSupervisor", "isViewer", "loader", "lastError"]),
    ...mapGetters("place", { places: "list", placeSelected: "selected", placeSearch: "placeSearchText" }),
  },

  beforeDestroy() {},
};
</script>

<style scoped></style>
