<template>
  <div class="wrapper">
    <side-bar>
      <template slot="links">
        <!-- SiderbarPlugin SiderbarLink.vue Component -->
        <sidebar-link to="/dashboard" :name="$t('sidebar.dashboard')" icon="tim-icons icon-chart-bar-32" :params="params" />
        <sidebar-link to="/center" :name="$t('sidebar.center')" icon="tim-icons icon-sound-wave" :params="params" />
        <sidebar-link to="/company" :name="$t('sidebar.company')" icon="fas fa-sitemap" :params="params" />
        <sidebar-link to="/place" :name="$t('sidebar.place')" icon="tim-icons icon-notes" :params="params" />
        <sidebar-link :show="isAdmin()" to="/device" :name="$t('sidebar.device')" icon="tim-icons icon-settings" :params="params" />
        <sidebar-link :show="isAdmin()" to="/sales" :name="$t('sidebar.sales')" icon="tim-icons icon-chart-bar-32" :params="params" />
        <sidebar-link :show="isAdmin()" to="/notice" :name="$t('sidebar.notice')" icon="tim-icons icon-bell-55" :params="params" />
        <sidebar-link to="/as" :name="$t('sidebar.as')" icon="fas fa-phone-volume" :params="params" />
        <sidebar-link :show="isAdmin()" to="/mms-mo" :name="$t('sidebar.mmsMo')" icon="fas fa-calendar-alt" :params="params" />
        <sidebar-link to="/user" :name="$t('sidebar.user')" icon="tim-icons icon-badge" :params="params" />
        <sidebar-link :show="isAdmin()" to="/mail-receiver" :name="$t('sidebar.mailReceiver')" icon="tim-icons icon-badge" :params="params" />
        <sidebar-link :show="isAdmin()" to="/subscribe" :name="$t('sidebar.subscribe')" icon="far fa-check-square" :params="params" />
        <sidebar-link :show="isAdmin()" to="/version" :name="$t('sidebar.version')" icon="fab fa-app-store-ios" :params="params" />
        <sidebar-link to="/maps" :name="$t('sidebar.maps')" icon="tim-icons icon-map-big" :params="params" />
        <sidebar-link to="/profile" :name="$t('sidebar.userProfile')" icon="fas fa-user-circle" :params="params" />
        <div v-if="isLocalHost">
          <p>---------- Demo ------------</p>
          <sidebar-link to="/icons" :name="$t('sidebar.icons')" icon="tim-icons icon-atom" />
          <sidebar-link to="/notifications" :name="$t('sidebar.notifications')" icon="tim-icons icon-bell-55" />
          <sidebar-link to="/typography" :name="$t('sidebar.typography')" icon="tim-icons icon-align-center" />
        </div>
      </template>
    </side-bar>
    <div v-if="isAuth()" class="main-panel">
      <dashboard-top></dashboard-top>
      <dashboard-content> </dashboard-content>
      <dashboard-footer></dashboard-footer>
    </div>

    <!-- loader -->
    <base-loader :show="loader().show" :type="loader().type" :height="loader().height" :width="loader().width" :color="loader().color"> </base-loader>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import DashboardTop from "./DashboardTop.vue";
import DashboardFooter from "./DashboardFooter.vue";
import DashboardContent from "./DashboardContent.vue";
import MobileMenu from "./MobileMenu";

import _ from "lodash";

export default {
  name: "DashboardLayout",
  components: {
    DashboardTop,
    DashboardFooter,
    DashboardContent,
    // eslint-disable-next-line vue/no-unused-components
    MobileMenu,
  },
  data: () => ({
    params: {},
  }),
  created() {
    console.log(this.$options.name, "created");
  },
  mounted() {
    console.log(this.$options.name, "mounted");

    if (!this.auth()) {
      this.$router.push("login");
      return;
    }

    setTimeout(() => {
      const { id, company_id, place_id } = this.auth();

      if (!this.places().length) {
        // 회사 조회.
        let filter = this.isAdmin() ? "1=1" : `id=${company_id}`;
        this.initCompanys({ filter });

        // 업소 조회.
        filter = this.isAdmin() ? "1=1" : `company_id=${company_id}`;
        this.initPlaces({ filter });

        // 사용자 관리 업소 조회.
        filter = this.isAdmin() ? "1=1" : `user_id='${id}'`;
        this.initUserPlaces({ filter });
      }
    }, 100);
  },
  computed: {
    watchPlaces() {
      return this.places();
    },
  },
  watch: {
    watchPlaces(newValue, oldValue) {
      console.log(this.$options.name, "watchPlaces", newValue);

      // 단일 업소 시.
      if (newValue.length === 1) {
        let { place_id, place_name } = newValue[0];
        this.setPlaceSelected({ id: place_id, text: place_name });
      }
    },
  },
  methods: {
    ...mapGetters(["auth", "isAuth", "isAdmin", "isSupervisor", "isViewer", "loader", "lastError"]),
    ...mapGetters("place", { places: "list" }),

    ...mapActions(["showLoader", "hideLoader"]),
    ...mapActions("company", { initCompanys: "getList" }),
    ...mapActions("place", { initPlaces: "getList" }),
    ...mapActions("userPlace", { initUserPlaces: "getList" }),

    ...mapMutations("place", { setPlaces: "list", setPlaceSelected: "selected" }),

    toggleSidebar() {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.displaySidebar(false);
      }
    },
  },
  beforeDestroy() {},
};
</script>

<style lang="scss">
.sidebar-wrapper {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.sidebar {
  .nav {
    li > a {
      height: 70px !important;
      padding: 15px !important;
    }
    i {
      line-height: 15px !important;
      font-size: 25px !important;
    }
    p {
      font-size: 0.8rem !important;
      line-height: 25px !important;
    }
  }
}
</style>
