<template>
  <nav class="navbar navbar-expand-lg navbar-absolute" :class="{ 'bg-white': showMenu, 'navbar-transparent': !showMenu }">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <div class="navbar-toggle d-inline" :class="{ toggled: $sidebar.showSidebar }">
          <button type="button" class="navbar-toggler" aria-label="Navbar toggle button" @click="toggleSidebar">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
        <router-link to="/dashboard" class="navbar-brand">{{ companyName }}</router-link>
      </div>
      <button class="navbar-toggler" type="button" @click="toggleMenu" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
      </button>

      <collapse-transition>
        <div class="collapse navbar-collapse show" v-show="showMenu">
          <ul class="navbar-nav" :class="'ml-auto'">
            <li>
              <div class="col-sm-7 category-wrap">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <v-combobox
                    ref="search"
                    :items="searchResult"
                    item-value="place_id"
                    item-text="place_name"
                    :value="watchPlaceSearch"
                    :search-input.sync="searchInput"
                    @change="changeSearch"
                    @click:clear="clearSearch"
                    v-click-outside="onClickOutside"
                    placeholder="업소 검색"
                    class="user-places search"
                    counter
                    flat
                    dark
                    hide-no-data
                    clearable
                    hide-details
                    solo-inverted
                  >
                    <template slot="append">
                      <v-icon>search</v-icon>
                    </template>
                  </v-combobox>
                </div>
              </div>
            </li>

            <base-dropdown tag="li" title-tag="a" class="nav-item" menu-classes="dropdown-navbar">
              <a slot="title" href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="true">
                <span>{{ userName }}</span>
                <div class="photo">
                  <v-icon color="grey lighten-1">
                    far fa-user-circle
                  </v-icon>
                </div>
                <b class="caret d-none d-lg-block d-xl-block"></b>
                <p class="d-lg-none">
                  Log out
                </p>
              </a>
              <li class="nav-link">
                <router-link to="/profile" class="nav-item dropdown-item">Profile</router-link>
              </li>
              <!-- <li class="nav-link">
                <router-link
                  to="/setting"
                  class="nav-item dropdown-item"
                >Settings</router-link>
              </li> -->
              <div class="dropdown-divider"></div>
              <li class="nav-link">
                <a href="#" @click="doLogout" class="nav-item dropdown-item">Log out</a>
              </li>
            </base-dropdown>
          </ul>
        </div>
      </collapse-transition>
    </div>
  </nav>
</template>
<script>
import { mapActions, mapGetters, mapMutations } from "vuex";
import { CollapseTransition } from "vue2-transitions";

import Modal from "@/components/Modal";
import { codes, keyCodes, keyToValue } from "@/constants/key-map";
import Swal from "sweetalert2";

import _ from "lodash";

export default {
  name: "DashboardTop",
  components: {
    CollapseTransition,
  },
  props: {},
  data() {
    return {
      sidos: [],
      guguns: [],
      searchInput: "",
      searchResult: [],
      showMenu: false,
    };
  },
  created() {
    console.log(this.$options.name, "created");

    this.sidos = [];

    _.map(codes.com.sidos, (sido) => {
      this.sidos.push(sido.text);
    });

    // 로그인 여부 체크.
    if (!this.isAuth()) {
      this.goToLogin();
    }
  },
  mounted() {
    console.log(this.$options.name, "mounted", this.watchPlaceSearch);

    // 선택 업소 있다면 설정.
    if (this.watchPlaceSearch) {
      this.searchInput = this.watchPlaceSearch;
    }
  },
  computed: {
    watchPlaces() {
      return this.places() && this.userPlaces();
    },
    watchPlaceSelected() {
      return this.placeSelected();
    },
    watchPlaceSearch() {
      return this.placeSearch();
    },
    watchSearchInput() {
      return _.cloneDeep(this.searchInput);
    },
    companyName() {
      return this.isAdmin() || !this.companys().length ? "아이크루" : this.companys()[0].name;
    },
    userName() {
      const { name = "", type, rank } = this.auth();
      return "[" + keyToValue("user", "type", type) + "] " + rank + " " + name;
    },
  },
  watch: {
    watchPlaces(newValue, oldValue) {
      console.log(this.$options.name, "watchPlaces", newValue);

      // 초기 업소 목록 설정.
      // let places = this.isAdmin() ? this.places() : this.userPlaces();
      // this.searchResult = [{ name: "전체", place_id: "" }, ...places];

      this.searchResult = this.isAdmin() ? this.places() : this.userPlaces();
    },
    watchSearchInput(newValue, oldValue) {
      if (newValue) {
        console.log(this.$options.name, "- watch searchInput", newValue);

        this.searchResult = _.filter(this.userPlaces(), (place) => {
          const { place_id, place_name = "", sido, gugun } = place;
          return place_name.replace(/\s/gi, "").indexOf(newValue.replace(/\s/gi, "")) > -1;
        });

        // this.searchResult = [{ name: "전체", place_id: "" }, ...places];

        this.setPlaceSelected({ text: newValue });
      } else {
        // let places = this.isAdmin() ? this.places() : this.userPlaces();
        // this.searchResult = [{ name: "전체", place_id: "" }, ...places];

        this.searchResult = this.isAdmin() ? this.places() : this.userPlaces();

        // console.log(this.$options.name, "- searchResult", this.searchResult);
      }
    },
  },
  methods: {
    ...mapActions(["login", "logout"]),
    ...mapGetters(["auth", "isAuth", "isAdmin", "isSupervisor", "isViewer"]),
    ...mapGetters("company", { companys: "list" }),
    ...mapGetters("place", { places: "list", placeSelected: "selected", placeSearch: "placeSearchText" }),
    ...mapGetters("userPlace", { userPlaces: "list" }),

    ...mapMutations("place", { setPlaceSearch: "placeSearchText", setPlaceSelected: "selected" }),

    onClickOutside() {
      if (this.$refs.search) this.$refs.search.blur();
    },

    changeSearch(item) {
      if (item) this.setPlaceSelected({ id: item.place_id, text: item.place_name });
    },

    clearSearch() {
      this.setPlaceSelected({ id: 0, text: "" });
    },

    goToLogin() {
      const { name } = this.$route;

      if (name !== "login") {
        this.$router.push({
          name: "login",
        });
      }
    },

    doLogout() {
      Swal.fire({
        title: "로그아웃 하시겠습니까?",
        text: "",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "예",
        cancelButtonText: "아니오",
      }).then((result) => {
        if (result.value) {
          const res = this.logout();
          if (res) {
            this.goToLogin();

            // Swal.fire("Logout!", "정상적으로 로그아웃 되었습니다.", "success").then((result) => {});

            setTimeout(() => {
              Swal.close();
            }, 2000);
          } else Swal.fire("Error!", "로그아웃 중 오류가 발생 하였습니다.", "error");
        }
      });
    },

    selSido(value) {
      console.log("- selSido", value);

      this.searchResult = _.filter(this.userPlaces, (place) => {
        const { place_id, place_name = "", sido, gugun } = place;
        return sido === value && (this.searchInput ? place_name.indexOf(this.searchInput) > -1 : true);
      });
    },

    capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
    },

    toggleSidebar() {
      this.$sidebar.displaySidebar(!this.$sidebar.showSidebar);
    },

    hideSidebar() {
      this.$sidebar.displaySidebar(false);
    },

    toggleMenu() {
      this.showMenu = !this.showMenu;
    },
  },
};
</script>

<style scoped lang="scss"></style>
