<template>
  <card>
    <h5
      slot="header"
      class="title"
    >Edit Profile</h5>
    <div class="row">
      <div class="col-md-3 pr-md-1">
        <base-input
          name="id"
          label="아이디"
          placeholder="아이디"
          v-model="item.id"
          v-validate="'required|min:3|max:15'"
          maxlength="15"
          data-vv-as="아이디 "
          disabled
        >
        </base-input>
        <p
          v-show="errors.has('id')"
          class="err-info"
        >
          {{ errors.first('id') }}
        </p>
      </div>
      <div class="col-md-3 pr-md-1">
        <base-input
          name="pwd"
          type="password"
          label="비밀번호"
          placeholder="비밀번호"
          v-model="item.pwd"
          v-validate="item.pwd && 'min:6'"
          maxlength="20"
          data-vv-as="비밀번호 "
          @click="() => item.pwd = ''"
        >
        </base-input>
        <p
          v-show="errors.has('pwd')"
          class="err-info"
        >
          {{ errors.first('pwd') }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 pr-md-1">
        <base-input
          name="name"
          label="이름"
          v-model="item.name"
          placeholder="이름"
          v-validate="'required|min:2'"
          data-vv-as="이름 "
        >
        </base-input>
        <p
          v-show="errors.has('name')"
          class="err-info text-nowrap"
        >
          {{ errors.first('name') }}
        </p>
      </div>
      <div class="col-md-3 pr-md-1">
        <v-select
          name="level"
          label="권한 선택"
          outline
          v-model="item.level"
          :items="levels"
          placeholder="권한 선택"
          item-value="value"
          item-text="text"
          solo
          multi-line
          full-width
          color="#e14eca"
          append-icon="$vuetify.icons.angle-down"
          @change="(value)=>item.level = value"
          data-vv-as="권한 "
          disabled
        />
        <p
          v-show="errors.has('level')"
          class="err-info text-nowrap"
        >
          {{ errors.first('level') }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <base-input
          name="hp"
          label="전화번호"
          v-model="item.hp"
          placeholder="전화번호"
          v-validate="{ required: true, regex:/^\d{3}-?\d{3,4}-?\d{4}$/ }"
          maxlength="13"
          data-vv-as="전화번호 "
        >
        </base-input>
        <p
          v-show="errors.has('hp')"
          class="err-info"
        >
          {{ errors.first('hp') }}
        </p>
      </div>
      <div class="col-md-3">
        <base-input
          name="tel"
          label="내선번호"
          v-model="item.tel"
          placeholder="내선번호"
          v-validate="{ required: true, regex:/^\d{2,3}-?\d{3,4}-?\d{4}$/ }"
          maxlength="13"
          data-vv-as="내선번호 "
        >
        </base-input>
        <p
          v-show="errors.has('tel')"
          class="err-info"
        >
          {{ errors.first('tel') }}
        </p>
      </div>
      <div class="col-md-4">
        <base-input
          name="email"
          label="이메일"
          v-model="item.email"
          placeholder="이메일"
          v-validate="'required|email'"
          maxlength="50"
          data-vv-as="이메일 "
        >
        </base-input>
        <p
          v-show="errors.has('email')"
          class="err-info"
        >
          {{ errors.first('email') }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <base-input
          name="dept"
          label="부서"
          v-model="item.dept"
          placeholder="부서"
          v-validate="'required|min:2'"
          maxlength="20"
          data-vv-as="부서 "
        >
        </base-input>
        <p
          v-show="errors.has('dept')"
          class="err-info"
        >
          {{ errors.first('dept') }}
        </p>
      </div>
      <div class="col-md-2">
        <base-input
          name="rank"
          label="직위"
          v-model="item.rank"
          placeholder="직위"
          v-validate="'required|min:2'"
          maxlength="20"
          data-vv-as="직위 "
        >
        </base-input>
        <p
          v-show="errors.has('rank')"
          class="err-info"
        >
          {{ errors.first('rank') }}
        </p>
      </div>
      <div class="col-md-2">
        <v-select
          name="use_yn"
          outline
          v-model="item.use_yn"
          :items="useyn"
          placeholder="선택 해주세요"
          item-value="value"
          item-text="text"
          solo
          multi-line
          full-width
          color="#e14eca"
          append-icon="$vuetify.icons.angle-down"
          @change="(value)=>item.use_yn = value"
          data-vv-as="사용여부 "
          disabled
        />
        <p
          v-show="errors.has('use_yn')"
          class="err-info text-nowrap"
        >
          {{ errors.first('use_yn') }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <base-input
          label="등록일자"
          :value="moment(item.reg_date).format('YYYY-MM-DD HH:mm')"
          disabled
          placeholder="등록일자"
        >
        </base-input>
      </div>
      <div
        class="col-md-3"
        v-if="item.mod_date"
      >
        <base-input
          label="수정일자"
          :value="moment(item.mod_date).format('YYYY-MM-DD HH:mm')"
          disabled
          placeholder="수정일자"
        >
        </base-input>
      </div>
    </div>

    <base-button
      slot="footer"
      type="primary"
      fill
      :disabled="errors.any()"
      @click="clickSave"
    >{{ "저장" }}</base-button>
  </card>
</template>

<script>
import { mapActions } from "vuex";
import { ComConfirm } from "@/utils/alert-util";
import _ from "lodash";

export default {
  data: () => ({
    datepicker: false,
    item: {},
    levels: [
      { text: "권한 선택", value: "" },
      { text: "슈퍼관리자", value: 0 },
      { text: "오너", value: 1 },
      { text: "관리자", value: 2 },
      { text: "사용자", value: 3 }
    ],
    useyn: [
      { text: "사용여부 선택", value: "" },
      { text: "사용", value: "Y" },
      { text: "사용안함", value: "N" }
    ]
  }),
  props: {
    auth: {
      type: Object,
      default: () => {
        return {};
      }
    }
  },
  created() {
    this.item = _.cloneDeep(this.auth);

    this.item.pwd = "";
  },
  methods: {
    ...mapActions("user", ["setItem"]),
    clickSave() {
      this.$validator.validateAll().then(result => {
        if (result) {
          // 수정 저장
          const admin_user = _.cloneDeep(this.item);
          console.log("- setItem", admin_user, this.item);
          ComConfirm({ type: "저장" }, resMsg => {
            this.setItem({ ...admin_user }).then(res => {
              resMsg(res);
            });
          });
        }
      });
    }
  }
};
</script>
<style>
</style>
