<template>
  <card>
    <h5
      slot="header"
      class="title"
    >상세 정보</h5>
    <div class="row">
      <div class="col-md-2">
        <v-select
          name="type"
          outline
          v-model="version.type"
          :items="types"
          label="타입"
          placeholder="타입 선택"
          item-value="value"
          item-text="text"
          multi-line
          full-width
          color="#e14eca"
          v-validate="'required'"
          data-vv-as="타입 "
        />
        <p
          v-show="errors.has('type')"
          class="err-info text-nowrap"
        >
          {{ errors.first('type') }}
        </p>
      </div>
      <div class="col-md-2">
        <v-select
          name="model"
          outline
          v-model="version.model"
          :items="models"
          label="모델"
          placeholder="모델 선택"
          item-value="value"
          item-text="text"
          multi-line
          full-width
          color="#e14eca"
          v-validate="'required'"
          data-vv-as="모델 "
        />
        <p
          v-show="errors.has('model')"
          class="err-info text-nowrap"
        >
          {{ errors.first('model') }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 pr-md-1">
        <base-input
          name="version"
          label="버전"
          v-model="version.version"
          placeholder="버전"
          v-validate="'required|min:0'"
          maxlength="5"
          data-vv-as="버전 "
          type="number"
        >
        </base-input>
        <p
          v-show="errors.has('version')"
          class="err-info text-nowrap"
        >
          {{ errors.first('version') }}
        </p>
      </div>
      <div class="col-md-4">
        <base-input
          name="file_id"
          label="파일 ID"
          v-model="version.file_id"
          placeholder="파일 ID"
          v-validate="'required'"
          maxlength="50"
          data-vv-as="파일 ID "
        >
        </base-input>
        <p
          v-show="errors.has('version')"
          class="err-info text-nowrap"
        >
          {{ errors.first('version') }}
        </p>
      </div>
      <div>
        &nbsp;
        <p>
          <v-btn
            small
            color="primary"
            target="_blank"
            :href="'https://drive.google.com/open?id='+version.file_id"
          >파일 보기</v-btn>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <base-input
          label="등록일자"
          :value="moment(version.reg_date).format('YYYY-MM-DD HH:mm')"
          disabled
          placeholder="등록일자"
        >
        </base-input>
      </div>
      <div
        class="col-md-2"
        v-if="version.mod_date"
      >
        <base-input
          label="수정일자"
          :value="moment(version.mod_date).format('YYYY-MM-DD HH:mm')"
          disabled
          placeholder="수정일자"
        >
        </base-input>
      </div>
    </div>

    <base-button
      slot="footer"
      type="secondary"
      fill
      @click="clickCancle"
    >취소</base-button>

    <base-button
      slot="footer"
      type="primary"
      fill
      :disabled="errors.any()"
      @click="clickSave"
    >{{item.id > 0 ? "저장" : "등록"}}</base-button>

  </card>

</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { ComConfirm, ComAlert } from "@/utils/alert-util";
import { keyToValue, keyCodes } from "@/constants/key-map";

import _ from "lodash";

import { fileDownload } from "@/utils/file-util";

export default {
  components: {},
  props: {
    id: {
      type: Number,
      default: 0
    },
    item: {
      type: Object,
      default: () => {
        return {};
      }
    }
  },
  data: () => ({
    picker: new Date().toISOString().substr(0, 10),
    modal: false,
    datepicker: false,
    version: {},
    types: [{ text: "타입 선택", value: "" }],
    models: [{ text: "모델 선택", value: "" }]
  }),
  created() {
    _.map(keyCodes("device", "type"), item => {
      this.types.push(item);
    });
  },
  computed: {},
  watch: {
    item: {
      immediate: true,
      handler(newValue, oldValue) {
        this.version = _.cloneDeep(this.item);

        console.log("- watch item", this.version);
      }
    },
    version: {
      deep: true, // 객에의 속성 내부까지 변경 감시를 하기 위해.
      immediate: true,
      handler(newValue, oldValue) {
        console.log("- watch version", newValue);

        let { type, file_id } = newValue;

        if (file_id) {
          this.version.file_id = file_id.replace(
            "https://drive.google.com/open?id=",
            ""
          );
        }

        if (type) {
          this.models = this.models.slice(0, 1); // 화면 갱신을 위해 기본값 제외 삭제.

          _.map(keyCodes("model", type), item => {
            this.models.push(item);
          });
        }
      }
    }
  },
  methods: {
    ...mapGetters(["auth", "isAuth", "token"]),
    ...mapActions("version", ["newItem", "setItem"]),
    ...mapActions("file", { fileAdd: "setItem", fileDel: "delItem" }),

    clickCancle() {
      // sync 로 연결된 상위 컴포넌트 데이터 변경 시 명시적으로 emit.
      this.$emit("update:id", -1);
    },
    clickSave() {
      this.$validator.validateAll().then(result => {
        if (result) {
          if (!this.id) {
            // 신규 등록
            console.log("- newItem", this.version);
            ComConfirm({ type: "등록" }, resMsg => {
              this.newItem({ ...this.version }).then(res => {
                resMsg(res);
                if (res) this.clickCancle();
              });
            });
          } else {
            // 수정 저장
            console.log("- setItem", this.version);
            ComConfirm({ type: "저장" }, resMsg => {
              this.setItem({ ...this.version }).then(res => {
                resMsg(res);
                if (res) this.clickCancle();
              });
            });
          }
        }
      });
    }
  },
  beforeDestroy() {
    console.log("- beforeDestroy");
  }
};
</script>
<style scoped lang="scss">
  label {
    font-weight: 600;
  }
  .btn {
    margin-right: 20px;
  }
  .col-md-1 {
    min-width: 110px;
  }
  .theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat) {
    background-color: #ca6b3e;
  }
</style>
