<template>
  <v-flex class="eagle-area01">
    <div class="sub-header">
      <div>
        <h3>IEG 설치 현황</h3>
        <span
          >- 총 설치 수: <strong>{{ totalCnt }}</strong
          >개</span
        >
        <div><span>설치수</span><span>사용</span><span>사용안함</span></div>
      </div>
      <div>
        <v-select v-model="year" :items="years" label="년도" item-text="text" item-value="value" solo append-icon="expand_more" class="years"></v-select>
        <v-select v-model="month" :items="months" label="월" item-text="text" item-value="value" solo append-icon="expand_more" class="months"></v-select>
      </div>
    </div>
    <div class="data-area">
      <line-chart style="height: 217px" chart-id="year-line-chart" :chart-data="statusLineChart.chartData" :extra-options="statusLineChart.extraOptions"> </line-chart>
    </div>
  </v-flex>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import moment from "moment";
import _ from "lodash";

import format from "@/utils/format-util";
import LineChart from "@/components/Charts/LineChart";
import * as chartConfigs from "@/components/Charts/config";
import config from "@/config";

export default {
  name: "IegChart",
  components: {
    LineChart,
  },
  props: {
    selPlaceId: {
      type: Number,
      default: null,
    },
  },
  data() {
    return {
      options: {},
      list: [],
      years: [],
      months: [],
      year: moment().format("YYYY"),
      month: 0,
      totalCnt: 0,
      statusLineChart: {
        extraOptions: chartConfigs.yearChartOptions,
        chartData: null,
        chartDataBase: {
          labels: [],
          datasets: [
            {
              label: "설치수",
              fill: false,
              lineTension: 0.1,
              borderColor: "#b61e87",
              borderWidth: 2,
              borderDash: [],
              borderDashOffset: 0.0,
              borderJoinStyle: "miter",
              data: [],
              type: "line",
            },
            {
              label: "사용",
              fill: false,
              lineTension: 0.1,
              borderColor: "#46b3f1",
              borderWidth: 2,
              borderDash: [],
              borderDashOffset: 0.0,
              borderJoinStyle: "46b3f1",
              data: [],
              type: "line",
            },
            {
              label: "사용안함",
              fill: false,
              lineTension: 0.1,
              borderColor: "#ebc447",
              borderWidth: 2,
              borderDash: [],
              borderDashOffset: 0.0,
              borderJoinStyle: "miter",
              data: [],
              type: "line",
            },
          ],
        },
      },
    };
  },
  computed: {},
  watch: {
    selPlaceId: {
      immediate: true,
      handler(newValue, oldValue) {
        console.log("- watch selPlaceId", newValue);

        // 조회.
        this.dataLoad();
      },
    },
    year: {
      handler(newValue, oldValue) {
        console.log("- watch year", newValue);

        // 조회.
        this.dataLoad();
      },
    },
    month: {
      handler(newValue, oldValue) {
        console.log("- watch month", newValue);

        // 조회.
        this.dataLoad();
      },
    },
  },
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapActions("dashboard", ["totalReportIeg"]),

    dataLoad() {
      console.log("- dataLoad", this.year, this.month);

      let date = moment({
        year: this.year,
        month: this.month ? this.month - 1 : 0,
      });

      this.list = [];

      this.options = {
        filter: this.selPlaceId ? `place_id=${this.selPlaceId}` : undefined,
        begin: date.format("YYYY-MM-DD"),
        end: date
          .month(this.month > 0 ? this.month - 1 : 11)
          .date(date.daysInMonth())
          .format("YYYY-MM-DD"),
        type: this.month > 0 ? "day" : "month",
        groups: "reg_date,page_reload",
      };

      this.totalReportIeg({
        ...this.options,
        loading: false,
      }).then((res) => {
        this.list = res;

        if (!this.loading) this.drawChart();
      });
    },
    drawChart() {
      console.log("- options", this.options);

      let isMonthly = this.month > 0;

      // 차트 데이터.
      let datasets = this.statusLineChart.chartDataBase.datasets;

      let ymax = 10;

      // 데이터 초기화.
      let labels = [];
      datasets[0].data = [];
      datasets[1].data = [];
      datasets[2].data = [];

      _.times(isMonthly ? moment(this.options.end).date() : 12, (v) => {
        labels.push(isMonthly ? ++v + "일" : ++v + "월");
        datasets[0].data.push(0);
        datasets[1].data.push(0);
        datasets[2].data.push(0);
      });

      console.log("- labels", labels);

      _.map(this.list, (item) => {
        // console.log(JSON.stringify(item));

        if (item.reg_date) {
          let date = moment(item.reg_date);

          let row = item.page_reload === null ? 0 : item.page_reload === 0 ? 1 : 2; // page_reload = 0 은 사용중. 1.70 업데이트 후 last_event_date 기준으로 모두 바꿔야함.
          let idx = isMonthly > 0 ? date.date() - 1 : date.month();

          // console.log({ row, idx });

          datasets[row].data[idx] += item.count;

          ymax = ymax < item.count ? item.count : ymax;
        } else {
          this.totalCnt = item.count;
        }
      });

      console.log(this.$options.name, { ymax, datasets });

      this.$set(this.statusLineChart.extraOptions.scales.yAxes[0].ticks, "suggestedMax", ymax);

      this.$set(this.statusLineChart.chartDataBase, "labels", labels);
      this.$set(this.statusLineChart.chartDataBase, "datasets", datasets);

      // 그래프 다시 그리기위한 watch flag chartData 를 재설정 하기 위해.
      this.statusLineChart.chartData = _.cloneDeep(this.statusLineChart.chartDataBase);
    },
  },
  created() {
    console.log(this.$options.name, "created");

    this.years = _.map([0, 1, 2], (v) => {
      let year = moment()
        .add(0 - v, "year")
        .format("YYYY");
      return { text: `${year} 년`, value: year };
    });

    this.months = _.map([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], (month) => {
      return { text: `${month > 0 ? month : ""} 월`, value: month };
    });

    this.year = this.years[0].value;

    console.log(this.$options.name, this.years, this.months, this.year);
  },
  mounted() {
    console.log(this.$options.name, "mounted");
  },
  beforeDestroy() {
    console.log(this.$options.name, "beforeDestroy");
    clearInterval(this.timer);
  },
};
</script>

<style scoped></style>
