<template>
  <v-flex class="sale-area02">
    <div class="sub-header">
      <h3>객실 매출 상세</h3>
      <span
        >총 매출 : <strong>{{ formatPrice(allRoomSale) }}</strong
        >원</span
      >
      <span
        >총 건수 : <strong>{{ allCount }}</strong
        >개</span
      >
    </div>
    <div class="data-area">
      <ul class="sale-bar-line">
        <li>100</li>
        <li>75</li>
        <li>50</li>
        <li>25</li>
        <li>00</li>
        <li>%</li>
      </ul>
      <ul class="sale-bar-chart">
        <li>
          <dl>
            <dt>대실</dt>
            <dd class="bar" :style="{ height: case1Percent + '%' }"></dd>
            <dd class="num" :style="{ bottom: case1Percent + '%' }">{{ formatPrice(case1) }}만</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>숙박</dt>
            <dd class="bar" :style="{ height: case2Percent + '%' }"></dd>
            <dd class="num" :style="{ bottom: case2Percent + '%' }">{{ formatPrice(case2) }}만</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>장기</dt>
            <dd class="bar" :style="{ height: case3Percent + '%' }"></dd>
            <dd class="num" :style="{ bottom: case3Percent + '%' }">{{ formatPrice(case3) }}만</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>카드</dt>
            <dd class="bar" :style="{ height: case4Percent + '%' }"></dd>
            <dd class="num" :style="{ bottom: case4Percent + '%' }">{{ formatPrice(case4) }}만</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>현금</dt>
            <dd class="bar" :style="{ height: case5Percent + '%' }"></dd>
            <dd class="num" :style="{ bottom: case5Percent + '%' }">{{ formatPrice(case5) }}만</dd>
          </dl>
        </li>
      </ul>
    </div>
  </v-flex>
</template>

<script>
export default {
  components: {},
  props: {},
  data() {
    return {
      allRoomSale: 12000000,
      allCount: 2456,
      case1: 2000,
      case2: 1000,
      case3: 800,
      case4: 1400,
      case5: 800,
      case1Percent: null,
      case2Percent: null,
      case3Percent: null,
      case4Percent: null,
      case5Percent: null,
    };
  },
  computed: {},
  watch: {},
  methods: {
    formatPrice(value) {
      let val = value / 1;
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
  },
  mounted() {
    setTimeout(() => {
      this.case1Percent = (this.case1 / this.allCount) * 100;
      this.case2Percent = (this.case2 / this.allCount) * 100;
      this.case3Percent = (this.case3 / this.allCount) * 100;
      this.case4Percent = (this.case4 / this.allCount) * 100;
      this.case5Percent = (this.case5 / this.allCount) * 100;
    }, 500);
  },
  beforeDestroy() {},
};
</script>
<style></style>

<style scoped></style>
