<template>
  <v-flex class="sale-area01">
    <div class="sub-header">
      <div>
        <h3>전체 매출 통계</h3>
        <div><span>객실</span><span>자판기</span></div>
      </div>
      <div>
        <v-btn flat outline dark>Month</v-btn>
        <v-btn flat outline dark>Weeks</v-btn>
        <v-btn flat outline dark>Daily</v-btn>
      </div>
      <div>
        <v-select :items="years" label="년도" item-value="en" item-text="ko" solo append-icon="expand_more" class="years"></v-select>
        <v-select :items="months" label="월" item-value="en" item-text="ko" solo append-icon="expand_more" class="months"></v-select>
        <v-select :items="daily" label="일" item-value="en" item-text="ko" solo append-icon="expand_more" class="daily"></v-select>
      </div>
    </div>
    <div class="data-area">
      <div v-show="true" class="sale-month-chart">
        <ul class="y-ticks">
          <li>50</li>
          <li>0</li>
          <li>50</li>
        </ul>
        <div class="chart-box">
          <div class="total-text">
            <span class="total-sale">총 {{ formatPrice(1200) }}만</span>
            <span class="down">- 223만</span>
          </div>
          <line-chart
            style="height: 116px"
            class="sale-room-month-line-chart"
            chart-id="sale-room-month-line-chart"
            :chart-data="saleRoomMonthLineChart.chartData"
            :extra-options="saleRoomMonthLineChart.extraOptions"
          >
          </line-chart>
        </div>
        <div class="chart-box">
          <div class="total-text">
            <span class="total-sale">총 {{ formatPrice(1200) }}만</span>
            <span class="up">+ 223만</span>
          </div>
          <line-chart
            style="height: 136px"
            class="sale-isg-month-line-chart"
            chart-id="sale-isg-month-line-chart"
            :chart-data="saleIsgMonthLineChart.chartData"
            :extra-options="saleIsgMonthLineChart.extraOptions"
          >
          </line-chart>
        </div>
      </div>
    </div>
  </v-flex>
</template>

<script>
import format from "@/utils/format-util";
import LineChart from "@/components/Charts/LineChart";
import * as chartConfigs from "@/components/Charts/config";
import config from "@/config";

export default {
  components: {
    LineChart,
  },
  props: {},
  data() {
    return {
      years: [],
      months: [],
      daily: [],
      saleRoomMonthLineChart: {
        extraOptions: chartConfigs.saleRoomMonthChartOptions,
        chartData: {
          labels: [
            "01",
            "02",
            "03",
            "04",
            "05",
            "06",
            "07",
            "08",
            "09",
            "10",
            "11",
            "12",
            "13",
            "14",
            "15",
            "16",
            "17",
            "18",
            "19",
            "20",
            "21",
            "22",
            "23",
            "24",
            "25",
            "26",
            "27",
            "28",
            "29",
            "30",
            "31",
          ],
          datasets: [
            {
              label: "객실",
              fill: false,
              lineTension: 0.1,
              borderColor: "#b61e87",
              borderWidth: 2,
              borderDash: [],
              borderDashOffset: 0.0,
              borderJoinStyle: "miter",
              data: [30, 50, 50, 50, 50, 120, 120, 140, 140, 140, 140, 140, 140, 150, 160, 170, 180, 200, 200, 200, 200, 200, 250, 270, 290, 200, 150, 180, 110, 130, 170],
            },
          ],
        },
      },
      saleIsgMonthLineChart: {
        extraOptions: chartConfigs.saleIsgMonthChartOptions,
        chartData: {
          labels: [
            "01",
            "02",
            "03",
            "04",
            "05",
            "06",
            "07",
            "08",
            "09",
            "10",
            "11",
            "12",
            "13",
            "14",
            "15",
            "16",
            "17",
            "18",
            "19",
            "20",
            "21",
            "22",
            "23",
            "24",
            "25",
            "26",
            "27",
            "28",
            "29",
            "30",
            "31",
          ],
          datasets: [
            {
              label: "자판기",
              fill: false,
              lineTension: 0.1,
              borderColor: "#0d91d5",
              borderWidth: 2,
              borderDash: [],
              borderDashOffset: 0.0,
              borderJoinStyle: "miter",
              data: [30, 50, 50, 50, 50, 120, 120, 140, 140, 140, 140, 140, 140, 150, 160, 170, 180, 200, 200, 200, 200, 200, 250, 270, 290, 200, 150, 180, 110, 130, 170],
            },
          ],
        },
      },
    };
  },
  computed: {},
  watch: {},
  methods: {
    formatPrice(value) {
      let val = value / 1;
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
  },
  mounted() {},
  beforeDestroy() {},
};
</script>
<style></style>

<style scoped></style>
