<template>
  <div class="center-content">
    <!-- 헤더 영역 시작-->
    <Top :hide-control.sync="hideControl" :from-route="watchFromRoute"></Top>
    <!-- 헤더 영역 끝-->

    <!-- 컨텐츠 영역 시작-->
    <Content></Content>
    <!-- <SideBar></SideBar> -->
    <!-- 컨텐츠 영역 끝-->

    <!-- 컨트롤러 레이어 영역 시작-->
    <div class="view-box" v-show="!hideControl">
      <Controller v-for="(item, index) in controlIscs" :key="index" :device="item" :class="[`controller0${index + 1}`]"></Controller>

      <Simulator v-if="showSimulator" :device="device" :isc-state="iscState" :class="[`controller0${controlIscs.length + 1}`, 'simulator']"></Simulator>
    </div>
    <!-- 컨트롤러 레이어 영역 끝-->
  </div>
</template>

<script>
import { mapGetters } from "vuex";

import Top from "./Center/Top";
import Content from "./Center/Content";
import SideBar from "./Center/SideBar";
import Controller from "./Center/Controller";
import Simulator from "./Center/Simulator";

import _ from "lodash";

export default {
  name: "Center",
  components: {
    Top,
    Content,
    // SideBar,
    Controller,
    Simulator,
  },
  props: {},
  data() {
    return {
      fromRoute: {},
      hideControl: false,
      showSimulator: false,
      device: {},
      iscState: {},
      controlIscs: [],
    };
  },
  created() {
    console.log(this.$options.name, "created");

    this.EventBus.$on("openSimulator", this.openSimulator);
  },
  mounted() {
    console.log(this.$options.name, "mounted");

    this.toggleHtmlClass("addClass", "center-page");
  },
  computed: {
    watchFromRoute() {
      return this.fromRoute;
    },
    watchSeleceDevices() {
      return this.selectedDevice();
    },
  },
  watch: {
    watchSeleceDevices(newValue, oldValue) {
      console.log(this.$options.name, "watch watchSeleceDevices", newValue);

      this.controlIscs = newValue;
    },
  },
  methods: {
    ...mapGetters("device", { deviceList: "list", selectedDevice: "selList" }),

    openSimulator({ device, iscState, show }) {
      console.log(this.$options.name, "openSimulator", { device, iscState, show });

      if (device) this.device = device;
      if (iscState) this.iscState = iscState;

      this.showSimulator = show;
    },

    toggleHtmlClass(addRemoveClass, className) {
      const el = document.querySelector("html");

      if (addRemoveClass === "addClass") {
        el.classList.add(className);
      } else {
        el.classList.remove(className);
      }
    },
  },
  beforeDestroy() {},
  destroyed() {
    this.toggleHtmlClass("removeClass", "center-page");
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      console.log(vm.$options.name, "beforeRouteEnter", { to, from });
      vm.fromRoute = from;
    });
  },
};
</script>
<style></style>
