<template>
  <div class="row">
    <div class="col-12">
      <card :title="table.title">
        <div class="table-responsive">
          <base-table :data="table.data" :resize.sync="changeSize" :columns="table.columns" :order.sync="clickOrder" thead-classes="text-primary"> </base-table>
          <div class="pageArea">
            <paginate
              v-show="page.count"
              :page-count="page.count"
              :page-range="3"
              :margin-pages="2"
              :click-handler="clickPage"
              :prev-text="'이전'"
              :next-text="'다음'"
              :container-class="'pagination'"
              :page-class="'page-item'"
            >
            </paginate>
            <base-button v-if="isAdmin()" type="secondary" size="sm" @click="clickReg">등록</base-button>
          </div>
        </div>
      </card>
    </div>

    <!-- Edit -->
    <card class="card-plain" v-if="id > -1">
      <edit-form :id.sync="id" :item="company"> </edit-form>
    </card>
  </div>
</template>
<script>
import { mapActions, mapGetters, mapMutations } from "vuex";

import { BaseTable } from "@/components";
import EditForm from "./Company/EditForm";
import { getSessionStroge } from "@/constants/constants";
import { ComAlert, ComConfirm } from "@/utils/alert-util";
import format from "@/utils/format-util";

import _ from "lodash";
import moment from "moment";

export default {
  name: "Company",
  components: {
    BaseTable,
    EditForm,
  },
  props: {},
  data() {
    return {
      list: [],
      table: {
        title: "회사 관리",
        columns: ["name", "addr", "addr_detl", "tel", "reg_date", "del"],
        data: [],
      },
      page: {
        no: 1,
        order: "reg_date",
        desc: "desc",
        size: getSessionStroge("rowSize"), // 1 페이지 row count
        count: 1, // 총 페이지 수.
      },
      id: -1,
      company: {}, // 선택 목록의 아이템
    };
  },
  created() {
    console.log(this.$options.name, "created");

    if (!this.isAdmin()) {
      // 어드민이 아니면 버튼 제거.
      this.table.columns.splice(5);
    }

    let { company_id } = this.auth();

    let filter = this.isAdmin() ? "1=1" : `id=${company_id}`;
    this.getList({ filter });
  },
  mounted() {
    console.log(this.$options.name, "mounted");
  },
  computed: {
    watchPlaceSelected() {
      return this.placeSelected();
    },
    watchCompanys() {
      return this.companys();
    },
  },
  watch: {
    id(newValue, oldValue) {
      // 상세 수정 시 업데이트.
      if (newValue === -1) this.clickPage();
    },
    watchCompanys(newValue, oldValue) {
      this.clickPage(1);
    },
    watchPlaceSelected(newValue, oldValue) {
      this.clickPage(1);
    },
    edit(newValue, oleValue) {
      if (oleValue && !newValue) {
        this.clickPage();
      }
    },
  },
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapGetters("company", { count: "count", companys: "list" }),
    ...mapGetters("place", {
      count: "count",
      places: "list",
      placeSelected: "selected",
      placeSearch: "placeSearchText",
    }),

    ...mapActions("company", ["getList", "delItem"]),

    ...mapMutations("company", ["item"]),

    clickReg() {
      this.id = 0;
      this.company = {};
    },
    clickEdit(id) {
      this.id = id;
      this.company = _.cloneDeep(_.find(this.companys(), { id: id }));
    },
    clickDel(id) {
      // 권한 (0: 슈퍼관리자(ICT), 1: 업주(책임자), 2: 매니저(관리자), 3: 카운터(사용자), 4:메이드, 5: PMS, 9:뷰어)
      if (!this.isSupervisor()) {
        ComAlert(
          {
            type: "알림",
            title: "삭제 권한이 없습니다.",
            text: "관리자에게 문의 하세요.",
          },
          () => {}
        );
      } else {
        ComConfirm({ type: "삭제" }, (resMsg) => {
          this.delItem(id).then((res) => {
            resMsg(res);
            this.id = -1;
            this.clickPage();
          });
        });
      }
    },
    clickPage(no) {
      if (no) this.page.no = no;

      let begin = (this.page.no - 1) * this.page.size;
      let end = begin + this.page.size;

      let list = this.companys();

      if (this.placeSelected()) {
        let { company_id } = _.find(this.places(), { place_id: this.placeSelected() }) || {};
        list = _.filter(list, { id: company_id });
      } else if (this.placeSearch()) {
        list = format.textFilter(list, this.placeSearch());
      }

      list = list.slice(begin, end);

      console.log(this.$options.name, "- page", { begin, end });

      // 테이블 데이터 구조 변경.
      this.table.data = _.map(list, (item) => {
        let data = {};
        _.map(item, (v, k) => {
          data[k] = {
            data: k.indexOf("_date") > -1 ? (v ? moment(v).format("YYYY.MM.DD") : "") : v,
            click: k === "name" ? this.clickEdit : null,
          };
          data["del"] = {
            data: "삭제 ",
            click: this.clickDel,
            type: "danger",
          };
        });

        return data;
      });

      console.log(this.$options.name, "- table data", this.table.data);

      this.page.count = parseInt((this.count() - 1) / this.page.size) + 1;
    },
    changeSize(size) {
      this.page.size = size;
      this.clickPage();
    },
    clickOrder(order, desc) {
      this.page.order = order;
      this.page.desc = desc;
    },
  },
};
</script>
<style scoped lang="scss"></style>
