<template>
  <div class="dash-board">
    <div>
      <!-- 업소통계 영역 시작-->
      <div class="row board-content01">
        <div class="col-12">
          <Place></Place>
        </div>
      </div>
      <!-- 업소통계 영역 끝-->

      <!-- 프로그램 이용 현황 영역 시작-->
      <div v-if="isAdmin() && !placeSelected()" class="row board-content02">
        <div class="col-12">
          <Status></Status>
        </div>
      </div>
      <!-- 프로그램 이용 현황 영역 끝-->

      <!-- 객실이용 현황 영역 시작-->
      <div class="row board-content03">
        <div class="col-12">
          <Room></Room>
        </div>
      </div>
      <!-- 객실이용 현황 영역 끝-->

      <!-- 매출 통계 영역 시작-->
      <div v-if="isAdmin() && !placeSelected()" class="row board-content04">
        <div class="col-12">
          <Sale></Sale>
        </div>
      </div>
      <!-- 매출 통계 영역 끝-->
    </div>
    <!-- <div v-else class="continued">
      대시보드 준비중 입니다.
      <p><router-link to="/center">무인 관제</router-link></p>
    </div> -->
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

import Place from "./Dashboard/Place";
import Status from "./Dashboard/Status";
import Room from "./Dashboard/Room";
import Sale from "./Dashboard/Sale";

export default {
  name: "Dashboard",
  components: {
    Place,
    Status,
    Room,
    Sale,
  },
  props: {},
  data() {
    return {};
  },
  created() {},
  mounted() {},
  computed: {},
  watch: {},
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),

    ...mapGetters("place", { places: "list", placeSelected: "selected", placeSearch: "placeSearchText" }),
    ...mapGetters("userPlace", { userPlaces: "list" }),
    ...mapGetters("device", { getUserDevices: "list" }),

    ...mapActions("device", { initUserDevices: "getList" }),
  },

  beforeDestroy() {},
};
</script>
<style></style>

<style scoped>
.col-12 {
  min-width: inherit;
}
</style>
