<template>
  <div class="row">
    <div class="col-12">
      <card :title="table.title">
        <div class="table-responsive">
          <base-table :data="table.data" :resize.sync="changeSize" :columns="table.columns" :order.sync="clickOrder" thead-classes="text-primary"> </base-table>
          <div class="pageArea">
            <paginate
              v-show="page.count"
              :page-count="page.count"
              :page-range="3"
              :margin-pages="2"
              :click-handler="clickPage"
              :prev-text="'이전'"
              :next-text="'다음'"
              :container-class="'pagination'"
              :page-class="'page-item'"
            >
            </paginate>
            <base-button type="secondary" size="sm" @click="clickReg">등록</base-button>
          </div>
        </div>
      </card>
    </div>

    <!-- Edit -->
    <card class="card-plain" v-if="id > -1">
      <edit-form :id.sync="id" :item="item" :companys="companys()"> </edit-form>
    </card>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";

import _ from "lodash";
import moment from "moment";

import { getSessionStroge } from "@/constants/constants";
import { ComAlert, ComConfirm } from "@/utils/alert-util";
import format from "@/utils/format-util";
import { keyToValue } from "@/constants/key-map";

import { BaseTable } from "@/components";
import EditForm from "./Device/EditForm";

export default {
  name: "Device",
  components: {
    BaseTable,
    EditForm,
  },
  props: {},
  data: () => ({
    table: {
      title: "장비 관리",
      columns: ["company_name", "place_name", "serialno", "name", "type", "pms", "model", "connect", "expire_date", "reg_date", "del"],
      data: [],
    },
    page: {
      no: 1,
      order: "reg_date",
      desc: "desc",
      size: getSessionStroge("rowSize"), // 1 페이지 row count
      count: 1, // 총 페이지 수.
    },
    id: -1,
    item: {}, // 선택 목록의 아이템
  }),
  created() {
    console.log(this.$options.name, "created");

    this.list = this.devices();

    if (!this.list.length) {
      // 장비 목록 조회.
      this.getList({ page: 0 }).then((devices) => {
        this.list = this.isAdmin()
          ? devices
          : _.filter(devices, (device) => {
              return _.find(this.userPlaces, { place_id: device.place_id_id });
            });

        console.log(this.$options.name, "list", this.list);

        this.clickPage();
      });
    } else {
      this.clickPage();
    }
  },
  mounted() {},
  computed: {
    watchPlaceSelected() {
      return this.placeSelected();
    },
    watchPlaceSearch() {
      return this.placeSearch();
    },
  },
  watch: {
    id(newValue, oldValue) {
      // 상세 수정 시 업데이트.
      if (newValue === -1) this.clickPage();
    },
    selPlaceId(newValue, oldValue) {
      this.clickPage(1);
    },
    edit(newValue, oleValue) {
      if (oleValue && !newValue) {
        this.clickPage();
      }
    },
    watchPlaceSelected(newValue, oldValue) {
      this.clickPage(1);
    },
    watchPlaceSearch(newValue, oldValue) {
      this.clickPage(1);
    },
  },

  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapGetters("company", { companys: "list" }),
    ...mapGetters("place", {
      count: "count",
      places: "list",
      placeSelected: "selected",
      placeSearch: "placeSearchText",
    }),
    ...mapGetters("device", { count: "count", devices: "list" }),

    ...mapActions("company", { companyGetList: "getList" }),
    ...mapActions("device", ["getList", "delItem"]),

    clickReg() {
      this.id = 0;
      this.item = {};
    },
    clickEdit(id) {
      this.id = id;
      this.item = _.cloneDeep(_.find(this.devices(), { id: id }));
    },
    clickDel(id) {
      // 권한 (0: 슈퍼관리자(ICT), 1: 업주(책임자), 2: 매니저(관리자), 3: 카운터(사용자), 4:메이드, 5: PMS, 9:뷰어)
      if (!this.isAdmin()) {
        ComAlert(
          {
            type: "알림",
            title: "삭제 권한이 없습니다.",
            text: "관리자에게 문의 하세요.",
          },
          () => {}
        );
      } else {
        ComConfirm({ type: "삭제" }, (resMsg) => {
          this.delItem(id).then((res) => {
            resMsg(res);
            this.id = -1;
            this.clickPage();
          });
        });
      }
    },
    clickPage(no) {
      if (no) this.page.no = no;

      let begin = (this.page.no - 1) * this.page.size;
      let end = begin + this.page.size;

      let list = this.list.slice();

      if (this.placeSelected()) list = _.filter(list, { place_id: this.placeSelected() });
      else if (this.placeSearch()) list = format.textFilter(list, this.placeSearch());

      console.log(this.$options.name, "- page", { begin, end });

      list = list.slice(begin, end);

      // 테이블 데이터 구조 변경.
      this.table.data = _.map(list, (item) => {
        let data = {};
        _.map(item, (v, k) => {
          data[k] = {
            data: k.indexOf("_date") > -1 ? (v ? moment(v).format("YYYY-MM-DD HH:mm") : "") : v,
            click: k === "name" ? this.clickEdit : null,
          };
          if (k === "type") {
            data["type"] = {
              data: keyToValue("device", "type", v),
              click: null,
            };
          }
          if (k === "model") {
            data["model"] = {
              data: keyToValue("model", item["type"], v),
              click: null,
            };
          }
          if (k === "connect") {
            data["connect"] = {
              data: keyToValue("device", "connect", v),
              click: null,
            };
          }
          data["del"] = {
            data: "삭제 ",
            click: this.clickDel,
            type: "danger",
          };
        });
        return data;
      });
      this.page.count = parseInt((this.count() - 1) / this.page.size) + 1;
    },
    changeSize(size) {
      this.page.size = size;
      this.clickPage();
    },
    clickOrder(order, desc) {
      this.page.order = order;
      this.page.desc = desc;
    },
  },
};
</script>
<style scoped lang="scss"></style>
