<template>
  <div class="container">
    <h3 class="title">Eagle Cloud System Admin</h3>
    <div class="login">
      <v-form ref="form" v-model="valid" lazy-validation @keyup.enter.native="onSubmit">
        <v-text-field name="ID" v-model="id" :rules="rules.id" :error-messages="errors.collect('id')" label="ID" data-vv-as="ID " required color="green"></v-text-field>

        <v-text-field name="password" v-model="pwd" :rules="rules.pwd" label="Password" required type="password" v-validate="'required|min:6'" data-vv-as="password " color="green"></v-text-field>

        <v-btn :disabled="!valid" @click="onSubmit" color="success"> Login </v-btn>
      </v-form>

      <!-- loader -->
      <base-loader :show="loader().show" :type="loader().type" :height="loader().height" :width="loader().width" :color="loader().color"> </base-loader>
    </div>

    <h5 class="copyright">© 2019. icrew Co. all rights reserved.</h5>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import { CheckSubscribe, CheckLicense } from "@/utils/subscribe-util";
import _ from "lodash";
import Swal from "sweetalert2";

export default {
  name: "Login",
  data() {
    return {
      valid: true,
      id: "",
      pwd: "",
      rules: {
        id: [(v) => !!v || "아이디는 필수 입력 입니다.", (v) => (v && v.length > 3) || "아이디는 3자 이상 입니다."],
        pwd: [(v) => !!v || "비밀번호는 필수 입력 입니다.", (v) => (v && v.length > 5) || "비밀번호는 5자 이상 입니다."],
      },
    };
  },
  created() {
    console.log(this.$options.name, "created");

    this.id = localStorage.getItem("loginId");
  },
  mounted() {},
  computed: {
    watchSubscribes() {
      return this.subscribes();
    },
    watchPlaceSubscribes() {
      return this.placeSubscribes();
    },
  },
  watch: {
    watchPlaceSubscribes(newValue, oldValue) {
      console.log(this.$options.name, "watchPlaceSubscribes", this.isAuth());

      if (this.isAuth() && this.subscribes() && this.placeSubscribes()) {
        // 이글관제 라이선스 검증.
        let isValid = CheckSubscribe({ subscribes: this.subscribes(), placeSubscribes: this.placeSubscribes(), code: "30", isAlert: true });

        if (isValid) {
          this.goToHome(this.auth());
        }
      }
    },
  },
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapGetters("subscribe", { subscribes: "list" }),
    ...mapGetters("placeSubscribe", { placeSubscribes: "list" }),

    ...mapActions("subscribe", { getSubscribes: "getList" }),
    ...mapActions("placeSubscribe", { getPlaceSubscribes: "getList" }),
    ...mapActions(["login", "delError"]), // this.showLoader()을 this.$store.dispatch('showLoader')에 매핑
    ...mapGetters(["loader", "errorList"]),

    validate() {
      if (this.$refs.form.validate()) {
        this.snackbar = true;
      }
    },

    reset() {
      this.$refs.form.reset();
    },

    resetValidation() {
      this.$refs.form.resetValidation();
    },

    onSubmit() {
      this.$validator.validateAll();
      if (!this.errors.any()) {
        // TODO: 로그인 처리
        if (this.id === "admin") {
          this.login({
            id: this.id,
            pwd: this.pwd,
          }).then(({ success, user }) => {
            if (success) {
              // 아이크루 관리자가 아니면 어드민 구독 여부 체크.
              if (!this.isAdmin()) {
                let { place_id } = user;

                let filter = `a.place_id=${place_id}`;

                this.getSubscribes({});
                this.getPlaceSubscribes({ filter });
              } else {
                this.goToHome(user);
              }
            }
          });
        } else {
          Swal.fire({
            type: "warning",
            title: "사용 권한이 없습니다.",
            html: "관리자에게 문의 하세요",
            confirmButtonColor: "#3085d6",
            confirmButtonText: "확인",
          }).then((result) => {});
        }
      } else {
        console.log("validate err");
      }
    },

    goToHome(user) {
      this.$router.push({
        name: this.isAdmin() ? "dashboard" : "company",
      });
    },
  },
};
</script>

<style scoped lang="scss">
.container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: column;
  .title {
    margin: 10% auto 0;
  }
  .login {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1.5rem;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    margin-top: 10%;
    background-color: white;
    form {
      display: flex;
      flex-flow: column;
      *:not(:last-child) {
        margin-bottom: 1rem;
      }
      label {
        margin-left: 20px !important;
      }
      input {
        padding: 0.5rem;
        width: 100% !important;
      }
      button {
        padding: 0.5rem;
        background-color: lightgray;
        border: 1px solid gray;
        border-radius: 3px;
        cursor: pointer;
        &:hover {
          background-color: lightslategray;
        }
      }
    }
  }
  .copyright {
    margin: 5% auto;
  }
}
</style>
