<template>
  <div>
    <div class="row">
      <div class="col-12">
        <card :title="table.title">
          <div class="table-responsive">
            <base-table :data="table.data" :resize.sync="changeSize" :columns="table.columns" :order.sync="clickOrder" thead-classes="text-primary"> </base-table>
            <div class="pageArea">
              <paginate
                v-show="page.count"
                :page-count="page.count"
                :page-range="3"
                :margin-pages="2"
                :click-handler="clickPage"
                :prev-text="'이전'"
                :next-text="'다음'"
                :container-class="'pagination'"
                :page-class="'page-item'"
              >
              </paginate>
              <base-button type="secondary" size="sm" @click="clickReg">등록</base-button>
            </div>
          </div>
        </card>
      </div>

      <!-- Edit -->
      <card class="card-plain" v-if="edit">
        <edit-form :id="id" :edit.sync="edit" :item="item" :users="users()"> </edit-form>
      </card>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters, mapMutations } from "vuex";

import { BaseTable } from "@/components";
import EditForm from "./MailReceiver/EditForm";
import UserEditForm from "./User/EditForm";
import { getSessionStroge } from "@/constants/constants";
import { ComAlert, ComConfirm } from "@/utils/alert-util";
import { keyToValue } from "@/constants/key-map";

import _ from "lodash";
import moment from "moment";

export default {
  components: {
    BaseTable,
    EditForm,
  },
  props: {
    mailReceiverPlaces: {
      type: Array,
      default: null,
    },
    selPlaceId: {
      type: Number,
      default: null,
    },
  },
  data: () => ({
    table: {
      title: "메일 수신 관리",
      columns: ["user_id", "name", "type", "email", "receive_yn", "reg_date", "mod_date", "del"],
      data: [],
    },
    page: {
      no: 1,
      order: "a.reg_date",
      desc: "desc",
      size: getSessionStroge("rowSize"), // 1 페이지 row count
      count: 1, // 총 페이지 수
    },
    id: null,
    edit: false,
    item: {}, // 선택 목록의 아이템
    companys: [], // 회사 목록.
  }),
  created() {
    this.clickPage();

    // 어드민 사용자 목록.(타입 (1: 아이크루, 2: 대리점, 3: 업소, 4: PMS))
    let filter = "a.type = 1";

    this.getUsers({ filter });
  },
  computed: {
    watchMailReceivers() {
      return this.mailReceivers();
    },
  },
  watch: {
    selPlaceId(newValue, oldValue) {
      this.clickPage(1);
    },
    watchMailReceivers(newValue, oldValue) {
      if (newValue !== oldValue) {
        // 테이블 데이터 구조 변경.
        this.table.data = _.map(newValue, (item) => {
          let data = {};
          _.map(item, (v, k) => {
            data[k] = {
              data: k.indexOf("_date") > -1 ? (v ? moment(v).format("YYYY.MM.DD") : "") : v,
              click: k === "user_id" ? this.clickEdit : k === "email" ? this.goUser : null,
            };
            if (k === "type") {
              data["type"] = {
                data: keyToValue("mail_receiver", "type", v),
                click: null,
              };
            }
            data["del"] = {
              data: "삭제 ",
              click: this.clickDel,
              type: "danger",
            };
          });
          return data;
        });
        this.page.count = parseInt((this.count() - 1) / this.page.size) + 1;
      }
    },
    edit(newValue, oleValue) {
      if (oleValue && !newValue) {
        this.clickPage();
      }
    },
  },
  mounted() {},
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapActions("mailReceiver", ["getList", "delItem"]),
    ...mapGetters("mailReceiver", { count: "count", mailReceivers: "list" }),
    ...mapActions("user", { getUsers: "getList" }),
    ...mapGetters("user", { count: "count", users: "list" }),
    ...mapMutations("user", { userItem: "item" }),

    clickReg() {
      this.edit = true;
      this.id = null;
      this.item = {};
    },
    clickEdit(id) {
      this.edit = true;
      this.id = id;
      this.item = _.cloneDeep(_.find(this.mailReceivers(), { id }));
    },
    goUser(id) {
      let item = _.cloneDeep(_.find(this.mailReceivers(), { id }));
      let user = _.cloneDeep(_.find(this.users(), { id: item.user_id }));

      console.log("- goUser", id, item, user);

      this.userItem({ user });

      this.$router.push("user");
    },
    clickDel(id) {
      const mailReceiver = _.cloneDeep(_.find(this.mailReceivers(), { id: id }));

      // 권한 (0: 슈퍼관리자(ICT), 1: 업주(책임자), 2: 매니저(관리자), 3: 카운터(메일 수신), 9:뷰어)
      if (
        !(this.isAdmin() && mailReceiver.type > 1) && // 아이크루 관리자는 업소 메일 수신 삭제 권한 가진다.
        this.auth().level >= mailReceiver.level
      ) {
        ComAlert(
          {
            type: "알림",
            title: "삭제 권한이 없습니다.",
            text: "관리자에게 문의 하세요.",
          },
          () => {}
        );
      } else {
        ComConfirm({ type: "삭제" }, (resMsg) => {
          this.delItem(id).then((res) => {
            resMsg(res);
            this.id = -1;
            this.clickPage();
          });
        });
      }
    },
    clickPage(no) {
      this.edit = false;
      if (no) this.page.no = no;

      // 목록 조회.
      this.getList({ page: this.page });
    },
    changeSize(size) {
      this.page.size = size;
      this.clickPage();
    },
    clickOrder(order, desc) {
      this.page.order = order;
      this.page.desc = desc;
    },
  },
};
</script>
<style scoped lang="scss"></style>
