<template>
  <card type="plain" title="Google Maps">
    <div id="map" class="map"></div>
  </card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
// import { ComAlert, ComConfirm } from "@/utils/alert-util";
import _ from "lodash";
import axios from "axios";

export default {
  name: "Map",
  props: {},
  data: () => ({
    apiKey: "AIzaSyB5cRvFhCeOY9VH8t28NZ_1gfP2Gk_TCzM", // Api Key
    addr: "서울시 종로구",
    map: null, // 지도 객체.
    mapOptions: {
      zoom: 9,
      center: null,
      scrollwheel: true,
      styles: [
        {
          elementType: "geometry",
          stylers: [
            {
              color: "#1d2c4d",
            },
          ],
        },
        {
          elementType: "labels.text.fill",
          stylers: [
            {
              color: "#8ec3b9",
            },
          ],
        },
        {
          elementType: "labels.text.stroke",
          stylers: [
            {
              color: "#1a3646",
            },
          ],
        },
        {
          featureType: "administrative.country",
          elementType: "geometry.stroke",
          stylers: [
            {
              color: "#4b6878",
            },
          ],
        },
        {
          featureType: "administrative.land_parcel",
          elementType: "labels.text.fill",
          stylers: [
            {
              color: "#64779e",
            },
          ],
        },
        {
          featureType: "administrative.province",
          elementType: "geometry.stroke",
          stylers: [
            {
              color: "#4b6878",
            },
          ],
        },
        {
          featureType: "landscape.man_made",
          elementType: "geometry.stroke",
          stylers: [
            {
              color: "#334e87",
            },
          ],
        },
        {
          featureType: "landscape.natural",
          elementType: "geometry",
          stylers: [
            {
              color: "#023e58",
            },
          ],
        },
        {
          featureType: "poi",
          elementType: "geometry",
          stylers: [
            {
              color: "#283d6a",
            },
          ],
        },
        {
          featureType: "poi",
          elementType: "labels.text.fill",
          stylers: [
            {
              color: "#6f9ba5",
            },
          ],
        },
        {
          featureType: "poi",
          elementType: "labels.text.stroke",
          stylers: [
            {
              color: "#1d2c4d",
            },
          ],
        },
        {
          featureType: "poi.park",
          elementType: "geometry.fill",
          stylers: [
            {
              color: "#023e58",
            },
          ],
        },
        {
          featureType: "poi.park",
          elementType: "labels.text.fill",
          stylers: [
            {
              color: "#3C7680",
            },
          ],
        },
        {
          featureType: "road",
          elementType: "geometry",
          stylers: [
            {
              color: "#304a7d",
            },
          ],
        },
        {
          featureType: "road",
          elementType: "labels.text.fill",
          stylers: [
            {
              color: "#98a5be",
            },
          ],
        },
        {
          featureType: "road",
          elementType: "labels.text.stroke",
          stylers: [
            {
              color: "#1d2c4d",
            },
          ],
        },
        {
          featureType: "road.highway",
          elementType: "geometry",
          stylers: [
            {
              color: "#2c6675",
            },
          ],
        },
        {
          featureType: "road.highway",
          elementType: "geometry.fill",
          stylers: [
            {
              color: "#9d2a80",
            },
          ],
        },
        {
          featureType: "road.highway",
          elementType: "geometry.stroke",
          stylers: [
            {
              color: "#9d2a80",
            },
          ],
        },
        {
          featureType: "road.highway",
          elementType: "labels.text.fill",
          stylers: [
            {
              color: "#b0d5ce",
            },
          ],
        },
        {
          featureType: "road.highway",
          elementType: "labels.text.stroke",
          stylers: [
            {
              color: "#023e58",
            },
          ],
        },
        {
          featureType: "transit",
          elementType: "labels.text.fill",
          stylers: [
            {
              color: "#98a5be",
            },
          ],
        },
        {
          featureType: "transit",
          elementType: "labels.text.stroke",
          stylers: [
            {
              color: "#1d2c4d",
            },
          ],
        },
        {
          featureType: "transit.line",
          elementType: "geometry.fill",
          stylers: [
            {
              color: "#283d6a",
            },
          ],
        },
        {
          featureType: "transit.station",
          elementType: "geometry",
          stylers: [
            {
              color: "#3a4762",
            },
          ],
        },
        {
          featureType: "water",
          elementType: "geometry",
          stylers: [
            {
              color: "#0e1626",
            },
          ],
        },
        {
          featureType: "water",
          elementType: "labels.text.fill",
          stylers: [
            {
              color: "#4e6d70",
            },
          ],
        },
      ],
    },
  }),
  mounted() {
    console.log(this.$options.name, "mounted", this.place);

    if (this.place && this.place.location) {
      const latlng = this.place.location.split(" ");
      this.mapInit(latlng[0], latlng[1]);
    } else {
      this.getLatlng(this.addr, (lat, lng) => this.mapInit(lat, lng));
    }

    let places = this.placeSelected() ? _.find(this.places(), { place_id: this.placeSelected() }) : this.places();

    console.log(this.$options.name, "places", places);

    _.each(places, (place) => {
      if (place.location) {
        const latlng = place.location.split(" ");
        const position = new window.google.maps.LatLng(latlng[0], latlng[1]);
        const marker = new window.google.maps.Marker({
          position,
          title: place.name,
        });

        marker.setMap(this.map);
      } else {
        if (place.addr) {
          this.getLatlng(place.addr, (lat, lng) => {
            const position = new window.google.maps.LatLng(lat, lng);

            console.log(this.$options.name, "position", position);

            const marker = new window.google.maps.Marker({
              position,
              title: place.name,
            });

            marker.setMap(this.map);
          });
        }
      }
    });
  },
  computed: {},
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapGetters("place", {
      count: "count",
      places: "list",
      placeSelected: "selected",
      placeSearch: "placeSearchText",
    }),

    ...mapActions("place", ["getList", "delItem"]),

    getLatlng(addr, callback) {
      axios
        .get(`https://maps.googleapis.com/maps/api/geocode/json?address=${addr}&key=${this.apiKey}`)
        .then((res) => res.data)
        .then((data) => {
          console.log("data ", data);

          if (data.status === "OK") {
            const {
              geometry: {
                location: { lat, lng },
              },
            } = data.results[0];

            console.log(this.$options.name, "location", lat, lng);

            if (callback) callback(lat, lng);
          } else {
            console.log(this.$options.name, "not found address", addr);
          }
        })
        .catch((error) => console.error(this.$options.name, "googleapis geocode error", error));
    },
    mapInit(lat, lng) {
      let defaltLocation = new window.google.maps.LatLng(lat, lng);
      this.mapOptions.center = defaltLocation;

      this.map = new window.google.maps.Map(document.getElementById("map"), this.mapOptions);

      let marker = new window.google.maps.Marker({
        position: defaltLocation,
        title: "아이크루 본사",
      });

      // To add the marker to the map, call setMap();
      marker.setMap(this.map);
    },
  },
};
</script>
<style></style>
