<template>
  <div class="row">
    <div class="col-12">
      <card :title="table.title">
        <div class="table-responsive">
          <base-table :data="table.data" :resize.sync="changeSize" :columns="table.columns" :order.sync="clickOrder" :option.sync="table.option" thead-classes="text-primary"> </base-table>
          <div class="pageArea">
            <paginate
              v-show="page.count"
              :page-count="page.count"
              :page-range="3"
              :margin-pages="2"
              :click-handler="clickPage"
              :prev-text="'이전'"
              :next-text="'다음'"
              :container-class="'pagination'"
              :page-class="'page-item'"
            >
            </paginate>
            <base-button type="secondary" size="sm" @click="clickReg">등록</base-button>
          </div>
        </div>
      </card>
    </div>

    <!-- Edit -->
    <card class="card-plain" v-if="id > -1">
      <edit-form :id.sync="id" :item="item" :ota-subscribe="otaSubscribe" :reload.sync="clickPage"> </edit-form>
    </card>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";

import { BaseTable } from "@/components";
import EditForm from "./MmsMo/EditForm";
import { getSessionStroge } from "@/constants/constants";
import { ComAlert, ComConfirm } from "@/utils/alert-util";
import { keyToValue, keyCodes } from "@/constants/key-map";
import { imageRemove } from "@/utils/file-util";

import _ from "lodash";
import moment from "moment";

export default {
  name: "MmsMo",
  components: {
    BaseTable,
    EditForm,
  },
  props: {},
  data() {
    return {
      status: "E",
      page: {
        filter: undefined,
        order: "MO_KEY",
        desc: "desc",
        no: 1,
        size: getSessionStroge("rowSize"), // 1 페이지 row count
        count: 0, // 총 페이지 수.
      },
      table: {
        title: "OTA 자동 예약 관리",
        columns: ["PHONE", "CALLBACK", "SUBJECT", "CONTENT", "ETC1", "RESULT_DATE", "RCV_DATE", "del"],
        data: [],
        option: {
          items: keyCodes("mms_mo", "status"),
          model: null,
          item_value: "value",
          item_text: "text",
          chenge: (value) => {
            console.log("- option change", value);
            this.status = value;
            this.clickPage(1);
          },
        },
      },
      id: -1,
      otaSubscribe: [], // OTA 자동 예약 서비스 구독 업소
      item: {}, // 선택 목록의 아이템
    };
  },
  created() {
    console.log(this.$options.name, "mounted");

    this.table.option.model = this.status;

    // OTA 자동 예약 서비스 구독 업소만 조회.
    let filter = "b.code=11";

    this.$store.dispatch(`placeSubscribe/getList`, { page: 0, filter }).then((res) => {
      this.otaSubscribe = res || [];
    });

    // 첫 페이지 조회.
    this.clickPage(1);
  },
  mounted() {},
  computed: {},
  watch: {
    id(newValue, oldValue) {
      // 상세 수정 시 업데이트.
      if (newValue === -1) this.clickPage();
    },
    selPlaceId(newValue, oldValue) {
      this.clickPage(1);
    },
    page(newValue, oldValue) {
      console.log("- watch page", newValue);
      this.clickPage(1);
    },
  },

  methods: {
    ...mapGetters(["auth", "isAuth", "token", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapActions("mmsMo", ["getList", "delItem"]),
    ...mapGetters("mmsMo", { count: "count", list: "list" }),

    clickReg() {
      this.id = 0;
      this.item = {};
    },
    clickEdit(id) {
      this.id = id;
      this.item = _.cloneDeep(_.find(this.list(), { MO_KEY: id }));
      console.log("- edit", id, this.item);
    },
    clickDel(id) {
      let item = _.cloneDeep(_.find(this.list(), { id }));

      // 권한 (0: 슈퍼관리자, 1: 최고 관리자, 2:관리자, 3:사용자, 4:메이드, 5: PMS, )
      if (this.auth().level > 2) {
        ComAlert(
          {
            type: "OTA 예약",
            title: "삭제 권한이 없습니다.",
            text: "관리자에게 문의 하세요.",
          },
          () => {}
        );
      } else {
        ComConfirm({ type: "삭제" }, (resMsg) => {
          this.delItem(id).then((res) => {
            resMsg(res);

            if (res) {
              // 삭제된 이미지는 서버에서도 삭제 한다.
              let images = String(item.content || "").match(/<img.*?src="(.*?)"(.*?)>/gi);

              // console.log("- images", item.content, images);

              _.map(images, (img) => {
                let src = img.replace(/(.*)src="(.*?)"(.*)/, "$2").split("/");
                let name = src.pop();
                let path = src.pop();

                console.log("- del img", path, name);

                // 이미지 삭제
                if (path && name) {
                  imageRemove(path, name, this.token());
                }
              });
            }
            this.id = -1;
            this.clickPage();
          });
        });
      }
    },
    clickPage(no) {
      if (no) this.page.no = no;
      if (this.status) this.page.filter = `a.ETC1='${this.status}'`;

      console.log("- clickPage", no);

      // 목록 조회.
      this.getList({ ...this.page }).then((res) => {
        // 테이블 데이터 구조 변경.
        this.table.data = _.map(res, (item) => {
          let data = { id: { data: item.MO_KEY } };

          _.map(item, (v, k) => {
            data[k] = {
              data: k.indexOf("_DATE") > -1 ? (v ? moment(v).format("YYYY-MM-DD HH:mm") : "") : v,
              click: k === "CONTENT" ? this.clickEdit : null,
            };

            data["del"] = { data: "삭제 ", click: this.clickDel };
          });

          console.log("- data", data);

          return data;
        });
        this.page.count = parseInt((this.count() - 1) / this.page.size) + 1;
      });
    },
    changeSize(size) {
      this.page.size = size;
      this.clickPage();
    },
    clickOrder(order, desc) {
      this.page.order = order;
      this.page.desc = desc;
    },
  },
  beforeDestroy() {},
};
</script>
<style scoped lang="scss"></style>
