<template>
  <div class="row">
    <div class="col-12">
      <card :title="table.title">
        <div class="table-responsive">
          <base-table :data="table.data" :resize.sync="changeSize" :columns="table.columns" :order.sync="clickOrder" thead-classes="text-primary"> </base-table>
          <div class="pageArea">
            <paginate
              v-show="page.count"
              :page-count="page.count"
              :page-range="3"
              :margin-pages="2"
              :click-handler="clickPage"
              :prev-text="'이전'"
              :next-text="'다음'"
              :container-class="'pagination'"
              :page-class="'page-item'"
            >
            </paginate>
            <base-button type="secondary" size="sm" @click="clickReg">등록</base-button>
          </div>
        </div>
      </card>
    </div>

    <!-- Edit -->
    <card class="card-plain" v-if="id > -1">
      <edit-form :id.sync="id" :item="item" :reload.sync="clickPage"> </edit-form>
    </card>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";

import { BaseTable } from "@/components";
import EditForm from "./Notice/EditForm";
import { getSessionStroge } from "@/constants/constants";
import { ComAlert, ComConfirm } from "@/utils/alert-util";
import { keyToValue } from "@/constants/key-map";
import { imageRemove } from "@/utils/file-util";

import _ from "lodash";
import moment from "moment";

export default {
  name: "Notice",
  components: {
    BaseTable,
    EditForm,
  },
  props: {},
  data: () => ({
    table: {
      title: "공지 관리",
      columns: ["place_name", "type_name", "important_type", "open_name", "title", "user_id", "begin_date", "end_date", "reg_date", "mod_date", "del"],
      data: [],
    },
    page: {
      no: 1,
      order: "reg_date",
      desc: "desc",
      size: getSessionStroge("rowSize"), // 1 페이지 row count
      count: 1, // 총 페이지 수.
    },
    id: -1,
    item: {}, // 선택 목록의 아이템
  }),
  created() {
    console.log(this.$options.name, "created");

    if (!this.isAdmin()) {
      // 어드민이 아니면 버튼 제거.
      this.table.columns.splice(9);
    }
  },
  mounted() {
    console.log(this.$options.name, "mounted");
    // 첫 페이지 조회.
    this.clickPage(1);
  },
  computed: {
    watchPlaceSelected() {
      return this.placeSelected();
    },
    watchPlaceSearch() {
      return this.placeSearch();
    },
  },
  watch: {
    id(newValue, oldValue) {
      // 상세 수정 시 업데이트.
      if (newValue === -1) this.clickPage();
    },
    selPlaceId(newValue, oldValue) {
      this.clickPage(1);
    },
    watchPlaceSelected(newValue, oldValue) {
      this.clickPage(1);
    },
    watchPlaceSearch(newValue, oldValue) {
      this.clickPage(1);
    },
  },

  methods: {
    ...mapGetters(["auth", "isAuth", "token", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapGetters("place", { places: "list", placeSelected: "selected", placeSearch: "placeSearchText" }),
    ...mapGetters("notice", { count: "count", notices: "list" }),

    ...mapActions("notice", ["getList", "delItem"]),

    clickReg() {
      this.id = 0;
      this.item = {};
    },
    clickEdit(id) {
      this.id = id;
      this.item = _.cloneDeep(_.find(this.notices(), { id: id }));
      console.log("- edit", id, this.item);
    },
    clickDel(id) {
      let item = _.cloneDeep(_.find(this.notices(), { id: id }));

      // 권한 (0: 슈퍼관리자, 1: 최고 관리자, 2:관리자, 3:사용자)
      if (this.auth().level > 1) {
        ComAlert(
          {
            type: "공지",
            title: "삭제 권한이 없습니다.",
            text: "관리자에게 문의 하세요.",
          },
          () => {}
        );
      } else {
        ComConfirm({ type: "삭제" }, (resMsg) => {
          this.delItem(id).then((res) => {
            resMsg(res);

            if (res) {
              // 삭제된 이미지는 서버에서도 삭제 한다.
              let images = String(item.content || "").match(/<img.*?src="(.*?)"(.*?)>/gi);

              // console.log("- images", item.content, images);

              _.map(images, (img) => {
                let src = img.replace(/(.*)src="(.*?)"(.*)/, "$2").split("/");
                let name = src.pop();
                let path = src.pop();

                console.log("- del img", path, name);

                // 이미지 삭제
                if (path && name) {
                  imageRemove(path, name, this.token());
                }
              });
            }
            this.id = -1;
            this.clickPage();
          });
        });
      }
    },
    clickPage(no, cb) {
      const { id, place_id } = this.auth();

      if (no) this.page.no = no;

      console.log("- clickPage", no);

      let filter = "1=1";

      // 목록 조회.
      this.getList({ page: this.page, filter }).then((res) => {
        // 테이블 데이터 구조 변경.
        this.table.data = _.map(res, (item) => {
          let data = {};
          _.map(item, (v, k) => {
            data[k] = {
              data: k.indexOf("_date") > -1 ? (v ? moment(v).format("YYYY-MM-DD HH:mm") : "") : v,
              click: k === "title" ? this.clickEdit : null,
            };

            if (k === "place_id") {
              let { place_name } = v ? _.find(this.userPlaces, { place_id: v }) : {};

              data["place_name"] = {
                data: v ? place_name : "전체",
                order: false,
              };
            }
            if (k === "type") {
              data["type_name"] = {
                data: keyToValue("notice", "type", v, true),
                order: false,
              };
            }
            if (k === "important") {
              data["important_type"] = {
                data: keyToValue("notice", "important", v, true),
                order: false,
              };
            }
            if (k === "open") {
              data["open_name"] = {
                data: keyToValue("com", "openYn", v, true),
                order: false,
              };
            }
            data["del"] = { data: "삭제 ", click: this.clickDel };
          });
          return data;
        });
        this.page.count = parseInt((this.count() - 1) / this.page.size) + 1;

        if (cb) cb(res);
      });
    },
    changeSize(size) {
      this.page.size = size;
      this.clickPage();
    },
    clickOrder(order, desc) {
      this.page.order = order;
      this.page.desc = desc;
    },
  },
  beforeDestroy() {},
};
</script>
<style scoped lang="scss"></style>
