<template>
  <div class="row">
    <div class="col-12">
      <card :title="table.title">
        <div class="table-responsive">
          <base-table :data="table.data" :resize.sync="changeSize" :columns="table.columns" :order.sync="clickOrder" thead-classes="text-primary"> </base-table>
          <div class="pageArea">
            <paginate
              v-show="page.count"
              :page-count="page.count"
              :page-range="10"
              :margin-pages="2"
              :click-handler="clickPage"
              :prev-text="'이전'"
              :next-text="'다음'"
              :container-class="'pagination'"
              :page-class="'page-item'"
            >
            </paginate>
            <base-button v-if="isAdmin()" type="secondary" size="sm" @click="clickReg">등록</base-button>
          </div>
        </div>
      </card>
    </div>

    <!-- Edit -->
    <card class="card-plain" v-if="id > -1">
      <edit-form :id.sync="id" :item="data"> </edit-form>
    </card>

    <!-- Setting -->
    <card class="card-plain" v-if="isSetting && placeId > -1">
      <set-form :place="data" :placeId.sync="placeId"> </set-form>
    </card>

    <!-- Sbuscribe -->
    <card class="card-plain" v-if="isSubscribe && placeId > -1">
      <subscribe-list :place="data" :placeId.sync="placeId"> </subscribe-list>
    </card>
  </div>
</template>
<script>
import { mapActions, mapGetters, mapMutations } from "vuex";
import { BaseTable } from "@/components";

import EditForm from "./Place/EditForm";
import SetForm from "./Place/SetForm";
import SubscribeList from "./Place/SubscribeList";

import { getSessionStroge } from "@/constants/constants";
import { ComAlert, ComConfirm } from "@/utils/alert-util";
import format from "@/utils/format-util";
import _ from "lodash";
import moment from "moment";

export default {
  name: "Place",
  components: {
    BaseTable,
    EditForm,
    SetForm,
    SubscribeList,
  },
  props: {},
  data() {
    return {
      list: [],
      table: {
        title: "업소 관리",
        columns: ["company_name", "name", "addr", "addr_detl", "tel", "expire_date", "reg_date", "sbuscribe", "setting", "del"],
        data: [],
      },
      page: {
        no: 1,
        order: "reg_date",
        desc: "desc",
        size: getSessionStroge("rowSize"), // 1 페이지 row count
        count: 1, // 총 페이지 수
      },
      id: -1,
      placeId: -1,
      isSetting: false,
      isSubscribe: false,
      data: {}, // 선택 목록의 아이템
    };
  },
  created() {
    console.log(this.$options.name, "created");

    if (!this.isAdmin()) {
      // 어드민이 아니면 버튼 제거.
      this.table.columns.splice(7);
    }
  },
  mounted() {
    console.log(this.$options.name, "mounted");

    this.clickPage(1);
  },
  computed: {
    watchPlaces() {
      return this.places();
    },
    watchPlaceSelected() {
      return this.placeSelected();
    },
    watchPlaceSearch() {
      return this.placeSearch();
    },
  },
  watch: {
    id(newValue, oldValue) {
      // 상세 수정 시 업데이트.
      if (newValue === -1) this.clickPage();
    },
    watchPlaces(newValue, oldValue) {
      this.clickPage(1);
    },
    watchPlaceSelected(newValue, oldValue) {
      this.clickPage(1);
    },
    watchPlaceSearch(newValue, oldValue) {
      this.clickPage(1);
    },
  },
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapGetters("company", { companys: "list" }),
    ...mapGetters("place", {
      count: "count",
      places: "list",
      placeSelected: "selected",
      placeSearch: "placeSearchText",
    }),

    ...mapMutations("place", { setItem: "item", setPlaceSearch: "placeSearchText", setPlaceSelected: "selected" }),

    clickReg() {
      this.id = 0;
      this.data = {};
    },
    clickEdit(id) {
      this.id = id;
      this.placeId = -1;
      this.isSetting = false;
      this.isSubscribe = false;
      this.data = _.cloneDeep(_.find(this.places(), { id: id }));
    },
    goMap(id) {
      console.log(id);
      this.data = _.cloneDeep(_.find(this.places(), { id: id }));
      this.setItem(this.data);

      this.$router.push("maps");
    },
    clickSubscribe(id) {
      // 권한 (0: 슈퍼관리자(ICT), 1: 업주(책임자), 2: 매니저(관리자), 3: 카운터(사용자), 9:뷰어)
      if (!this.isAdmin()) {
        ComAlert(
          {
            type: "알림",
            title: "구독 권한이 없습니다.",
            text: "관리자에게 문의 하세요.",
          },
          () => {}
        );
      } else {
        this.data = _.cloneDeep(_.find(this.places(), { id: id }));
        this.id = -1;
        this.placeId = id;
        this.isSetting = false;
        this.isSubscribe = true;
      }
    },
    clickSetting(id) {
      // 권한 (0: 슈퍼관리자(ICT), 1: 업주(책임자), 2: 매니저(관리자), 3: 카운터(사용자), 9:뷰어)
      if (!this.isAdmin() && this.auth().level > 2) {
        ComAlert(
          {
            type: "알림",
            title: "설정 권한이 없습니다.",
            text: "관리자에게 문의 하세요.",
          },
          () => {}
        );
      } else {
        this.data = _.cloneDeep(_.find(this.places(), { id: id }));
        this.id = -1;
        this.placeId = id;
        this.isSetting = true;
        this.isSubscribe = false;
      }
    },
    clickDel(id) {
      // 권한 (0: 슈퍼관리자(ICT), 1: 업주(책임자), 2: 매니저(관리자), 3: 카운터(사용자), 9:뷰어)
      if (!this.isSupervisor()) {
        ComAlert(
          {
            type: "알림",
            title: "삭제 권한이 없습니다.",
            text: "관리자에게 문의 하세요.",
          },
          () => {}
        );
      } else {
        ComConfirm({ type: "삭제" }, (resMsg) => {
          this.delItem(id).then((res) => {
            resMsg(res);
            this.id = -1;
            this.clickPage();
          });
        });
      }
    },
    clickPage(no) {
      if (no) this.page.no = no;

      let begin = (this.page.no - 1) * this.page.size;
      let end = begin + this.page.size;

      let list = this.places().slice();

      if (this.placeSelected()) list = _.filter(list, { id: this.placeSelected() });
      else if (this.placeSearch()) list = format.textFilter(list, this.placeSearch());

      console.log(this.$options.name, "- page", { begin, end, list });

      let rows = list.slice(begin, end);

      // 테이블 데이터 구조 변경.
      this.table.data = _.map(rows, (item) => {
        let data = {};
        _.map(item, (v, k) => {
          data[k] = {
            data: k.indexOf("_date") > -1 ? (v ? moment(v).format("YYYY-MM-DD HH:mm") : "") : v,
            click: k === "name" ? this.clickEdit : k === "addr" ? this.goMap : null,
          };

          data["sbuscribe"] = {
            data: "구독 ",
            click: this.clickSubscribe,
            type: "primary",
          };
          data["setting"] = {
            data: "설정 ",
            click: this.clickSetting,
            type: "info",
          };
          data["del"] = {
            data: "삭제 ",
            click: this.clickDel,
            type: "danger",
          };
        });
        return data;
      });

      this.page.count = parseInt((list.length - 1) / this.page.size) + 1;

      console.log(this.$options.name, "- page data", this.page.count, this.table.data);
    },
    changeSize(size) {
      this.page.size = size;
      this.clickPage();
    },
    clickOrder(order, desc) {
      this.page.order = order;
      this.page.desc = desc;
    },
  },
};
</script>
<style scoped lang="scss"></style>
