<template>
  <div class="row">
    <div class="col-md-8">
      <edit-profile-form :auth="auth">
      </edit-profile-form>
    </div>
    <div class="col-md-4">
      <user-card :user="auth"></user-card>
    </div>
  </div>
</template>

<script>
import EditProfileForm from "./Profile/EditProfileForm";
import UserCard from "./Profile/UserCard";
import { mapGetters } from "vuex";

export default {
  components: {
    EditProfileForm,
    UserCard
  },
  data: () => ({}),
  created() {},
  computed: {
    ...mapGetters({
      auth: "auth"
    })
  }
};
</script>
<style>
</style>
