<template>
  <div class="row">
    <div class="col-12">
      <card :title="table.title">
        <div class="table-responsive">
          <div class="col-md-12">
            <!-- <base-input :model="page.begin" label="조회 시작일" placeholder="시작일" />
            <base-input :model="page.end" label="조회 종료일" placeholder="종료일" /> -->
          </div>
          <base-table :data="table.data" :resize.sync="changeSize" :columns="table.columns" :order.sync="clickOrder" thead-classes="text-primary"> </base-table>
          <div class="pageArea">
            <paginate
              v-show="page.count"
              :page-count="page.count"
              :page-range="10"
              :margin-pages="2"
              :click-handler="clickPage"
              :prev-text="'이전'"
              :next-text="'다음'"
              :container-class="'pagination'"
              :page-class="'page-item'"
            >
            </paginate>
            <base-button v-if="isAdmin()" type="secondary" size="sm">
              <download-excel class="secondary" :data="excel.data" :fields="excel.column" :worksheet="excel.seetname" :name="excel.filename">
                엑셀 다운로드
              </download-excel>
            </base-button>
          </div>
        </div>
      </card>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters, mapMutations } from "vuex";
import { BaseTable } from "@/components";

import { getSessionStroge } from "@/constants/constants";
import { ComAlert, ComConfirm } from "@/utils/alert-util";
import _ from "lodash";
import moment from "moment";

export default {
  name: "Place",
  components: {
    BaseTable,
  },
  props: {},
  data() {
    return {
      list: [],
      table: {
        title: "매출 관리 (최근 1년)",
        columns: ["name", "year", "month", "day", "stay_cnt", "rent_cnt", "card_pay", "cash_pay", "point_pay"],
        data: [],
      },
      page: {
        placeId: 0,
        begin: moment()
          .add(-1, "year")
          .format("YYYY-MM-DD"),
        end: moment()
          .add(1, "day")
          .format("YYYY-MM-DD"),
        no: 1,
        order: "a.reg_date",
        desc: "desc",
        size: getSessionStroge("rowSize"), // 1 페이지 row count
        count: 0, // 총 페이지 수
      },
      id: -1,
      placeId: -1,
      excel: {
        filename: "sale_list.xlsx",
        seetname: "매출목록",
        column: {
          No: "no",
          업소명: "name",
          년: "year",
          월: "month",
          일: "day",
          "이글 장기 건수": "ieg_long_cnt",
          "이글 숙박 건수": "ieg_stay_cnt",
          "이글 대실 건수": "ieg_rent_cnt",
          "무인 장기 건수": "isg_long_cnt",
          "무인 숙박 건수": "isg_stay_cnt",
          "무인 대실 건수": "isg_rent_cnt",
          "장기 건수 합계": "long_cnt",
          "숙박 건수 합계": "stay_cnt",
          "대실 건수 합계": "rent_cnt",
          "예약 건수": "reserv_cnt",
          "OTA 결제금액": "prepay_ota_amt",
          "현금 선결제금액": "prepay_cash_amt",
          "카드 선결제금액": "prepay_card_amt",
          "포인트 선결제금액": "prepay_point_amt",
          "이글 카드 결제금액": "ieg_pay_card_amt",
          "이글 현금 결제금액": "ieg_pay_cash_amt",
          "이글 포인트 결제금액": "ieg_pay_point_amt",
          "무인 현금 결제금액": "isg_pay_cash_amt",
          "무인 카드 결제금액": "isg_pay_card_amt",
          "무인 포인트 결제금액": "isg_pay_point_amt",
          "장기 결제금액 합계": "cash_pay",
          "숙박 결제금액 합계": "stay_pay",
          "대실 결제금액 합계": "point_pay",
        },
        data: [],
      },
    };
  },
  created() {
    console.log(this.$options.name, "created");
  },
  mounted() {
    console.log(this.$options.name, "mounted");

    this.clickPage(1);
  },
  computed: {
    watchPlaces() {
      return this.places();
    },
    watchPlaceSelected() {
      return this.placeSelected();
    },
    watchPlaceSearch() {
      return this.placeSearch();
    },
  },
  watch: {
    watchPlaces(newValue, oldValue) {
      this.clickPage(1);
    },
    watchPlaceSelected(newValue, oldValue) {
      this.clickPage(1);
    },
    watchPlaceSearch(newValue, oldValue) {
      this.clickPage(1);
    },
  },
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapGetters("company", { companys: "list" }),
    ...mapGetters("place", {
      places: "list",
      placeSelected: "selected",
      placeSearch: "placeSearchText",
    }),

    ...mapGetters("roomSaleReport", {
      count: "count",
      reports: "list",
    }),

    ...mapActions("roomSaleReport", ["getHoursList", "getDaysList", "getMonthsList", "getYearsList"]),

    clickDownload(id) {
      // 타입 (1: 아이크루, 2: 대리점, 3: 업소, 4: PMS)
      if (!this.isAdmin()) {
        ComAlert(
          {
            type: "알림",
            title: "다운로드 권한이 없습니다.",
            text: "관리자에게 문의 하세요.",
          },
          () => {}
        );
      } else {
        let { begin, end, placeId } = this.page;
        if (this.placeSelected()) placeId = this.placeSelected();

        this.excel.filename = `아이크루_매출_목록${begin}-${end}.xls`;

        this.getDaysList({ no: 1, size: 10000, placeId, begin, end }).then((res) => {
          // 테이블 데이터 구조 변경.
          this.excel.data = _.map(res, (v, k) => {
            let {
              name,
              year,
              month,
              day,
              ieg_long_cnt,
              ieg_stay_cnt,
              ieg_rent_cnt,
              isg_long_cnt,
              isg_stay_cnt,
              isg_rent_cnt,
              reserv_cnt,
              prepay_ota_amt,
              prepay_cash_amt,
              prepay_card_amt,
              prepay_point_amt,
              ieg_pay_card_amt,
              ieg_pay_cash_amt,
              ieg_pay_point_amt,
              isg_pay_cash_amt,
              isg_pay_card_amt,
              isg_pay_point_amt,
            } = v;

            let data = {
              no: k + 1,
              name,
              year,
              month,
              day,
              ieg_long_cnt,
              ieg_stay_cnt,
              ieg_rent_cnt,
              isg_long_cnt,
              isg_stay_cnt,
              isg_rent_cnt,
              reserv_cnt,
              prepay_ota_amt,
              prepay_cash_amt,
              prepay_card_amt,
              prepay_point_amt,
              ieg_pay_card_amt,
              ieg_pay_cash_amt,
              ieg_pay_point_amt,
              isg_pay_cash_amt,
              isg_pay_card_amt,
              isg_pay_point_amt,
            };

            data["long_cnt"] = ieg_long_cnt + isg_long_cnt;
            data["stay_cnt"] = ieg_stay_cnt + isg_stay_cnt;
            data["rent_cnt"] = ieg_rent_cnt + isg_rent_cnt;
            data["cash_pay"] = prepay_cash_amt + ieg_pay_cash_amt + isg_pay_cash_amt;
            data["card_pay"] = prepay_card_amt + ieg_pay_card_amt + isg_pay_card_amt;
            data["point_pay"] = ieg_pay_point_amt + isg_pay_point_amt;

            return data;
          });
        });
      }
    },
    clickPage(no) {
      if (no) this.page.no = no;

      console.log("- clickPage", { ...this.page });

      if (this.placeSelected()) this.page.placeId = this.placeSelected();

      // 목록 조회.
      this.getDaysList({ ...this.page }).then((res) => {
        // 테이블 데이터 구조 변경.
        this.table.data = _.map(res, (item) => {
          let {
            ieg_long_cnt,
            ieg_stay_cnt,
            ieg_rent_cnt,
            isg_long_cnt,
            isg_stay_cnt,
            isg_rent_cnt,
            reserv_cnt,
            prepay_ota_amt,
            prepay_cash_amt,
            prepay_card_amt,
            prepay_point_amt,
            ieg_pay_card_amt,
            ieg_pay_cash_amt,
            ieg_pay_point_amt,
            isg_pay_cash_amt,
            isg_pay_card_amt,
            isg_pay_point_amt,
          } = item;

          let data = {};

          _.map(item, (v, k) => {
            data[k] = {
              data: k.indexOf("_date") > -1 ? (v ? moment(v).format("YYYY-MM-DD HH:mm") : "") : v,
              click: null,
            };

            data["long_cnt"] = {
              data: ieg_long_cnt + isg_long_cnt,
              click: null,
              type: null,
              format: "momey",
            };
            data["stay_cnt"] = {
              data: ieg_stay_cnt + isg_stay_cnt,
              click: null,
              type: null,
              format: "momey",
            };
            data["rent_cnt"] = {
              data: ieg_rent_cnt + isg_rent_cnt,
              click: null,
              type: null,
              format: "momey",
            };
            data["cash_pay"] = {
              data: prepay_cash_amt + ieg_pay_cash_amt + isg_pay_cash_amt,
              click: null,
              type: null,
              format: "momey",
            };
            data["card_pay"] = {
              data: prepay_card_amt + ieg_pay_card_amt + isg_pay_card_amt,
              click: null,
              type: null,
              format: "momey",
            };
            data["point_pay"] = {
              data: ieg_pay_point_amt + isg_pay_point_amt,
              click: null,
              type: null,
              format: "momey",
            };
          });
          return data;
        });

        this.page.count = parseInt((this.count() - 1) / this.page.size) + 1;

        console.log(this.$options.name, "- page data", this.page.count, this.table.data);
      });

      this.clickDownload();
    },
    changeSize(size) {
      this.page.size = size;
      this.clickPage();
    },
    clickOrder(order, desc) {
      this.page.order = order;
      this.page.desc = desc;
    },
  },
};
</script>
<style scoped lang="scss"></style>
