<template>
  <div class="row">
    <div class="col-12">
      <card :title="table.title">
        <div class="table-responsive">
          <base-table :data="table.data" :resize.sync="changeSize" :columns="table.columns" :order.sync="clickOrder" thead-classes="text-primary"> </base-table>
          <div class="pageArea">
            <paginate
              v-show="page.count"
              :page-count="page.count"
              :page-range="3"
              :margin-pages="2"
              :click-handler="clickPage"
              :prev-text="'이전'"
              :next-text="'다음'"
              :container-class="'pagination'"
              :page-class="'page-item'"
            >
            </paginate>
            <base-button type="secondary" size="sm" @click="clickReg">등록</base-button>
          </div>
        </div>
      </card>
    </div>

    <!-- Edit -->
    <card class="card-plain" v-if="id > -1">
      <edit-form :id.sync="id" :item="item"> </edit-form>
    </card>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";

import { BaseTable } from "@/components";
import EditForm from "./Subscribe/EditForm";
import { getSessionStroge } from "@/constants/constants";
import { ComAlert, ComConfirm } from "@/utils/alert-util";
import { keyToValue } from "@/constants/key-map";
import format from "@/utils/format-util";

import _ from "lodash";
import moment from "moment";

export default {
  name: "Subscribe",
  components: {
    BaseTable,
    EditForm,
  },
  props: {},
  data() {
    return {
      table: {
        title: "구독 관리",
        columns: ["name", "code", "discription", "pay_yn", "pay_type", "default_fee", "use_yn", "reg_date", "mod_date", "del"],
        data: [],
      },
      page: {
        no: 1,
        order: "reg_date",
        desc: "desc",
        size: getSessionStroge("rowSize"), // 1 페이지 row count
        count: 1, // 총 페이지 수.
      },
      id: -1,
      item: {}, // 선택 목록의 아이템
    };
  },
  created() {
    // 첫 페이지 조회.
    this.clickPage(1);
  },
  computed: {},
  watch: {
    id(newValue, oldValue) {
      // 상세 수정 시 업데이트.
      if (newValue === -1) this.clickPage();
    },
    selPlaceId(newValue, oldValue) {
      this.clickPage(1);
    },
  },
  mounted() {},
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapActions("subscribe", ["getList", "delItem"]),
    ...mapGetters("subscribe", ["count", "list"]),

    clickReg() {
      this.id = 0;
      this.item = {};
    },
    clickEdit(id) {
      this.id = id;
      this.item = _.cloneDeep(_.find(this.list(), { id: id }));
      console.log("- edit", id, this.item);
    },
    clickDel(id) {
      // 권한 (0: 슈퍼관리자(ICT), 1: 업주(책임자), 2: 매니저(관리자), 3: 카운터(사용자), 9:뷰어)
      if (!this.isAdmin()) {
        ComAlert(
          {
            type: "알림",
            title: "삭제 권한이 없습니다.",
            text: "관리자에게 문의 하세요.",
          },
          () => {}
        );
      } else {
        ComConfirm({ type: "삭제" }, (resMsg) => {
          this.delItem(id).then((res) => {
            resMsg(res);
            this.id = -1;
            this.clickPage();
          });
        });
      }
    },
    clickPage(no, cb) {
      if (no) this.page.no = no;

      console.log("- clickPage", no);

      // 목록 조회.
      this.getList({ page: this.page }).then((res) => {
        // 테이블 데이터 구조 변경.
        this.table.data = _.map(res, (item) => {
          let data = {};

          _.map(item, (v, k) => {
            data[k] = {
              data: k.indexOf("_date") > -1 ? (v ? moment(v).format("YYYY-MM-DD HH:mm") : "") : v,
              click: k === "name" ? this.clickEdit : null,
            };
            if (k === "default_fee") {
              data["default_fee"] = {
                data: format.toMoney(v),
                order: false,
              };
            }
            if (k === "pay_yn") {
              data["pay_yn"] = {
                data: keyToValue("com", "payYn", v),
                order: false,
              };
            }
            if (k === "pay_type") {
              data["pay_type"] = {
                data: keyToValue("subscribe", "pay_type", v),
                order: false,
              };
            }
            data["del"] = {
              data: "삭제 ",
              click: this.clickDel,
              type: "danger",
            };
          });
          return data;
        });
        this.page.count = parseInt((this.count() - 1) / this.page.size) + 1;

        if (cb) cb(res);
      });
    },
    changeSize(size) {
      this.page.size = size;
      this.clickPage();
    },
    clickOrder(order, desc) {
      this.page.order = order;
      this.page.desc = desc;
    },
  },
  beforeDestroy() {
    console.log("- beforeDestroy");
  },
};
</script>
<style scoped lang="scss"></style>
