<template>
  <div>
    <div class="row">
      <div class="col-12">
        <card :title="table.title">
          <div class="table-responsive">
            <base-table :data="table.data" :resize.sync="changeSize" :columns="table.columns" :order.sync="clickOrder" thead-classes="text-primary"> </base-table>
            <div class="pageArea">
              <paginate
                v-show="page.count"
                :page-count="page.count"
                :page-range="10"
                :margin-pages="2"
                :click-handler="clickPage"
                :prev-text="'이전'"
                :next-text="'다음'"
                :container-class="'pagination'"
                :page-class="'page-item'"
              >
              </paginate>
              <base-button type="secondary" size="sm" @click="clickReg">등록</base-button>
            </div>
          </div>
        </card>
      </div>

      <!-- Edit -->
      <card class="card-plain" v-if="edit">
        <edit-form :id="id" :edit.sync="edit" :item="item" @reload="getPage"> </edit-form>
      </card>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";

import { BaseTable } from "@/components";
import { getSessionStroge } from "@/constants/constants";
import { ComAlert, ComConfirm } from "@/utils/alert-util";
import { keyToValue } from "@/constants/key-map";
import { dataMerge, dataFilter } from "@/utils/data-util";

import format from "@/utils/format-util";
import _ from "lodash";
import moment from "moment";

import EditForm from "./User/EditForm";

export default {
  name: "User",
  components: {
    BaseTable,
    EditForm,
  },
  props: {},
  data: () => ({
    isLoading: false,
    list: [],
    table: {
      title: "사용자 관리",
      columns: ["place_name", "id", "name", "level", "licence_yn", "hp", "tel", "email", "dept", "rank", "pms", "reg_date", "type", "del"],
      data: [],
    },
    page: {
      no: 1,
      order: "reg_date",
      desc: "desc",
      size: getSessionStroge("rowSize"), // 1 페이지 row count
      count: 1, // 총 페이지 수
    },
    id: null,
    edit: false,
    item: {}, // 선택 목록의 아이템
  }),
  created() {
    console.log(this.$options.name, "created");

    if (!this.isAdmin()) {
      // 어드민이 아니면 버튼 제거.
      this.table.columns.splice(11);
    }

    this.getPage();

    this.getSubscribes({});
  },
  mounted() {
    console.log(this.$options.name, "mounted");

    this.clickPage(1);
  },
  computed: {
    watchUsers() {
      return this.users();
    },
    watchPlaceSelected() {
      return this.placeSelected();
    },
    watchPlaceSearch() {
      return this.placeSearch();
    },
    isMoreData() {
      return this.count() > this.list.length;
    },
  },
  watch: {
    watchUsers(newValue, oldValue) {
      console.log(this.$options.name, "watchUsers");
      this.clickPage(1);
    },
    watchPlaceSelected(newValue, oldValue) {
      this.clickPage(1);
    },
    watchPlaceSearch(newValue, oldValue) {
      this.clickPage(1);
    },
    edit(newValue, oleValue) {
      if (oleValue && !newValue) {
        this.clickPage();
      }
    },
  },
  methods: {
    ...mapGetters(["auth", "token", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapGetters("place", {
      count: "count",
      places: "list",
      placeSelected: "selected",
      placeSearch: "placeSearchText",
    }),
    ...mapGetters("userPlace", { userPlaces: "list" }),
    ...mapGetters("user", { count: "count", users: "list", user: "item" }),

    ...mapActions("subscribe", { getSubscribes: "getList" }),
    ...mapActions("user", ["getList", "delItem"]),

    getPage() {
      console.log(this.$options.name, "getPage");

      let { level, company_id } = this.auth();

      let filter = "1=1";

      if (!this.isAdmin()) {
        let placeIds = _.map(this.userPlaces(), (v) => v.place_id).join(",");

        filter = `a.type=3 AND a.level >= ${level} AND place_id IN (${placeIds})`;

        // 업소가 없으면 조회 안함.
        if (!placeIds) return;
      }

      console.log(this.$options.name, "filter", filter);

      this.isLoading = true;

      // 목록 조회.
      this.getList({ filter, limit: 10000 }).then((res) => {
        this.isLoading = false;
      });
    },

    clickReg() {
      this.edit = true;
      this.id = null;
      this.item = {};
    },

    clickEdit(id) {
      this.edit = true;
      this.id = id;
      this.item = _.cloneDeep(_.find(this.users(), { id }));
    },

    clickDel(id) {
      const user = _.cloneDeep(_.find(this.users(), { id }));

      // 권한 (0: 슈퍼관리자(ICT), 1: 업주(책임자), 2: 매니저(관리자), 3: 카운터(사용자), 9:뷰어)
      if (
        !(this.isAdmin() && user.type > 1) && // 아이크루 관리자는 업소 사용자 삭제 권한 가진다.
        this.auth().level >= user.level
      ) {
        ComAlert(
          {
            type: "알림",
            title: "삭제 권한이 없습니다.",
            text: "관리자에게 문의 하세요.",
          },
          () => {}
        );
      } else {
        ComConfirm({ type: "삭제" }, (resMsg) => {
          this.delItem(id).then((res) => {
            resMsg(res);
            this.id = -1;
            this.clickPage();
          });
        });
      }
    },

    clickPage(no) {
      if (no) this.page.no = no;

      let list = this.users().slice();

      if (this.placeSelected()) list = _.filter(list, { place_id: this.placeSelected() });
      else if (this.placeSearch()) list = format.textFilter(list, this.placeSearch());

      let begin = (this.page.no - 1) * this.page.size;
      let end = begin + this.page.size;

      console.log(this.$options.name, "- page", { begin, end, list });

      let rows = list.slice(begin, end);

      // 테이블 데이터 구조 변경.
      this.table.data = _.map(rows, (item) => {
        let data = {};
        _.map(item, (v, k) => {
          data[k] = {
            data: k.indexOf("_date") > -1 ? (v ? moment(v).format("YYYY.MM.DD") : "") : v,
            click: k === "id" ? this.clickEdit : null,
          };
          if (k === "type") {
            data["type"] = {
              data: keyToValue("user", "type", v),
              click: null,
            };
          }
          if (k === "level") {
            data["level"] = {
              data: keyToValue("user", "level", v),
              click: null,
            };
          }
          if (k === "licence_yn") {
            data["licence_yn"] = {
              data: keyToValue("com", "useYn", v),
              click: null,
            };
          }
          data["del"] = {
            data: "삭제 ",
            click: this.clickDel,
            type: "danger",
          };
        });
        return data;
      });

      this.page.count = parseInt((list.length - 1) / this.page.size) + 1;
    },

    changeSize(size) {
      this.page.size = size;
      this.clickPage();
    },

    clickOrder(order, desc) {
      this.page.order = order;
      this.page.desc = desc;
    },
  },
};
</script>
<style scoped lang="scss"></style>
