<template>
  <card>
    <h5 slot="header" class="title">상세 정보</h5>
    <div class="row">
      <div class="col-md-3 pr-md-1">
        <v-select
          outline
          name="place_id"
          v-model="user.place_id"
          :items="places()"
          label="업소명 선택"
          placeholder="선택해 주세요"
          item-value="place_id"
          item-text="place_name"
          v-validate="'required'"
          multi-line
          full-width
          color="#e14eca"
          append-icon="keyboard_arrow_down"
          data-vv-as="업소명 "
        />
        <p v-show="errors.has('place_id')" class="err-info">
          {{ errors.first("place_id") }}
        </p>
      </div>
      <div v-if="auth().type === 1" class="col-md-1 pr-md-1">
        <v-select
          outline
          name="type"
          v-model="user.type"
          :items="keyCodes('user', 'type')"
          label="소속 구분"
          placeholder="선택해 주세요"
          v-validate="'required'"
          multi-line
          full-width
          color="#e14eca"
          append-icon="keyboard_arrow_down"
          data-vv-as="소속 구분 "
        />
        <p v-show="errors.has('type')" class="err-info">
          {{ errors.first("type") }}
        </p>
      </div>
      <div v-if="user.type > 1 && user.level < 3" class="col-md-3 pr-md-1">
        <v-select
          outline
          name="sel_place_ids"
          v-model="sel_place_ids"
          :items="user_place_ids"
          label="사용자 관리 업소 선택"
          placeholder="선택해 주세요"
          item-value="place_id"
          item-text="place_name"
          v-validate="'required'"
          multi-line
          full-width
          chips
          multiple
          color="#e14eca"
          append-icon="keyboard_arrow_down"
          data-vv-as="사용자 관리 업소 "
        />
        <p v-show="errors.has('sel_place_ids')" class="err-info">
          {{ errors.first("sel_place_ids") }}
        </p>
      </div>
    </div>
    <div v-show="user.place_id">
      <div class="row">
        <div class="col-md-3 pr-md-1">
          <base-input name="id" type="text" label="아이디" placeholder="아이디" v-model="user.id" v-validate="'required|min:3|max:15'" maxlength="15" data-vv-as="아이디 " :disabled="id && !isAdmin">
          </base-input>
          <p v-show="errors.has('id')" class="err-info">
            {{ errors.first("id") }}
          </p>
        </div>
        <div class="col-md-3 pr-md-1">
          <base-input name="pwd" type="password" v-model="user.pwd" label="비밀번호" placeholder="*******" v-validate="user.pwd && 'min:6'" maxlength="20" data-vv-as="비밀번호 "> </base-input>
          <p v-show="errors.has('pwd')" class="err-info">
            {{ errors.first("pwd") }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 pr-md-1">
          <base-input name="name" label="이름" v-model="user.name" placeholder="이름" v-validate="'required|min:2'" data-vv-as="이름 "> </base-input>
          <p v-show="errors.has('name')" class="err-info text-nowrap">
            {{ errors.first("name") }}
          </p>
        </div>
        <div class="col-md-2 pr-md-1">
          <v-select
            name="level"
            label="권한 선택"
            outline
            v-model="user.level"
            :items="levels"
            placeholder="선택해 주세요"
            item-value="value"
            item-text="text"
            multi-line
            full-width
            color="#e14eca"
            v-validate="'required'"
            append-icon="keyboard_arrow_down"
            data-vv-as="권한 "
          />
          <p v-show="errors.has('level')" class="err-info text-nowrap">
            {{ errors.first("level") }}
          </p>
        </div>
        <!-- <div class="col-md-2 pr-md-1">
          <v-select
            name="pms"
            label="PMS 선택"
            outline
            v-model="user.pms"
            :items="pmss"
            placeholder="선택해 주세요"
            item-value="value"
            item-text="text"
            multi-line
            full-width
            color="#e14eca"
            append-icon="keyboard_arrow_down"
            data-vv-as="PMS "
          />
        </div> -->
      </div>
      <div class="row">
        <div class="col-md-2">
          <base-input
            name="hp"
            label="휴대전화번호"
            v-model="user.hp"
            placeholder="휴대전화번호"
            v-validate="{ required: true, regex: /^\d{3}-?\d{3,4}-?\d{4}$/ }"
            @keyup="(evt) => (user.hp = format.toPhone(evt.target.value))"
            maxlength="13"
            data-vv-as="휴대전화번호 "
          >
          </base-input>
          <p v-show="errors.has('hp')" class="err-info">
            {{ errors.first("hp") }}
          </p>
        </div>
        <div class="col-md-2">
          <base-input
            name="tel"
            label="전화번호"
            v-model="user.tel"
            placeholder="전화번호"
            v-validate="{ required: true, regex: /^\d{2,3}-?\d{3,4}-?\d{4}$/ }"
            @keyup="(evt) => (user.tel = format.toPhone(evt.target.value))"
            maxlength="13"
            data-vv-as="내선번호 "
          >
          </base-input>
          <p v-show="errors.has('tel')" class="err-info">
            {{ errors.first("tel") }}
          </p>
        </div>
        <div class="col-md-3">
          <base-input
            name="email"
            label="이메일"
            v-model="user.email"
            placeholder="이메일"
            v-validate="'required|email'"
            @keyup="(evt) => (user.email = evt.target.value.replace(/[ㄱ-ㅎ]/gi, ''))"
            maxlength="50"
            data-vv-as="이메일 "
          >
          </base-input>
          <p v-show="errors.has('email')" class="err-info">
            {{ errors.first("email") }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <base-input name="dept" label="부서" v-model="user.dept" placeholder="부서" v-validate="'required|min:2'" maxlength="20" data-vv-as="부서 "> </base-input>
          <p v-show="errors.has('dept')" class="err-info">
            {{ errors.first("dept") }}
          </p>
        </div>
        <div class="col-md-2">
          <base-input name="rank" label="직위" v-model="user.rank" placeholder="직위" v-validate="'required|min:2'" maxlength="20" data-vv-as="직위 "> </base-input>
          <p v-show="errors.has('rank')" class="err-info">
            {{ errors.first("rank") }}
          </p>
        </div>
        <div class="col-md-2">
          <v-select
            name="daily_report_mail_yn"
            label="일일 매출정보 메일수신 여부 선택"
            outline
            v-model="user.daily_report_mail_yn"
            :items="mailYn"
            placeholder="선택 해주세요"
            item-value="value"
            item-text="text"
            multi-line
            full-width
            color="#e14eca"
            v-validate="'required'"
            append-icon="keyboard_arrow_down"
            data-vv-as="일일 매출정보 메일수신 여부 "
          />
          <p v-show="errors.has('daily_report_mail_yn')" class="err-info text-nowrap">
            {{ errors.first("daily_report_mail_yn") }}
          </p>
        </div>
        <div class="col-md-2">
          <v-select
            name="isg_sale_mail_yn"
            label="무인 매출정보 메일수신 여부 선택"
            outline
            v-model="user.isg_sale_mail_yn"
            :items="mailYn"
            placeholder="선택 해주세요"
            item-value="value"
            item-text="text"
            multi-line
            full-width
            color="#e14eca"
            v-validate="'required'"
            append-icon="keyboard_arrow_down"
            data-vv-as="무인 매출정보 메일수신  "
          />
          <p v-show="errors.has('isg_sale_mail_yn')" class="err-info text-nowrap">
            {{ errors.first("isg_sale_mail_yn") }}
          </p>
        </div>
        <div class="col-md-2">
          <v-select
            name="ota_mo_mail_yn"
            label="OTA 자동예약 정보 메일수신 여부 선택"
            outline
            v-model="user.ota_mo_mail_yn"
            :items="otaMailYn"
            placeholder="선택 해주세요"
            item-value="value"
            item-text="text"
            multi-line
            full-width
            color="#e14eca"
            v-validate="'required'"
            append-icon="keyboard_arrow_down"
            data-vv-as="OTA 자동예약 정보 메일수신 여부  "
          />
          <p v-show="errors.has('ota_mo_mail_yn')" class="err-info text-nowrap">
            {{ errors.first("ota_mo_mail_yn") }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <v-select
            name="licence_yn"
            label="로그인 라이선스 사용 여부"
            outline
            v-model="user.licence_yn"
            :items="useYn"
            placeholder="선택 해주세요"
            item-value="value"
            item-text="text"
            multi-line
            full-width
            color="#e14eca"
            v-validate="'required'"
            append-icon="keyboard_arrow_down"
            data-vv-as="로그인 라이선스 사용 여부 "
          />
          <p v-show="errors.has('licence_yn')" class="err-info text-nowrap">
            {{ errors.first("licence_yn") }}
          </p>
        </div>
        <div class="col-md-2">
          <v-select
            name="licence_type"
            label="라이선스 타입"
            outline
            v-model="user.licence_type"
            :items="licenceTypes"
            placeholder="선택 해주세요"
            item-value="value"
            item-text="text"
            multi-line
            full-width
            color="#e14eca"
            v-validate="'required'"
            append-icon="keyboard_arrow_down"
            data-vv-as="라이선스 타입  "
          />
          <p v-show="errors.has('licence_type')" class="err-info text-nowrap">
            {{ errors.first("licence_type") }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <v-select
            name="use_yn"
            label="사용여부 선택"
            outline
            v-model="user.use_yn"
            :items="useYn"
            placeholder="선택 해주세요"
            item-value="value"
            item-text="text"
            multi-line
            full-width
            color="#e14eca"
            v-validate="'required'"
            append-icon="keyboard_arrow_down"
            @change="(value) => (user.use_yn = value)"
            data-vv-as="사용여부 "
          />
          <p v-show="errors.has('use_yn')" class="err-info text-nowrap">
            {{ errors.first("use_yn") }}
          </p>
        </div>
        <div class="col-md-2">
          <base-input label="등록일자" :value="moment(user.reg_date).format('YYYY-MM-DD HH:mm')" disabled placeholder="등록일자"> </base-input>
        </div>
        <div class="col-md-2" v-if="user.mod_date">
          <base-input label="수정일자" :value="moment(user.mod_date).format('YYYY-MM-DD HH:mm')" disabled placeholder="수정일자"> </base-input>
        </div>
      </div>
    </div>

    <base-button slot="footer" type="secondary" fill @click="clickCancle">취소</base-button>

    <base-button slot="footer" type="primary" fill :disabled="!user.place_id || errors.any() || isDisabled" @click="clickSave"
      >{{ id ? "저장" : "등록" }} {{ isDisabled ? "권한없음" : "" }}
    </base-button>
  </card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { ComAlert, ComConfirm } from "@/utils/alert-util";
import { keyToValue, keyCodes } from "@/constants/key-map";

import _ from "lodash";

export default {
  name: "UserEditForm",
  props: {
    id: {
      type: String,
      default: null,
    },
    edit: {
      type: Boolean,
      default: true,
    },
    item: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  data: () => ({
    datepicker: false,
    isDisabled: false,
    user: {},
    user_place_ids: [],
    sel_place_ids: [],
    sel_place_ids_org: [],
    levels: [],
    pmss: keyCodes("com", "pms"),
    useYn: keyCodes("com", "useYn"),
    mailYn: keyCodes("com", "mailYn"),
    agreeYn: keyCodes("com", "agreeYn"),
    licenceTypes: keyCodes("user", "licence_type"),
    otaMailYn: keyCodes("com", "otaMailYn"),
  }),
  created() {},
  computed: {
    watchUser() {
      return _.cloneDeep(this.user);
    },
  },
  updated() {},
  watch: {
    item: {
      immediate: true,
      handler(newValue, oldValue) {
        console.log(this.$options.name, "watch item", newValue);

        let { id, type, level, place_id } = newValue;

        this.isDisabled = false;

        // 자기 자신이 아니라면 나보다 하위 권한만 수정 가능
        if (!this.isAdmin()) {
          if (id && this.auth().id !== id) {
            this.isDisabled = this.auth().level >= level;
          }
        }

        this.levels = [];

        // 로그인 권한 보다 낮은 권한만 보여준다.
        _.map(keyCodes("user", "level"), (item) => {
          if (this.auth().level <= item.value) {
            this.levels.push(item);
          }
        });

        this.user = _.cloneDeep(newValue);
        this.user.pwd = "";

        // 타입 (1: 아이크루, 2: 대리점, 3: 업소, 4: PMS)
        if ((this.user.type > 1 && this.user.type < 4) || !this.user.id) {
          this.user_place_ids = this.places();
          // } else if (this.auth().type === 3) {
          //   // 동일 회사 관리 업소
          //   this.user_place_ids = _.filter(this.places(), (v) => v.company_id === this.auth().company_id);

          //   console.log(this.$options.name, "watch user_place_ids", this.places(), this.user_place_ids);
        }

        if (this.user.id) {
          let filter = `a.user_id='${this.user.id}'`;

          // 사용자 관리 업소 조회.
          this.getUserPlacesTemp({ filter }).then(({ success, count, user_places }) => {
            // console.log(this.$options.name, "watch userPlaces", { success, count, user_places });
            this.sel_place_ids = _.values(_.map(user_places, (v) => v.place_id));
            this.sel_place_ids_org = user_places;
          });
        }

        if (place_id) {
          // 업소 구독 목록 조회.
          let filter = `a.place_id=${place_id}`;
          this.getPlaceSubscribes({ filter });
        }
      },
    },
    sel_place_ids: {
      immediate: false,
      deep: true,
      handler(newValue, oldValue = {}) {
        console.log(this.$options.name, "watch sel_place_ids", newValue);

        // this.sel_place_ids = this.user_place_ids;
      },
    },
    watchUser: {
      immediate: false,
      deep: true,
      handler(newValue, oldValue = {}) {
        console.log(this.$options.name, "watch user", { newValue, oldValue });

        let { id, type } = this.auth(); // 로그인 사용자.

        let { place_id, licence_yn } = newValue;
        let { place_id: _place_id, licence_yn: _licence_yn } = oldValue;

        if (place_id && place_id !== _place_id) {
          let filter = `a.place_id=${place_id}`;

          // 업소 구독 목록 조회.
          this.getPlaceSubscribes({ filter });

          // 등록 시 업소 변경 하면 사용자 초기화.
          if (!id) this.user = { place_id };
        } else if (type === 3 && licence_yn === "Y" && licence_yn !== _licence_yn) {
          let subscribe = _.find(this.subscribes(), { code: "04" }) || { default_license: 1 }; // 구독 정보
          let { id, default_license } = subscribe;

          let placeSubscribe = _.find(this.placeSubscribes(), { code: "04" }) || { license_copy: 1 }; // 업소 구매 라이선스 카피
          let { license_copy } = placeSubscribe;

          // console.log(this.$options.name, "placeSubscribe", { subscribe, placeSubscribe });

          let use_licenses = _.filter(this.users(), (user) => user.licence_yn === "Y" && type !== 1).length; // 사용중인 라이선스 갯수

          console.log(this.$options.name, "use_license_copy", { default_license, license_copy, use_licenses });

          let allow_licensy_copy = license_copy + default_license;

          // 사용 라이선스가 허용된 라이선스 수보다 크면..
          if (use_licenses >= allow_licensy_copy) {
            this.user.licence_yn = "N";

            ComAlert(
              {
                type: "알림",
                title: `허용된 로그인 라이선스가 <br/>사용자에게 모두 할당 되었습니다.`,
                text: `<font color=red>구매한 로그인 라이선스는 <b>${allow_licensy_copy}</b> 카피 입니다.</font> <br/><br/>로그인 라이선스를 추가로 구매해 주세요.`,
              },
              () => {}
            );
          }
        }
      },
    },
  },
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapGetters("subscribe", { subscribes: "list" }),
    ...mapGetters("placeSubscribe", { placeSubscribes: "list" }),
    ...mapGetters("user", { users: "list" }),
    ...mapGetters("userPlace", { userPlaces: "list" }),
    ...mapGetters("place", { places: "list" }),

    ...mapActions("place", { initPlaces: "getList" }),
    ...mapActions("userPlace", { initUserPlaces: "getList", getUserPlacesTemp: "getListTemp", addUserPlaces: "newItem", delUserPlaces: "delItem" }),
    ...mapActions("placeSubscribe", { getPlaceSubscribes: "getList" }),
    ...mapActions("user", ["newItem", "setItem"]),

    clickCancle() {
      // sync 로 연결된 상위 컴포넌트 데이터 변경 시 명시적으로 emit.
      this.$emit("update:edit", false);
    },
    clickSave() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          if (!this.id) {
            // 신규 등록
            console.log(this.$options.name, "newItem", this.user);
            ComConfirm({ type: "등록" }, (resMsg) => {
              this.newItem({ ...this.user }).then(({ success, user }) => {
                resMsg(success);
                // if (success) this.clickCancle();

                _.each(this.sel_place_ids, (v) => {
                  let { place_id } = _.find(this.places(), { place_id: v });
                  console.log(this.$options.name, "add_item", { place_id });
                  this.addUserPlaces({ user_id: user.id, place_id });
                });

                this.$emit("reload");
              });
            });
          } else {
            // 수정 저장
            console.log(this.$options.name, "setItem", this.user);
            ComConfirm({ type: "저장" }, (resMsg) => {
              this.setItem({ ...this.user }).then((res) => {
                resMsg(res);

                // if (res) this.clickCancle();

                const { id, company_id, place_id } = this.auth();

                // 로그인 사용자 변경 시 화면 갱신
                if (this.user.id === id) {
                  let filter = this.isAdmin() ? "1=1" : `a.company_id=${company_id}`;

                  this.initPlaces({ filter }).then((places) => {
                    console.log(this.$options.name, "initPlaces", places);

                    if (!this.isAdmin()) {
                      let filter = `a.user_id='${id}'`;

                      // 사용자 관리 업소 조회.
                      this.initUserPlaces({ filter });
                    }
                  });
                }

                this.$emit("reload");
              });

              _.each(this.sel_place_ids, (v) => {
                if (!_.find(this.sel_place_ids_org, { place_id: v })) {
                  let { place_id } = _.find(this.places(), { place_id: v });
                  console.log(this.$options.name, "add_item", { place_id });
                  this.addUserPlaces({ user_id: this.user.id, place_id });
                }
              });

              _.each(this.sel_place_ids_org, (v) => {
                if (_.indexOf(this.sel_place_ids, v.place_id) === -1) {
                  console.log(this.$options.name, "del_item", v);
                  this.delUserPlaces(v.id);
                }
              });
            });
          }
        }
      });
    },
  },
};
</script>
<style scoped lang="scss">
  label {
    font-weight: 600;
  }
  .btn {
    margin-right: 20px;
  }
  .col-md-1 {
    min-width: 110px;
  }
</style>
