@mixin on-light($type) {
  animation-duration: 3s;
  animation-name: $type;
  animation-iteration-count: infinite;
}

@mixin light-keyframe($num) {
  0% {
    box-shadow: inset 0 0 0;
  }
  50% {
    box-shadow: inset 0 0 $num;
  }
  100% {
    box-shadow: inset 0 0 0;
  }
}

@mixin on-flash($type, $count) {
  animation-duration: 1s;
  animation-name: $type;
  animation-iteration-count: $count;
}

@mixin flash-keyframe() {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@mixin cash-keyframe() {
  0% {
    top: -20px;
    opacity: 1;
  }
  90% {
    top: -160px;
  }
  100% {
    opacity: 0;
    top: -20px;
  }
}

// 관제센터 페이지 구분
html.center-page {
  //overflow-x: auto;
  overflow-y: auto;
  .wrapper {
    //min-width: 1890px;
    min-width: 1024px;
    .sidebar,
    .navbar,
    .footer {
      display: none;
    }
    .main-panel {
      background: #e5eaed;
      border: none;
    }
    .content {
      padding: 0;
      min-height: inherit;
    }
  }
}

.center-content {
  //background: url("../../assets/image/bg_center.png") repeat 0 0;
  position: relative;
  min-height: 100vh;
  background: #1d253e;
  // 헤더
  .v-toolbar {
    z-index: 10;
    box-shadow: none;
    .v-toolbar__content {
      //max-width: 1920px;
      //margin: 0 auto;
      justify-content: space-between;
      border-bottom: 1px solid #254061;
    }
    .v-toolbar__title {
      width: 335px;
      margin-top: -12px;
      img {
        margin-top: -12px;
        margin-left: 15px;
        vertical-align: bottom;
      }
      span {
        display: inline-block;
        height: 23px;
        margin-left: 18px;
        vertical-align: bottom;
        font-size: 18px;
      }
    }
    .toolbar-middle {
      display: flex;
      align-items: center;
      flex-basis: 55%;
      max-width: 80%;

      .btn-group {
        margin-top: 10px;
        width: 100%;
      }
    }
    .toolbar-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .icon-news {
      position: relative;
      .v-icon {
        font-size: 26px;
      }
      span {
        position: absolute;
        top: -3px;
        right: -7px;
        width: 18px;
        height: 18px;
        background: red;
        border-radius: 10px;
        text-align: center;
        line-height: 18px;
      }
    }
    .v-list {
      margin-left: 20px;
      width: 100%;
      max-width: 870px;
      height: 28px;
      padding: 0;
      background: #303c54;
      border-radius: 20px;
      .v-list__group:after,
      .v-list__group:before {
        display: none;
      }
      .v-list__group__header {
        height: 28px;
        padding: 0px 0 0 20px;
        &:hover {
          background: none;
        }
        .v-icon {
          font-size: 18px;
        }
      }
      .v-list__group__items {
        top: 5px;
        padding: 15px 20px;
        background: #303c54;
        border-radius: 5px;
        height: 70vh;
        overflow-y: auto;
        .v-list-item {
          margin-bottom: 7px;
        }
      }
    }
    .today {
      width: 210px;
      margin-left: 30px;
      margin-right: 30px;
      strong {
        display: inline-block;
        margin-left: 8px;
        margin-top: -5px;
        font-size: 26px;
        font-weight: 400;
        color: #2399e9;
        vertical-align: middle;
      }
    }
    .v-input--selection-controls {
      flex: 0;
      overflow: hidden;
      min-width: 98px;
      padding: 0;
      &__input {
        overflow: hidden;
        width: 98px;
        height: 30px;
      }
      .v-messages {
        display: none;
      }
      .v-input__slot {
        margin-bottom: 0;
      }
      .v-input--switch__track {
        top: calc(50% - 13px);
        height: 24px;
        background: #303c54;
        border-radius: 20px;
        opacity: 1;
      }
      .v-input--switch__thumb {
        top: calc(50% - 14px);
        left: 72px;
        width: 26px;
        height: 26px;
        border-radius: 20px;
        background: #0b78e3;
        &:before {
          display: flex;
          justify-content: center;
          align-items: center;
          content: "플로팅 보기";
          position: absolute;
          top: 0;
          left: -78px;
          width: 88px;
          height: 24px;
          font-size: 11px;
          font-weight: 300;
          color: #fff;
        }
      }
    }
    .v-input--switch .v-input--selection-controls__ripple {
      display: none;
    }
    .v-input--switch.v-input--is-dirty .v-input--switch__thumb {
      background: #666;
      transform: translate(-72px);
      &:before {
        left: 14px;
        content: "플로팅 숨김";
      }
    }
    .btn-reset.v-btn:not(.v-btn--icon):not(.v-btn--flat) {
      width: 80px;
      min-width: 80px;
      height: 24px;
      margin: 0 0 0 12px;
      background: #2299e9;
      border-radius: 20px;
      font-size: 11px;
    }
    .btn-setting {
      margin: 0 0 0 5px;
      .v-icon {
        font-size: 26px;
      }
    }
    .btn-help {
      margin: 0;
      .v-icon {
        font-size: 26px;
      }
    }
    .btn-down {
      margin: 0 0 0 30px;
      border: 1px solid #6d7d9e;
      .v-icon {
        font-size: 20px;
      }
    }
    .btn-close {
      margin-left: 10px;
      border: 1px solid #6d7d9e;
    }
  }

  // 센터 박스
  .center-box {
    position: relative;
    z-index: 1;
    max-width: 1920px;
    height: calc(100vh - 76px);
    margin: 0 auto;
    padding: 0 55px;
    //모텔 박스
    .isc-box {
      > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        > li {
          width: 155px;
          margin: 50px 5px 0;
        }
      }
      .isc-view {
        margin: 0;
        > dt {
          position: relative;
          width: 100%;
          height: 31px;
          //background: #516171;
          background: #1f3456;
          border: 3px solid #254061;
          border-radius: 3px;

          &.on {
            background: #1a61a8;
            border: none;
            .closed strong {
              color: #fff;
            }
          }
          .closed {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            .v-btn {
              margin: 0;
              position: absolute;
              left: 0;
              height: 24px;
              width: 24px;
              .v-icon {
                font-size: 18px;
                color: #acb9ca;
              }
            }
            strong {
              color: #acb9ca;
              font-weight: 700;
              width: 80%;
              text-align: center;
            }
            .active {
              display: inline-block;
              position: absolute;
              right: 10px;
              height: 9px;
              width: 9px;
              background: #2be043;
              border-radius: 15px;
              box-shadow: 0 0 5px #213179;

              &.error {
                background: #e02b3c;
                border-radius: 15px;
                box-shadow: 0 0 5px #ff0000;
              }
            }
          }
          .opened {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            height: 100%;
            background: #254061;
            .v-btn {
              width: 20px;
              height: 20px;
              margin: 0;
              .v-icon {
                font-size: 16px;
                color: #acb9ca;
              }
            }
          }
        }
        dd.isc-system {
          position: relative;
          width: 100%;
          height: 224px;
          margin-top: 5px;
          background: #1e324e;
          border: 3px solid #254061;
          border-radius: 3px;

          .system-top {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #254061;
            > div {
              flex: 1;
              position: relative;
              height: 120px;
            }

            .view-center {
              flex: 2;
              border-left: 1px solid #254061;
              border-right: 1px solid #254061;

              .isc-state {
                position: absolute;
                top: 5px;
                left: 10px;
                display: inline-block;
                align-items: center;
                justify-content: center;

                div {
                  margin-top: 5px;
                  background-color: rgba(18, 34, 177, 0.548);
                  color: rgba(224, 2, 2, 0.932);
                  font-size: 12px;

                  > i {
                    background-color: rgba(9, 12, 2, 0.205);
                    color: rgb(219, 211, 211);
                    font-size: 14px;
                  }

                  strong {
                    margin-left: 10px;
                  }
                }
              }

              .errorMsg {
                position: absolute;
                top: 15px;
                padding: 2px 10px;
                width: 100%;
                font-size: 1rem;
                font-weight: 600;
                color: red;
                background: yellow;
                border: solid 1px black;
              }
            }
          }
          .system-bottom {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 16px 12px 0;
            .v-btn {
              margin: 0;
              padding: 0;
              background: #254061;
              color: #9793937a;
              box-shadow: none;
              cursor: default;
              font-size: 0.9rem;

              &.credit {
                min-width: 40px;
                height: 16px;
                margin-right: 35%;
              }
              &.receipt {
                min-width: 40px;
                height: 25px;
                margin-top: 6px;
                border-radius: 0;
              }
              &.cash {
                min-width: 40px;
                height: 16px;
                margin-top: 7px;
                margin-right: 35%;
              }
              &.id-box {
                min-width: 40px;
                height: 16px;
                margin-top: 7px;
              }
              &.change-l {
                min-width: 48.5%;
                height: 18px;
                margin-top: 7px;
              }
              &.change-r {
                min-width: 48.5%;
                height: 18px;
                margin-top: 7px;
              }
            }
            .v-btn--active:before,
            .v-btn:focus:before,
            .v-btn:hover:before {
              background: none;
            }
            .v-icon {
              display: none;
            }
          }

          .step-info {
            display: flex;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;

            &.on {
              border-color: #e94ce9;
              color: #e94ce9;
              @include on-light(motion);
              @keyframes motion {
                @include light-keyframe(30px);
              }
            }

            > div {
              margin: -30px 0 0 0;
              padding: 0;

              .v-icon {
                display: block;
                font-size: 50px;
                color: #4e86be;

                &.multi {
                  display: inline-block;
                }

                &.big {
                  font-size: 70px;
                }
              }

              > strong {
                display: inline-flex;
                margin-top: 5px;
                font-size: 1.25rem;
                color: #f0af24;
                font-weight: 500;
                white-space: nowrap;
                text-align: center;

                &.state {
                  color: #99ed2bd8;
                  margin: 10px 0;
                  padding: 3px 10px;
                  text-shadow: 2px 2px 2px rgba(196, 52, 52, 0.6);

                  @keyframes viewOn {
                    @include light-keyframe(5px);
                  }
                  @include on-light(viewOn);
                }
              }

              p {
                margin: 0;
                font-size: 1rem;
                color: #ed992b;
                font-weight: 700;
              }

              p.title {
                margin: 7px 0;
                font-size: 0.9rem;
                color: #e7f84a;
                font-weight: 400;
              }

              p.content {
                margin: 3px 0;
                color: #b6d7f1;
              }

              // 판매중지
              &.stop {
                border: 1px solid #e96344;
                .v-icon {
                  color: #d32626;
                }
                strong {
                  color: #e01111;
                }
              }

              // 동작감지
              &.motion {
                .v-icon {
                  color: #e0c632;
                }
                strong {
                  color: #e94ce9;
                }
              }

              // 대기중
              &.ready {
                .v-icon {
                  color: #2dc9d4;
                }
                strong {
                  color: #e0d52f;
                }
              }

              // 입력중
              &.typing {
                .v-icon {
                  color: #26d334;
                }
                strong {
                  color: #ee1edd;
                }
              }

              // 처리중
              &.process {
                .v-icon {
                  color: #ece02e;
                }
                strong {
                  color: #2fece3;
                }
              }

              // 토출중
              &.out {
                .v-icon {
                  color: #f08f3f;
                }
                strong {
                  color: #41f16d;
                }
              }

              // 오류
              &.error {
                .v-icon {
                  color: #d32626;
                }
                strong {
                  color: #f38237;
                }
              }

              // 완료
              &.done {
                .v-icon {
                  color: #49ee43c7;
                }
                strong {
                  color: #2ce96b;
                }
              }

              // 현금 결제
              &.pay-select {
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 20px;
                padding-bottom: 20px;
                > div {
                  text-align: center;
                }
                .v-icon {
                  font-size: 60px;
                  color: #508bc4;
                }
                span {
                  display: block;
                  font-size: 1rem;
                  color: #fff;
                }
              }
            }

            .cash-pay,
            .card-pay,
            .cash-input,
            .card-input,
            .change {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 30px;
              padding: 5px;
              border-bottom: none;
              border-radius: 3px;
              font-size: 1rem;
              text-align: center;
              white-space: nowrap;
              margin: 10px 0;
              color: #b6d7f1;
            }
            .cash-pay,
            .card-pay {
              background: #33405a;
              color: #acb9ca;
              strong {
                font-size: 1.286rem;
                color: #fa5959e8 !important;
                font-weight: 500;
              }
            }
            .cash-input,
            .card-input {
              background: #141a2b;
              color: #f9e945;
              span {
                @include on-flash(money, infinite);
                @keyframes money {
                  @include flash-keyframe();
                }
              }
              strong {
                font-size: 1.286rem;
                font-weight: 500;
              }
            }
            .change {
              background: #141a2b;
              color: #f54ed9;
              strong {
                color: #f9e945;
                font-size: 1.286rem;
                font-weight: 500;

                @include on-flash(money, infinite);
                @keyframes money {
                  @include flash-keyframe();
                }
              }
            }
          }

          // 메세지
          .message {
            display: none;
            position: absolute;
            top: -3px;
            left: -3px;
            width: calc(100% + 6px);
            height: calc(100% + 6px);
            border: 1px solid;
            border-radius: 3px;
            &.motion,
            &.alarm,
            &.error,
            &.auth,
            &.confirm,
            &.wait,
            &.full,
            &.stop {
              display: flex;
              align-items: center;
              justify-content: center;
              > div {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: auto;
                height: auto;
                color: #fff;
                text-align: center;
                .v-icon {
                  width: 100%;
                  margin-bottom: 10px;
                  font-size: 48px;
                  color: #fff;
                }
                span {
                  margin-bottom: 1px;
                }
              }
            }
            &.motion > div {
              border-color: #e94ce9;
              color: #e94ce9;
              @include on-light(motion);
              @keyframes motion {
                @include light-keyframe(30px);
              }
            }
            &.alarm > div {
              border-color: #e49f1f;
              color: #e49f1f;
              @include on-light(alarm);
              @keyframes alarm {
                @include light-keyframe(30px);
              }
            }
            &.error > div {
              border-color: #e02b3c;
              color: #e0c632;
              @include on-light(error);
              @keyframes error {
                @include light-keyframe(30px);
              }
              span {
                color: #e02b3c;
              }
              .v-icon {
                color: #e02b3c;
              }
            }
            &.confirm > div {
              border-color: #3eb96e;
              @include on-light(confirm);
              @keyframes confirm {
                @include light-keyframe(30px);
              }
            }
            &.wait > div {
              border-color: #3095de;
              @include on-light(wait);
              @keyframes wait {
                @include light-keyframe(30px);
              }
            }
            &.full > div {
              background: #1f3456;
              border: 3px solid #254061;
              > div .v-icon {
                color: #4d86be;
              }
            }
            &.stop {
              background: #1d253e;
              border: 1px solid #f32323;

              > div {
                width: 88px;
                color: #d32626;

                .v-icon {
                  position: absolute;
                  font-size: 120px;
                  color: #e49f1f;

                  &:before {
                    display: block;
                    content: "";
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    background: #1d253e;
                    border-radius: 50%;
                  }
                }
                span {
                  color: #f32323;
                  position: relative;
                }
              }
            }
          }

          // 선택 시
          .select {
            &:before {
              display: block;
              content: "";
              width: 100%;
              height: 100%;
              border: 1px solid #2db3b3;
              border-radius: 2px;
              opacity: 1;
              color: #2db3b3;
            }
            div.step {
              position: absolute;
              top: 50px;
              left: 0;
              width: 100%;
              display: flex;

              .v-radio {
                margin-left: 10px;

                &.accent--text label {
                  color: #f5f825;
                  font-weight: 500;
                }
                .v-input--selection-controls__input {
                  margin-right: -6px;
                }
                i {
                  display: block;
                  color: #acb9ca;
                  font-size: 0.9rem;
                  margin: 0;
                  line-height: 18px;

                  &.fa-dot-circle {
                    color: #25f825;
                  }
                }
                label {
                  display: block;
                  color: #acb9ca;
                  text-align: center;
                  font-style: normal;
                }
                margin-right: 3px;
              }
            }
            span {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              i {
                display: block;
                color: #acb9ca;
                text-align: center;
                font-style: normal;
              }
            }

            &.view-left,
            &.view-right {
              span {
                writing-mode: vertical-lr;
                letter-spacing: 4px;
              }

              &.select {
                background: #1f3049;
                span {
                  color: #3d718f;
                }
              }

              &.ready {
                span {
                  color: #f2f5c6;
                }
              }

              &.process {
                span {
                  color: #e6f149;
                }
              }

              &.error {
                span {
                  color: #ee5d38;
                }
              }

              &.done {
                span {
                  color: #38ee56;
                }
              }
            }

            .v-btn__content span {
              font-size: 1px;
              color: #fff;
            }
            .v-icon.step {
              display: block;
              opacity: 0;
              position: relative;
              margin-top: -3px;
              padding: 5px;
              color: #fff;
              background: #ea3131;
              border-radius: 50%;
              font-size: 12px;
              @include on-flash(event, 3);
              @keyframes event {
                @include flash-keyframe();
              }
            }
          }

          .receipt {
            &.select:before {
              height: 27px;
              margin-top: -1px;
              border-width: 1px;
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}

// 자판기 개수에 따른 크기 변화 타입 구분
.center-content .center-box .isc-box > ul {
  &.type1,
  &.type2 {
    align-items: center;
    min-height: calc(100vh - 76px);
    li {
      max-width: 370px;
      width: 100%;
      margin: 0 27px;
      .isc-view > dt {
        height: 48px;
      }
      dd.isc-system {
        height: 530px;
      }
    }
    .isc-view > dt .opened .v-btn {
      width: 24px;
      height: 24px;
      .v-icon {
        font-size: 24px;
      }
    }
    .isc-view dd.isc-system {
      .system-top {
        border-bottom-width: 2px;
        > div {
          height: 270px;
        }
        .view-center {
          border-left-width: 2px;
          border-right-width: 2px;
        }
        .select span {
          font-size: 1.286rem;
        }
      }
      .system-bottom {
        padding: 26px 40px 0;
        .v-btn.credit {
          min-width: 80px;
          height: 40px;
        }
        .v-btn.receipt {
          min-width: 80px;
          height: 25px;
          margin-top: 6px;
          &.select:before {
            height: 27px;
          }
        }
        .v-btn.cash {
          min-width: 80px;
          height: 40px;
          margin-top: 22px;
        }
        .v-btn.id-box {
          min-width: 80px;
          height: 40px;
          margin-top: 22px;
        }
        .v-btn.change-l {
          height: 55px;
          margin-top: 22px;
        }
        .v-btn.change-r {
          height: 55px;
          margin-top: 22px;
        }
        .select {
          .v-btn__content span {
            font-size: 14px;
          }
          .v-icon {
            margin-top: -5px;
            font-size: 40px;
          }
        }
      }
    }
  }

  &.type4 {
    align-items: center;
    min-height: calc(100vh - 76px);
    li {
      max-width: 200px;
      width: 100%;
      margin: 0 15px;
      .isc-view > dt {
        height: 36px;
      }
      dd.isc-system {
        height: 290px;
      }
    }
    .isc-view dd.isc-system {
      .system-top {
        border-bottom-width: 2px;
        > div {
          height: 150px;
        }
        .view-center {
          border-left-width: 2px;
          border-right-width: 2px;

          .isc-state {
            display: flex;

            i {
              color: #ff0000;
              margin: 0px 2px;
            }

            strong {
              display: none;
            }
          }

          .step {
            display: none;
          }
        }
      }
      .system-bottom {
        .v-btn.credit {
          min-width: 50px;
          height: 20px;
          margin-right: auto;
          margin-top: 7px;
        }
        .v-btn.receipt {
          min-width: 50px;
          height: 20px;
          margin-top: 7px;
        }
        .v-btn.cash {
          min-width: 50px;
          height: 20px;
          margin-top: 12px;
        }
        .v-btn.id-box {
          min-width: 50px;
          height: 20px;
          margin-top: 12px;
        }
        .v-btn.change-l {
          height: 25px;
          margin-top: 12px;
        }
        .v-btn.change-r {
          height: 25px;
          margin-top: 12px;
        }
      }

      .step-info {
        > div {
          position: absolute;
          top: 70px;

          .v-icon {
            font-size: 40px;
            &.big {
              font-size: 40px;
            }
          }
          > strong {
            margin: 2px 0;
            font-size: 1rem !important;
            background-color: #293d4769 !important;

            &.state {
              margin: 5px 0;
              padding: 3px 10px;
            }
          }

          p {
            margin: 3px 0;
            font-size: 0.9rem !important;
            background-color: #293d4769 !important;
          }

          div {
            margin: 1px 0;
            padding: 0;
            height: 22px;
            font-size: 0.9rem !important;
            background-color: #293d4769 !important;
          }
        }
      }

      .select {
        div.step {
          position: absolute;
          top: 10%;
          left: 0;
          width: 100%;
          display: flex;

          .v-input--selection-controls .v-input__control {
            width: 100%;

            .v-radio {
              width: 100%;
              display: none;

              &.accent--text {
                display: inline-block;
                label {
                  display: inline-block;
                  color: #f5f825;
                  font-weight: 500;
                }
              }

              .v-input--selection-controls__input {
                margin-right: -5px;
              }
              i {
                display: block;
                color: #acb9ca;
                font-size: 0.9rem;
                margin: 0;
                line-height: 0.9rem;

                &.fa-dot-circle {
                  color: #25f825;
                }
              }
              label {
                display: block;
                color: #acb9ca;
                text-align: center;
                font-style: normal;
              }
              margin-right: 3px;
            }
          }
        }
        .v-icon {
          font-size: 18x;
        }
      }
    }
  }
}

// 뷰 박스
.view-box {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  > .layout {
    overflow: hidden;
    position: fixed;
    top: calc(50% - 345px);
    left: 7.3%;
    z-index: 100;
    width: 390px;
    height: 705px;
    padding: 10px;
    border: 3px solid #fff;
    border-radius: 7px;
    background: #1d253e;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
    &.controller02 {
      left: calc(7.3% + 420px);
    }
    &.controller03 {
      left: calc(7.3% + 840px);
    }
    &.controller04 {
      left: calc(7.3% + 1260px);
    }
    &.simulator {
      position: relative;
      width: 490px;
      height: 780px;
      border: 3px solid rgb(27, 27, 29);
      background: #48536b;
    }
  }
  // 상단 메뉴바
  .on-title {
    width: 100%;
    height: 50px;
    background: #1f3456;
    border: 3px solid #344966;
    border-radius: 5px;

    .closed {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      height: 100%;
      .menu {
        margin: 0;
        height: 25px;
        width: 25px;
        .v-icon {
          font-size: 22px;
          color: #fff;
        }
      }
      strong {
        flex: 1;
        margin-left: 5px;
        font-size: 1.143rem;
        color: #fff;
        font-weight: 400;
      }
      .v-input--selection-controls {
        flex: 0;
        min-width: 66px;
        margin: 0;
        padding: 0;
        &__input {
          width: 66px;
          height: 24px;
        }
        .v-messages {
          display: none;
        }
        .v-input__slot {
          margin-bottom: 0;
        }
        .v-input--switch__track {
          top: calc(50% - 13px);
          height: 24px;
          background: #1d253e;
          border-radius: 20px;
          opacity: 1;
        }
        .v-input--switch__thumb {
          top: calc(50% - 14px);
          left: 39px;
          width: 26px;
          height: 26px;
          border-radius: 20px;
          background: #666;
          &:before {
            display: flex;
            justify-content: center;
            align-items: center;
            content: "풀림";
            position: absolute;
            top: 0;
            left: -37px;
            width: 40px;
            height: 24px;
            font-size: 11px;
            color: #fff;
            font-weight: 400;
          }
        }
      }
      .v-input--switch .v-input--selection-controls__ripple {
        display: none;
      }
      .v-input--switch.v-input--is-dirty .v-input--switch__thumb {
        background: #0b78e3;
        transform: translate(-39px);
        &:before {
          left: 24px;
          content: "고정";
        }
      }
      .close {
        margin: 0 10px 0 7px;
        height: 25px;
        width: 25px;
        background: #1d253e;
        .v-icon {
          font-size: 18px;
          color: #fff;
        }
      }
      .v-btn--active:before,
      .v-btn:focus:before,
      .v-btn:hover:before {
        background: none;
      }
    }
    .opened {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      height: 100%;
      .v-btn {
        width: 26px;
        height: 26px;
        margin: 0;
        .v-icon {
          font-size: 26px;
          color: #acb9ca;
        }
      }
      .v-divider--vertical.v-divider--inset {
        margin-top: 14px;
        max-height: calc(100% - 28px);
      }
    }
    &.active {
      background: #254061;
      border: none;
    }
  }

  // 자판기 정보 표시
  .controll-top {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    > div {
      height: 310px;
      background: #283651;
      border-radius: 5px;
    }
    .pop-alert {
      position: absolute;
      top: 125px;
      left: calc(50% - 141px);
      z-index: 200;
      width: 282px;
      height: 190px;
      background: #fff;
      border: 3px solid #fff;
      dt {
        background: #212c42;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        .v-btn {
          min-width: 30px;
          margin: 0;
          padding: 0;
          color: #fff;
        }
        .v-btn--active:before,
        .v-btn:focus:before,
        .v-btn:hover:before {
          background: none;
        }
      }
      dd {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 150px;
        margin: 0;
        color: #666;
        .v-icon {
          display: block;
          margin-bottom: 7px;
          padding: 5px;
          color: #fff;
          background: #ea3131;
          border-radius: 50%;
          font-size: 14px;
        }
        strong {
          font-size: 1.143rem;
          color: #e02b3c;
        }
        .v-btn {
          margin-top: 15px;
          background: #3a4a70;
          box-shadow: none;
          color: #fff;
        }
      }
    }
    .view-left,
    .view-right {
      display: flex;
      width: 66px;
      padding: 4px;

      ul {
        &:first-child li {
          border-left: none;
        }
        li {
          position: relative;
          width: 29px;
          height: 8px;
          background: #1d253e;
          border-left: 1px solid #254061;
          border-bottom: 1px solid #254061;
          &:before {
            display: none;
          }
          &.no-room,
          &.key-on,
          &.key-off,
          &.key-out {
            &:before {
              display: block;
              content: "";
              width: 100%;
              height: 100%;
            }
            > div {
              position: absolute;
              top: 0;
              width: 100%;
              height: 100%;
              font-size: 11px;
              text-align: center;
              color: #fff;
              span {
                position: absolute;
                bottom: 15px;
                z-index: 100;
                background: #1d253e;
                padding: 5px 7px;
                border: 1px solid #959595;
                border-radius: 5px;
                font-size: 13px;
                font-weight: 300;
                white-space: nowrap;
              }
            }
          }
          &.key-out {
            &:before {
              background: rgba(45, 179, 179, 0.3);
              border: 1px solid #2db3b3;
            }
            cursor: pointer;
          }
          &.key-off {
            &:before {
              background: rgba(224, 43, 60, 0.3);
              border: 1px solid #e02b3c;
            }
            cursor: pointer;
          }
          &.key-on {
            &:before {
              background: rgba(172, 185, 202, 0.3);
              border: 1px solid #acb9ca;
            }
          }
          &.no-room {
            &:before {
              background: rgba(172, 185, 202, 0.3);
              border: 1px solid #acb9ca;
            }
          }
        }
      }
    }

    .view-left ul li {
      position: relative;
      > span {
        position: absolute;
        margin: -8px 0 0 42%;
        font-weight: 500;
        text-shadow: 1px 1px 1px #111010;
        color: yellow;
        line-height: 9px;
        font-size: 9px;
      }

      > div span {
        left: 30px;
        z-index: 100;
      }

      &.key-on div span {
        color: yellow;
        font-weight: 600;
      }

      &.key-off div span {
        color: yellow;
        background-color: #aa1f1f;
        font-weight: 500;
      }

      &.no-room div span {
        background-color: #a52b76;
        font-weight: 400;
      }
    }

    .view-right ul li {
      position: relative;
      > span {
        position: absolute;
        margin: -7px 0 0 42%;
        font-weight: 500;
        text-shadow: 1px 1px 1px #111010;
        color: yellow;
        line-height: 5px;
        font-size: 5px;
      }

      > div span {
        right: 30px;
        z-index: 100;
      }

      &.key-on div span {
        color: yellow;
        font-weight: 600;
      }

      &.key-off div span {
        color: yellow;
        background-color: #aa1f1f;
        font-weight: 500;
      }

      &.no-room div span {
        background-color: #a52b76;
        font-weight: 400;
      }
    }

    .view-center {
      width: 222px;

      .step {
        width: 100%;
        height: 100%;
        padding: 10px;
        position: relative;
        border: 1px solid #2db3b3;
        color: #2db3b3;

        &.use {
          color: #f600ff;
          border: 1px solid #f600ff;
        }

        @keyframes viewOn {
          @include light-keyframe(15px);
        }
        @include on-light(viewOn);

        .v-icon {
          color: #4e86be;
        }
        strong {
          color: #ed992b;
        }

        .v-btn {
          &.on {
            background: #1d253e;
            border: none;
            color: #7ed421;
            font-weight: 500;
          }
        }

        .isc-state {
          position: absolute;
          left: 5%;
          z-index: 999;
          font-weight: normal;
          font-style: normal;
          line-height: 1;
          letter-spacing: normal;
          text-transform: none;
          display: inline-block;
          white-space: nowrap;
          text-align: center;

          div {
            margin-top: 10px;
            background-color: rgba(18, 34, 177, 0.548);
            color: rgba(224, 2, 2, 0.932);
            font-size: 16px;

            i {
              background-color: rgba(9, 12, 2, 0.205);
              color: rgb(219, 211, 211);
              font-size: 20px;
            }

            strong {
              margin-left: 10px;
            }
          }
        }

        .step-info {
          display: flex;
          position: absolute;
          left: 0px;
          width: 100%;
          height: 180px;
          justify-content: center;
          align-items: center;
          text-align: center;

          > div {
            margin: 0;
            padding: 0;

            .v-icon {
              display: block;
              font-size: 50px;
              color: #4e86be;

              &.multi {
                display: inline-block;
              }

              &.big {
                font-size: 70px;
              }
            }

            > strong {
              display: inline-flex;
              margin-top: 5px;
              font-size: 1.25rem;
              color: #f0af24;
              font-weight: 500;
              white-space: nowrap;
              text-align: center;

              &.state {
                color: #99ed2bd8;
                margin: 10px 0;
                padding: 3px 10px;
                text-shadow: 2px 2px 2px rgba(196, 52, 52, 0.6);

                @keyframes viewOn {
                  @include light-keyframe(5px);
                }
                @include on-light(viewOn);
              }
            }

            p {
              margin: 0;
              font-size: 1rem;
              color: #ed992b;
              font-weight: 700;
            }

            p.title {
              margin: 7px 0;
              font-size: 0.9rem;
              color: #e7f84a;
              font-weight: 400;
            }

            p.content {
              margin: 3px 0;
              color: #b6d7f1;
            }

            // 판매중지
            &.stop {
              border: 1px solid #e96344;
              .v-icon {
                color: #d32626;
              }
              strong {
                color: #e01111;
              }
            }

            // 동작감지
            &.motion {
              .v-icon {
                color: #e0c632;
              }
              strong {
                color: #e94ce9;
              }
            }

            // 대기중
            &.ready {
              .v-icon {
                color: #2dc9d4;
              }
              strong {
                color: #e0d52f;
              }
            }

            // 입력중
            &.typing {
              .v-icon {
                color: #26d334;
              }
              strong {
                color: #ee1edd;
              }
            }

            // 처리중
            &.process {
              .v-icon {
                color: #ece02e;
              }
              strong {
                color: #2fece3;
              }
            }

            // 토출중
            &.out {
              .v-icon {
                color: #f08f3f;
              }
              strong {
                color: #39ee39;
              }
            }

            // 오류
            &.error {
              .v-icon {
                color: #d32626;
              }
              strong {
                color: #f38237;
              }
            }

            // 완료
            &.done {
              .v-icon {
                color: #49ee43c7;
              }
              strong {
                color: #2ce96b;
              }
            }

            // 현금 결제
            &.pay-select {
              display: flex;
              justify-content: space-evenly;
              margin-bottom: 20px;
              padding-bottom: 20px;
              > div {
                text-align: center;
              }
              .v-icon {
                font-size: 60px;
                color: #508bc4;
              }
              span {
                display: block;
                font-size: 1rem;
                color: #fff;
              }
            }
          }

          .cash-pay,
          .card-pay,
          .cash-input,
          .card-input,
          .change {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 30px;
            padding: 5px;
            border-bottom: none;
            border-radius: 3px;
            font-size: 1rem;
            text-align: center;
            white-space: nowrap;
            margin: 10px 0;

            strong {
              margin: 0 0 0 10px;
            }
          }
          .cash-pay,
          .card-pay {
            background: #33405a;
            color: #acb9ca;
            strong {
              font-size: 1.286rem;
              color: rgb(247, 72, 72);
              font-weight: 500;
            }
          }
          .cash-input,
          .card-input {
            background: #141a2b;
            color: #f9e945;
            span {
              @include on-flash(money, infinite);
              @keyframes money {
                @include flash-keyframe();
              }
            }
            strong {
              font-size: 1.286rem;
              font-weight: 500;
            }
          }
          .change {
            background: #141a2b;
            color: #f54ed9;
            strong {
              color: #f9e945;
              font-size: 1.286rem;
              font-weight: 500;

              @include on-flash(money, infinite);
              @keyframes money {
                @include flash-keyframe();
              }
            }
          }
        }
      }
      .btn-group {
        flex-wrap: wrap;
        // justify-content: space-between;
        .v-btn {
          min-width: 50px;
          height: 18px;
          margin: 0 0 6px 0;
          padding: 0;
          background: #33405a;
          border: 1px solid #1d253e;
          font-size: 0.875rem;
          color: #9faddd;
          font-weight: 300;
          box-shadow: none;
          outline: 0;
          cursor: default;
        }
        .v-btn--active:before,
        .v-btn:focus:before,
        .v-btn:hover:before {
          background: none;
        }
        .v-ripple__container {
          display: none !important;
        }
        .v-icon {
          height: 18px;
          font-size: 12px;
          color: #fff;
        }
      }
      .time-check {
        padding: 5px;
        background: #1d253e;
        border-radius: 3px;
        color: #fff;
        text-align: center;
        i {
          color: rgba(198, 216, 35, 0.685);
          margin-top: 1px;
          font-size: 18px;
          &:last-child {
            color: rgb(53, 130, 153);
          }
        }
      }
      .info-list {
        li {
          display: flex;
          align-items: center;
          height: 33px;
          padding-left: 16px;
          border-bottom: 1px solid #415170;
          &:last-child {
            border-bottom: none;
          }
          &:before {
            display: block;
            content: "";
            width: 7px;
            height: 7px;
            margin-right: 10px;
            background: #2399e9;
          }
          strong {
            margin-left: 4px;
            font-size: 1.143rem;
            color: #f9e945;
            font-weight: 500;
          }
        }
      }
    }
  }

  // 계산 정보 표시
  .controll-middle {
    width: 100%;
    height: 226px;
    margin-top: 6px;
    background: #283651;
    border-radius: 5px;

    &.simulator {
      height: 695px;
      background: #141a2b;
    }

    .system-area {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 15px;
      > dl {
        margin: 0;
      }
      > dl dt {
        height: 21px;
        font-size: 0.875rem;
        color: #5e6677;
      }
      > dl dd {
        position: relative;
        height: 24px;
        width: 100%;
        margin: 4px 0 0 0;
        img {
          border-radius: 0;
        }
        &.system-on:before {
          display: block;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 1px solid #2db3b3;
          color: #2db3b3;
          @include on-light(systemOn);
          @keyframes systemOn {
            @include light-keyframe(10px);
          }
        }
      }
      .v-input--radio-group {
        margin: -3px 0 0 10px;
        padding: 0;
      }
      .v-input__slot {
        margin: 0;
      }
      .v-input--radio-group__input {
        flex-wrap: nowrap;
      }
      .v-radio {
        margin: 0;
      }
      .v-input--selection-controls__input {
        width: 22px;
        margin: 0;
      }
      .v-input--selection-controls__ripple {
        width: 20px;
        height: 20px;
      }
      .v-icon {
        font-size: 16px;
        &.accent--text {
          color: #0b78e3;
        }
      }
      .v-label {
        width: 30px;
        margin: 0;
        font-size: 11px;
        font-weight: 300;
      }
      .v-messages {
        display: none;
      }
      .v-divider {
        flex-basis: 100%;
        height: 1px;
        margin: 12px 0 7px;
        color: #1f2740;
      }
      .credit,
      .cash {
        flex-basis: 60%;
        max-width: 190px;
        dt {
          display: flex;
          justify-content: space-between;
          white-space: nowrap;
        }

        .img-cash {
          overflow: hidden;
          position: absolute;
          margin-top: -10px;
          margin-left: 10px;
          z-index: 90;
          width: 170px;
          padding: 0;
          border: none;
          text-align: center;

          &:after {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 91;
            width: 100%;
            height: 5px;
            background: linear-gradient(to bottom, rgba(20, 26, 43, 1) 0%, rgba(125, 185, 232, 0) 100%);
          }

          &.in {
            z-index: 101;

            img {
              opacity: 1;
              animation-duration: 2s;
              animation-name: cash;
              animation-fill-mode: forwards;

              @keyframes cash {
                from {
                  top: -20px;
                }
                to {
                  top: -160px;
                }
              }
            }
          }

          &.off {
            z-index: 90;
            img {
              opacity: 0;
            }
          }

          img {
            position: relative;
            top: -20px;
            width: 100%;
          }
        }

        .img-card {
          overflow: hidden;
          position: absolute;
          top: 428px;
          left: 35px;
          z-index: 100;
          width: 170px;
          padding: 0;
          border: none;
          text-align: center;

          &:after {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 101;
            width: 100%;
            height: 5px;
            background: linear-gradient(to bottom, rgba(20, 26, 43, 1) 0%, rgba(125, 185, 232, 0) 100%);
          }

          img {
            position: relative;
            top: 20px;
            width: 100%;
          }

          &.in {
            img {
              animation-duration: 2s;
              animation-name: card-in;
              animation-fill-mode: forwards;

              @keyframes card-in {
                from {
                  top: -20px;
                  opacity: 1;
                }
                to {
                  top: -160px;
                }
              }
            }
          }

          &.out {
            img {
              animation-duration: 2s;
              animation-name: card-out;
              animation-fill-mode: forwards;

              @keyframes card-out {
                from {
                  top: -160px;
                }
                to {
                  top: -20px;
                }
              }
            }
          }
        }
      }

      // 신분증 투입
      .id-box {
        flex-basis: 40%;
        max-width: 123px;
        margin-left: 20px;
        dd {
          background: #1d253e;
          border: 1px solid #141a2b;
        }
      }

      // 지폐 방출
      .change-out {
        flex-basis: 100%;
        margin-top: 8px;
        dt {
          display: flex;
          white-space: nowrap;
          align-items: center;
          > div {
            strong {
              position: relative;
              top: 1px;
              margin-left: 5px;
              font-size: 1rem;
              color: #fff;
            }
            .v-btn {
              min-width: 60px;
              height: 20px;
              margin: 0 0 0 5px;
              padding: 0 7px;
              background: #141a2b;
              border: 1px solid #48536b;
              border-radius: 15px;
              box-shadow: none;
              font-size: 0.875rem;
              color: #5e5c4c;
              font-weight: 100;
            }

            &.on {
              strong {
                color: rgb(243, 232, 76);
              }
              .v-btn {
                background: #141a2b;
                color: #65f560;
                font-weight: 300;
              }
            }
          }
        }
        dd {
          display: inline-block;
          height: 48px;
          padding: 10px;
          background: linear-gradient(to bottom, #141b2c 0%, #1c243d 100%);
          border: 1px solid #1c253d;
          text-align: center;

          span {
            position: relative;
            z-index: 60;
            top: -7px;
            margin: 0 30px;
            padding: 0px 5px;
            background: #08090e77;
            border: 1px solid #48536b;
            border-radius: 2px;
            font-size: 0.875rem;
            color: #f9e945;
            font-weight: 500;
          }

          .img-cash-out {
            overflow: hidden;
            position: absolute;
            top: 5px;
            left: 0;
            z-index: 50;
            width: 100%;
            height: calc(100% - 5px);
            padding: 0;

            &:after {
              display: block;
              content: "";
              position: absolute;
              top: 0;
              left: 5%;
              z-index: 51;
              width: 90%;
              height: 5px;
              background: linear-gradient(to bottom, rgba(20, 26, 43, 1) 0%, rgba(125, 185, 232, 0) 100%);
            }
            img {
              position: absolute;
              z-index: 0;
              left: 3%;
              bottom: 0;
              height: 24px;
              width: 94%;
            }

            .cash-out {
              &1 {
                z-index: 1;
                animation-duration: 1s;
                animation-name: cashOut1;
                animation-fill-mode: forwards;
                @keyframes cashOut1 {
                  from {
                    bottom: 80px;
                  }
                  to {
                    bottom: 0;
                  }
                }
              }
              &2 {
                z-index: 2;
                animation-duration: 1s;
                animation-name: cashOut2;
                animation-fill-mode: forwards;
                @keyframes cashOut2 {
                  from {
                    bottom: 80px;
                  }
                  to {
                    bottom: 2px;
                  }
                }
              }
              &3 {
                z-index: 3;
                animation-duration: 1s;
                animation-name: cashOut3;
                animation-fill-mode: forwards;
                @keyframes cashOut3 {
                  from {
                    bottom: 80px;
                  }
                  to {
                    bottom: 4px;
                  }
                }
              }
              &4 {
                z-index: 4;
                animation-duration: 1s;
                animation-name: cashOut4;
                animation-fill-mode: forwards;
                @keyframes cashOut4 {
                  from {
                    bottom: 80px;
                  }
                  to {
                    bottom: 6px;
                  }
                }
              }
              &5 {
                z-index: 5;
                animation-duration: 1s;
                animation-name: cashOut5;
                animation-fill-mode: forwards;
                @keyframes cashOut5 {
                  from {
                    bottom: 80px;
                  }
                  to {
                    bottom: 8px;
                  }
                }
              }
              &6 {
                z-index: 6;
                animation-duration: 1s;
                animation-name: cashOut6;
                animation-fill-mode: forwards;
                @keyframes cashOut6 {
                  from {
                    bottom: 80px;
                  }
                  to {
                    bottom: 10px;
                  }
                }
              }
              &7 {
                z-index: 7;
                animation-duration: 1s;
                animation-name: cashOut7;
                animation-fill-mode: forwards;
                @keyframes cashOut7 {
                  from {
                    bottom: 80px;
                  }
                  to {
                    bottom: 12px;
                  }
                }
              }
              &8 {
                z-index: 8;
                animation-duration: 1s;
                animation-name: cashOut8;
                animation-fill-mode: forwards;
                @keyframes cashOut8 {
                  from {
                    bottom: 80px;
                  }
                  to {
                    bottom: 14px;
                  }
                }
              }
              &9 {
                z-index: 9;
                animation-duration: 1s;
                animation-name: cashOut9;
                animation-fill-mode: forwards;
                @keyframes cashOut9 {
                  from {
                    bottom: 80px;
                  }
                  to {
                    bottom: 16px;
                  }
                }
              }
              &10 {
                z-index: 10;
                animation-duration: 1s;
                animation-name: cashOut10;
                animation-fill-mode: forwards;
                @keyframes cashOut10 {
                  from {
                    bottom: 80px;
                  }
                  to {
                    bottom: 18px;
                  }
                }
              }
            }
          }
        }
      }

      // 영수증 출력
      .receipt {
        flex-basis: 40%;
        max-width: 123px;
        margin-left: 20px;
        dt {
          text-align: center;
        }
        dd {
          background: #33405a;
          text-align: center;
          &:after {
            display: inline-block;
            content: "";
            width: 105px;
            height: 6px;
            background: #141a2b;
          }
        }

        .img-paper {
          overflow: hidden;
          position: absolute;
          top: 428px;
          left: 245px;
          z-index: 100;
          width: 105px;
          padding: 0;
          border: none;
          text-align: center;
          &:after {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 101;
            width: 100%;
            height: 5px;
            background: linear-gradient(to bottom, rgba(20, 26, 43, 1) 0%, rgba(125, 185, 232, 0) 100%);
          }
          img {
            position: relative;
            top: -62px;
            width: 100%;
            animation-duration: 2s;
            animation-name: paper;
            animation-fill-mode: forwards;

            @keyframes paper {
              from {
                top: -62px;
              }
              to {
                top: -15px;
              }
            }
          }
        }
      }
    }
  }

  // 자판기 설정 버튼
  .controll-bottom {
    position: relative;
    margin-top: 10px;
    z-index: 100;

    .btn-group {
      display: flex;
      justify-content: space-between;
      .theme--light.v-btn {
        min-width: 70px;
        height: 70px;
        margin: 0;
        padding: 0 6px;
        background: #1a4999;
        box-shadow: none;
        color: #fff;
        font-size: 0.875rem;

        .v-btn__content span {
          background: #020202;
          color: rgb(247, 245, 129);
          font-weight: 400;
        }

        &.red {
          background: #d62b0d;
        }
        &.on {
          .v-btn__content span {
            background: #33d61d;
            color: #fff;
            font-weight: 100;
          }
        }
        &.off {
          background: #33405a;
          .v-btn__content span {
            background: #48536b;
            color: #fff;
            font-weight: 100;
          }
        }
      }
      .v-btn__content {
        flex-direction: column;
        span {
          display: block;
          width: 100%;
          margin-top: 5px;
          padding: 3px 0;
          background: #315ca3;
          font-weight: 300;
          border-radius: 15px;
        }
      }
      .v-btn--active:before,
      .v-btn:focus:before,
      .v-btn:hover:before {
        background: none;
      }
    }
  }

  // 시뮬레이터 스타일
  .simulator {
    .v-tabs,
    .v-tabs__bar {
      width: 100%;
      border-radius: 3px;
    }
    .v-tabs__wrapper--show-arrows {
      margin: 0 20px;
    }
    .v-tabs__icon {
      width: 20px;
    }
    .v-tabs__icon--next {
      right: 0;
    }
    .v-tabs__icon--prev {
      left: 0;
    }
    .v-tabs__container {
      height: 30px;
    }
    .v-window {
      margin-top: 15px;
      .v-label {
        width: 60px;
        font-size: 12px;
        color: #acb9ca;
      }
      li {
        position: relative;
        margin-top: 5px;
        padding-left: 10px;
        font-size: 13px;
        color: #e5eaed;
        &:before {
          display: block;
          content: "";
          position: absolute;
          top: 8px;
          left: 0;
          width: 4px;
          height: 4px;
          background: #0b78e3;
        }
        > div {
          margin-top: 5px;
          &.v-input--radio-group {
            margin-top: 0;
          }
          .v-input--radio-group__input {
            flex-wrap: wrap;
            .v-icon {
              color: #acb9ca;
            }
            .v-icon.accent--text {
              color: #0b78e3;
            }
          }
          &.v-text-field {
            .v-input__control {
              min-height: 20px;
            }
            .v-input__slot {
              background: none;
              border-bottom: 1px solid #acb9ca;
              input {
                padding: 0 0 3px;
                color: #fff;
              }
            }
            .v-text-field__details {
              display: none;
            }
          }
        }
      }
    }
  }
}

//사이드 뷰 박스
.side-device-area {
  position: fixed;
  right: 16px;
  top: 125px;
  z-index: 10;
  > div {
    width: 30px;
    margin-bottom: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 8px 5px;
    text-align: center;
    color: #fff;
    font-size: 11px;
    font-weight: 300;
    line-height: 1.125;
    &.type1 {
      background: #b71d87;
    }
    &.type2 {
      background: #685aea;
    }
    &.type3 {
      background: #0d8dd0;
    }
  }
  .theme--dark.v-divider {
    margin: 7px 5px;
    height: 1px;
    max-width: 10px;
    background: #fff;
  }
  .over-time {
    width: 16px;
    margin-top: 4px;
    writing-mode: vertical-rl;
  }
  .status {
    font-weight: 500;
    letter-spacing: -1px;
  }
}

//반응형 설정
@media screen and (max-width: 1600px) {
  .center-content {
    .v-toolbar {
      .v-toolbar__title {
        flex: 1;
      }
      .icon-news,
      .toolbar-middle {
        display: none;
      }
    }
  }
}
