//공통 정리
//-타이틀
@mixin board-title() {
  margin-bottom: 0;
  font-size: 1.143rem;
  font-weight: 400;
}

@mixin sub-header-title() {
  position: relative;
  min-width: 140px;
  margin-bottom: 0;
  padding: 4px 0 4px 15px;
  font-size: 0.937rem;
  color: #fff;

  &:before {
    display: block;
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    left: 0;
    width: 7px;
    height: 7px;
    background: #1a4999;
  }
}

.card .card-header h2.card-title {
  @include board-title();
}

.dash-board .continued {
  display: block;
  width: 100%;
  padding: 50px;
  text-align: center;
  font-size: 3rem;
  p {
    margin: 50px;
  }
}

.dash-board .card-chart {
  margin-bottom: 0;
  background: transparent;
  border-radius: 0;
  box-shadow: none;
}

.dash-board .sub-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 28px;
  padding: 19px 25px 0;

  h3 {
    @include sub-header-title();
  }

  .v-btn.v-btn--outline {
    height: 25px;
    margin: 0;
    padding: 0 8px;
    padding-bottom: 1px;
    border-color: #2c323a;
    font-size: 0.857rem;
    color: #5f5f66;
  }
}

//-바 차트
@mixin bar-line($top, $height, $padding, $paddingTop) {
  position: absolute;
  top: $top;
  left: 0;
  width: 100%;
  height: $height;
  padding: $padding;

  li {
    padding-top: $paddingTop;
    border-top: 1px solid #292e35;
    font-size: 0.786rem;
    color: #4d5763;
    font-weight: 300;

    &:first-child {
      padding-top: 15px;
      border: none;
    }

    &:last-child {
      border-top: 2px solid #292e35;
      padding-top: 10px;
    }
  }
}

@mixin bar-chart($top, $height, $barWidth) {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: $top;
  height: $height;

  dl {
    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
    height: 100%;
    margin: 0;

    dt {
      position: absolute;
      bottom: -30px;
    }

    dd {
      margin: 0;
    }

    .num {
      // position: absolute;
      text-align: center;
      bottom: 0;
      margin-bottom: 10px;
    }
  }

  .bar {
    width: $barWidth;
    height: 0;
    background: #ff2265;
    transition: height 0.5s linear 0s;
  }
}

.dash-board .data-area {
  padding: 0 25px 19px;
}

//업소통계
.board-content01 {
  // 업소통계 상단
  .card-header {
    > .row {
      align-items: center;
      justify-content: space-between;

      .title-wrap {
        display: flex;
        align-items: center;
        padding: 0;
      }

      .card-title {
        & + span {
          min-width: 150px;
          margin-left: 20px;
        }
      }

      .category-wrap {
        padding: 0;

        .btn-group {
          justify-content: flex-end;
          width: 100%;
        }

        .v-btn {
          width: 96px;
          height: 31px;
          margin: 0;
          background: #1a4999;
          box-shadow: none;
          font-size: 0.857rem;

          .v-btn__content {
            font-weight: 600;
            color: #fff;
          }
        }

        .v-select {
          margin-left: 7px;

          .v-input__control {
            height: 31px;
            min-height: inherit;

            .v-input__slot {
              height: 100%;
              margin: 0;
              background: #0e0f1a;
            }

            .v-label {
              color: #ccc;
            }

            .theme--light.v-icon {
              color: #5f5f66;
            }
          }
        }

        .sidos {
          max-width: 96px;
        }

        .v-autocomplete {
          width: 20%;
          max-width: 390px;
        }
      }
    }
  }

  // 업소통계 정보
  .card-body {
    padding: 15px 0 0;

    > .layout {
      margin: 0;

      > .flex {
        min-height: 316px;
        margin-bottom: 30px;
        //padding: 20px 25px 25px;
        background: #151821;
        position: relative;

        max-width: 24.5%;

        &:not(:first-child) {
          margin-left: 5px;
        }

        &:nth-child(2),
        &:nth-child(4) {
          background: #191f28;
        }
      }
    }

    // 전체업소통계/업소정보
    .place-area01 {
      //min-width: 364px;

      p {
        margin-top: 23px;
        margin-bottom: 23px;
        padding: 14px 15px 18px;
        border-top: 1px solid #292e35;
        border-bottom: 1px solid #292e35;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.125;

        span {
          margin-left: 5px;
          font-size: 1.5rem;
          color: #ed992b;
          vertical-align: sub;

          &.toggle {
            color: #695aec;
          }
        }

        strong {
          font-size: 1.714rem;
        }
      }

      .v-item-group {
        .container {
          padding: 0;
        }

        .flex {
          flex-basis: 25%;
          max-width: 25%;
        }

        .v-card {
          padding: 0 8px;
          border-radius: 4px;
          font-size: 0.857rem;

          strong {
            margin-left: 5px;
            font-size: 1.143rem;
            color: #7ed421;
          }
        }
      }

      .store-info {
        padding-top: 18px;

        dl {
          display: flex;
          align-items: center;
          height: 41px;
          margin: 0;
          border-top: 1px solid #292e35;

          dt {
            min-width: 50px;
            padding-left: 15px;
            color: #5f5f66;
            font-weight: 300;
          }

          dd {
            flex: 1;
            margin: 0;
            padding-left: 15px;
            color: #9aabbd;
          }
        }
      }
    }

    // 이글매니저 사용 현황/미 사용 업체 리스트
    .place-area02,
    .place-area03 {
      .sub-header {
        .v-icon {
          margin-right: 5px;
          font-size: 20px;
          transform: rotatex(180deg);
        }
      }

      .data-area {
        position: relative;
      }

      .data-area2 {
        padding-right: 7px;
        display: flex;
        min-width: 50%;
      }

      .use-num {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: calc(50% - 55px);
        left: calc(50% - 55px);
        width: 110px;
        color: #fff;
        text-align: center;
        font-size: 1rem;

        strong {
          font-size: 24px;
          line-height: 1;
        }
      }

      .un-use-num {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: calc(50% - 104px);
        left: calc(50% - 112px);
        min-width: 72px;
        height: 52px;
        background: #191f28;
        border-radius: 10px;
        border: 2px solid #2a2f37;
        color: #fff;

        strong {
          font-size: 1.286rem;
          color: #ed992b;
          line-height: 1.2;
        }
      }

      .all-num {
        font-size: 1.143rem;
        font-weight: 300;
        color: #9aabbd;
        text-align: center;

        strong {
          font-size: 1.286rem;
          color: #ed992b;
          font-weight: 500;
        }
      }

      .data-area .__vuescroll {
        ul {
          width: calc(100% - 18px);
          border-top: 2px solid #292e35;

          li {
            display: flex;
            align-items: center;
            height: 37px;
            border-bottom: 1px solid #292e35;
            font-size: 0.786rem;
            color: #4d5763;

            .num {
              min-width: 30px;
              text-align: center;
            }

            .motels {
              flex: 1;
              font-size: 0.857rem;
              color: #9aabbd;
            }

            .access {
              flex-basis: 90px;
              margin-right: 7px;
              text-align: right;

              strong {
                color: rgb(202, 199, 199);
                font-weight: 500;
              }
            }
          }
        }
      }
    }

    .place-area02 {
      .use-num {
        strong {
          color: #0b78e3;
          text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
        }
      }

      .data-area .__vuescroll {
        margin-top: 22px;

        ul {
          height: 225px;
        }
      }

      .manager-useing {
        .monitor {
          margin: 30px 0 15px;
          text-align: center;
        }

        dl {
          display: flex;
          align-items: center;
          height: 40px;
          margin: 0;
          border-bottom: 1px solid #292e35;
        }

        dt {
          padding-left: 15px;
          color: #fff;
          font-weight: 300;
          white-space: nowrap;
        }

        dd {
          flex: 1;
          margin-left: 20px;
          margin-bottom: 0;
          font-size: 1rem;
          color: #0b78e3;
          font-weight: 500;
        }

        .set-date {
          padding: 12px 0 25px;
          color: #9aabbd;
          text-align: center;
        }
      }
    }

    // 자판기 사용 현황/자판기 사용 내역
    .place-area03 {
      overflow-y: auto;
      max-height: 270px;

      .use-num {
        top: calc(50% - 21px);
      }

      .data-area {
        flex-wrap: wrap;

        .__vuescroll {
          margin-top: 10px;

          ul {
            height: 115px;
          }
        }
      }

      .pay-num {
        margin-top: 19px;
        padding-right: 18px;
        color: #9aabbd;
        font-weight: 300;

        > div {
          strong {
            float: right;
            font-size: 1rem;
            color: #fcb11a;
            font-weight: 500;
          }

          .bar {
            position: relative;
            width: 100%;
            height: 3px;
            background: #666;
            margin-top: 3px;
            margin-bottom: 13px;

            > div {
              position: absolute;
              top: 0;
              left: 0;
              width: 0;
              height: 100%;
              background: #c11e8e;
              transition: width 0.5s linear 0s;
            }
          }
        }

        & + .sub-header {
          padding: 5px 0 0;
        }
      }

      .machine-useing {
        display: flex;
        padding-top: 40px;
        min-width: 90%;

        dl {
          margin: 0 0 0 15px;
          flex: 1;
        }

        dt {
          padding: 10px 0 5px;
          font-size: 1rem;
          color: #fff;
          font-weight: 400;
          text-align: center;
        }

        dd {
          margin: 0;
        }

        dd.version {
          padding: 7px 0;
          border-top: 1px solid #292e35;
          border-bottom: 1px solid #292e35;
          font-size: 1rem;
          text-align: center;

          strong {
            color: #98e489;
            font-weight: 600;
          }
        }

        dd.useing {
          padding: 7px 0;
          border-top: 1px solid #292e35;
          border-bottom: 1px solid #292e35;
          font-size: 1.286rem;
          color: #0b78e3;
          font-weight: 500;
          text-align: center;
        }

        dd.stop {
          padding: 7px 0;
          border-top: 1px solid #292e35;
          border-bottom: 1px solid #292e35;
          font-size: 1.286rem;
          color: #d61a1a;
          font-weight: 500;
          text-align: center;
        }

        .set-date {
          padding: 18px 0 0;
          color: #9aabbd;
          text-align: center;
        }
      }
    }

    // 예약통계
    .place-area04 {
      //min-width: 350px;
      h3 {
        min-width: 80px;
      }

      .v-input--radio-group {
        display: flex;
        justify-content: flex-end;
        min-width: 227px;
        height: 28px;
        margin: 0;
        padding-top: 2px;

        .v-radio {
          margin-right: 7px;
          margin-bottom: 0;

          &:last-child {
            margin: 0;
          }
        }

        .v-input__slot {
          margin: 0;
        }

        .v-input--radio-group__input {
          flex-direction: row;
        }

        .v-input--selection-controls__input {
          margin-right: 0;
        }

        .v-icon {
          font-size: 20px;
          color: #30313a;
        }

        .v-label {
          font-size: 0.857rem;
          color: #9aabbd;
          margin-bottom: 2px;
        }
      }

      .data-area {
        position: relative;
        padding: 0 0 8px;
      }

      .data-select {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #10121c;
        margin: 10px 0;

        .v-btn {
          min-width: 60px;
          height: 32px;
          margin: 0;
          padding: 0;

          &:hover:before {
            background: none;
          }
        }

        > span {
          font-size: 1rem;
          color: #ed992b;
          font-weight: 500;
        }
      }

      .place-bar-line {
        @include bar-line(35px, 255px, 0, 20px);

        li {
          padding-left: 25px;
        }
      }

      .place-bar-chart {
        @include bar-chart(25px, 147px, 3px);
        padding: 0 50px 0 80px;

        dl {
          align-items: center;

          .num {
            color: #8aea1e;
          }
        }
      }
    }
  }
}

// 프로그램 이용 현황
.board-content02 {
  .card-header {
    padding: 0;
  }

  // 프로그램 이용 현황 정보
  .card-body {
    padding: 20px 0 0;

    > .layout {
      margin: 0;

      > .flex {
        min-height: 316px;
        margin-bottom: 30px;
        background: #151821;

        max-width: 49.5%;

        &:not(:first-child) {
          margin-left: 5px;
        }

        &:nth-child(2) {
          background: #191f28;
        }
      }
    }
  }

  .eagle-area01,
  .eagle-area02 {
    .sub-header {
      > div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }

      h3 + span {
        margin-right: 18px;
        color: #9aabbd;
        white-space: nowrap;

        strong {
          margin-left: 2px;
          color: #fff;
          font-weight: 500;
        }
      }

      h3 + span + div {
        display: flex;
        align-items: center;
        height: 28px;
        font-size: 0.786rem;
        color: #9aabbd;

        span {
          display: flex;
          align-items: center;
          padding-left: 12px;

          &:before {
            display: block;
            content: "";
            width: 13px;
            height: 11px;
            margin-right: 8px;
            background: #46b3f1;
          }

          &:first-child:before {
            background: #b61e87;
          }

          &:last-child:before {
            background: #ebc447;
          }
        }
      }
    }

    .v-select {
      max-width: 100px;
      margin-left: 7px;

      & + .v-select {
        max-width: 80px;
      }

      .v-input__control {
        height: 28px;
        min-height: inherit;

        .v-input__slot {
          height: 100%;
          margin: 0;
          background: #191f28;
        }

        .v-label {
          color: #8d9dae;
        }

        .theme--light.v-icon {
          color: #9aabbd;
        }
      }

      .v-select__selection--comma {
        width: 80% !important;
      }
    }

    .data-area {
      padding: 30px 0 8px;
    }
  }

  // 이글매니저 이용 현황
  .eagle-area01 {
  }

  // 자판기 이용 현황
  .eagle-area02 {
    h3 {
      min-width: 115px;
    }

    .v-select .v-input__control .v-input__slot {
      background: #2c323a;
    }
  }
}

// 객실이용 현황
.board-content03 {
  .card-header {
    padding: 0;

    .title-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      .sel-date {
        div {
          margin: 0 !important;
          padding: 0 !important;
        }

        .v-input--radio-group--column .v-input--radio-group__input {
          flex-direction: row;

          .v-label {
            margin: 0 20px 0 5px;
          }
        }

        .data-select .v-btn {
          margin: 0;
        }

        .v-messages {
          min-height: 0;
        }
      }
    }
  }

  // 객실이용 현황 정보
  .card-body {
    padding: 20px 0 0;

    > .layout {
      margin: 0;

      > .flex {
        min-height: 316px;
        margin-bottom: 30px;
        background: #191f28;

        max-width: 24.5%;

        &:nth-child(3) {
          max-width: 49.5%;
          background: #151821;
        }

        &:not(:first-child) {
          margin-left: 5px;
        }
      }
    }
  }

  .sub-header {
    > span {
      color: #9aabbd;
      white-space: nowrap;

      strong {
        color: #fff;
        font-weight: 500;
      }
    }
  }

  // 객실 판매 현황
  .room-area01 {
    .data-num-bar {
      color: #9aabbd;
      font-weight: 300;

      > div {
        strong {
          float: right;
          font-size: 1rem;
          color: #fcb11a;
          font-weight: 500;
        }

        .bar {
          position: relative;
          width: 100%;
          height: 3px;
          background: #292e35;
          margin-top: 3px;
          margin-bottom: 13px;

          > div {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: #c11e8e;
            transition: width 0.5s linear 0s;
          }
        }
      }
    }

    .data-area .__vuescroll {
      margin-top: 35px;

      ul {
        height: 190px;
      }
    }

    .room-sale-num {
      margin-top: 13px;

      & + .sub-header {
        padding: 9px 0 0;
      }
    }

    .machine-use-num {
      margin-top: 8px;

      > div .bar > div {
        background: #0d91d5;
      }
    }
  }

  // 유형별 객실 현황
  .room-area02 {
    .data-area {
      position: relative;
      padding: 17px 25px 0;
    }

    .room-bar-line {
      @include bar-line(0, 235px, 0 25px, 30px);
    }

    .room-bar-chart {
      @include bar-chart(15px, 187px, 24px);

      .bar {
        &.bar0 {
          background: linear-gradient(to bottom, #2d8a76 0%, #338bdd 100%);
        }

        &.bar1 {
          background: linear-gradient(to bottom, #ff6d27 0%, #fcb01a 100%);
        }

        &.bar2 {
          background: linear-gradient(to bottom, #ee297c 0%, #a843cb 100%);
        }

        &.bar3 {
          background: linear-gradient(to bottom, #6471e0 0%, #58a7c0 100%);
        }
      }
    }
  }

  // 이벤트 현황
  .room-area03 {
    .data-area {
      padding: 35px 0 0 0;
    }

    .evt-area {
      width: 100%;
      height: 190px;
      border-top: 2px solid #292e35;
      border-bottom: 2px solid #292e35;

      .__rail-is-vertical {
        top: 10px !important;
        bottom: 10px !important;
        right: 10px !important;
      }

      ul {
        padding: 0 10px 0 25px;
      }

      li {
        display: flex;
        align-items: center;
        min-height: 47px;
        margin-right: 15px;
        padding: 10px 6px;
        border-bottom: 1px solid #292e35;
        color: #5d6f93;
        letter-spacing: -1px;

        &:last-child {
          border: none;
        }
      }

      .icon {
        display: inline-block;
        width: 15px;
        height: 15px;
        line-height: 15px;
        text-align: center;
        color: #151821;
        font-size: 0.786rem;
        margin-right: 17px;

        & + span {
          flex: 1;
          font-size: 0.786rem;
          color: #fff;
          font-weight: 500;

          strong {
            margin-left: 5px;
            color: #ed992b;
            font-weight: 500;
          }
        }
      }

      .date {
        padding-left: 15px;
        color: #5f5f66;
      }

      .info {
        background: #2399e9;
        border-radius: 10px;
      }

      .error {
        position: relative;
        z-index: 1;

        &:after {
          display: block;
          content: "";
          position: absolute;
          top: -2px;
          left: 0;
          z-index: -1;
          width: 16px;
          border-bottom: 16px solid #ffca00;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
        }
      }
    }
  }
}

// 매출 통계
.board-content04 {
  .card-header {
    padding: 0;
  }

  // 객실이용 현황 정보
  .card-body {
    padding: 20px 0 0;

    > .layout {
      margin: 0;

      > .flex {
        min-height: 316px;
        margin-bottom: 30px;
        background: #191f28;

        max-width: 24.5%;

        &:nth-child(1) {
          max-width: 49.5%;
          background: #151821;
        }

        &:not(:first-child) {
          margin-left: 5px;
        }

        &:nth-child(3) {
          background: #151821;
        }
      }
    }
  }

  // 전체 매출 통계
  .sale-area01 {
    .sub-header {
      > div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }

      h3 {
        min-width: 110px;
      }

      h3 + div {
        display: flex;
        align-items: center;
        height: 28px;
        font-size: 0.786rem;
        color: #9aabbd;

        span {
          display: flex;
          align-items: center;
          padding-left: 12px;

          &:before {
            display: block;
            content: "";
            width: 13px;
            height: 11px;
            margin-right: 8px;
            background: #0d91d5;
          }

          &:first-child:before {
            background: #b61e87;
          }
        }
      }

      div:nth-child(2) {
        .v-btn {
          min-width: 60px;
          margin: 3px;
        }
      }

      .v-select {
        max-width: 100px;
        margin-left: 7px;

        & + .v-select {
          max-width: 80px;
        }

        .v-input__control {
          height: 28px;
          min-height: inherit;

          .v-input__slot {
            height: 100%;
            margin: 0;
            background: #191f28;
          }

          .v-label {
            color: #8d9dae;
          }

          .theme--light.v-icon {
            color: #9aabbd;
          }
        }
      }
    }

    .data-area {
      padding: 30px 0 8px;

      .chart-box {
        position: relative;

        .total-text {
          position: absolute;
          top: 10px;
          left: 55px;
          z-index: 10;

          .total-sale {
            font-size: 1rem;
            color: #fff;
          }

          .up,
          .down {
            position: relative;
            margin-left: 10px;
            padding-left: 16px;

            &:before {
              display: block;
              content: "";
              position: absolute;
              top: calc(50% - 3px);
              left: 0;
              width: 0;
              height: 0;
              border: 6px solid transparent;
            }
          }

          .up {
            color: #0b78e4;

            &:before {
              border-top: none;
              border-bottom-color: #0b78e4;
            }
          }

          .down {
            color: #ff2366;

            &:before {
              border-bottom: none;
              border-top-color: #ff2366;
            }
          }
        }
      }

      .sale-month-chart {
        position: relative;

        ul.y-ticks {
          position: absolute;
          left: 13px;
          height: 194px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          li {
            font-size: 0.786rem;
            color: #4d5763;

            &:nth-child(2) {
              margin: 30px 0;
            }
          }
        }
      }

      #sale-room-month-line-chart,
      #sale-isg-month-line-chart {
        padding: 0 30px;
      }

      .sale-room-month-line-chart {
        border-top: 1px solid #292e35;
      }

      .sale-isg-month-line-chart {
        position: relative;
        z-index: 1;
        margin-top: -18px;

        &:before {
          display: block;
          content: "";
          position: absolute;
          top: 95px;
          left: 0;
          z-index: -1;
          width: 100%;
          height: 2px;
          background: #292e35;
        }
      }
    }
  }

  // 객실 매출 상세, 자판기 매출 상세 공통
  .sale-area02,
  .sale-area03 {
    .sub-header {
      position: relative;

      > span {
        color: #9aabbd;
        white-space: nowrap;

        strong {
          font-size: 1.143rem;
          color: #fcb11a;
          font-weight: 500;
        }

        & + span {
          position: absolute;
          top: 55px;
          right: 25px;

          strong {
            font-size: inherit;
            color: #fff;
          }
        }
      }
    }

    .data-area {
      position: relative;
      padding: 17px 25px 0;
    }

    .sale-bar-line {
      @include bar-line(0, 235px, 0 25px, 30px);
    }

    .sale-bar-chart {
      @include bar-chart(15px, 187px, 15px);
      padding-left: 20px;

      dl {
        align-items: center;
      }

      .bar {
        background: #ff6d27;
      }

      li:nth-child(even) {
        .bar {
          background: #2399e9;
        }
      }
    }
  }

  // 객실 매출 상세
  .sale-area02 {
  }

  // 자판기 매출 상세
  .sale-area03 {
  }
}

//반응형 설정
@media screen and (max-width: 1800px) {
  .board-content01 .card-body > .layout > .flex {
    flex-basis: 49.5%;
    max-width: 49.5%;
  }

  .board-content02 .card-body > .layout > .flex {
    flex-basis: 99.5%;
    max-width: 99.5%;
  }

  .board-content03 .card-body > .layout > .flex {
    flex-basis: 49%.5;
    max-width: 49.5%;

    &:nth-child(3) {
      flex-basis: 99.5%;
      max-width: 99.5%;
    }
  }

  .board-content04 .card-body > .layout > .flex {
    flex-basis: 49.5%;
    max-width: 49.5%;

    &:nth-child(1) {
      flex-basis: 99.5%;
      max-width: 99.5%;
    }
  }
}

@media screen and (max-width: 991px) {
  .board-content01 .card-header {
    padding-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .board-content01 .card-header > .row .category-wrap {
    max-width: 99.5%;
    flex-basis: 99.5%;
    margin-top: 15px;

    .sidos {
      max-width: 30%;
    }
  }

  .board-content01 .card-body > .layout > .flex,
  .board-content03 .card-body > .layout > .flex,
  .board-content04 .card-body > .layout > .flex {
    flex-basis: 99.5%;
    max-width: 99.5%;
  }
}

@media screen and (max-width: 414px) {
  .dash-board .sub-header {
    padding: 15px 10px 0;
  }

  .dash-board .data-area {
    padding: 0 10px 15px;
  }
}
