// 공통
/* 본고딕 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body,
.application {
  font-family: "Noto Sans KR", sans-serif !important;
}

div {
  ul,
  ol,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.time {
  position: absolute;
  color: #9aabbd;
  margin-left: 200px;
}

// 사이드바
.sidebar,
.off-canvas-sidebar {
  z-index: 1051;
  width: 145px;
  height: 100vh;
  margin-top: 0;
  margin-left: 0;
  border-radius: 0;
  box-shadow: none;

  &[data="vue"] {
    background: #151821;
  }

  .logo {
    height: 80px;
    background: #1a4999;

    &:after {
      display: none;
    }

    a.logo-normal {
      text-align: center;
      line-height: 42px;
    }
  }

  .nav {
    margin-top: 0;

    li {
      &:first-child {
        > a {
          border-top: none;
        }
      }

      > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px;
        margin-top: 0;
        padding: 15px 8px;
        border-radius: 0;
        border-top: 1px solid #303243;
      }
    }

    i {
      width: 45px;
      margin-right: 0;
      font-size: 36px;
      color: #6d7075;
    }

    p {
      margin-top: 7px;
      color: #6d7075;
    }

    li.active > a:not([data-toggle="collapse"]):before,
    li.active > a:not([data-toggle="collapse"]):before {
      height: calc(100% - 26px);
      width: 3px;
      top: 13px;
      left: -13px;
      background: #1a4999;
      border-radius: 0;
    }
  }
}

// 전체 레이아웃
.main-panel {
  background: #242b33;
  border: none;

  > .content {
    padding: 100px 40px 30px 185px;
  }

  .navbar {
    padding: 15px 30px 15px 153px;

    &.navbar-transparent {
      background: #0a0b14 !important;
    }

    .navbar-brand {
      position: absolute;
      margin-top: 0;
      padding-top: 0;
    }

    .navbar-nav li .v-input__control {
      min-height: inherit;
      height: 28px;

      .v-input__slot {
        margin: 0;
        background: #2c323a;
      }
    }

    .navbar-nav .nav-link {
      line-height: 22px;
      text-align: right;

      .photo {
        margin-left: 10px;

        i {
          font-size: 36px;
        }
      }
    }

    .category-wrap {
      padding: 0;

      .btn-group {
        justify-content: flex-end;
        width: 100%;
      }

      .v-btn {
        width: 96px;
        height: 31px;
        margin: 0;
        background: #1a4999;
        box-shadow: none;
        font-size: 0.857rem;

        .v-btn__content {
          font-weight: 600;
          color: #fff;
        }
      }

      .sidos {
        max-width: 96px;
      }

      .v-autocomplete {
        width: 20%;
        max-width: 390px;
      }
    }
  }
}

.v-select.search {
  .v-input__control {
    height: 33px !important;
    margin-bottom: 10px !important;
    min-height: 33px !important;

    .v-input__slot {
      margin-top: 0 !important;
      background: #27293d !important;
      border: 1px solid #2b3553;

      input {
        color: #e7e7e7 !important;
        font-size: 1rem;
      }
    }

    .v-text-field__details {
      margin-bottom: 0 !important;
    }

    .v-label {
      color: #ccc;
    }

    .theme--light.v-icon {
      color: #5f5f66;
    }
  }
}

@media (min-width: 992px) {
  .navbar .navbar-nav {
    align-items: center;

    .nav-link {
      width: 200px;
    }
  }
}

@media screen and (max-width: 991px) {
  .nav-open .main-panel {
    transform: translate3d(145px, 0, 0);
  }

  .main-panel .navbar {
    padding-left: 0;
    padding-right: 15px;
  }

  .main-panel .content {
    padding-left: 30px;
  }

  .main-panel .navbar .navbar-brand {
    position: relative;
  }

  .navbar .v-text-field.v-text-field--enclosed {
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .main-panel .content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 375px) {
  .navbar .container-fluid {
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .category-wrap {
    max-width: 100%;
    flex-basis: 100%;
    margin-top: 15px;

    .sidos {
      max-width: 30%;
    }
  }
}
