<template>
  <v-flex class="room-area02">
    <div class="sub-header">
      <h3>객실 판매 현황</h3>
      <span
        >총 객실 수 : <strong>{{ all }} </strong>개
      </span>
    </div>
    <div class="data-area">
      <ul class="room-bar-line">
        <li v-for="n in lines" :key="n">{{ n }}</li>
        <li>%</li>
      </ul>
      <ul class="room-bar-chart">
        <li>
          <dl>
            <dt>공실</dt>
            <dd class="bar bar3" :style="{ height: vacancyPercent + '%' }"></dd>
            <dd class="num" :style="{ bottom: vacancyPercent + '%' }">
              {{ vacancy }}
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>대실</dt>
            <dd class="bar bar1" :style="{ height: rentPercent + '%' }"></dd>
            <dd class="num" :style="{ bottom: rentPercent + '%' }">
              {{ rent }}
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>숙박</dt>
            <dd class="bar bar2" :style="{ height: stayPercent + '%' }"></dd>
            <dd class="num" :style="{ bottom: stayPercent + '%' }">
              {{ stay }}
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>장기</dt>
            <dd class="bar bar3" :style="{ height: longPercent + '%' }"></dd>
            <dd class="num" :style="{ bottom: longPercent + '%' }">
              {{ long }}
            </dd>
          </dl>
        </li>
      </ul>
    </div>
  </v-flex>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import moment from "moment";
import _ from "lodash";

export default {
  name: "CaseNow",
  components: {},
  props: {},
  data() {
    return {
      max: 0,
      all: 0,
      vacancy: 0,
      rent: 0,
      stay: 0,
      long: 0,
      lines: [0],
    };
  },
  created() {
    console.log(this.$options.name, "created");
  },
  mounted() {
    console.log(this.$options.name, "mounted");

    this.dataLoad();

    setInterval(() => {
      this.dataLoad();
    }, 60 * 1000);
  },
  computed: {
    watchUserPlaces() {
      return this.userPlaces();
    },
    watchPlaceSelected() {
      return this.placeSelected();
    },
    vacancyPercent() {
      return (this.vacancy / this.max) * 100;
    },
    rentPercent() {
      return (this.rent / this.max) * 100;
    },
    stayPercent() {
      return (this.stay / this.max) * 100;
    },
    longPercent() {
      return (this.long / this.max) * 100;
    },
  },
  watch: {
    watchUserPlaces(newValue, oldValue) {
      this.dataLoad();
    },
    watchPlaceSelected(newValue, oldValue) {
      this.dataLoad();
    },
    max(newValue, oldValue) {
      console.log(this.$options.name, "watch max", newValue);

      let num = (newValue / 4).toFixed(0);

      this.lines = [num * 4, num * 3, num * 2, num, 0];

      console.log(this.$options.name, "watch lines", this.lines);
    },
  },
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapGetters("place", {
      count: "count",
      places: "list",
      placeSelected: "selected",
      placeSearch: "placeSearchText",
    }),
    ...mapGetters("userPlace", { userPlaces: "list" }),

    ...mapActions("dashboard", ["totalRoomStatusSum"]),

    dataLoad() {
      this.all = 0;
      this.vacancy = 0;
      this.rent = 0;
      this.stay = 0;
      this.long = 0;

      let filter = "1=1";

      if (!this.isAdmin()) {
        let placeIds = _.map(this.userPlaces(), (v) => v.place_id).join(",");

        filter = `place_id IN (${placeIds})`;

        // 업소가 없으면 조회 안함.
        if (!placeIds) return;
      }

      if (this.placeSelected()) filter = `place_id=${this.placeSelected()}`;

      this.totalRoomStatusSum({ filter, groups: "sale" }).then((res) => {
        _.map(res, (item) => {
          this.all += item.count;
          if (item.sale === 0) this.vacancy += item.count;
          if (item.sale === 1) this.stay += item.count;
          if (item.sale === 2) this.rent += item.count;
          if (item.sale === 3) this.long += item.count;
        });

        this.max = 1;

        const max = _.maxBy([this.vacancy, this.stay, this.rent, this.long]);

        console.log(this.$options.name, "dataLoad", { max });

        _.times(String(max).length, (v) => {
          this.max *= 10;
        });
      });
    },
  },
  beforeDestroy() {},
};
</script>
<style></style>

<style scoped></style>
