<template>
  <v-flex class="room-area03">
    <div class="sub-header">
      <h3>이벤트 현황</h3>
      <span>※ 상태 이상 정보 조회</span>
    </div>
    <div class="data-area">
      <div class="evt-area">
        <vuescroll :ops="ops">
          <ul>
            <li v-for="(item, index) in list" :key="index">
              <span class="icon" :class="item.className">!</span>
              <span>
                {{ item.content1 }}
                <strong>{{ item.content2 }}</strong>
              </span>
              <span class="date">{{ item.date }}</span>
            </li>
          </ul>
        </vuescroll>
      </div>
    </div>
  </v-flex>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import { keyToValue, roomDisplayStateLog } from "@/constants/key-map";

import moment from "moment";
import _ from "lodash";

import vuescroll from "vuescroll";

export default {
  name: "EventNow",
  components: {
    vuescroll,
  },
  props: {},
  data() {
    return {
      list: [],
      ops: {
        vuescroll: {
          wheelScrollDuration: 500,
        },
        scrollPanel: {},
        rail: {
          background: "#252a32",
          opacity: 1,
        },
        bar: {
          keepShow: true,
          background: "#0b78e4",
          opacity: 1,
          minSize: 0,
        },
      },
    };
  },
  created() {
    console.log(this.$options.name, "created");
  },
  mounted() {
    console.log(this.$options.name, "mounted");

    this.dataLoad();
  },
  computed: {
    watchUserPlaces() {
      return this.userPlaces();
    },
    watchPlaceSelected() {
      return this.placeSelected();
    },
    vacancyPercent() {
      return (this.vacancy / this.max) * 100;
    },
    rentPercent() {
      return (this.rent / this.max) * 100;
    },
    stayPercent() {
      return (this.stay / this.max) * 100;
    },
    longPercent() {
      return (this.long / this.max) * 100;
    },
    watchRoomState() {
      return this.roomState();
    },
  },
  watch: {
    watchUserPlaces(newValue, oldValue) {
      this.dataLoad();
    },
    watchPlaceSelected(newValue, oldValue) {
      this.dataLoad();
    },
    watchRoomState(newValue, oldValue) {
      console.log(this.$options.name, "watchRoomState", newValue);

      let { room_id } = newValue;

      let room = _.find(this.rooms(), { id: room_id });

      if (room) {
        let { place_id, name } = room;

        // console.log(this.$options.name, "watchRoomState room", { place_id, name });

        // 아이크루 관리자가 아니라면 업소별 로그 필터링 (혹시 모를 타업소 정보 노출 대비)
        let place = _.find(this.isAdmin() ? this.places() : this.userPlaces(), { place_id });

        // console.log(this.$options.name, "watchRoomState place", place);

        if (place) {
          let item = {
            className: "info",
            content1: `[${place.name} ${name}]`,
            content2: roomDisplayStateLog(newValue), // 로그 정보 파싱.
            date: moment().format("YYYY.MM.DD HH:mm:ss"),
          };

          // console.log(this.$options.name, "watchRoomState item", item);

          if (this.list.length > 30) this.list.splice(30, 1); // 최대 갯수

          this.list.unshift(item); // 맨처음 삽입.
        }
      }
    },
  },
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapGetters("place", {
      count: "count",
      places: "list",
      placeSelected: "selected",
      placeSearch: "placeSearchText",
    }),
    ...mapGetters("userPlace", { userPlaces: "list" }),
    ...mapGetters("room", { rooms: "list" }),
    ...mapGetters("roomState", { roomState: "item" }),

    ...mapActions("dashboard", ["nowEventList"]),

    dataLoad() {
      this.list = [];

      let filter = "1=1";

      if (!this.isAdmin()) {
        let placeIds = _.map(this.userPlaces(), (v) => v.place_id).join(",");

        filter = `place_id IN (${placeIds})`;

        // 업소가 없으면 조회 안함.
        if (!placeIds) return;
      }

      if (this.placeSelected()) filter = `place_id=${this.placeSelected()}`;

      this.nowEventList({ filter, limit: 10 }).then((res) => {
        _.each(res, (v, k) => {
          let { place_name, name, data, reg_date } = v;

          if (_.isEmpty(data)) return;

          let { sale, signal, emerg, key, clean, outing, door, car_call, main_relay, air_set_temp, notice, temp_key_1, temp_key_2, temp_key_3, temp_key_4, temp_key_5 } = JSON.parse(data);

          let log = {};

          _.map({ sale, signal, emerg, key, clean, outing, door, car_call, main_relay, air_set_temp, notice, temp_key_1, temp_key_2, temp_key_3, temp_key_4, temp_key_5 }, (v, k) => {
            if (v !== undefined) log[k] = v;
          });

          if (!_.isEmpty(log)) {
            let item = {
              className: "info",
              content1: `[${place_name} ${name}]`,
              content2: roomDisplayStateLog(log), // 로그 정보 파싱.
              date: moment(reg_date).format("YYYY.MM.DD HH:mm:ss"),
            };

            // console.log(this.$options.name, "event", item);

            this.list.push(item);
          }
        });
      });
    },
  },
  beforeDestroy() {},
};
</script>
<style></style>

<style scoped></style>
