<template>
  <v-flex class="room-area01">
    <div class="sub-header">
      <h3>객실 통신 현황</h3>
      <span
        >총 객실 수 : <strong>{{ all }} </strong> 개
      </span>
    </div>
    <div class="data-area">
      <div class="data-num-bar room-isg-num">
        <div>
          정상
          <strong>{{ normal }}</strong>
          <div class="bar">
            <div :style="{ width: normalPercent + '%' }"></div>
          </div>
        </div>
        <div>
          비정상
          <strong>{{ error }}</strong>
          <div class="bar">
            <div :style="{ width: errorPercent + '%' }"></div>
          </div>
        </div>
      </div>
      <div class="sub-header">
        <h3>자판기 판매 현황</h3>
        <span
          >총 무인기 수 : <strong>{{ isg }} </strong> 개
        </span>
      </div>
      <div class="data-num-bar machine-use-num">
        <div>
          판매 가능
          <strong>{{ isgOn }}</strong>
          <div class="bar">
            <div :style="{ width: isgOnPercent + '%' }"></div>
          </div>
        </div>
        <div>
          판매 중지
          <strong>{{ isgOff }}</strong>
          <div class="bar">
            <div :style="{ width: isgOffPercent + '%' }"></div>
          </div>
        </div>
        <div>
          예약만 가능
          <strong>{{ isgRsv }}</strong>
          <div class="bar">
            <div :style="{ width: isgRsvPercent + '%' }"></div>
          </div>
        </div>
      </div>
    </div>
  </v-flex>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import moment from "moment";
import _ from "lodash";

export default {
  name: "RoomNow",
  components: {},
  props: {},
  data() {
    return {
      all: 0,
      normal: 0,
      error: 0,
      isg: 0,
      isgOn: 0,
      isgOff: 0,
      isgRsv: 0,
    };
  },
  created() {
    console.log(this.$options.name, "created");
  },
  mounted() {
    console.log(this.$options.name, "mounted");

    this.dataLoad();

    setInterval(() => {
      this.dataLoad();
    }, 60 * 1000);
  },
  computed: {
    watchUserPlaces() {
      return this.userPlaces();
    },
    watchPlaceSelected() {
      return this.placeSelected();
    },
    normalPercent() {
      console.log(this.$options.name, "normalPercent", this.normal, this.all);

      return this.normal ? (this.normal / this.all) * 100 : 0;
    },
    errorPercent() {
      return this.error ? (this.error / this.all) * 100 : 0;
    },
    isgOnPercent() {
      return this.isgOn ? (this.isgOn / this.isg) * 100 : 0;
    },
    isgOffPercent() {
      return this.isgOff ? (this.isgOff / this.isg) * 100 : 0;
    },
    isgRsvPercent() {
      return this.isgRsv ? (this.isgRsv / this.isg) * 100 : 0;
    },
  },
  watch: {
    watchUserPlaces(newValue, oldValue) {
      this.dataLoad();
    },
    watchPlaceSelected(newValue, oldValue) {
      this.dataLoad();
    },
  },
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapGetters("place", {
      count: "count",
      places: "list",
      placeSelected: "selected",
      placeSearch: "placeSearchText",
    }),
    ...mapGetters("userPlace", { userPlaces: "list" }),

    ...mapActions("dashboard", ["totalRoomStatusSum", "totalIsgStatusSum"]),

    dataLoad() {
      this.all = 0;
      this.normal = 0;
      this.error = 0;

      let filter = "1=1";

      if (!this.isAdmin()) {
        let placeIds = _.map(this.userPlaces(), (v) => v.place_id).join(",");

        filter = `place_id IN (${placeIds})`;

        // 업소가 없으면 조회 안함.
        if (!placeIds) return;
      }

      if (this.placeSelected()) filter = `place_id=${this.placeSelected()}`;

      this.totalRoomStatusSum({ filter, groups: "signal" }).then((res) => {
        _.map(res, (item) => {
          setTimeout(() => {
            this.all += item.count;
            // 그리프 애니메이션 딜레이
            if (item.signal === 0) this.normal += item.count;
            if (item.signal === 1) this.error += item.count;
          }, 300);
        });
      });

      this.isg = 0;
      this.isgOn = 0;
      this.isgOff = 0;

      this.totalIsgStatusSum({ filter, groups: "state" }).then((res) => {
        _.map(res, (item) => {
          setTimeout(() => {
            this.isg += item.count;
            // " 0 : 판매대기중  1 : 판매 가능한 객실이 없음 또는 판매 중지 상태 2 : 예약만 가능 (남은 객실이 모두 예약되어있을때)"
            if (item.state === 0) this.isgOn += item.count;
            if (item.state === 1) this.isgOff += item.count;
            if (item.state === 2) this.isgRsv += item.count;
          }, 300);
        });
      });
    },
  },
  beforeDestroy() {},
};
</script>
<style></style>

<style scoped></style>
