<template>
  <div class="wrapper">
    <side-bar>
      <template slot="links">
        <sidebar-link
          to="/dashboard"
          :name="$t('sidebar.dashboard')"
          icon="tim-icons icon-chart-pie-36"
        />
      </template>
    </side-bar>
    <div class="main-panel">
      <sample-navbar></sample-navbar>
      <sample-content @click.native="toggleSidebar">
      </sample-content>
      <sample-footer></sample-footer>
    </div>
  </div>
</template>
<style lang="scss">
</style>
<script>
import SampleNavbar from "./SampleNavbar.vue";
import SampleFooter from "./SampleFooter.vue";
import SampleContent from "./Content.vue";
import MobileMenu from "./MobileMenu";
export default {
  components: {
    SampleNavbar,
    SampleFooter,
    SampleContent,
    // eslint-disable-next-line vue/no-unused-components
    MobileMenu
  },
  methods: {
    toggleSidebar() {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.displaySidebar(false);
      }
    }
  }
};
</script>
