<template>
  <card>
    <h5 slot="header" class="title">상세 정보</h5>

    <div class="row">
      <div class="col-md-2">
        <v-select
          name="user_id"
          label="사용자 선택"
          outline
          v-model="mailReceiver.user_id"
          :items="userIds"
          placeholder="선택 해주세요"
          item-value="value"
          item-text="text"
          multi-line
          full-width
          color="#e14eca"
          v-validate="'required'"
          append-icon="keyboard_arrow_down"
          data-vv-as="사용자 선택 "
          :disabled="id ? true : false"
        />
        <p v-show="errors.has('user_id')" class="err-info text-nowrap">
          {{ errors.first("user_id") }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 pr-md-1">
        <v-select
          name="type"
          label="메일 타입 선택"
          outline
          v-model="mailReceiver.type"
          :items="types"
          placeholder="선택해 주세요"
          item-value="value"
          item-text="text"
          multi-line
          full-width
          color="#e14eca"
          v-validate="'required'"
          append-icon="keyboard_arrow_down"
          data-vv-as="메일 타입 "
        />
        <p v-show="errors.has('type')" class="err-info text-nowrap">
          {{ errors.first("type") }}
        </p>
      </div>
      <div class="col-md-2">
        <v-select
          name="receive_yn"
          label="메일수신 여부 선택"
          outline
          v-model="mailReceiver.receive_yn"
          :items="mailYn"
          placeholder="선택 해주세요"
          item-value="value"
          item-text="text"
          multi-line
          full-width
          color="#e14eca"
          v-validate="'required'"
          append-icon="keyboard_arrow_down"
          data-vv-as="메일수신 여부 "
        />
        <p v-show="errors.has('receive_yn')" class="err-info text-nowrap">
          {{ errors.first("receive_yn") }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <base-input
          label="등록일자"
          :value="moment(mailReceiver.reg_date).format('YYYY-MM-DD HH:mm')"
          disabled
          placeholder="등록일자"
        >
        </base-input>
      </div>
      <div class="col-md-2" v-if="mailReceiver.mod_date">
        <base-input
          label="수정일자"
          :value="moment(mailReceiver.mod_date).format('YYYY-MM-DD HH:mm')"
          disabled
          placeholder="수정일자"
        >
        </base-input>
      </div>
    </div>

    <base-button slot="footer" type="secondary" fill @click="clickCancle"
      >취소</base-button
    >

    <base-button
      slot="footer"
      type="primary"
      fill
      :disabled="errors.any() || isDisabled"
      @click="clickSave"
      >{{ id ? "저장" : "등록" }}
      {{ isDisabled ? "권한 없음" : "" }}
    </base-button>
  </card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { ComAlert, ComConfirm } from "@/utils/alert-util";
import { keyToValue, keyCodes } from "@/constants/key-map";

import _ from "lodash";

export default {
  name: "MailReceiverItem",
  props: {
    id: {
      type: Number,
      default: null
    },
    edit: {
      type: Boolean,
      default: true
    },
    item: {
      type: Object,
      default: () => {
        return {};
      }
    },
    users: {
      type: Array,
      default: () => {
        return [];
      }
    }
  },
  data: () => ({
    datepicker: false,
    isDisabled: false,
    mailReceiver: {},
    userIds: [],
    types: keyCodes("mail_receiver", "type"),
    mailYn: keyCodes("com", "mailYn")
  }),
  created() {
    console.log(this.$options.name, "created", this.users);

    _.each(this.users, user => this.userIds.push(user.id));
  },
  mounted() {
    console.log(this.$options.name, "mounted");
  },
  computed: {},
  watch: {
    item: {
      immediate: true,
      handler(newValue, oldValue) {
        // 자기 자신이 아니라면 나보다 하위 메일 타입만 수정 가능
        if (this.auth().id !== this.item.user_id)
          this.isDisabled =
            this.user_id && this.auth().level >= this.item.level;

        this.mailReceiver = _.cloneDeep(this.item);

        console.log("- watch item", this.item, this.isAdmin());
      }
    },
    mailReceiver: {
      deep: true, // 객에의 속성 내부까지 변경 감시를 하기 위해.
      immediate: true,
      handler(newValue, oldValue) {
        console.log("- watch mailReceiver", newValue);

        let { user_id, type } = newValue;

        if (user_id) {
          // 메일 타입 필터링.
          this.types = _.filter(
            keyCodes("mail_receiver", "type"),
            ({ text, value }) => {
              let isUse = _.find(this.mailReceivers(), {
                user_id,
                type: value
              });

              // 수정 시 현재 메일 타입 추가.
              if (this.id && value === type) isUse = false;

              // console.log("- isUse", isUse, { type, user_id, value });
              return !isUse;
            }
          );
        }
      }
    }
  },
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapGetters("mailReceiver", { count: "count", mailReceivers: "list" }),
    ...mapActions("mailReceiver", ["newItem", "setItem"]),

    clickCancle() {
      // sync 로 연결된 상위 컴포넌트 데이터 변경 시 명시적으로 emit.
      this.$emit("update:edit", false);
    },
    clickSave() {
      this.$validator.validateAll().then(result => {
        if (result) {
          if (!this.id) {
            // 신규 등록
            console.log("- newItem", this.mailReceiver);
            ComConfirm({ type: "등록" }, resMsg => {
              this.newItem({ ...this.mailReceiver }).then(res => {
                resMsg(res);
                if (res) this.clickCancle();
              });
            });
          } else {
            // 수정 저장
            console.log("- setItem", this.mailReceiver);
            ComConfirm({ type: "저장" }, resMsg => {
              this.setItem({ ...this.mailReceiver }).then(res => {
                resMsg(res);
                if (res) this.clickCancle();
              });
            });
          }
        }
      });
    }
  }
};
</script>
<style scoped lang="scss">
label {
  font-weight: 600;
}
.btn {
  margin-right: 20px;
}
.col-md-1 {
  min-width: 110px;
}
</style>
