<template>
  <v-flex class="place-area02">
    <div class="sub-header">
      <h3>미 사용 업체 리스트</h3>
      <v-btn
        flat
        outline
        dark
        @click="toggleUseNow()"
      >
        <v-icon>notes</v-icon>
        <span>그래프보기</span>
      </v-btn>
    </div>
    <div class="data-area data-area2">
      <vuescroll :ops="ops">
        <ul>
          <li
            v-for="(item, index) in list"
            :key="index"
          >
            <span class="num">{{String(index+1).padStart(2, '0')}}</span>
            <span class="motels">{{item.name}}</span>
            <span class="access">최근 접속 <strong>{{moment(item.last_event_date).fromNow(true)}}</strong> 전</span>
          </li>
        </ul>
      </vuescroll>
    </div>
  </v-flex>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import moment from "moment";
import _ from "lodash";
import vuescroll from "vuescroll";

export default {
  name: "IegList",
  components: {
    vuescroll
  },
  props: {
    ops: Object
  },
  data: () => ({
    list: [],
    timer: null
  }),
  computed: {},
  watch: {},
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapActions("dashboard", ["listNowIeg"]),

    toggleUseNow() {
      this.$emit("send-toggleView", 1);
    },

    dataLoad() {
      this.list = [];

      // 사용 중지 목록.
      let filter = "page_reload=1";

      this.listNowIeg({ filter, loading: false }).then(res => {
        _.map(res, item => {
          this.list.push(item);
        });
      });
    }
  },
  created() {
    console.log(this.$options.name, "created");
  },
  mounted() {
    console.log(this.$options.name, "mounted");

    this.dataLoad();

    clearInterval(this.timer);

    this.timer = setInterval(() => {
      this.dataLoad();
    }, 60 * 1000);
  },
  beforeDestroy() {
    console.log(this.$options.name, "beforeDestroy");
    clearInterval(this.timer);
  }
};
</script>

<style scoped>
</style>
