<template>
  <v-flex class="place-area02">
    <div class="sub-header">
      <h3>크루이글(IEG) 현황</h3>
      <v-btn
        flat
        outline
        dark
        @click="nuUseStore()"
      >
        <v-icon>notes</v-icon>
        <span>미사용 업소</span>
      </v-btn>
    </div>
    <div class="data-area">
      <doughnut-chart
        v-if="loading"
        style="height: 180px; margin: 25px 0 17px;"
        chart-id="blue-doughnet-chart"
        :chart-data="blueDoughnutChart.chartData"
        :extra-options="blueDoughnutChart.extraOptions"
      >
      </doughnut-chart>
      <div class="use-num">사용<strong>{{blueDoughnutChart.chartData.datasets[0].data[0]}}개</strong></div>
      <div class="un-use-num">미사용<strong>{{blueDoughnutChart.chartData.datasets[0].data[1]}}개</strong></div>
      <div class="all-num">총 프로그램 설치 수 : <strong>{{blueDoughnutChart.chartData.datasets[0].data[0] + blueDoughnutChart.chartData.datasets[0].data[1]}}</strong></div>
    </div>
  </v-flex>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import moment from "moment";
import _ from "lodash";

import DoughnutChart from "@/components/Charts/DoughnutChart";
import * as chartConfigs from "@/components/Charts/config";
import config from "@/config";

export default {
  name: "IegUseNow",
  components: {
    DoughnutChart
  },
  props: {},
  data: () => ({
    loading: false,
    blueDoughnutChart: {
      extraOptions: chartConfigs.doughnutChartOptions,
      chartData: {
        labels: ["사용", "미사용"],
        datasets: [
          {
            label: "Use",
            fill: true,
            borderWidth: 0,
            data: [0, 0]
          }
        ]
      }
    },
    timer: null
  }),
  computed: {},
  watch: {},
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapActions("dashboard", ["totalNowIeg"]),

    nuUseStore() {
      this.$emit("send-toggleView", 1);
    },

    dataLoad() {
      this.totalNowIeg({ loading: false }).then(res => {
        // 차트 데이터.
        let datasets = this.blueDoughnutChart.chartData.datasets;

        _.map(res, item => {
          if (item.connect !== null)
            datasets[0].data[item.connect] = item.count;
        });

        this.$set(this.blueDoughnutChart.chartData, "datasets", datasets);
        this.loading = true;
      });
    }
  },
  created() {
    console.log(this.$options.name, "created");
  },
  mounted() {
    console.log(this.$options.name, "mounted");

    this.dataLoad();

    clearInterval(this.timer);

    this.timer = setInterval(() => {
      this.dataLoad();
    }, 60 * 1000);
  },
  beforeDestroy() {
    console.log(this.$options.name, "beforeDestroy");
    clearInterval(this.timer);
  }
};
</script>
<style>
</style>

<style scoped>
</style>
