<template>
  <v-flex class="place-area03">
    <div class="sub-header">
      <h3>사용 중지 내역</h3>
      <v-btn
        flat
        outline
        dark
        @click="historyView()"
      >
        <v-icon>notes</v-icon>
        <span>그래프보기</span>
      </v-btn>
    </div>
    <div class="data-area data-area2">
      <!-- <div class="data-num-bar pay-num">
        <div>
          카드결제
          <strong>{{cardNum}}건</strong>
          <div class="bar">
            <div :style="{width: cardPercent + '%'}"></div>
          </div>
        </div>
        <div>
          현금결제
          <strong>{{cashNum}}건</strong>
          <div class="bar">
            <div :style="{width: cashPercent + '%'}"></div>
          </div>
        </div>
      </div> -->
      <!-- <div class="sub-header">
        <h3>사용 중지 업소</h3>
      </div> -->
      <vuescroll :ops="ops">
        <ul>
          <li
            v-for="(item, index) in list"
            :key="index"
          >
            <span class="num">{{String(index+1).padStart(2, '0')}}</span>
            <span class="motels">[{{item.place_name}}] {{item.name}}</span>
            <span class="access">최근 접속 <strong>{{moment(item.last_event_date).fromNow(true)}}</strong> 전</span>
          </li>
        </ul>
      </vuescroll>
    </div>
  </v-flex>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import moment from "moment";
import _ from "lodash";
import vuescroll from "vuescroll";

export default {
  components: {
    vuescroll
  },
  props: {
    ops: Object
  },
  data: () => ({
    list: [],
    allNum: 2000,
    cardNum: 1256,
    cashNum: 782,
    cardPercent: null,
    cashPercent: null,
    timer: null
  }),
  computed: {},
  watch: {},
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapActions("dashboard", ["listNowIsg"]),

    historyView() {
      this.$emit("send-toggleView", 2);
    },

    dataLoad() {
      this.list = [];

      // 사용 중지 목록.
      let filter = "sale_stop=1";

      this.listNowIsg({ filter, loading: false }).then(res => {
        _.map(res, item => {
          this.list.push(item);
        });
      });
    }
  },
  created() {
    console.log(this.$options.name, "created");
  },
  mounted() {
    console.log(this.$options.name, "mounted");

    this.dataLoad();

    clearInterval(this.timer);

    this.timer = setInterval(() => {
      this.dataLoad();
    }, 60 * 1000);
  },
  beforeDestroy() {
    console.log(this.$options.name, "beforeDestroy");
    clearInterval(this.timer);
  }
};
</script>
<style>
</style>

<style scoped>
</style>
