<template>
  <v-flex class="place-area03">
    <div class="sub-header">
      <h3>크루셀프(ISG) 현황</h3>
      <v-btn flat outline dark @click="historyView()">
        <v-icon>notes</v-icon>
        <span>사용중지 내역</span>
      </v-btn>
    </div>
    <div class="data-area">
      <pie-chart v-if="loading" style="height: 180px; margin: 25px 0 17px;" chart-id="purple-pie-chart" :chart-data="purplePieChart.chartData" :extra-options="purplePieChart.extraOptions">
      </pie-chart>
      <div class="use-num">
        사용<strong>{{ purplePieChart.chartData.datasets[0].data[0] }}개</strong>
      </div>
      <div class="un-use-num">
        중지<strong>{{ purplePieChart.chartData.datasets[0].data[1] }}개</strong>
      </div>
      <div class="all-num">
        총 무인 자판기 수 : <strong>{{ purplePieChart.chartData.datasets[0].data[0] + purplePieChart.chartData.datasets[0].data[1] }}</strong>
      </div>
    </div>
  </v-flex>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import moment from "moment";
import _ from "lodash";

import PieChart from "@/components/Charts/PieChart";
import * as chartConfigs from "@/components/Charts/config";
import config from "@/config";

export default {
  name: "IsgUseNow",
  components: {
    PieChart,
  },
  props: {},
  data: () => ({
    loading: false,
    purplePieChart: {
      extraOptions: chartConfigs.pieChartOptions,
      chartData: {
        labels: ["사용", "중지"],
        datasets: [
          {
            label: "Use",
            fill: true,
            backgroundColor: ["#695aec", "#2c323a"],
            hoverBackgroundColor: ["#2c323a", "#695aec"],
            borderWidth: 0,
            data: [0, 0],
          },
        ],
      },
    },
    timer: null,
  }),
  computed: {},
  watch: {},
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapActions("dashboard", ["totalNowIsg"]),

    historyView() {
      this.$emit("send-toggleView", 2);
    },

    dataLoad() {
      this.totalNowIsg({ loading: false }).then((res) => {
        // 차트 데이터.
        let datasets = this.purplePieChart.chartData.datasets;

        _.map(res, (item, idx) => {
          // 판매 중지(0:판매, 1:중지)
          if (item.sale_stop !== null) datasets[0].data[item.sale_stop] = item.count;
        });

        this.$set(this.purplePieChart.chartData, "datasets", datasets);
        this.loading = true;
      });
    },
  },
  created() {
    console.log(this.$options.name, "created");
  },
  mounted() {
    console.log(this.$options.name, "mounted");

    this.dataLoad();

    clearInterval(this.timer);

    this.timer = setInterval(() => {
      this.dataLoad();
    }, 60 * 1000);
  },
  beforeDestroy() {
    console.log(this.$options.name, "beforeDestroy");
    clearInterval(this.timer);
  },
};
</script>
<style></style>

<style scoped></style>
