<template>
  <v-flex class="place-area01">
    <div class="sub-header">
      <h3>업소정보</h3>
    </div>
    <div class="data-area store-info">
      <dl>
        <dt>상호</dt>
        <dd>{{ place.name }}</dd>
        <dt>타입</dt>
        <dd>{{ keyToValue("place", "type", place.type) }}</dd>
      </dl>
      <dl>
        <dt>회사</dt>
        <dd>{{ place.company_name }}</dd>
        <dt>시도</dt>
        <dd>{{ place.sido }}</dd>
        <dt>구군</dt>
        <dd>{{ place.gugun }}</dd>
      </dl>
      <dl>
        <dt>주소</dt>
        <dd>{{ place.addr + " " + place.addr_detl }}</dd>
      </dl>
      <dl>
        <dt>휴대폰번호</dt>
        <dd>{{ place.tel }}</dd>
        <dt>최근 접속</dt>
        <dd>{{ moment(place.last_event_date).fromNow(true) }} 전</dd>
      </dl>
      <dl>
        <dt>객실수</dt>
        <dd>{{ place.room_cnt }} 개</dd>
        <dt>등록 일자</dt>
        <dd>{{ moment(place.reg_date).format("YYYY-MM-DD HH:mm") }}</dd>
        <template v-if="place.mod_date">
          <dt>수정 일자</dt>
          <dd>{{ moment(place.mod_date).format("YYYY-MM-DD HH:mm") }}</dd>
        </template>
      </dl>
    </div>
  </v-flex>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import moment from "moment";
import _ from "lodash";

export default {
  name: "PlaceSubscribe",
  components: {},
  props: {
    selPlaceId: {
      type: Number,
      default: null,
    },
  },
  data() {
    return { place: {} };
  },
  computed: {},
  watch: {
    selPlaceId: {
      immediate: true,
      handler(newValue, oldValue) {
        console.log("- watch selPlaceId", newValue);

        this.place = _.find(this.places(), { id: newValue });
      },
    },
  },
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapGetters("place", { count: "count", places: "list" }),
  },
  created() {
    console.log(this.$options.name, "created");
  },
  mounted() {},
  beforeDestroy() {},
};
</script>

<style scoped></style>
