<template>
  <v-flex class="place-area03">
    <div class="sub-header">
      <h3>크루셀프 사용 현황</h3>
    </div>
    <div class="data-area data-area2">
      <div class="data-area machine-useing" v-for="(item, index) in isgs" :key="index">
        <div class="monitor">
          <img v-if="item.sale_stop" src="@/assets/image/img_machine_off.png" alt="미사용" />
          <img v-else src="@/assets/image/img_machine_on.png" alt="사용중" />
        </div>
        <dl>
          <dt>{{ item.name }}</dt>
          <dd class="version">
            Ver. <strong>{{ item.version }}</strong>
          </dd>
          <dd :class="{ useing: !item.sale_stop, stop: !!item.sale_stop }">{{ item.sale_stop ? "사용중지" : "사용중" }}</dd>
          <dd class="set-date">최근 업데이트: {{ moment(item.mod_date).format("YYYY.MM.DD HH:mm") }}</dd>
        </dl>
      </div>
    </div>
  </v-flex>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import moment from "moment";
import _ from "lodash";

export default {
  name: "PlaceIsgNow",
  components: {},
  props: {
    selPlaceId: {
      type: Number,
      default: null,
    },
  },
  data: () => ({}),
  computed: {
    isgs() {
      return _.filter(this.placeList(), { type: "02" });
    },
  },
  watch: {
    selPlaceId: {
      immediate: true,
      handler(newValue, oldValue) {
        console.log("- watch selPlaceId", newValue);

        // 목록 조회.
        this.getPlaceList({ place_id: newValue });
      },
    },
  },
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapGetters("device", ["placeList"]),

    ...mapActions("device", ["getPlaceList"]),
  },
  created() {
    console.log(this.$options.name, "created");
  },
  mounted() {},
  beforeDestroy() {},
};
</script>

<style scoped></style>
