<template>
  <v-flex class="place-area02">
    <div class="sub-header">
      <h3>구독 서비스 목록</h3>
    </div>
    <div class="data-area data-area2">
      <vuescroll :ops="ops">
        <ul>
          <li v-for="(item, index) in list()" :key="index">
            <span class="num">{{ String(index + 1).padStart(2, "0") }}</span>
            <span class="motels">{{ item.name }}</span>
            <span class="motels">{{ keyToValue("com", "payYn", item.pay_yn) }} {{ keyToValue("subscribe", "pay_type", item.pay_type) }}</span>
            <span class="motels">{{ moment(item.begin_date).format("YYYY-MM-DD") }} ~ {{ moment(item.end_date).format("YYYY-MM-DD") }}</span>
            <span class="access"
              >등록 <strong>{{ moment(item.reg_date).format("YYYY-MM-DD") }}</strong></span
            >
          </li>
        </ul>
      </vuescroll>
    </div>
  </v-flex>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import moment from "moment";
import _ from "lodash";
import vuescroll from "vuescroll";

export default {
  name: "PlaceSubscribe",
  components: {
    vuescroll,
  },
  props: {
    ops: Object,
    selPlaceId: {
      type: Number,
      default: null,
    },
  },
  data: () => ({
    timer: null,
  }),
  computed: {},
  watch: {
    selPlaceId: {
      immediate: true,
      handler(newValue, oldValue) {
        console.log("- watch selPlaceId", newValue);

        let filter = "a.place_id=" + newValue;

        // 목록 조회.
        this.getList({ filter });
      },
    },
  },
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapActions("placeSubscribe", ["getList", "delItem"]),
    ...mapGetters("placeSubscribe", ["count", "list"]),
  },
  created() {
    console.log(this.$options.name, "created");
  },
  mounted() {},
  beforeDestroy() {},
};
</script>

<style scoped></style>
