<template>
  <v-flex class="place-area04">
    <div class="sub-header">
      <h3>예약 통계</h3>
      <v-radio-group v-model="radioGroup">
        <v-radio v-for="(v, k) in radioName" :key="k" :label="v" :value="k" color="#0b78e3" off-icon="check_box_outline_blank" on-icon="check_box"></v-radio>
      </v-radio-group>
    </div>
    <div class="data-area">
      <div class="data-select">
        <v-btn dark flat @click="moveDate(-1)">
          <v-icon>keyboard_arrow_left</v-icon>
        </v-btn>
        <span>{{ currDate }}</span>
        <v-btn dark flat @click="moveDate(1)">
          <v-icon>keyboard_arrow_right</v-icon>
        </v-btn>
      </div>
      <ul class="place-bar-line">
        <li v-for="n in lines" :key="n">{{ n }}</li>
        <li>%</li>
      </ul>
      <ul class="place-bar-chart">
        <li>
          <dl>
            <dt>전체</dt>
            <dd class="bar bar1" :style="{ height: allPercent + '%' }"></dd>
            <dd class="num" :style="{ bottom: allPercent + '%' }">{{ all }}건</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>대실</dt>
            <dd class="bar bar1" :style="{ height: rentPercent + '%' }"></dd>
            <dd class="num" :style="{ bottom: rentPercent + '%' }">{{ rent }}건</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>숙박</dt>
            <dd class="bar bar2" :style="{ height: stayPercent + '%' }"></dd>
            <dd class="num" :style="{ bottom: stayPercent + '%' }">{{ stay }}건</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>장기</dt>
            <dd class="bar bar3" :style="{ height: longPercent + '%' }"></dd>
            <dd class="num" :style="{ bottom: longPercent + '%' }">{{ long }}건</dd>
          </dl>
        </li>
      </ul>
      <!-- <bar-chart
          style="height: 215px"
          chart-id="blue-bar-chart"
          :chart-data="blueBarChart.chartData"
          :extra-options="blueBarChart.extraOptions"
        >
      </bar-chart> -->
    </div>
  </v-flex>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import moment from "moment";
import _ from "lodash";

export default {
  name: "Reserv",
  components: {},
  props: {},
  data() {
    return {
      begin: moment(),
      end: moment(),
      radioGroup: 1,
      radioName: ["오늘", "일간통계", "주간통계", "월간통계"],
      max: 0,
      all: 0,
      rent: 0,
      stay: 0,
      long: 0,
      lines: [0],
    };
  },
  created() {
    console.log(this.$options.name, "created");
  },
  mounted() {
    console.log(this.$options.name, "mounted");

    this.dataLoad();

    setInterval(() => {
      this.dataLoad();
    }, 60 * 1000);
  },
  computed: {
    watchPlaceSelected() {
      return this.placeSelected();
    },
    currDate() {
      console.log(this.$options.name, "computed currDate", this.begin);
      return this.radioGroup < 2 ? this.begin.format("YYYY/MM/DD") : this.radioGroup === 2 ? this.begin.format("YYYY/MM/DD") + " - " + this.end.format("YYYY/MM/DD") : this.begin.format("YYYY/MM");
    },
    allPercent() {
      return (this.all / this.max) * 100;
    },
    rentPercent() {
      return (this.rent / this.max) * 100;
    },
    stayPercent() {
      return (this.stay / this.max) * 100;
    },
    longPercent() {
      return (this.long / this.max) * 100;
    },
  },
  watch: {
    watchPlaceSelected(newValue, oldValue) {
      this.dataLoad();
    },
    radioGroup(newValue, oldValue) {
      console.log(this.$options.name, "watch radioGroup", newValue);

      if (newValue === 0) {
        this.begin = moment();
        this.end = moment();
      } else if (newValue === 1) {
        this.begin = this.begin;
        this.end = this.begin;
      } else if (newValue === 2) {
        this.begin = moment(this.begin).startOf("week");
        this.end = moment(this.begin).endOf("week");
      } else if (newValue === 3) {
        this.begin = moment(this.begin).startOf("month");
        this.end = moment(this.begin).endOf("month");
      }

      this.dataLoad();
    },
    max(newValue, oldValue) {
      console.log(this.$options.name, "watch max", newValue);

      let num = (newValue / 4).toFixed(0);

      this.lines = [num * 4, num * 3, num * 2, num, 0];

      console.log(this.$options.name, "watch lines", this.lines);
    },
  },
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapGetters("place", {
      count: "count",
      places: "list",
      placeSelected: "selected",
      placeSearch: "placeSearchText",
    }),
    ...mapGetters("userPlace", { userPlaces: "list" }),

    ...mapActions("dashboard", ["totalReservSum"]),

    dataLoad() {
      this.list = [];

      let filter = "1=1";

      if (this.placeSelected()) filter = `place_id=${this.placeSelected()}`;

      let args = {
        begin: this.begin.format("YYYY-MM-DD"),
        end: this.end.format("YYYY-MM-DD"),
        filter,
        type: "day",
        groups: "stay_type",
        loading: true,
      };

      this.all = 0;
      this.rent = 0;
      this.stay = 0;
      this.long = 0;

      this.totalReservSum(args).then((res) => {
        _.map(res, (item) => {
          this.list.push(item);

          this.all++;
          if (item.stay_type === 1) this.stay++;
          if (item.stay_type === 2) this.rent++;
          if (item.stay_type === 3) this.long++;
        });

        this.max = 1;

        _.times(String(this.all).length, (v) => {
          this.max *= 10;
        });
      });
    },

    moveDate(dir) {
      console.log("- moveDate", dir);

      if (this.radioGroup < 2) {
        this.begin = moment(this.begin).add(dir, "day"); // computed 에서 날자 변화를 인식 시키기 위해서는 moment() 로 날자 생성을 해준다.
        this.end = this.begin;
      } else if (this.radioGroup === 2) {
        this.begin = moment(this.begin).add(dir, "week");
        this.end = moment(this.begin).endOf("week");
      } else if (this.radioGroup === 3) {
        this.begin = moment(this.begin).add(dir, "month");
        this.end = moment(this.begin).endOf("month");
      }

      this.dataLoad();
    },
  },
  beforeDestroy() {},
};
</script>
<style></style>

<style scoped></style>
