<template>
  <v-flex class="place-area01">
    <div class="sub-header">
      <h3>전체업소 통계</h3>
      <v-btn flat outline dark>자판기 보기</v-btn>
    </div>
    <div class="data-area">
      <p>
        총
        <span
          ><strong> {{ count }}</strong> 개
        </span>
        업소에 설치 되었습니다.
      </p>
      <template>
        <v-item-group>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex v-for="n in 16" :key="n">
                <v-item>
                  <v-card class="d-flex align-center" dark height="30" color="#20212b">
                    {{ sidos[n - 1].text }}
                    <strong> {{ sidos[n - 1].value }}</strong>
                  </v-card>
                </v-item>
              </v-flex>
            </v-layout>
          </v-container>
        </v-item-group>
      </template>
    </div>
  </v-flex>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { ComAlert, ComConfirm } from "@/utils/alert-util";
import { codes, keyCodes } from "@/constants/key-map";

import moment from "moment";
import _ from "lodash";

export default {
  name: "Total",
  components: {},
  props: {},
  data: () => ({
    count: 0,
    sidos: [],
  }),
  computed: {},
  watch: {},
  methods: {
    ...mapGetters(["auth", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapActions("dashboard", ["totalPlaceSido"]),
  },
  created() {
    console.log(this.$options.name);

    this.sidos = _.cloneDeep(codes.com.sidos);

    this.totalPlaceSido().then((res) => {
      _.map(res, (item) => {
        if (item.sido !== null) {
          let sido = _.find(this.sidos, { full: item.sido });
          if (sido) {
            sido.value = item.count;
            this.count += item.count;
          }
        }
      });
    });
  },
  mounted() {},
  beforeDestroy() {},
};
</script>
<style></style>

<style scoped></style>
