/* Form controls */
@include form-control-placeholder(#6c757c, 1);

.form-control {
  border-color: lighten($black, 5%);
  border-radius: $border-radius-lg;
  font-size: $font-size-sm;
  @include transition-input-focus-color();


  &:focus {
    border-color: $primary;
    background-color: $input-bg;
    @include box-shadow(none);

    &+.input-group-append .input-group-text,
    &~.input-group-append .input-group-text,
    &+.input-group-prepend .input-group-text,
    &~.input-group-prepend .input-group-text {
      border: 1px solid $primary;
      border-left: none;
      background-color: $transparent-bg;
    }
  }

  .has-success &,
  .has-error &,
  .has-success &:focus,
  .has-error &:focus {
    @include box-shadow(none);
  }

  .has-danger &,
  .has-success & {

    &.form-control-success,
    &.form-control-danger {
      background-image: none;
    }
  }

  &+.form-control-feedback {
    border-radius: $border-radius-lg;
    margin-top: -7px;
    position: absolute;
    right: 10px;
    top: 50%;
    vertical-align: middle;
  }

  .open & {
    border-radius: $border-radius-lg $border-radius-lg 0 0;
    border-bottom-color: $transparent-bg;
  }

  &+.input-group-append .input-group-text,
  &+.input-group-prepend .input-group-text {
    background-color: $white;
  }

}

.has-success .input-group-append .input-group-text,
.has-success .input-group-prepend .input-group-text,
.has-success .form-control {
  border-color: lighten($black, 5%);
}

.has-success .form-control:focus,
.has-success.input-group-focus .input-group-append .input-group-text,
.has-success.input-group-focus .input-group-prepend .input-group-text {
  border-color: darken($success, 10%);
}

.has-danger .form-control,
.has-danger .input-group-append .input-group-text,
.has-danger .input-group-prepend .input-group-text,
.has-danger.input-group-focus .input-group-prepend .input-group-text,
.has-danger.input-group-focus .input-group-append .input-group-text {
  border-color: lighten($danger-states, 5%);
  color: $danger-states;
  background-color: rgba(222, 222, 222, .1);

  &:focus {
    background-color: $transparent-bg;
  }
}

.has-success,
.has-danger {
  &:after {
    font-family: 'nucleo';
    content: "\ea1b";
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 13px;
    color: $success;
    font-size: 11px;
  }

  &.form-control-lg {
    &:after {
      font-size: 13px;
      top: 24px;
    }
  }

  &.has-label {
    &:after {
      top: 37px;
    }
  }


  &.form-check:after {
    display: none !important;
  }

  &.form-check .form-check-label {
    color: $success;
  }
}

.has-danger {
  &:after {
    content: "\ea48";
    color: $danger-states;
  }

  &.form-check .form-check-label {
    color: $danger-states;
  }
}

/* 폼 관련 스타일 추가 */
div {
  div .err-info {
    color: #e14eca;
  }

  .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)>.v-input__control>.v-input__slot {
    box-shadow: none;
  }

  .theme--light.v-text-field--outline>.v-input__control>.v-input__slot {
    min-height: 33.5px;
    margin-top: 22px;
    border: 1px solid #2b3553;
    border-radius: 0.4285rem;
  }

  .theme--light.v-text-field--outline:not(.v-input--is-focused):not(.v-input--has-state)>.v-input__control>.v-input__slot:hover {
    border: 1px solid rgba(255, 255, 255, .4);
  }

  .v-text-field--outline.v-input--is-focused>.v-input__control>.v-input__slot {
    border: 1px solid;
  }

  .theme--light.v-label {
    color: $opacity-8;
    font-size: 0.875rem;
  }

  .v-menu>.v-menu__content {
    top: -1px !important;
    left: -1px !important;
  }

  .v-select:not(.v-text-field--solo) .v-select__slot {
    .theme--light.v-label {
      color: $opacity-6 !important;
      top: -20px;
      margin-left: -12px;
      transform: translateY(-6px) scale(1);
    }
  }

  .v-select.v-text-field--enclosed:not(.v-text-field--single-line) .v-select__selections {
    padding-top: 0;
  }

  .v-select__selection--comma {
    color: $opacity-8;
    font-size: $font-size-sm;
    width: 100% !important;
    display: inline-block !important;
  }

  .theme--light.v-text-field--outline.v-input--is-disabled>.v-input__control>.v-input__slot {
    background: $black-states !important;
  }

  .theme--light.v-select .v-chip--disabled,
  .theme--light.v-select.v-input--is-disabled .v-select__selections,
  .theme--light.v-select .v-select__selection--disabled {
    color: $disabled;
  }

  .theme--light.v-input:not(.v-input--is-disabled) input::placeholder {
    color: $opacity-8;
    font-size: $font-size-sm;
  }

  .v-text-field.v-text-field--enclosed .v-input__append-inner, .v-text-field.v-text-field--enclosed .v-input__append-outer, .v-text-field.v-text-field--enclosed .v-input__prepend-inner, .v-text-field.v-text-field--enclosed .v-input__prepend-outer {
    margin-top: 4px;
    .v-icon {
      color: $opacity-6 !important;
    }
  }
}
