<template>
  <div data-app>
    <notifications></notifications>
    <router-view :key="$route.fullPath"></router-view>
  </div>
</template>

<script>
import { mapStates, mapActions, mapGetters, mapMutations } from "vuex";
import $ from "jquery";
import Swal from "sweetalert2";

export default {
  name: "App",
  data: () => ({
    hideDuration: process.env.NODE_ENV !== "production" ? 10000 : 5000,
  }),
  created() {
    console.log(this.$options.name, "created", process.env.VUE_APP_MODE);

    const mode = process.env.VUE_APP_MODE === "PROD" ? "System" : " == " + process.env.VUE_APP_MODE + " ==";

    document.title = `iCrew Admin ${mode}`;
  },
  mounted() {
    console.log(this.$options.name, "mounted");
  },
  computed: {
    watchLastError() {
      return this.lastError();
    },
    watchDoLogout() {
      return this.doLogout();
    },
    watchDupAccessLogout() {
      return this.dupAccessLogout();
    },
    watchDupAccessFauile() {
      return this.dupAccessFailue();
    },
  },
  watch: {
    watchLastError(newValue, oldValue) {
      console.log(this.$options.name, "- watch lastError", newValue);

      if (newValue !== oldValue) {
        let { code, message, detail } = newValue;
        // console.log(code, message, detail);

        // 전역 알림 스낵바
        this.$notify({
          component: null,
          icon: "fas fa-exclamation-triangle",
          title: code + " " + message,
          message: detail,
          horizontalAlign: "left",
          verticalAlign: "bottom",
          type: "danger",
          timeout: this.hideDuration,
        });
      }
    },
    watchDoLogout(newValue, oldValue) {
      console.log(this.$options.name, "- watch doLogout", newValue);

      if (newValue) {
        setTimeout(() => {
          this.logout();
        }, this.hideDuration);
      }
    },
    // 현재 사용 안함 추후 동시 접속 라이선스 기능 사용 시 적용.
    watchDupAccessLogout(newValue, oldValue) {
      console.log(this.$options.name, "- watch dupAccess", newValue);

      if (newValue) {
        // router 이동만 하면 현재 세션이 살이 있어서 리프레쉬 해준다.
        setTimeout(() => {
          Swal.fire({
            icon: "info",
            title: "중복접속",
            html: `동일 계정으로 다른 곳에서 접속 중 입니다.<br/><br/>고정 라이선스는 중복 접속이 불가능 합니다.`,
            showCloseButton: false,
            confirmButtonText: "확인",
          }).then((result) => {
            // login token remove.
            sessionStorage.removeItem("token");
            sessionStorage.removeItem("user");
            sessionStorage.removeItem("isIcrewViewer");
            sessionStorage.removeItem("isViewerLogin");

            window.location.href = "/";
          });

          // 웹소켓 종료(재접속됨)
          // wsAction.close();
        }, 1);

        setTimeout(() => {
          this.logout();
        }, this.hideDuration);
      }
    },
    // 현재 사용 안함 추후 동시 접속 라이선스 기능 사용 시 적용.
    watchDupAccessFauile(newValue, oldValue) {
      console.log(this.$options.name, "- watch dupAccess", newValue);

      if (newValue) {
        // router 이동만 하면 현재 세션이 살이 있어서 리프레쉬 해준다.
        // router 이동만 하면 현재 세션이 살이 있어서 리프레쉬 해준다.
        setTimeout(() => {
          Swal.fire({
            icon: "info",
            title: "중복접속",
            html: `동일 계정으로 다른 곳에서 접속 중 입니다.<br/><br/>고정 라이선스는 중복 접속이 불가능 합니다.`,
            showCloseButton: false,
            confirmButtonText: "확인",
          }).then((result) => {
            // login token remove.
            sessionStorage.removeItem("token");
            sessionStorage.removeItem("user");
            sessionStorage.removeItem("isIcrewViewer");
            sessionStorage.removeItem("isViewerLogin");

            window.location.href = "/";
          });

          // 웹소켓 종료(재접속됨)
          // wsAction.close();
        }, 1);

        setTimeout(() => {
          this.logout();
        }, this.hideDuration);
      }
    },
  },

  methods: {
    ...mapGetters(["loader", "auth", "isAuth", "lastError", "doLogout", "dupAccessLogout", "dupAccessFailue"]),

    ...mapActions(["login", "logout"]),
  },
  beforeDestroy() {},
};
</script>

<style lang="scss">
  .error--text {
    color: #ff5252 !important;
    caret-color: #ff5252 !important;
  }
  .success {
    background-color: #4caf50 !important;
    border-color: #4caf50 !important;
  }

  //.pageArea 페이지네이션 공통 스타일
  .pageArea {
    .pagination {
      display: inline-block;
      padding-left: 0;
      margin: 20px 0 0;
      border-radius: 4px;
      > li {
        display: inline;
        > a,
        > span {
          position: relative;
          float: left;
          padding: 5px 12px;
          margin-left: -1px;
          line-height: 1.42857143;
          color: #337ab7;
          text-decoration: none;
          background-color: #fff;
          border: 1px solid #ddd;
        }
        &:first-child {
          > a,
          > span {
            margin-left: 0;
            padding: 5px 10px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
          }
        }
        &:last-child {
          > a,
          > span {
            padding: 5px 10px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }
        }
      }

      > li > a,
      > li > span {
        &:hover,
        &:focus {
          z-index: 3;
          color: #23527c;
          background-color: #eee;
          border-color: #ddd;
        }
      }

      > .active > a,
      > .active > span {
        &,
        &:hover,
        &:focus {
          z-index: 2;
          color: #fff;
          background-color: #337ab7;
          border-color: #337ab7;
          cursor: default;
        }
      }

      > .disabled {
        > span,
        > span:hover,
        > span:focus,
        > a,
        > a:hover,
        > a:focus {
          color: #666;
          background-color: #ededed;
          border-color: #ddd;
          cursor: not-allowed;
        }
      }
    }
  }
</style>
