<template>
  <card>
    <h5 slot="header" class="title">상세 정보</h5>
    <div class="row">
      <div class="col-md-4 pr-md-1">
        <v-select
          v-if="!as.id"
          v-model="as.place_id"
          :items="places()"
          label="업소명"
          placeholder="업소명 선택"
          item-value="id"
          item-text="name"
          outline
          multi-line
          full-width
          color="#e14eca"
          append-icon="keyboard_arrow_down"
        />
        <base-input v-else name="place_name" label="업소명" type="text" v-model="as.place_name" placeholder="업소명" disabled> </base-input>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <v-select
          name="type"
          outline
          v-model="as.type"
          :items="types"
          label="타입"
          placeholder="타입 선택"
          item-value="value"
          item-text="text"
          multi-line
          full-width
          color="#e14eca"
          v-validate="'required'"
          data-vv-as="타입 "
        />
        <p v-show="errors.has('type')" class="err-info text-nowrap">
          {{ errors.first("type") }}
        </p>
      </div>
      <div v-if="isAdmin()" class="col-md-2">
        <v-select
          name="state"
          outline
          v-model="as.state"
          :items="states"
          label="상태"
          placeholder="진행 상태"
          item-value="value"
          item-text="text"
          multi-line
          full-width
          color="#e14eca"
          v-validate="'required'"
          data-vv-as="타입 "
        />
        <p v-show="errors.has('state')" class="err-info text-nowrap">
          {{ errors.first("state") }}
        </p>
      </div>
      <div v-if="isAdmin()" class="col-md-2">
        <v-select
          name="open"
          outline
          v-model="as.open"
          :items="opens"
          label="공개 여부"
          placeholder="공개"
          item-value="value"
          item-text="text"
          multi-line
          full-width
          color="#e14eca"
          v-validate="'required'"
          data-vv-as="공개 "
        />
        <p v-show="errors.has('open')" class="err-info text-nowrap">
          {{ errors.first("open") }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 pr-md-1">
        <base-input name="title" label="제목" type="text" v-model="as.title" placeholder="제목" v-validate="'required'" maxlength="100" data-vv-as="제목 "> </base-input>
        <p v-show="errors.has('title')" class="err-info text-nowrap">
          {{ errors.first("title") }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 content-h">
        <v-select
          outline
          v-model="editorStyle1.height"
          :items="['20rem', '40rem', '50rem', '100rem', '200rem', '300rem', '500rem']"
          :label="as.type === 1 ? 'AS 내용' : '건의 내용'"
          placeholder="높이 선택"
          item-value="value"
          item-text="text"
          multi-line
          full-width
          color="#e14eca"
          @change="(value) => onEditorHeight(1, value)"
        />
      </div>
      <p class="col-md-12">
        <quill-editor
          v-model="as.content"
          ref="editor"
          :options="editorOption"
          :style="editorStyle1"
          @change="onEditorChange"
          @blur="onEditorBlur($event)"
          @focus="onEditorFocus($event)"
          @ready="onEditorReady($event)"
          v-validate="'required'"
        >
        </quill-editor>
      </p>

      <p v-show="errors.has('content')" class="err-info text-nowrap">
        {{ errors.first("content") }}
      </p>
    </div>
    <div class="row">
      <div class="col-md-2 content-h">
        <v-select
          outline
          v-model="editorStyle2.height"
          :items="['20rem', '40rem', '50rem', '100rem', '200rem', '300rem', '500rem']"
          label="조치 사항"
          placeholder="높이 선택"
          item-value="value"
          item-text="text"
          multi-line
          full-width
          color="#e14eca"
          @change="(value) => onEditorHeight(2, value)"
        />
      </div>
      <p class="col-md-12">
        <quill-editor v-model="as.action" ref="editor2" :options="editorOption2" :style="editorStyle2"> </quill-editor>
      </p>
    </div>
    <div class="row">
      <div class="col-md-3 pr-md-1">
        <v-label>파일</v-label>
        <!-- accepted-file-types="video/mpeg, video/ogg, video/x-msvideo, video/avi, video/msvideo" -->
        <file-pond
          name="file"
          ref="pond"
          label-idle="Drop files here..."
          allow-multiple="true"
          instant-upload="false"
          allow-revert="true"
          max-file-size="50MB"
          max-files="5"
          @init="pondInit"
          @removefile="pondRemovefile"
          @addfile="pondAddfile"
          @addfilestart="pondAddFileStart"
          @processfilestart="pondProcessFileStart"
          @processfile="pondProcessFileFinished"
          @updatefiles="pondUploadFile"
          @activatefile="pondActivateFile"
          v-bind:files="files"
          v-bind:server="fileServer"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <base-input label="등록일자" :value="moment(as.reg_date).format('YYYY-MM-DD HH:mm')" disabled placeholder="등록일자"> </base-input>
      </div>
      <div class="col-md-2" v-if="as.mod_date">
        <base-input label="수정일자" :value="moment(as.mod_date).format('YYYY-MM-DD HH:mm')" disabled placeholder="수정일자"> </base-input>
      </div>
      <div class="col-md-2" v-if="as.action_date">
        <base-input label="조치일자" :value="moment(as.action_date).format('YYYY-MM-DD HH:mm')" disabled placeholder="조치일자"> </base-input>
      </div>
    </div>

    <base-button slot="footer" type="secondary" fill @click="clickCancle">취소</base-button>

    <base-button slot="footer" type="primary" fill :disabled="errors.any()" @click="clickSave">{{ item.id > 0 ? "저장" : "등록" }}</base-button>
  </card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { ComConfirm, ComAlert } from "@/utils/alert-util";
import { fileServerOption, fileFetch, fileDownload, fileDelete, imageHandler, imageRemove } from "@/utils/file-util";
import { keyToValue, keyCodes } from "@/constants/key-map";
import { getLocalStroge, setLocalStroge } from "@/constants/constants";

import axios from "axios";

import vueFilePond, { setOptions } from "vue-filepond";

import "filepond/dist/filepond.min.css";
import "filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css";

import FilePondPluginFileValidateType from "filepond-plugin-file-validate-type";
import FilePondPluginImagePreview from "filepond-plugin-image-preview";
import FilePondPluginFileValidateSize from "filepond-plugin-file-validate-size";
// Import the plugin code
import FilePondPluginFileRename from "filepond-plugin-file-rename";

import crypto from "crypto";
import moment from "moment";
import _ from "lodash";
import debounce from "lodash/debounce";

import hljs from "highlight.js";

const HOST = process.env.VUE_APP_API_SERVER_HOST;
const PORT = process.env.VUE_APP_API_SERVER_PORT;
const HOST_URL = HOST + ":" + PORT;

// Create component
const FilePond = vueFilePond(FilePondPluginFileValidateType, FilePondPluginFileValidateSize, FilePondPluginImagePreview, FilePondPluginFileRename);

setOptions({
  fileRenameFunction: (file) => {
    console.log("- file rename", file);
    return `${file.basename}${file.extension}`;
  },
});

let $this = null;

export default {
  name: "Notice_EditForm",
  components: {
    FilePond,
  },
  props: {
    id: {
      type: Number,
      default: 0,
    },
    item: {
      type: Object,
      default: () => {
        return {};
      },
    },
    reload: {
      type: Function,
      default: () => {
        return {};
      },
    },
  },
  data: () => ({
    picker: new Date().toISOString().substr(0, 10),
    datepicker: false,
    datepicker1: false,
    datepicker2: false,
    as: {},
    modal: false,
    types: keyCodes("as", "type"),
    opens: keyCodes("com", "openYn"),
    states: keyCodes("as", "state"),
    editorOption: {
      theme: "snow",
      placeholder: "내용을 입력 하세요.",
      modules: {
        imageDrop: false, // 이미지 핸들러가 없어서 사용 안함.
        imageResize: {
          displaySize: true,
        },
        toolbar: {
          container: [
            ["bold", "italic", "underline", "strike"],
            ["blockquote", "code-block"],
            [{ header: 1 }, { header: 2 }],
            [{ list: "ordered" }, { list: "bullet" }],
            [{ script: "sub" }, { script: "super" }],
            [{ indent: "-1" }, { indent: "+1" }],
            [{ direction: "rtl" }],
            [{ size: ["small", false, "large", "huge"] }],
            [{ header: [1, 2, 3, 4, 5, 6, false] }],
            [{ font: [] }],
            [{ color: [] }, { background: [] }],
            [{ align: [] }],
            ["clean"],
            ["link", "image", "video"],
          ],
          handlers: {
            image: () => {
              imageHandler($this.editor, "as", $this.$store);
            },
          },
        },
        syntax: {
          highlight: (text) => hljs.highlightAuto(text).value,
        },
      },
    },
    editorOption2: {
      theme: "snow",
      placeholder: "조치사항을 입력 하세요.",
      modules: {
        imageDrop: false, // 이미지 핸들러가 없어서 사용 안함.
        imageResize: {
          displaySize: true,
        },
        toolbar: {
          container: [
            ["bold", "italic", "underline", "strike"],
            ["blockquote", "code-block"],
            [{ header: 1 }, { header: 2 }],
            [{ list: "ordered" }, { list: "bullet" }],
            [{ script: "sub" }, { script: "super" }],
            [{ indent: "-1" }, { indent: "+1" }],
            [{ direction: "rtl" }],
            [{ size: ["small", false, "large", "huge"] }],
            [{ header: [1, 2, 3, 4, 5, 6, false] }],
            [{ font: [] }],
            [{ color: [] }, { background: [] }],
            [{ align: [] }],
            ["clean"],
            ["link", "image", "video"],
          ],
          handlers: {
            image: () => {
              imageHandler($this.editor2, "as", $this.$store);
            },
          },
        },
        syntax: {
          highlight: (text) => hljs.highlightAuto(text).value,
        },
      },
    },
    editorStyle1: {
      height: getLocalStroge("editorHeight_1", "20rem"),
    },
    editorStyle2: {
      height: getLocalStroge("editorHeight_2", "20rem"),
    },
    files: [],
    fileList: [],
    fileType: 3, // 구분 (1: 공지게시판, 2:업소게시판, 3:AS 게시판)
    isLoaded: false, // file remove event 발생 시 삭제 여부.(명시적 삭제 만 가능하게)
    downloadPath: "/download/as/",
  }),
  created() {
    console.log(this.$options.name, "created");

    $this = this;
  },
  mounted() {
    console.log(this.$options.name, "mounted");
  },
  computed: {
    editor() {
      return this.$refs.editor.quill;
    },
    editor2() {
      return this.$refs.editor2.quill;
    },
    watchFileList() {
      return this.getFiles();
    },
    fileServer() {
      return {
        url: HOST_URL,
        process: (field, file, metadata, load, error, progress, abort, transfer, options) => {
          console.log("- process", file, metadata);

          const token = this.token();

          if (!token) {
            abort();
            console.error("- token 정보가 없습니다.");
            return false;
          }

          if (!this.as.id) {
            abort();
            ComAlert(
              {
                type: "알림",
                title: "등록 알림",
                text: "게시물 등록후 파일첨부가 가능 합니다.",
              },
              () => {
                this.clickSave(); // 먼저 등록
              }
            );
            return false;
          }

          let url = HOST_URL + "/file";

          let name = file.name;

          console.log("-", { url, name }, this.as.id);

          const formData = new FormData();

          formData.enctype = "multipart/form-data";

          formData.append("path", "as/" + this.as.id);
          formData.append("name", name);
          formData.append("type", this.fileType); // 구분 (1: 공지게시판, 2:업소게시판, 3:AS 게시판)
          formData.append("type_id", String(this.as.id));

          formData.append(field, file, file.name); // 파일은 마지막에 append 해야 함.

          const request = new XMLHttpRequest();
          request.open("POST", url, true);

          request.setRequestHeader("channel", "admin");
          request.setRequestHeader("x-access-token", token);
          request.setRequestHeader("token", token);

          request.upload.onprogress = (e) => {
            progress(e.lengthComputable, e.loaded, e.total);
          };

          request.onload = () => {
            if (request.status >= 200 && request.status < 300) {
              let response = JSON.parse(request.responseText);

              console.log("- onload", response);

              const {
                common: { success, error },
                body: { info, file },
              } = response;

              if (!success) {
                if (error.detail && !(error.detail instanceof Array)) error.detail = [error.detail];
                this.$store.dispatch("setApiErr", error, { root: true });
              } else {
                let file_id = info.insertId;
                console.log("- upload file_id", file_id);

                load(file_id);
              }
            } else {
              this.$store.dispatch("setApiErr", null, { root: true });
            }
          };

          request.send(formData);

          return {
            abort: () => {
              request.abort();
              abort();
            },
          };
        },
        revert: (uniqueFileId, load, error) => {
          console.log("- revert", uniqueFileId);

          uniqueFileId = Number(uniqueFileId);

          if (uniqueFileId > 0) {
            this.fileDel(uniqueFileId);
          }

          // we are done
          load();
        },
        fetch: (url, load, error, progress, abort, headers) => {
          console.log("- fetch", url);

          const token = this.token();
          let method = "get";

          let file = fileFetch(url, method, token, (file) => {
            load(file);
          });

          progress(true, 0, 1024);

          return {
            abort: () => {
              abort();
            },
          };
        },
      };
    },
  },
  watch: {
    item: {
      immediate: true,
      handler(newValue, oldValue) {
        this.as = _.cloneDeep(this.item);

        this.isLoaded = false;
        this.files = [];

        const { id, name, type, rank } = this.auth();

        this.as.user_id = id;

        if (this.as.id) {
          // 첨부 파일 조회.// 구분 (1: 공지게시판, 2:업소게시판, 3:AS 게시판)
          let filter = `type=${this.fileType} and type_id=${this.as.id}`;
          this.initFile({ filter });
        }

        console.log("- watch item", this.as);
      },
    },
    as: {
      deep: true, // 객에의 속성 내부까지 변경 감시를 하기 위해.
      immediate: true,
      handler(newValue, oldValue) {
        // console.log("- watch as", newValue);
      },
    },
    watchFileList(newValue, oldValue) {
      this.fileList = _.sortBy(_.cloneDeep(newValue), ["id"]);

      this.fileList = _.map(this.fileList, (f) => {
        let url = `${HOST_URL}/${f.path.replace("public/", "")}/${f.name}`;

        this.files.push(url);

        f.url = url;

        return f;
      });

      this.isLoaded = true;

      console.log("- watchFileList", this.files);
    },
  },
  methods: {
    ...mapGetters(["auth", "token", "isAuth", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapGetters("place", {
      count: "count",
      places: "list",
      placeSelected: "selected",
      placeSearch: "placeSearchText",
    }),

    ...mapActions("as", ["newItem", "setItem"]),
    ...mapActions("file", {
      initFile: "getList",
      fileAdd: "setItem",
      fileDel: "delItem",
    }),
    ...mapGetters("file", { getFiles: "list" }),

    // Html Editor Methods.
    onEditorChange: debounce((value) => {
      console.log("editor change!", value);
    }, 466),
    onEditorBlur(quill) {
      // console.log("editor blur!", quill);
    },
    onEditorFocus(quill) {
      // console.log("editor focus!", quill);
    },
    onEditorReady(quill) {
      // console.log("editor ready!", quill);
    },
    onEditorHeight(no, value) {
      console.log("editor onEditorHeight", { no, value });
      setLocalStroge("editorHeight_" + no, value);
    },

    // File Pond Methods.
    pondInit() {
      console.log("- FilePond has initialized");
    },
    pondAddfile(err, file) {
      console.log("- pondAddfile", err, file, this.fileList.length);
    },
    pondRemovefile(err, file) {
      console.log("- pondRemovefile", err, file, this.isLoaded);

      if (!err && this.isLoaded && this.as.id) {
        let dfile = _.find(this.fileList, {
          type: this.fileType, // 구분 (1: 공지게시판, 2:업소게시판, 3:AS 게시판)
          type_id: this.as.id,
          name: file.filename,
        });

        console.log("del file", dfile);

        if (dfile) {
          this.fileDel(dfile.id);
        }
      }
    },
    pondUploadFile(files) {
      // A file has been added or removed
      // console.log("- pondUploadFile", files.length, this.fileList.length);
    },
    pondAddFileStart(err, file) {
      // console.log("- pondAddFileStart", err, file);
    },
    pondProcessFileStart(err, file) {
      //  console.log("- pondProcessFileStart", err, file);
      this.isLoaded = false;
    },
    pondProcessFileFinished(err, file) {
      //  console.log("- pondProcessFileFinished", err, file);
      this.isLoaded = true;
    },
    pondActivateFile(file) {
      console.log("- pondActivateFile", file);

      let { serverId = 0, filename } = file;

      serverId = Number(serverId);

      console.log("- ", this.as.id, serverId);

      if (this.as.id || serverId) {
        let downFile = serverId
          ? _.find(this.fileList, { id: serverId })
          : _.find(this.fileList, {
              type: 1,
              type_id: this.as.id,
              name: filename,
            });

        console.log("- downFile", downFile);

        if (downFile) {
          const token = this.token();

          let url = `${HOST_URL}/${downFile.path.replace("public/", "")}/${downFile.name}`;
          let saveName = downFile.name; // 저장할 파일명.

          fileDownload(url, saveName, token);
        }
      }
    },

    clickCancle() {
      // sync 로 연결된 상위 컴포넌트 데이터 변경 시 명시적으로 emit.
      this.$emit("update:id", -1);
    },
    clickSave() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          // 조치 일자 업데이트
          if (this.as.action !== this.item.action) this.as.action_date = moment().format("YYYY-MM-DD HH:mm:ss");
          else delete this.as.action_date;

          if (!this.id) {
            // 신규 등록
            console.log("- newItem", this.as);
            ComConfirm({ type: "등록" }, (resMsg) => {
              this.newItem({ ...this.as }).then((res) => {
                resMsg(res);
                if (res) {
                  this.reload();
                }
              });
            });
          } else {
            // 수정 저장
            console.log("- setItem", this.as);

            // 삭제된 이미지는 서버에서도 삭제 한다.
            let images = String(this.item.content || "").match(/<img.*?src="(.*?)"(.*?)>/gi);

            // console.log("- images", item.content, images);

            _.map(images, (img) => {
              let src = img.replace(/(.*)src="(.*?)"(.*)/, "$2").split("/");
              let name = src.pop();
              let path = src.pop();

              let isImage = this.as.content.indexOf(name);

              console.log("- isImage", isImage, path, name);

              // 이미지 삭제
              if (isImage === -1 && name) {
                imageRemove(path, name, this.token());
              }
            });

            ComConfirm({ type: "저장" }, (resMsg) => {
              let cloneItem = _.cloneDeep(this.as);
              delete cloneItem.place_name;

              this.setItem({ ...cloneItem }).then((res) => {
                resMsg(res);
                if (res) this.clickCancle();
              });
            });
          }
        }
      });
    },
  },
  beforeDestroy() {
    console.log("- beforeDestroy");
  },
};
</script>
<style scoped lang="scss">
.content-h {
  margin-top: 23px;
}

.quill-editor {
  overflow: hidden;
  background-color: #fff;

  ul li,
  ol li {
    color: #000;
  }
}

.output {
  width: 100%;
  height: 20rem;
  margin: 0;
  border: 1px solid #ccc;
  overflow-y: auto;
  resize: vertical;

  &.code {
    padding: 1rem;
    height: 16rem;
  }

  &.ql-snow {
    border-top: none;
    height: 24rem;
  }
}

.btn {
  margin-right: 20px;
}
.col-md-1 {
  min-width: 110px;
}
</style>
