<template>
  <card>
    <h5 slot="header" class="title">상세 정보</h5>
    <div class="row">
      <div class="col-md-2">
        <v-select
          name="type"
          outline
          v-model="notice.type"
          :items="types"
          label="타입"
          placeholder="타입 선택"
          item-value="value"
          item-text="text"
          multi-line
          full-width
          color="#e14eca"
          v-validate="'required'"
          data-vv-as="타입 "
        />
        <p v-show="errors.has('type')" class="err-info text-nowrap">
          {{ errors.first("type") }}
        </p>
      </div>
      <div class="col-md-2">
        <v-select
          name="important"
          outline
          v-model="notice.important"
          :items="importants"
          label="중요 여부"
          placeholder="중요 선택"
          item-value="value"
          item-text="text"
          multi-line
          full-width
          color="#e14eca"
          v-validate="'required'"
          data-vv-as="중요 "
        />
        <p v-show="errors.has('important')" class="err-info text-nowrap">
          {{ errors.first("important") }}
        </p>
      </div>
      <div class="col-md-2">
        <v-select
          name="open"
          outline
          v-model="notice.open"
          :items="opens"
          label="공개 여부"
          placeholder="공개"
          item-value="value"
          item-text="text"
          multi-line
          full-width
          color="#e14eca"
          v-validate="'required'"
          data-vv-as="공개 "
        />
        <p v-show="errors.has('open')" class="err-info text-nowrap">
          {{ errors.first("open") }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <v-select
          name="display"
          outline
          v-model="notice.display"
          :items="displays"
          label="알림 여부 "
          placeholder="알림 여부 선택"
          item-value="value"
          item-text="text"
          multi-line
          full-width
          color="#e14eca"
          v-validate="'required'"
          data-vv-as="알림 여부 "
        />
        <p v-show="errors.has('display')" class="err-info text-nowrap">
          {{ errors.first("display") }}
        </p>
      </div>
      <div class="col-md-2">
        <v-select
          name="display_time"
          outline
          v-model="notice.display_time"
          :items="times"
          label="알림 시간"
          placeholder="알림시간 선택"
          item-value="value"
          item-text="text"
          multi-line
          full-width
          color="#e14eca"
          v-validate="'required'"
          data-vv-as="알림시간 "
          :disabled="notice.display === 0"
        />
        <p v-show="errors.has('display_time')" class="err-info text-nowrap">
          {{ errors.first("display_time") }}
        </p>
      </div>
      <div class="col-md-2">
        <v-select
          name="display_repeat"
          outline
          v-model="notice.display_repeat"
          :items="repeats"
          label="반복 여부"
          placeholder="반복여부 선택"
          item-value="value"
          item-text="text"
          multi-line
          full-width
          color="#e14eca"
          v-validate="'required'"
          data-vv-as="반복여부 "
          :disabled="notice.display === 0"
        />
        <p v-show="errors.has('display_repeat')" class="err-info text-nowrap">
          {{ errors.first("display_repeat") }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 pr-md-1">
        <base-input name="title" label="제목" type="text" v-model="notice.title" placeholder="제목" v-validate="'required'" maxlength="100" data-vv-as="제목 "> </base-input>
        <p v-show="errors.has('title')" class="err-info text-nowrap">
          {{ errors.first("title") }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 content-h">
        <v-select
          outline
          v-model="editorStyle.height"
          :items="['20rem', '40rem', '50rem', '100rem', '200rem', '300rem', '500rem']"
          label="내용"
          placeholder="높이 선택"
          item-value="value"
          item-text="text"
          multi-line
          full-width
          color="#e14eca"
          @change="onEditorHeight"
        />
      </div>
      <p class="col-md-12">
        <quill-editor
          v-model="notice.content"
          ref="editor"
          :options="editorOption"
          :style="editorStyle"
          @change="onEditorChange"
          @blur="onEditorBlur($event)"
          @focus="onEditorFocus($event)"
          @ready="onEditorReady($event)"
        >
        </quill-editor>
      </p>

      <p v-show="errors.has('content')" class="err-info text-nowrap">
        {{ errors.first("content") }}
      </p>
    </div>
    <div class="row">
      <div class="col-md-3 pr-md-1">
        <v-label>파일</v-label>
        <!-- accepted-file-types="video/mpeg, video/ogg, video/x-msvideo, video/avi, video/msvideo" -->
        <file-pond
          name="file"
          ref="pond"
          label-idle="Drop files here..."
          allow-multiple="true"
          instant-upload="false"
          allow-revert="true"
          max-file-size="50MB"
          max-files="5"
          @init="pondInit"
          @removefile="pondRemovefile"
          @addfile="pondAddfile"
          @addfilestart="pondAddFileStart"
          @processfilestart="pondProcessFileStart"
          @processfile="pondProcessFileFinished"
          @updatefiles="pondUploadFile"
          @activatefile="pondActivateFile"
          v-bind:files="files"
          v-bind:server="fileServer"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <base-input
          name="begin_date"
          label="게시 시작일"
          v-model="notice.begin_date"
          v-validate="'required'"
          placeholder="게시 시작일"
          data-vv-as="게시 시작일 "
          @click="
            datepicker1 = !datepicker1;
            datepicker2 = datepicker3 = false;
          "
        >
        </base-input>
        <p v-show="errors.has('begin_date')" class="err-info">
          {{ errors.first("begin_date") }}
        </p>
        <v-date-picker
          locale="ko-kr"
          v-model="notice.begin_date"
          v-show="datepicker1"
          color="green lighten-1"
          scrollable
          @change="
            (date) => {
              notice.begin_date = moment(date).format('YYYY-MM-DD');
              datepicker1 = false;

              if (moment(notice.end_date).isBefore(moment(date))) notice.end_date = moment(date).format('YYYY-MM-DD');
            }
          "
          v-click-outside="onClickOutside"
        ></v-date-picker>
      </div>
      <div class="col-md-2">
        <base-input
          name="end_date"
          label="게시 종료일"
          v-model="notice.end_date"
          v-validate="'required'"
          placeholder="게시 종료일"
          data-vv-as="게시 종료일 "
          @click="
            datepicker2 = !datepicker2;
            datepicker1 = datepicker3 = false;
          "
        >
        </base-input>
        <p v-show="errors.has('end_date')" class="err-info">
          {{ errors.first("end_date") }}
        </p>
        <v-date-picker
          locale="ko-kr"
          v-model="notice.end_date"
          v-show="datepicker2"
          :min="moment(notice.begin_date).format('YYYY-MM-DD')"
          color="green lighten-1"
          scrollable
          @change="
            (date) => {
              notice.end_date = moment(date).format('YYYY-MM-DD');
              datepicker2 = false;
            }
          "
          v-click-outside="onClickOutside"
        ></v-date-picker>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <base-input label="등록일자" :value="moment(notice.reg_date).format('YYYY-MM-DD HH:mm')" disabled placeholder="등록일자"> </base-input>
      </div>
      <div class="col-md-2" v-if="notice.mod_date">
        <base-input label="수정일자" :value="moment(notice.mod_date).format('YYYY-MM-DD HH:mm')" disabled placeholder="수정일자"> </base-input>
      </div>
    </div>

    <base-button slot="footer" type="secondary" fill @click="clickCancle">취소</base-button>

    <base-button slot="footer" type="primary" fill :disabled="errors.any()" @click="clickSave">{{ item.id > 0 ? "저장" : "등록" }}</base-button>
  </card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { ComConfirm, ComAlert } from "@/utils/alert-util";
import { fileServerOption, fileFetch, fileDownload, fileDelete, imageHandler, imageRemove } from "@/utils/file-util";
import { keyToValue, keyCodes } from "@/constants/key-map";
import { getSessionStroge, setSessionStroge } from "@/constants/constants";

import axios from "axios";

import vueFilePond, { setOptions } from "vue-filepond";

import "filepond/dist/filepond.min.css";
import "filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css";

import FilePondPluginFileValidateType from "filepond-plugin-file-validate-type";
import FilePondPluginImagePreview from "filepond-plugin-image-preview";
import FilePondPluginFileValidateSize from "filepond-plugin-file-validate-size";
// Import the plugin code
import FilePondPluginFileRename from "filepond-plugin-file-rename";

import crypto from "crypto";
import moment from "moment";
import _ from "lodash";
import debounce from "lodash/debounce";

import hljs from "highlight.js";

const HOST = process.env.VUE_APP_API_SERVER_HOST;
const PORT = process.env.VUE_APP_API_SERVER_PORT;
const HOST_URL = HOST + ":" + PORT;

// Create component
const FilePond = vueFilePond(FilePondPluginFileValidateType, FilePondPluginFileValidateSize, FilePondPluginImagePreview, FilePondPluginFileRename);

setOptions({
  fileRenameFunction: (file) => {
    console.log("- file rename", file);
    return `${file.basename}${file.extension}`;
  },
});

let $this = null;

export default {
  name: "Notice_EditForm",
  components: {
    FilePond,
  },
  props: {
    id: {
      type: Number,
      default: 0,
    },
    item: {
      type: Object,
      default: () => {
        return {};
      },
    },
    reload: {
      type: Function,
      default: () => {
        return {};
      },
    },
  },
  data: () => ({
    picker: new Date().toISOString().substr(0, 10),
    datepicker: false,
    datepicker1: false,
    datepicker2: false,
    notice: {
      type: 1,
      important: 1,
      open: 0,
      display: 1,
      display_time: "00:00",
      display_repeat: 0,
    },
    modal: false,
    types: keyCodes("notice", "type"),
    opens: keyCodes("com", "openYn"),
    displays: keyCodes("com", "displayYn"),
    times: [],
    repeats: keyCodes("com", "repeatYn"),
    importants: keyCodes("notice", "important"),
    editorOption: {
      theme: "snow",
      placeholder: "내용을 입력 하세요...",
      modules: {
        imageDrop: false, // 이미지 핸들러가 없어서 사용 안함.
        imageResize: {
          displaySize: true,
        },
        toolbar: {
          container: [
            ["bold", "italic", "underline", "strike"],
            ["blockquote", "code-block"],
            [{ header: 1 }, { header: 2 }],
            [{ list: "ordered" }, { list: "bullet" }],
            [{ script: "sub" }, { script: "super" }],
            [{ indent: "-1" }, { indent: "+1" }],
            [{ direction: "rtl" }],
            [{ size: ["small", false, "large", "huge"] }],
            [{ header: [1, 2, 3, 4, 5, 6, false] }],
            [{ font: [] }],
            [{ color: [] }, { background: [] }],
            [{ align: [] }],
            ["clean"],
            ["link", "image", "video"],
          ],
          handlers: {
            image: () => {
              imageHandler($this.editor, "notice", $this.$store);
            },
          },
        },
        syntax: {
          highlight: (text) => hljs.highlightAuto(text).value,
        },
      },
    },
    editorStyle: { height: getSessionStroge("editorHeight", "20rem") },
    files: [],
    fileList: [],
    fileType: 1, // 구분 (1: 공지게시판, 2:업소게시판, 3:AS 게시판)
    isLoaded: false, // file remove event 발생 시 삭제 여부.(명시적 삭제 만 가능하게)
    downloadPath: "/download/notice/",
  }),
  created() {
    console.log(this.$options.name, "created");

    $this = this;
  },
  mounted() {
    console.log(this.$options.name, "mounted");

    for (let i = 0; i < 24; i++) {
      for (let j = 0; j < 60; j = j + 10) {
        this.times.push(String(i).padStart(2, "0") + ":" + String(j).padStart(2, "0"));
      }
    }
  },
  computed: {
    editor() {
      return this.$refs.editor.quill;
    },
    watchFileList() {
      return this.getFiles();
    },
    fileServer() {
      return {
        url: HOST_URL,
        process: (field, file, metadata, load, error, progress, abort, transfer, options) => {
          console.log("- process", file, metadata);

          const token = this.token();

          console.log("- token", token);

          if (!token) {
            abort();
            console.error("- token 정보가 없습니다.");
            return false;
          }

          if (!this.notice.id) {
            abort();
            ComAlert(
              {
                type: "알림",
                title: "등록 알림",
                text: "게시물 등록후 파일첨부가 가능 합니다.",
              },
              () => {
                this.clickSave(); // 먼저 등록
              }
            );
            return false;
          }

          let url = HOST_URL + "/file";

          let name = file.name;

          console.log("-", { url, name }, this.notice.id);

          const formData = new FormData();

          formData.enctype = "multipart/form-data";

          formData.append("path", "notice/" + this.notice.id);
          formData.append("name", name);
          formData.append("type", this.fileType); // 구분 (1: 공지게시판, 2:업소게시판, 3:AS 게시판)
          formData.append("type_id", String(this.notice.id));

          formData.append(field, file, file.name); // 파일은 마지막에 append 해야 함.

          const request = new XMLHttpRequest();
          request.open("POST", url, true);

          request.setRequestHeader("channel", "admin");
          request.setRequestHeader("x-access-token", token);
          request.setRequestHeader("token", token);

          request.upload.onprogress = (e) => {
            progress(e.lengthComputable, e.loaded, e.total);
          };

          request.onload = () => {
            if (request.status >= 200 && request.status < 300) {
              let response = JSON.parse(request.responseText);

              console.log("- onload", response);

              const {
                common: { success, error },
                body: { info, file },
              } = response;

              if (!success) {
                if (error.detail && !(error.detail instanceof Array)) error.detail = [error.detail];
                this.$store.dispatch("setApiErr", error, { root: true });
              } else {
                let file_id = info.insertId;
                console.log("- upload file_id", file_id);

                load(file_id);
              }
            } else {
              this.$store.dispatch("setApiErr", null, { root: true });
            }
          };

          request.send(formData);

          return {
            abort: () => {
              request.abort();
              abort();
            },
          };
        },
        revert: (uniqueFileId, load, error) => {
          console.log("- revert", uniqueFileId);

          uniqueFileId = Number(uniqueFileId);

          if (uniqueFileId > 0) {
            this.fileDel(uniqueFileId);
          }

          // we are done
          load();
        },
        fetch: (url, load, error, progress, abort, headers) => {
          console.log("- fetch", url);

          const token = this.token();
          let method = "get";

          let file = fileFetch(url, method, token, (file) => {
            load(file);
          });

          progress(true, 0, 1024);

          return {
            abort: () => {
              abort();
            },
          };
        },
      };
    },
  },
  watch: {
    item: {
      immediate: true,
      handler(newValue, oldValue) {
        this.notice = _.merge({}, this.notice, this.item);

        this.isLoaded = false;
        this.files = [];

        const { id, name, type, rank } = this.auth();

        this.notice.user_id = id;

        if (this.notice.id) {
          // 첨부 파일 조회.// 구분 (1: 공지게시판, 2:업소게시판, 3:AS 게시판)
          let filter = `type=${this.fileType} and type_id=${this.notice.id}`;
          this.initFile({ filter });
        }

        console.log("- watch item", this.notice);
      },
    },
    notice: {
      deep: true, // 객에의 속성 내부까지 변경 감시를 하기 위해.
      immediate: true,
      handler(newValue, oldValue) {
        // console.log("- watch notice", newValue);

        let { begin_date, end_date } = newValue;

        if (!begin_date) {
          this.notice.begin_date = moment().format("YYYY-MM-DD 00:00");
        } else {
          this.notice.begin_date = moment(begin_date).format("YYYY-MM-DD 00:00");
        }

        if (!end_date) {
          this.notice.end_date = moment()
            .add(1, "month")
            .format("YYYY-MM-DD 23:59");
        } else {
          this.notice.end_date = moment(end_date).format("YYYY-MM-DD 23:59");
        }
      },
    },
    watchFileList(newValue, oldValue) {
      this.fileList = _.sortBy(_.cloneDeep(newValue), ["id"]);

      this.fileList = _.map(this.fileList, (f) => {
        let url = `${HOST_URL}/${f.path.replace("public/", "")}/${f.name}`;

        this.files.push(url);

        f.url = url;

        return f;
      });

      this.isLoaded = true;

      console.log("- watchFileList", this.files);
    },
  },
  methods: {
    ...mapGetters(["auth", "isAuth", "token", "isSupervisor", "isAdmin", "isViewer"]),
    ...mapActions("notice", ["newItem", "setItem"]),
    ...mapActions("file", {
      initFile: "getList",
      fileAdd: "setItem",
      fileDel: "delItem",
    }),
    ...mapGetters("file", { getFiles: "list" }),

    onClickOutside(event) {
      console.log(this.$options.name, "- onClickOutside", event.target.tagName);

      if (event.target.tagName === "DIV") {
        this.datepicker1 = false;
        this.datepicker2 = false;
      }
    },

    // Html Editor Methods.
    onEditorChange: debounce((value) => {
      console.log("editor change!", value);
    }, 466),
    onEditorBlur(quill) {
      console.log("editor blur!", quill);
    },
    onEditorFocus(quill) {
      console.log("editor focus!", quill);
    },
    onEditorReady(quill) {
      console.log("editor ready!", quill);
    },
    onEditorHeight(value) {
      setSessionStroge("editorHeight", value);
    },

    // File Pond Methods.
    pondInit() {
      console.log("- FilePond has initialized");
    },
    pondAddfile(err, file) {
      console.log("- pondAddfile", err, file, this.fileList.length);
    },
    pondRemovefile(err, file) {
      console.log("- pondRemovefile", err, file, this.isLoaded);

      if (!err && this.isLoaded && this.notice.id) {
        let dfile = _.find(this.fileList, {
          type: this.fileType, // 구분 (1: 공지게시판, 2:업소게시판, 3:AS 게시판)
          type_id: this.notice.id,
          name: file.filename,
        });

        console.log("del file", dfile);

        if (dfile) {
          this.fileDel(dfile.id);
        }
      }
    },
    pondUploadFile(files) {
      // A file has been added or removed
      // console.log("- pondUploadFile", files.length, this.fileList.length);
    },
    pondAddFileStart(err, file) {
      // console.log("- pondAddFileStart", err, file);
    },
    pondProcessFileStart(err, file) {
      //  console.log("- pondProcessFileStart", err, file);
      this.isLoaded = false;
    },
    pondProcessFileFinished(err, file) {
      //  console.log("- pondProcessFileFinished", err, file);
      this.isLoaded = true;
    },
    pondActivateFile(file) {
      console.log("- pondActivateFile", file);

      let { serverId = 0, filename } = file;

      serverId = Number(serverId);

      console.log("- ", this.notice.id, serverId);

      if (this.notice.id || serverId) {
        let downFile = serverId
          ? _.find(this.fileList, { id: serverId })
          : _.find(this.fileList, {
              type: 1,
              type_id: this.notice.id,
              name: filename,
            });

        console.log("- downFile", downFile);

        if (downFile) {
          const token = this.token();

          let url = `${HOST_URL}/${downFile.path.replace("public/", "")}/${downFile.name}`;
          let saveName = downFile.name; // 저장할 파일명.

          fileDownload(url, saveName, token);
        }
      }
    },

    clickCancle() {
      // sync 로 연결된 상위 컴포넌트 데이터 변경 시 명시적으로 emit.
      this.$emit("update:id", -1);
    },
    clickSave() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          if (!this.id) {
            // 신규 등록
            console.log("- newItem", this.notice);
            ComConfirm({ type: "등록" }, (resMsg) => {
              this.newItem({ ...this.notice }).then((res) => {
                resMsg(res);
                if (res) {
                  this.reload();
                }
              });
            });
          } else {
            // 수정 저장
            console.log("- setItem", this.notice);

            // 삭제된 이미지는 서버에서도 삭제 한다.
            let images = String(this.item.content || "").match(/<img.*?src="(.*?)"(.*?)>/gi);

            // console.log("- images", this.item.content, images);

            _.map(images, (img) => {
              let src = img.replace(/(.*)src="(.*?)"(.*)/, "$2").split("/");
              let name = src.pop();
              let path = src.pop();

              let isImage = this.notice.content.indexOf(name);

              console.log("- isImage", isImage, path, name);

              // 이미지 삭제
              if (isImage === -1 && name) {
                imageRemove(path, name, this.token());
              }
            });

            ComConfirm({ type: "저장" }, (resMsg) => {
              this.setItem({ ...this.notice }).then((res) => {
                resMsg(res);
                if (res) this.clickCancle();
              });
            });
          }
        }
      });
    },
  },
  beforeDestroy() {
    console.log("- beforeDestroy");
  },
};
</script>
<style scoped lang="scss">
.content-h {
  margin-top: 23px;
}

.quill-editor {
  overflow: hidden;
  background-color: #fff;
}

.output {
  width: 100%;
  height: 20rem;
  margin: 0;
  border: 1px solid #ccc;
  overflow-y: auto;
  resize: vertical;

  &.code {
    padding: 1rem;
    height: 16rem;
  }

  &.ql-snow {
    border-top: none;
    height: 24rem;
  }
}

.btn {
  margin-right: 20px;
}
.col-md-1 {
  min-width: 110px;
}
</style>
